Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Traditional
  src/i18n/cmn-hant.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

fix(i18n): repair Crowdin corruption at the source
  .github/workflows/crowdin-autorepair.yml
  .github/workflows/crowdin-cleanup.yml
  docs/src/bzs/index.md
  docs/src/cmn-hans/about.md
  docs/src/cmn-hans/faq.md
  docs/src/cmn-hans/index.md
  docs/src/cmn-hans/settings-guide.md
  docs/src/cmn-hans/user-guide.md
  docs/src/de/index.md
  docs/src/es/index.md
  docs/src/et/index.md
  docs/src/fr/index.md
  docs/src/hu/index.md
  docs/src/it/faq.md
  docs/src/it/index.md
  docs/src/ko/about.md
  docs/src/ko/index.md
  docs/src/nl/index.md
  docs/src/pt/index.md
  docs/src/ru/index.md
  docs/src/sl/index.md
  docs/src/sl/user-guide.md
  docs/src/ty/index.md
  docs/src/uk/index.md
  docs/src/zh/index.md
  package.json
  scripts/cleanup-crowdin.mjs
  scripts/fix-i18n-locales.mjs
  src/i18n/et.json
  src/i18n/fr.json
Labels: documentation, github_actions

fix(i18n): replace broken Crowdin webhook pipeline with scheduled auto-repair
  .github/workflows/crowdin-autorepair.yml
  .github/workflows/crowdin-cleanup.yml
  scripts/cleanup-crowdin.mjs
Labels: github_actions

fix(i18n): correct cleanup API paths from first live run
  scripts/cleanup-crowdin.mjs
Labels: none

fix(crowdin): use PATCH batch endpoint to edit translations
  scripts/cleanup-crowdin.mjs
Labels: none

fix(crowdin): retry failed ops individually when a batch PATCH partially fails
  scripts/cleanup-crowdin.mjs
Labels: none

fix(crowdin): make docs link-frontmatter repair reachable and self-diagnosing
  scripts/cleanup-crowdin.mjs
Labels: none

fix(crowdin): use project docs export codes for link slugs
  docs/src/nl/index.md
  docs/src/uk/index.md
  docs/utils/fix-doc-markdown.mjs
  scripts/cleanup-crowdin.mjs
Labels: documentation

refactor(crowdin): drop unreachable class-3 link repair machinery
  scripts/cleanup-crowdin.mjs
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

chore(crowdin): clean up stale docs and dead code in repair tooling
  .github/workflows/crowdin-autorepair.yml
  scripts/cleanup-crowdin.mjs
  scripts/fix-i18n-locales.mjs
  scripts/update-langs.py
Labels: github_actions

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

fix(media): keep preview on by falling back to video mode on repeated drift
  src/components/media/MediaPreview.vue
  src/components/media/__tests__/MediaPreview.test.ts
  src/i18n/en.json
Labels: none

fix(media): don't jump preview on paused scrub noise at high speeds
  src/components/media/MediaPreview.vue
  src/components/media/__tests__/MediaPreview.test.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
