Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations (#4925)
  docs/locales/es.json
  docs/src/et/settings-guide.md
  release-notes/et.md
  release-notes/sv.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/settings-guide.md
Labels: documentation

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations (#4927)
  docs/src/et/settings-guide.md
  src/i18n/es.json
Labels: documentation

chore(deps): update @sentry/electron to 7.0.0 and @sentry/vue to 10.10.0
  CONTRIBUTING.md
  package.json
  yarn.lock
Labels: dependencies, documentation, javascript

refactor: streamline i18n initialization and clean up dialog components
  src/boot/i18n.ts
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/header/HeaderSettings.vue
  src/components/media/MediaItem.vue
  src/layouts/MainLayout.vue
Labels: none

chore(deps-dev): update @intlify/unplugin-vue-i18n to version 11.0.0
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: enable mouse click passthrough on inactive windows on macOS
  src-electron/main/window/window-base.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations (#4932)
  release-notes/fr.md
  src/i18n/fr.json
Labels: documentation

chore: bump version to v25.9.1-beta.1 [skip ci]
  package.json
Labels: none

refactor: improve watch folder performance
  src/layouts/MainLayout.vue
Labels: none

feat: implement crossfade functionality for media display
  .vscode/settings.json
  src/pages/MediaPlayerPage.vue
Labels: none

chore: bump version to v25.9.1-beta.2 [skip ci]
  package.json
Labels: none

chore: update yarn.lock
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v25.9.1-beta.3 [skip ci]
  package.json
Labels: none

feat: add local date format setting and enhance date display across components
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/form-inputs/TextInput.vue
  src/components/header/HeaderCalendar.vue
  src/constants/settings.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/types/settings.d.ts
  src/utils/date.ts
Labels: none

chore: update yarn.lock
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none
