Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations (#3728)
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/uk.json
Labels: none

fix: spinning loader icon and refresh button placement in audio, video and study Bible dialogs
  src/components/dialog/DialogAudioBible.vue
  src/components/dialog/DialogRemoteVideo.vue
  src/components/media/SongPicker.vue
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Portuguese, Brazilian
  docs/src/pt/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations (#3730)
  docs/src/pt/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/pt.json
  src/i18n/sv.json
  src/i18n/uk.json
Labels: documentation

chore: update contributing
  CONTRIBUTING.md
Labels: documentation

chore: update contributing
  CONTRIBUTING.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations (#3732)
  src/i18n/pt.json
  src/i18n/ru.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified (#3734)
  src/i18n/cmn-hans.json
Labels: none

chore: align window title with page title
  src-electron/main/window/window-media.ts
Labels: none

chore: bump version to v24.12.1-beta.5 [skip ci]
  package.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian (#3737)
  src/i18n/sl.json
Labels: none

refactor: import t from useI18n
  src/components/dialog/DialogAbout.vue
  src/components/dialog/DialogAudioBible.vue
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogCacheClear.vue
  src/components/dialog/DialogCongregationLookup.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogObsPopup.vue
  src/components/dialog/DialogRemoteVideo.vue
  src/components/dialog/DialogStudyBible.vue
  src/components/form-inputs/DateInput.vue
  src/components/form-inputs/ShortcutInput.vue
  src/components/form-inputs/TimeInput.vue
  src/components/header/HeaderBase.vue
  src/components/header/HeaderCalendar.vue
  src/components/header/HeaderCongregation.vue
  src/components/header/HeaderSettings.vue
  src/components/header/HeaderWebsite.vue
  src/components/media/DownloadStatus.vue
  src/components/media/DragAndDropper.vue
  src/components/media/MediaDisplayButton.vue
  src/components/media/MediaItem.vue
  src/components/media/MusicButton.vue
  src/components/media/ObsStatus.vue
  src/components/media/PublicTalkMediaPicker.vue
  src/components/media/SongPicker.vue
  src/components/media/SubtitlesButton.vue
  src/components/ui/NavDrawer.vue
  src/layouts/MainLayout.vue
  src/layouts/MediaPlayerLayout.vue
  src/pages/CongregationSelectorPage.vue
  src/pages/ErrorNotFound.vue
  src/pages/MediaCalendarPage.vue
  src/pages/PresentWebsite.vue
  src/pages/SettingsPage.vue
  src/pages/SetupWizard.vue
Labels: none

feat: improve page titles
  src/pages/CongregationSelectorPage.vue
  src/pages/MediaCalendarPage.vue
  src/pages/PresentWebsite.vue
  src/pages/SettingsPage.vue
  src/pages/SetupWizard.vue
Labels: none

fix: immediately apply urlVariables
  src/layouts/MainLayout.vue
Labels: none

chore: bump deps
  package.json
  yarn.lock
Labels: dependencies, javascript

fix: properly set custom duration for audio imports
  src/components/dialog/DialogAudioBible.vue
  src/helpers/jw-media.ts
Labels: none

fix: only allow to maximize media window for multiple screens
  src-electron/main/window/window-media.ts
  src/components/dialog/DialogDisplayPopup.vue
Labels: none

fix: video progress bar styling
  src-electron/main/ipc.ts
  src/components/media/MediaItem.vue
  src/helpers/jw-media.ts
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Italian (#3747)
  src/i18n/it.json
Labels: none

feat: improved macOS icon
  src-electron/icons/icon.icns
Labels: none

feat: improved macOS media window icon
  src-electron/icons/media-player.icns
Labels: none

refactor: simplify mediaItem code
  src/components/media/MediaItem.vue
  src/pages/MediaCalendarPage.vue
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
