Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations (#4123)
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Portuguese, Brazilian (#4125)
  src/i18n/pt.json
Labels: none

chore: bump version to v25.2.2-beta.7 [skip ci]
  package.json
Labels: none

refactor: move mime module to preload
  package.json
  quasar.config.ts
  src-electron/electron-preload.ts
  src-electron/preload/fs.ts
  src/pages/MediaCalendarPage.vue
  src/types/electron.d.ts
  src/utils/media.ts
  yarn.lock
Labels: dependencies, javascript

fix: correctly migrate mime module
  src-electron/preload/fs.ts
  test/vitest/mocks/electronApi.ts
Labels: none

chore(deps): revert electron bumps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: revert target bumps
  package.json
  postcss.config.js
  quasar.config.ts
Labels: none

chore: bump version to v25.2.2-beta.8 [skip ci]
  package.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations (#4127)
  src/i18n/de.json
  src/i18n/sl.json
Labels: none

chore: update changelog
  CHANGELOG.md
Labels: documentation

chore: add release notes to fetch
  release_notes/nl.md
Labels: documentation

chore: add fetch release notes function
  release-notes/en.md
  release-notes/nl.md
  src/utils/api.ts
Labels: documentation

chore: update crowdin config
  crowdin.yml
Labels: none

feat: finish release notes in-app
  src/components/dialog/DialogAbout.vue
  src/i18n/en.json
  src/utils/api.ts
Labels: none

feat: auto open on new version
  src/components/dialog/DialogAbout.vue
  src/utils/fs.ts
Labels: none

chore: remove test file
  release-notes/nl.md
Labels: documentation

feat: show release notes in-app (#4108)
  .vscode/settings.json
  README.md
  crowdin.yml
  package.json
  quasar.extensions.json
  release-notes/en.md
  src/components/dialog/DialogAbout.vue
  src/i18n/en.json
  src/utils/api.ts
  src/utils/fs.ts
  yarn.lock
Labels: dependencies, documentation, javascript

chore: update translations progress
  README.md
Labels: documentation

ci: update crowdin progess on release-notes
  .github/workflows/crowdin.yml
Labels: github_actions

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none
