Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

chore: fix yarn.lock
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v25.12.2-beta.15 [skip ci]
  package.json
Labels: none

chore: add Isaiah book to frequently used publications
  src/helpers/cleanup.ts
Labels: none

chore: add 25.12.2 changelog strings
  CHANGELOG.md
  release-notes/en.md
Labels: documentation

fix: added missing setAppQuitting
  src-electron/electron-main.ts
  src-electron/main/window/window-main.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Romanian
  release-notes/ro.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Greek
  release-notes/el.md
Labels: documentation

feat: new translations for Finnish
  release-notes/fi.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Portuguese
  release-notes/pt-pt.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovak
  release-notes/sk.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/faq.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/about.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/index.md
Labels: documentation

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/settings-guide.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/user-guide.md
Labels: documentation

feat: new translations for Swedish
  release-notes/sv.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Tagalog
  release-notes/tl.md
Labels: documentation

feat: new translations for Malagasy
  release-notes/mg.md
Labels: documentation

feat: new translations for Swahili
  release-notes/sw.md
Labels: documentation

feat: new translations for Amharic
  release-notes/am.md
Labels: documentation

feat: new translations for Haitian Creole
  release-notes/ht.md
Labels: documentation

feat: new translations for Kinyarwanda
  release-notes/rw.md
Labels: documentation

feat: new translations for Ga
  release-notes/gaa.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/faq.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/about.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/settings-guide.md
Labels: documentation

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
