Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

chore: prepare Kinyarwanda
  src/constants/locales.ts
Labels: none

docs: add Kinyarwanda
  docs/locales/index.ts
Labels: documentation

style: improve code style
  src/layouts/MediaPlayerLayout.vue
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations for Kinyarwanda (#3862)
  src/i18n/rw.json
Labels: none

initial commit
  package.json
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
  src/types/jw/sqlite.d.ts
  src/types/media.d.ts
  yarn.lock
Labels: dependencies, javascript

chore(release): v24.12.2
  package.json
Labels: none

chore: update changelog
  CHANGELOG.md
Labels: documentation

ci: update docs on new release
  .github/workflows/docs.yml
Labels: github_actions

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Portuguese, Brazilian (#3865)
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian
  docs/locales/et.json
Labels: documentation

feat: new translations (#3866)
  docs/locales/et.json
  src/i18n/et.json
Labels: documentation

test: add docs url test
  test/vitest/__tests__/locales.test.ts
Labels: none

ci: add tests to docs deployment
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
Labels: github_actions

ci: cleanup
  .github/workflows/docs.yml
  .github/workflows/test.yml
Labels: github_actions

ci: optimize lint and test jobs
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  docs/__tests__/locales.vitest.test.ts
  package.json
  src/__tests__/locales.vitest.test.ts
  test/vitest/__tests__/locales.test.ts
  vitest.config.mts
Labels: documentation, github_actions

ci: prepare quasar before tests
  .github/workflows/docs.yml
Labels: github_actions

chore: move test files
  docs/tsconfig.json
  docs/utils/__tests__/locales.test.ts
  src/__tests__/locales.test.ts
  vitest.config.mts
Labels: documentation

feat: new translations for Haitian Creole
  docs/src/ht/index.md
Labels: documentation

feat: new translations for Kinyarwanda
  docs/src/rw/index.md
Labels: documentation

feat: new translations (#3868)
  docs/src/ht/index.md
  docs/src/rw/index.md
Labels: documentation

test: specify different environements
  .gitignore
  package.json
  test/vitest/setup.docs.ts
  test/vitest/setup.electron.ts
  test/vitest/setup.quasar.ts
  vitest.config.mts
  vitest.workspace.ts
Labels: none

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: cleanup changelog
  CHANGELOG.md
Labels: documentation

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovak (#3869)
  src/i18n/sk.json
Labels: none

chore: bump version to v24.12.3-beta.0 [skip ci]
  package.json
Labels: none

test: check for unused i18n keys
  docs/utils/__tests__/locales.test.ts
  src/__tests__/locales.test.ts
Labels: documentation

test: normalize path
  src/__tests__/locales.test.ts
Labels: none

chore: optimize vue
  quasar.config.ts
  vitest.workspace.ts
Labels: none

test: mock i18n and pinia
  package.json
  src/__tests__/locales.test.ts
  test/vitest/mocks/store.ts
  test/vitest/setup.quasar.ts
  vitest.config.mts
  yarn.lock
Labels: dependencies, javascript

test: add announcementbanner test
  src/components/ui/__tests__/AnnouncementBanner.test.ts
Labels: none

chore: cleanup
  quasar.extensions.json
  src/components/ui/__tests__/AnnouncementBanner.test.ts
Labels: none

fix: fallback to local font when available
  src/helpers/fonts.ts
Labels: none

fix: correctly fallback to local font if fetch fails
  src/helpers/fonts.ts
Labels: none

chore: download font is not existing
  src/helpers/fonts.ts
Labels: none

fix: retry fonts when online
  src/layouts/MainLayout.vue
  src/pages/MediaPlayerPage.vue
Labels: none

fix: improve ui for smaller windows
  src/pages/MediaCalendarPage.vue
  src/pages/SettingsPage.vue
Labels: none
