Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

fix: prevent picture-set images from being dropped when sharing a pubMediaId
  src/helpers/jw-media.ts
Labels: none

fix: force a dynamic media refresh to recover pictures dropped by the pubMediaId bug
  src/migrations/index.ts
Labels: none

docs: add v26.7.5 changelog entry
  CHANGELOG.md
Labels: documentation

Revert "fix(build): drop stray -- before yarn build --publish flag"
  .github/workflows/build.yml
Labels: github_actions

Reapply "fix(build): drop stray -- before yarn build --publish flag"
  .github/workflows/build.yml
Labels: github_actions

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

chore: bump version to v26.7.6-beta.0 [skip ci]
  package.json
Labels: none

fix: correct singular/plural media item counts and add missing tooltips
  src/components/dialog/DialogBible.vue
  src/components/dialog/DialogCustomSectionEdit.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogSongPicker.vue
  src/components/media/MediaDivider.vue
  src/components/media/MediaGroup.vue
  src/components/media/MediaItem.vue
  src/i18n/en.json
Labels: none

feat: show document page numbers in publication and JWPUB import listings
  src/components/dialog/DialogFileImport.vue
  src/components/dialog/DialogPublicationMedia.vue
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/types/jw/sqlite.d.ts
  src/utils/general.ts
  src/utils/sqlite.ts
Labels: none

fix: only apply left margin to stop button when a sibling button precedes it
  src/components/media/MediaItem.vue
Labels: none

fix: avoid deleting jwpub files on permission errors, tolerate EEXIST directory race on Windows
  src-electron/main/__tests__/fs.zip-slip.test.ts
  src-electron/main/fs.ts
  src/helpers/jw-media.ts
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

chore: update langs script and workflow
  .github/workflows/update-langs.yml
  scripts/jw-languages-cache.json
  scripts/update-langs.py
Labels: github_actions

fix: correct statMock typing in zip-slip test to satisfy tsc
  src-electron/main/__tests__/fs.zip-slip.test.ts
Labels: none

fix: strip trailing slash from resolved zip entry paths
  src-electron/main/fs.ts
Labels: none
