Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: add public talk title display on media player screen
  src/components/media/MediaList.vue
  src/components/media/PublicTalkTitleCard.vue
  src/css/app.scss
  src/helpers/media-sections.ts
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/layouts/MainLayout.vue
  src/types/media.d.ts
Labels: none

feat: add playback speed control for video/audio media
  src/components/media/MediaItem.vue
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ru.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/pages/MediaPlayerPage.vue
Labels: none

feat: add pinyin song substitution for additional remote videos
  src/helpers/jw-media.ts
Labels: none

fix: ensure lang is checked for Pinyin additional video subsitution
  src/helpers/jw-media.ts
Labels: none

fix: pinyin toggle regression — media not re-fetching and additional songs not switching
  src/helpers/jw-media.ts
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
Labels: none

fix: stop public talk title display when any media plays
  src/components/media/PublicTalkTitleCard.vue
Labels: none

chore: bump version to v26.2.5-beta.10 [skip ci]
  package.json
Labels: none

fix: implement state detection, and other missing features
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src-electron/main/zoom-helper-manager.ts
  src/components/dialog/DialogZoomMeetingManagerPopup.vue
  src/constants/zoom.ts
  src/helpers/zoom.ts
  src/types/electron.d.ts
  uia_helper.py
Labels: none

fix: remove hardcoded strings
  src/i18n/en.json
  src/stores/current-state.ts
Labels: none

fix: prevent having both zoom integrations enabled at the same time
  src/components/form-inputs/BaseInput.vue
  src/components/form-inputs/TextInput.vue
  src/components/form-inputs/ToggleInput.vue
  src/constants/settings.ts
  src/pages/SettingsPage.vue
  src/types/settings.d.ts
Labels: none

fix: detect main Zoom window automatically
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src/components/dialog/DialogZoomMeetingManagerPopup.vue
  src/helpers/zoom.ts
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
  uia_helper.py
Labels: none

fix: implement findWindowByClassName
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src/components/dialog/DialogZoomMeetingManagerPopup.vue
  src/helpers/zoom.ts
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
  uia_helper.py
Labels: none

chore: serve with waitress
  requirements.txt
  src-electron/main/window/window-media.ts
  uia_helper.py
Labels: none

chore: add media window sharing automation
  src-electron/main/window/window-media.ts
  src/components/media/MediaItem.vue
  src/constants/zoom.ts
  src/helpers/zoom.ts
  uia_helper.py
Labels: none

feat: add playback speed control via context menu
  src/components/media/MediaItem.vue
  src/constants/settings.ts
  src/i18n/en.json
  src/pages/MediaPlayerPage.vue
  src/types/settings.d.ts
Labels: none

feat: new translations for Slovenian
  docs/src/sl/user-guide.md
Labels: documentation

fix: improve congregation lookup language matching for Chinese variants
  src/components/dialog/DialogCongregationLookup.vue
Labels: none

feat: add public talk title display with settings toggle
  src/components/media/MediaList.vue
  src/components/media/PublicTalkTitleCard.vue
  src/constants/settings.ts
  src/css/app.scss
  src/helpers/media-sections.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/types/media.d.ts
  src/types/settings.d.ts
Labels: none

feat: add pinyin song toggle with gothic icon and setup wizard
  build/icons/pinyin.svg
  src/components/header/HeaderCalendar.vue
  src/constants/settings.ts
  src/helpers/jw-media.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/pages/SetupWizard.vue
  src/stores/current-state.ts
Labels: none

fix: remove unrelated files from pinyin toggle PR
  docs/src/sl/user-guide.md
  src/components/dialog/DialogCongregationLookup.vue
Labels: documentation

fix: remove unrelated files from playback speed PR
  docs/src/sl/user-guide.md
  src/components/dialog/DialogCongregationLookup.vue
  yarn.lock
Labels: dependencies, documentation, javascript

fix: use correct mmm-minus icon for playback speed decrease button
  src/components/media/MediaItem.vue
Labels: none

fix: add CJK system fonts for yeartext rendering
  src/css/app.scss
Labels: none

feat: add pre-meeting clock with countdown timer
  src/constants/settings.ts
  src/css/app.scss
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/pages/MediaPlayerPage.vue
  src/types/settings.d.ts
Labels: none

fix: adjust pre-meeting clock layout to keep yeartext near center
  src/css/app.scss
  src/pages/MediaPlayerPage.vue
Labels: none

fix: add CJK-specific font rendering and language-aware yeartext styling
  src/css/app.scss
  src/helpers/fonts.ts
  src/layouts/MainLayout.vue
  src/pages/MediaPlayerPage.vue
Labels: none

fix: persist pinyinActive state across page navigations
  src/pages/MediaCalendarPage.vue
  src/stores/current-state.ts
Labels: none

chore: bump version to v26.2.5-beta.11 [skip ci]
  package.json
Labels: none

fix: remove public talk title styles from CJK yeartext PR
  src/css/app.scss
Labels: none

fix: use Batang serif font for Korean yeartext rendering
  src/css/app.scss
Labels: none

feat: add pinyin song toggle with gothic icon and setup wizard
  build/icons/pinyin.svg
  src/components/header/HeaderCalendar.vue
  src/constants/settings.ts
  src/helpers/jw-media.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/pages/SetupWizard.vue
  src/stores/current-state.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
