Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

chore: bump version to v26.5.1-beta.0 [skip ci]
  package.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

Update checkout action version in translator.yml
  .github/workflows/translator.yml
Labels: github_actions

chore: update to hashes for checkout version
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/cache.yml
  .github/workflows/codeql.yml
  .github/workflows/crowdin.yml
  .github/workflows/docs.yml
  .github/workflows/manual-release.yml
  .github/workflows/refresh-lockfile.yml
  .github/workflows/update-release-notes.yml
Labels: github_actions

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

feat: new translations for Brazilian Sign Language
  docs/src/bzs/about.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  docs/src/bzs/faq.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  docs/src/bzs/index.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  docs/locales/bzs.json
Labels: documentation

feat: new translations for Brazilian Sign Language
  release-notes/bzs.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  docs/src/bzs/settings-guide.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  docs/src/bzs/user-guide.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  docs/src/bzs/download.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  docs/src/pt/about.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  docs/src/pt/download.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for French
  release-notes/fr.md
Labels: documentation

chore: bump version to v26.5.1-beta.1 [skip ci]
  package.json
Labels: none
