Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Chinese Traditional
  src/i18n/cmn-hant.json
Labels: none

feat: new translations for Chinese Traditional
  release-notes/cmn-hant.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

feat: new translations for Brazilian Sign Language
  release-notes/bzs.md
Labels: documentation

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/about.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/index.md
Labels: documentation

feat: new translations for Korean
  docs/locales/ko.json
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

ci(docs): gate PRs touching docs on yarn docs:lint
  .github/workflows/docs-ci.yml
  .mergify.yml
Labels: github_actions

fix(media): footnote tag shows only the full-height asterisk marker
  CHANGELOG.md
  src/components/media/MediaItem.vue
Labels: documentation

ci(docs): gate PRs touching docs on yarn docs:lint
  .github/workflows/docs-ci.yml
  .mergify.yml
Labels: github_actions

chore(changelog): note the docs:lint PR gate
  CHANGELOG.md
Labels: documentation

ci(docs): run docs:lint on PRs touching docs/** (#9015)
  .github/workflows/docs-ci.yml
  .mergify.yml
  CHANGELOG.md
Labels: documentation, github_actions

fix(docs): repair Crowdin-corrupted anchors and links in translations
  docs/src/fr/faq.md
  docs/src/ko/about.md
  docs/src/ko/index.md
Labels: documentation

fix(docs): repair Crowdin-corrupted anchors and links in translations (#9018)
  docs/src/fr/faq.md
  docs/src/ko/about.md
  docs/src/ko/index.md
Labels: documentation

fix(music): avoid boot crash when the music store is created outside component setup
  CHANGELOG.md
  src/stores/__tests__/music.test.ts
  src/stores/music.ts
Labels: documentation

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

fix(media): only treat structural paragraph references in captions as paragraph tags
  CHANGELOG.md
  src/helpers/__tests__/jw-media.edge.test.ts
  src/helpers/__tests__/jw-media.test.ts
  src/helpers/jw-media.ts
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/index.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/faq.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/index.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/settings-guide.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/user-guide.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/download.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/about.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/user-guide.md
Labels: documentation

fix: resolve all high-severity findings from full security/functionality/UI audit
  CHANGELOG.md
  ELECTRON-44-CUTOVER.md
  src-electron/electron-main.ts
  src-electron/electron-preload.ts
  src-electron/main/__tests__/downloads.cancel-race.test.ts
  src-electron/main/__tests__/downloads.process-queue-error.test.ts
  src-electron/main/__tests__/downloads.window.test.ts
  src-electron/main/__tests__/ffmpeg.test.ts
  src-electron/main/__tests__/image-size.test.ts
  src-electron/main/__tests__/secrets.test.ts
  src-electron/main/downloads.ts
  src-electron/main/ffmpeg.ts
  src-electron/main/image-size.ts
  src-electron/main/ipc.ts
  src-electron/main/secrets.ts
  src/components/__tests__/MediaItem.test.ts
  src/components/media/MediaItem.vue
  src/helpers/__tests__/congregation-schedule.sync.test.ts
  src/helpers/congregation-schedule.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
  src/pages/SettingsPage.vue
  src/stores/__tests__/jw.test.ts
  src/stores/jw.ts
  src/types/electron.d.ts
  src/utils/__tests__/api.test.ts
  src/utils/api.ts
  src/utils/settings.ts
  test/vitest/mocks/electronApi.ts
Labels: documentation

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
