Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

chore: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

chore: new translations for French
  docs/src/fr/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations (#3296)
  docs/src/fr/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/pt-pt.json
Labels: documentation

fix: if pub available use pub as id
  src/helpers/jw-media.ts
Labels: none

chore: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

chore: new translations for Portuguese, Brazilian
  docs/src/pt/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations for French
  src/i18n/fr.json
Labels: none

chore: new translations for Russian
  src/i18n/ru.json
Labels: none

chore: new translations for Russian
  docs/src/ru/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations (#3298)
  docs/src/pt/using-at-a-kingdom-hall.md
  docs/src/ru/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/pt.json
  src/i18n/ru.json
Labels: documentation

chore: new translations for Portuguese, Brazilian
  docs/src/pt/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations for Russian
  docs/src/ru/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations (#3300)
  docs/src/pt/using-at-a-kingdom-hall.md
  docs/src/ru/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations for Portuguese, Brazilian
  docs/src/pt/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations for Portuguese, Brazilian (#3302)
  docs/src/pt/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations for Dutch
  src/i18n/nl.json
Labels: none

chore: new translations for Dutch
  docs/src/nl/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations for Estonian
  docs/src/et/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations (#3305)
  docs/src/et/using-at-a-kingdom-hall.md
  docs/src/nl/using-at-a-kingdom-hall.md
  src/i18n/nl.json
Labels: documentation

ci: cancel outdated workflow runs
  .github/workflows/build.yml
  .github/workflows/crowdin.yml
Labels: github_actions

ci: improve concurrency key
  .github/workflows/build.yml
Labels: github_actions

chore: empty download queue on cancel
  src-electron/main/downloads.ts
Labels: none

fix: skip download on cancelAll
  src-electron/main/downloads.ts
Labels: none

fix: correctly import NoTo Serif font
  src/css/app.scss
Labels: none

fix: improve csp
  src-electron/main/session.ts
Labels: none

ci: fix stale workflow
  .github/stale.yml
  .github/workflows/stale.yml
Labels: github_actions

chore: new translations for Swahili
  src/i18n/sw.json
Labels: none

chore: new translations for Swahili
  docs/src/sw/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations (#3307)
  docs/src/sw/using-at-a-kingdom-hall.md
  src/i18n/sw.json
Labels: documentation

fix: don't show song badge for false
  src/components/media/MediaItem.vue
Labels: none

feat: add cursor indicator to website present
  src-electron/main/window/window-website.ts
Labels: none

chore: new translations for Slovenian
  src/i18n/sl.json
Labels: none

chore: new translations for Slovenian
  docs/src/sl/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations (#3312)
  docs/src/sl/using-at-a-kingdom-hall.md
  src/i18n/sl.json
Labels: documentation

fix: disable aspect ratio on macos
  src-electron/main/window/window-website.ts
Labels: none

fix: default website window size
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-website.ts
Labels: none

chore: lock aspect ratio again
  src-electron/main/window/window-website.ts
Labels: none

chore: new translations for Slovenian
  docs/src/sl/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations for Slovenian (#3315)
  docs/src/sl/using-at-a-kingdom-hall.md
Labels: documentation

fix: force aspect ratio with extraSize
  src-electron/main/window/window-website.ts
Labels: none
