Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

fix: replace language-corrected songs if possible instead of duplicating them
  src/helpers/jw-media.ts
Labels: none

chore: bump version to v25.3.2-beta.5 [skip ci]
  package.json
Labels: none

fix: add refreshDynamicMedia migration
  src/pages/CongregationSelectorPage.vue
  src/stores/app-settings.ts
Labels: none

chore: bump version to v25.3.2-beta.6 [skip ci]
  package.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Tagalog (#4298)
  src/i18n/tl.json
Labels: none

chore: bump version to v25.3.2-beta.7 [skip ci]
  package.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Tagalog (#4300)
  src/i18n/tl.json
Labels: none

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Tagalog (#4303)
  src/i18n/tl.json
Labels: none

chore: bump version to v25.3.2-beta.8 [skip ci]
  package.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Tagalog (#4305)
  src/i18n/tl.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Tagalog (#4307)
  src/i18n/tl.json
Labels: none

fix: include grouped media items in media auto export
  src/helpers/export-media.ts
Labels: none

feat: new translations for Tagalog
  docs/src/tl/about.md
Labels: documentation

feat: new translations for Tagalog
  docs/src/tl/faq.md
Labels: documentation

feat: new translations for Tagalog
  docs/src/tl/index.md
Labels: documentation

feat: new translations for Tagalog
  docs/src/tl/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Tagalog
  docs/locales/tl.json
Labels: documentation

feat: new translations (#4309)
  docs/locales/tl.json
  docs/src/tl/about.md
  docs/src/tl/faq.md
  docs/src/tl/index.md
  docs/src/tl/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Tagalog
  docs/src/tl/faq.md
Labels: documentation

feat: new translations for Tagalog
  docs/src/tl/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations (#4311)
  docs/src/tl/faq.md
  docs/src/tl/using-at-a-kingdom-hall.md
Labels: documentation

fix: properly replace missing media when it becomes available
  src/helpers/jw-media.ts
  src/stores/jw.ts
  src/types/media.d.ts
  src/utils/media.ts
Labels: none

feat: new translations for Tagalog
  docs/src/tl/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Tagalog (#4316)
  docs/src/tl/using-at-a-kingdom-hall.md
Labels: documentation

feat: enable Tagalog
  src/constants/locales.ts
  src/i18n/index.ts
Labels: none

chore: bump version to v25.3.2-beta.9 [skip ci]
  package.json
Labels: none

fix: allow single video to be in media list many times with different custom times
  .vscode/settings.json
  src/components/media/MediaItem.vue
  src/helpers/jw-media.ts
  src/helpers/mediaPlayback.ts
  src/stores/jw.ts
Labels: none

chore: bump version to v25.3.2-beta.10 [skip ci]
  package.json
Labels: none

fix: set memorial to next year when memorial week is in the past
  src/layouts/MainLayout.vue
Labels: none

fix: correctly fetch m4v jw files
  src/constants/media.ts
  src/helpers/jw-media.ts
  src/layouts/MainLayout.vue
  src/utils/api.ts
  src/utils/media.ts
Labels: none

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Tagalog
  docs/src/tl/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Tagalog (#4318)
  docs/src/tl/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Tagalog
  docs/src/tl/using-at-a-kingdom-hall.md
Labels: documentation
