Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

fix(sentry): stop reporting transient yeartext network noise and duplicate preload causes (#8804)
  src-electron/preload/__tests__/log.test.ts
  src-electron/preload/log.ts
  src/stores/__tests__/jw.test.ts
  src/stores/jw.ts
Labels: none

chore(deps): upgrade quasar to 2.25.1, extras to 2.0.4, app-vite to 3.7.0
  package.json
  src/components/dialog/DialogCongregationSwitcher.vue
  src/components/header/HeaderCalendar.vue
  src/components/header/HeaderSettings.vue
  src/components/media/MediaGroup.vue
  src/components/media/MediaItem.vue
  src/components/media/MediaSectionHeader.vue
  yarn.lock
Labels: dependencies, javascript

chore: yarn.lock
  .yarn/releases/yarn-4.17.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: yarn version
  .prettierignore
  .yarn/releases/yarn-4.18.0.cjs
  eslint.config.js
Labels: none

chore(deps): upgrade quasar to 2.25.1, extras to 2.0.4, app-vite to 3.7.0 (#8810)
  .prettierignore
  .yarn/releases/yarn-4.17.0.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  eslint.config.js
  package.json
  src/components/dialog/DialogCongregationSwitcher.vue
  src/components/header/HeaderCalendar.vue
  src/components/header/HeaderSettings.vue
  src/components/media/MediaGroup.vue
  src/components/media/MediaItem.vue
  src/components/media/MediaSectionHeader.vue
  yarn.lock
Labels: dependencies, javascript

fix(i18n): repair broken Estonian strings that crashed the Settings page
  src/__tests__/locales.test.ts
  src/i18n/et.json
Labels: none

fix(docs): use lazyLoad image option renamed in VitePress 2.0.0-alpha.19
  docs/.vitepress/config.mts
Labels: documentation

fix(docs): dedupe heading anchors in fix-doc-markdown to unblock docs build
  docs/utils/__tests__/fix-doc-markdown.test.ts
  docs/utils/fix-doc-markdown.mjs
Labels: documentation

fix(display): size windowed media window to 75% of screen and refresh screen indicator after fullscreen moves
  src-electron/main/window/window-media.ts
Labels: none

fix(display): cap windowed media window at Full HD and queue in-flight move requests
  src-electron/constants.ts
  src-electron/main/window/window-media.ts
Labels: none

feat(meetings): add before/after-meeting quick actions panels with checklist, music, and recording controls
  src-electron/electron-preload.ts
  src/boot/demo-mode.ts
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogObsPopup.vue
  src/components/dialog/DialogRecordingPopup.vue
  src/components/media/MeetingQuickActionsAfterPanel.vue
  src/components/media/MeetingQuickActionsBeforePanel.vue
  src/components/media/MeetingQuickActionsChecklist.vue
  src/components/media/MeetingQuickActionsPanel.vue
  src/components/media/MusicButton.vue
  src/components/media/RecordingStatus.vue
  src/components/settings/SettingsMeetingChecklists.vue
  src/components/ui/ActionIsland.vue
  src/composables/useTimer.ts
  src/constants/settings.ts
  src/helpers/__tests__/meeting-quick-actions.test.ts
  src/helpers/date.ts
  src/helpers/demo-mode.ts
  src/helpers/meeting-parts.ts
  src/helpers/meeting-quick-actions.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/pages/SettingsPage.vue
  src/shared/vanilla.ts
  src/stores/__tests__/meeting-quick-actions.test.ts
  src/stores/congregation-settings.ts
  src/stores/current-state.ts
  src/stores/demo-mode.ts
  src/stores/meeting-quick-actions.ts
  src/stores/music.ts
  src/stores/recording-state.ts
  src/types/electron.d.ts
  src/types/index.d.ts
  src/types/meeting-quick-actions.d.ts
  src/types/settings.d.ts
  src/utils/clone-settings.ts
  src/utils/media.ts
  src/utils/migrations.ts
  src/utils/profile-settings.ts
  test/vitest/mocks/electronApi.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Traditional
  src/i18n/cmn-hant.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

fix(media): refuse to read/write watched-media section-order files outside the watch folder
  src/helpers/__tests__/media-sections.test.ts
  src/helpers/media-sections.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

fix(sentry): stop reporting empty additionalItems as a migration error
  src/migrations/move-additional-media.ts
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

fix(ci): unblock beta release - flaky date test and recurring Crowdin corruption
  package.json
  scripts/fix-i18n-locales.mjs
  src/stores/__tests__/meeting-quick-actions.test.ts
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

fix(obs): prevent UUID scenes from being sent as sceneName to OBS
  src/components/dialog/DialogObsPopup.vue
  src/components/media/ObsStatus.vue
Labels: none

fix(obs): prevent UUID scenes from being sent as sceneName to OBS (#8841)
  src/components/dialog/DialogObsPopup.vue
  src/components/media/ObsStatus.vue
Labels: none

feat(quick-actions): improve before/after meeting panels
  src/components/media/MeetingQuickActionsAfterPanel.vue
  src/components/media/MeetingQuickActionsBeforePanel.vue
  src/components/media/MeetingQuickActionsPanel.vue
  src/i18n/en.json
  src/stores/music.ts
Labels: none

feat(quick-actions): improve before/after meeting panels (#8850)
  src/components/media/MeetingQuickActionsAfterPanel.vue
  src/components/media/MeetingQuickActionsBeforePanel.vue
  src/components/media/MeetingQuickActionsPanel.vue
  src/i18n/en.json
  src/stores/music.ts
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
