Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

fix: move Sentry DSN out of source into a build-time secret
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/manual-release.yml
  quasar.config.ts
  src-electron/constants.ts
  src-electron/electron-main.ts
  src-electron/main/__tests__/session.test.ts
  src-electron/main/session.ts
  src/boot/sentry.ts
  src/env.d.ts
Labels: github_actions

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

chore: bump version to v26.7.6-beta.7 [skip ci]
  package.json
Labels: none

chore: replace gh-action-bump-version with an inline Python script
  .github/workflows/beta-release.yml
  build/bump-beta-version.py
Labels: github_actions

fix: add @vue/compiler-dom as explicit devDependency
  package.json
  yarn.lock
Labels: dependencies, javascript

fix: harden Sentry wiring (PII scrubbing, grouping, dead filters, visibility)
  src-electron/electron-main.ts
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/session.ts
  src-electron/main/utils.ts
  src/boot/sentry.ts
  src/shared/vanilla.test.ts
  src/shared/vanilla.ts
  src/stores/index.ts
Labels: none

fix: report a meaningful Sentry environment instead of undefined
  src-electron/constants.ts
  src-electron/electron-main.ts
  src-electron/main/session.ts
  src/boot/sentry.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

docs: refer to jw.org as "the website" in comments
  scripts/jw-languages-cache.json
  scripts/update-langs.py
  src/components/media/MediaItem.vue
  src/helpers/cleanup.ts
  src/helpers/demo-mode.ts
  src/utils/api.ts
Labels: none

fix: stop reporting raw DOM events and duplicate error causes to Sentry
  src/helpers/error-catcher.ts
  src/helpers/fs.ts
Labels: none

fix: prevent spurious ENOENT errors from concurrent thumbnail renames
  src/helpers/jw-media.ts
Labels: none

fix: correct robotjs keyTap argument-count bug causing key-tap failures
  src-electron/preload/robot.ts
Labels: none

fix: remove stale hardcoded jw-icons font URL fallback
  src/helpers/__tests__/fonts.test.ts
  src/helpers/fonts.ts
  src/stores/__tests__/jw.test.ts
  src/stores/jw.ts
Labels: none

fix: group Node fs errors in Sentry by code/syscall instead of file path
  src/helpers/__tests__/error-catcher.test.ts
  src/helpers/error-catcher.ts
Labels: none

fix: stop reporting transient network failures to Sentry as bugs
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/utils.ts
  src/shared/__tests__/network-errors.test.ts
  src/shared/network-errors.ts
Labels: none

fix: ignore benign play() interruption errors in media preview sync
  src/components/media/MediaPreview.vue
Labels: none

fix: gate meeting fetch queue start on macOS folder permission check
  src/layouts/MainLayout.vue
Labels: none

fix: make getCachePath's falsy-base-path error self-diagnosing
  src/utils/__tests__/fs.getCachePath.test.ts
  src/utils/fs.ts
Labels: none

fix: don't cache updateJwIconsUrl's own lookups
  src/stores/jw.ts
Labels: none

fix: write .section-order.json atomically via temp file + rename
  src/helpers/__tests__/media-sections.test.ts
  src/helpers/media-sections.ts
Labels: none

fix: stop reporting 504s and empty JSON bodies as bugs
  src/shared/__tests__/network-errors.test.ts
  src/shared/network-errors.ts
  src/utils/__tests__/api.test.ts
  src/utils/api.ts
Labels: none

Notes added by 'git notes add'
  e90dc52a8a4148fd25415fbfde675ef4b11f675f
Labels: none

fix: skip creating watched folders when the watch folder isn't usable
  src/helpers/__tests__/jw-media.test.ts
  src/helpers/jw-media.ts
Labels: none

fix: broaden the malformed-path check to catch any bare '?' segment
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
Labels: none

fix: retry .last-used file operations on transient Windows locks
  src/helpers/__tests__/usage.test.ts
  src/helpers/usage.ts
Labels: none

fix: retry empty song library before giving up on background music
  src/components/dialog/DialogBackgroundMusicPopup.vue
Labels: none

fix: never let getDatedAdditionalMediaDirectory return an empty path
  src/stores/__tests__/current-state.test.ts
  src/stores/current-state.ts
Labels: none

fix: treat macOS /Volumes paths as possibly removable/network folders
  src/shared/filesystem-errors.test.ts
  src/shared/filesystem-errors.ts
Labels: none

fix: prevent spurious ENOENT errors from concurrent JW Playlist thumbnail renames
  src/components/dialog/DialogJwPlaylist.vue
Labels: none

fix: parameterize SQL queries to prevent injection via docId, songbook pub, and table name
  src/helpers/jw-media.ts
  src/utils/sqlite.ts
Labels: none

chore: update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

fix: disable Sentry Pinia state attachment to cut attachment bandwidth
  src/stores/index.ts
Labels: none

docs: add v26.7.6 changelog entry
  CHANGELOG.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
