Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

fix: harden download directory creation
  src-electron/main/__tests__/downloads.ensure-dir.test.ts
  src-electron/main/downloads.ts
Labels: none

fix: add jwpub contents extraction diagnostics
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
  src/helpers/mediaPlayback.ts
Labels: none

fix: improve path probe diagnostics (#7719)
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
Labels: none

chore: refactor functions from mediaPlayback to jw-media
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogPublicTalkMediaPicker.vue
  src/helpers/jw-media.ts
  src/helpers/mediaPlayback.ts
  src/pages/MediaCalendarPage.vue
Labels: none

fix: i18n typing
  src/boot/i18n.ts
  src/helpers/congregation-schedule.ts
  src/helpers/date.ts
  src/helpers/export-media.ts
  src/helpers/jw-media.ts
  src/helpers/mediaWindowAutoHide.ts
Labels: none

fix: retry and diagnose cloud-backed JWPUB reads (#7720)
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
  src/boot/i18n.ts
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogPublicTalkMediaPicker.vue
  src/helpers/congregation-schedule.ts
  src/helpers/date.ts
  src/helpers/export-media.ts
  src/helpers/jw-media.ts
  src/helpers/mediaPlayback.ts
  src/helpers/mediaWindowAutoHide.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

fix: harden download directory creation (#7721)
  src-electron/main/__tests__/downloads.ensure-dir.test.ts
  src-electron/main/downloads.ts
Labels: none

chore: fix cleanup
  src/helpers/__tests__/jw-media.test.ts
  src/helpers/jw-media.ts
  src/helpers/mediaPlayback.ts
Labels: none

fix: updated test
  src-electron/main/__tests__/downloads.ensure-dir.test.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

fix: unnecessary platform guard
  src-electron/main/downloads.ts
Labels: none

fix: add jwpub contents extraction diagnostics (#7722)
  src-electron/main/__tests__/downloads.ensure-dir.test.ts
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/downloads.ts
  src-electron/main/fs.ts
  src/helpers/__tests__/jw-media.test.ts
  src/helpers/jw-media.ts
Labels: none

fix: two minor SonarQube issues
  src/helpers/jw-media.ts
  src/utils/profile-settings.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

chore: bump version to v26.6.1-beta.1 [skip ci]
  package.json
Labels: none

fix: guard Electron window bounds against unsafe compositor sizes
  src-electron/main/__tests__/window-bounds.test.ts
  src-electron/main/__tests__/window-media.test.ts
  src-electron/main/window/window-bounds.ts
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-timer.ts
Labels: none

chore: update deps
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: dependencies, javascript

fix: handle WebDAV path stat errors gracefully
  .github/dependabot.yml
  src-electron/main/fs.ts
  src/components/media/MediaItem.vue
  src/shared/filesystem-errors.test.ts
  src/shared/filesystem-errors.ts
Labels: dependencies, github_actions

chore: update electron
  package.json
  yarn.lock
Labels: dependencies, javascript

fix: align ConversionOptions buffer type with heic-convert
  src-electron/preload/converters.ts
  src/types/electron.d.ts
  src/utils/converters.ts
Labels: none

chore: update ts but downgrade electron until better-sqlite3 bug is fixed
  package.json
  src-electron/main/__tests__/architecture.test.ts
  tsconfig.json
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v26.6.1-beta.2 [skip ci]
  package.json
Labels: none

fix: avoid cloning cached fetch response streams; guard duplicate updater installs; suppress updater fallback download errors
  src-electron/electron-main.ts
  src-electron/main/__tests__/updater.test.ts
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/ipc.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
  src/utils/__tests__/api.test.ts
  src/utils/api.ts
Labels: none

fix(electron): ignore known Node worker delayed-task native abort; guard downloads against destroyed window; add window state path to Sentry context
  src-electron/electron-main.ts
  src-electron/main/__tests__/downloads.window.test.ts
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/__tests__/window-state.test.ts
  src-electron/main/downloads.ts
  src-electron/main/utils.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-state.ts
Labels: none

fix(electron): handle website cursor injection failures
  src-electron/main/__tests__/window-website.test.ts
  src-electron/main/window/window-website.ts
Labels: none

fix: dedupe network error classification
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/fs.ts
  src-electron/main/utils.ts
  src/helpers/jw-media.ts
  src/shared/network-errors.ts
  src/utils/__tests__/api.test.ts
  src/utils/api.ts
Labels: none

test(electron): use stateful window instance in window state test
  src-electron/main/__tests__/window-state.test.ts
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
