Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

fix: re-implement checkbox and multi-select
  src/components/dialog/DialogStudyBible.vue
  src/css/app.scss
Labels: none

fix: implement adding pictures
  src/components/dialog/DialogStudyBible.vue
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
Labels: none

fix: improve code readability and speed of chapters computation
  src-electron/preload/sqlite.ts
  src/components/dialog/DialogStudyBible.vue
  src/helpers/jw-media.ts
Labels: none

fix: add back play icon to videos
  src/components/dialog/DialogStudyBible.vue
Labels: none

fix: get media in configured language when possible
  src/components/dialog/DialogStudyBible.vue
  src/css/app.scss
  src/helpers/jw-media.ts
  src/types/jw/sqlite.d.ts
Labels: none

chore: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

chore: new translations for Portuguese
  docs/src/pt-pt/about.md
Labels: documentation

chore: new translations (#3554)
  docs/src/pt-pt/about.md
  src/i18n/pt-pt.json
Labels: documentation

fix: correctly select combined properties from jwpub db
  src/helpers/jw-media.ts
Labels: none

feat: show missing media in english
  src/components/dialog/DialogStudyBible.vue
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
Labels: none

chore: cleanup logs
  src/components/dialog/DialogStudyBible.vue
Labels: none

chore: restore debug statement
  src-electron/preload/sqlite.ts
Labels: none

chore: sort en strings
  src/i18n/en.json
Labels: none

fix: add null to shortcutInput model type
  src/components/form-inputs/ShortcutInput.vue
Labels: none

fix: stop loading when fetching failed
  src/components/dialog/DialogStudyBible.vue
Labels: none

refactor: optimize imports
  src/boot/globals.ts
  src/components/dialog/DialogObsPopup.vue
  src/components/media/ObsStatus.vue
  src/helpers/jw-media.ts
  src/helpers/mediaPlayback.ts
  src/helpers/obs.ts
  src/pages/MediaCalendarPage.vue
  src/stores/jw.ts
Labels: none

refactor: optimize exports
  src/components/form-inputs/ShortcutInput.vue
  src/helpers/cleanup.ts
  src/helpers/date.ts
  src/helpers/error-catcher.ts
  src/helpers/fonts.ts
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/helpers/keyboardShortcuts.ts
  src/helpers/mediaPlayback.ts
  src/helpers/migrations.ts
  src/helpers/notifications.ts
  src/helpers/obs.ts
  src/helpers/settings.ts
Labels: none

refactor: optimize api and general utils
  src/components/dialog/DialogCongregationLookup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogRemoteVideo.vue
  src/components/dialog/DialogStudyBible.vue
  src/components/form-inputs/SelectInput.vue
  src/components/ui/AnnouncementBanner.vue
  src/constants/general.ts
  src/helpers/fonts.ts
  src/helpers/jw-media.ts
  src/helpers/migrations.ts
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
  src/stores/current-state.ts
  src/stores/jw.ts
  src/utils/api.ts
  src/utils/general.ts
Labels: none

fix: set loading spinner properly
  src/components/dialog/DialogStudyBible.vue
  yarn.lock
Labels: dependencies, javascript

refactor: use JWPUB instead of JSON for study bible lookups (#3546)
  .vscode/settings.json
  .yarn/releases/yarn-4.5.2.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
  src/components/dialog/DialogStudyBible.vue
  src/css/app.scss
  src/helpers/jw-media.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/types/jw/bible.d.ts
  src/types/jw/sqlite.d.ts
  yarn.lock
Labels: dependencies, javascript

chore: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

chore: new translations for Romanian
  src/i18n/ro.json
Labels: none

chore: new translations for French
  src/i18n/fr.json
Labels: none

chore: new translations for Spanish
  src/i18n/es.json
Labels: none

chore: new translations for Afrikaans
  src/i18n/af.json
Labels: none

chore: new translations for German
  src/i18n/de.json
Labels: none

chore: new translations for Greek
  src/i18n/el.json
Labels: none

chore: new translations for Finnish
  src/i18n/fi.json
Labels: none

chore: new translations for Hungarian
  src/i18n/hu.json
Labels: none

chore: new translations for Italian
  src/i18n/it.json
Labels: none

chore: new translations for Dutch
  src/i18n/nl.json
Labels: none

chore: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

chore: new translations for Russian
  src/i18n/ru.json
Labels: none

chore: new translations for Slovak
  src/i18n/sk.json
Labels: none

chore: new translations for Slovenian
  src/i18n/sl.json
Labels: none

chore: new translations for Swedish
  src/i18n/sv.json
Labels: none

chore: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

chore: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

chore: new translations for Tamil
  src/i18n/ta.json
Labels: none

chore: new translations for Estonian
  src/i18n/et.json
Labels: none
