Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

fix: automatically fix documentation links [skip ci]
  docs/src/pl/index.md
Labels: documentation

chore: add throws: false to readJsonSync when logical
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-state.ts
Labels: none

chore: bump version to v26.2.4-beta.5 [skip ci]
  package.json
Labels: none

fix: don't throw if shared data path isn't available; just don't use it
  src-electron/main/utils.ts
Labels: none

chore: bump version to v26.2.4-beta.6 [skip ci]
  package.json
Labels: none

fix: tighten getSharedDataPath, getAppDataPath and isUsablePath
  src-electron/main/fs.ts
  src-electron/main/utils.ts
Labels: none

chore: unify fadeMediaWindow
  src-electron/main/ipc.ts
  src-electron/main/window/window-media.ts
Labels: none

fix: replace captureElectronError with addElectronBreadcrumb in yauzl.open
  src-electron/main/fs.ts
Labels: none

chore: enable Polish
  src/__tests__/locales.test.ts
  src/constants/locales.ts
  src/i18n/index.ts
Labels: none

chore: bump version to v26.2.4-beta.7 [skip ci]
  package.json
Labels: none

Update macOS target configuration in quasar.config.ts
  quasar.config.ts
Labels: none

Update OS matrix in build workflow
  .github/workflows/build.yml
Labels: github_actions

Add x64ArchFiles configuration to quasar.config.ts
  quasar.config.ts
Labels: none

Change x64ArchFiles to a string format
  quasar.config.ts
Labels: none

chore: add isUsablePathCache
  src/helpers/jw-media.ts
Labels: none

chore: add isUsablePathPromises to electron main
  src-electron/main/fs.ts
Labels: none

chore: bump version to v26.2.4-beta.8 [skip ci]
  package.json
Labels: none

fix: prevent sending an error if path in isUsablePath is simply not usable, as that is the whole point of the function
  src-electron/main/fs.ts
Labels: none

ci(Mergify): configuration update
  .mergify.yml
Labels: none

fix: enable Polish docs language
  docs/locales/index.ts
Labels: documentation

chore: v26.2.4 changelog
  CHANGELOG.md
Labels: documentation

chore: add isMemorialDay to properly highlight memorial day in calendar
  src/components/header/HeaderCalendar.vue
  src/helpers/date.ts
Labels: none

chore: implement isDownloadComplete helper
  src-electron/electron-preload.ts
  src-electron/main/downloads.ts
  src-electron/main/ipc.ts
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

chore: add @eslint/js
  package.json
  yarn.lock
Labels: dependencies, javascript

fix: preserve-caught-error in getLocalFontPath
  src/helpers/fonts.ts
Labels: none

chore: bump version to v26.2.5-beta.0 [skip ci]
  package.json
Labels: none

docs-fix: macOS links
  .github/workflows/build.yml
  docs/data/version.data.mts
  docs/locales/en.json
  docs/src/en/download.md
  docs/src/en/faq.md
Labels: documentation, github_actions

fix: config.mts linting
  docs/.vitepress/config.mts
Labels: documentation

feat: new translations for Polish
  docs/src/pl/faq.md
Labels: documentation

feat: new translations for Polish
  docs/locales/pl.json
Labels: documentation

feat: new translations for Polish
  docs/src/pl/download.md
Labels: documentation

feat: new translations for Romanian
  docs/src/ro/faq.md
Labels: documentation

feat: new translations for Romanian
  docs/locales/ro.json
Labels: documentation

feat: new translations for Romanian
  docs/src/ro/download.md
Labels: documentation

feat: new translations for French
  docs/src/fr/faq.md
Labels: documentation

feat: new translations for French
  docs/locales/fr.json
Labels: documentation

feat: new translations for French
  docs/src/fr/download.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/faq.md
Labels: documentation

feat: new translations for Spanish
  docs/locales/es.json
Labels: documentation

feat: new translations for Spanish
  docs/src/es/download.md
Labels: documentation

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
