Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

chore: bump targets
  .github/workflows/build.yml
  CONTRIBUTING.md
  package.json
  quasar.config.ts
  vitest.config.mts
Labels: documentation, github_actions

chore: bump version to v25.12.2-beta.4 [skip ci]
  package.json
Labels: none

Add GitHub Actions workflow for translation
  .github/workflows/translator.yml
Labels: github_actions

Update GitHub Translate Action version to 1.1.2
  .github/workflows/translator.yml
Labels: github_actions

Update translator.yml
  .github/workflows/translator.yml
Labels: github_actions

Update GitHub Translate Action to version 1.0.1
  .github/workflows/translator.yml
Labels: github_actions

Update GitHub Translate Action to version 1.0.2
  .github/workflows/translator.yml
Labels: github_actions

Update GitHub Translate Action to version 1.0.3
  .github/workflows/translator.yml
Labels: github_actions

Upgrade translate action to v1.0.4 and configure sections
  .github/workflows/translator.yml
Labels: github_actions

Remove unused import of PLATFORM constant
  src-electron/main/window/window-main.ts
Labels: none

fix: add 'src-electron/'
  src-electron/main/window/window-timer.ts
Labels: none

fix: 'src-electron'
  src-electron/main/ipc.ts
Labels: none

chore: update resolutions
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: update resolutions
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: update resolutions
  package.json
  yarn.lock
Labels: dependencies, javascript

Revert "chore: update resolutions"
  package.json
  yarn.lock
Labels: dependencies, javascript

Revert "chore: update resolutions"
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Italian
  src/i18n/it.json
Labels: none

chore: bump version to v25.12.2-beta.5 [skip ci]
  package.json
Labels: none

fix: linting and key issues
  src/components/dialog/DialogCongregationLookup.vue
  src/components/dialog/DialogJwpubMediaPicker.vue
Labels: none

chore: ignore "OSStatus error -60006" errors
  src-electron/main/updater.ts
Labels: none

chore: bump version to v25.12.2-beta.6 [skip ci]
  package.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

chore: bump version to v25.12.2-beta.7 [skip ci]
  package.json
Labels: none

fix: add missing search/filter to language picker in Setup Wizard
  src/pages/SetupWizard.vue
Labels: none

chore: add strings to properly represent media window appearance in Setup Wizard (sign vs other languages)
  src/i18n/en.json
Labels: none

fix: attempt to fetch media in correct order: settings lang, media lang, alt media lang, settings fallback lang
  src/helpers/jw-media.ts
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
