Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations (#4097)
  src/i18n/cmn-hans.json
  src/i18n/pt-pt.json
  src/i18n/sl.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Portuguese, Brazilian (#4101)
  src/i18n/pt.json
Labels: none

chore: bump version to v25.2.2-beta.3 [skip ci]
  package.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian (#4104)
  src/i18n/et.json
Labels: none

chore: bump version to v25.2.2-beta.4 [skip ci]
  package.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Swedish (#4106)
  src/i18n/sv.json
Labels: none

fix: don't mark memorial day as regular meeting
  src/helpers/date.ts
  src/layouts/MainLayout.vue
  src/types/dates.d.ts
Labels: none

chore: add memorial dates to repo
  memorials.json
Labels: none

feat: auto fill memorial dates
  src/layouts/MainLayout.vue
  src/stores/jw.ts
  src/utils/api.ts
Labels: none

chore: check if memorial date has been set already
  src/layouts/MainLayout.vue
Labels: none

feat: show release notes in-app
  .vscode/settings.json
  crowdin.yml
  package.json
  quasar.extensions.json
  src/components/dialog/DialogAbout.vue
  src/i18n/en.json
  src/release_notes/en.md
  yarn.lock
Labels: dependencies, documentation, javascript

chore: bump version to v25.2.2-beta.5 [skip ci]
  package.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Portuguese (#4109)
  src/i18n/pt-pt.json
Labels: none

chore: bump version to v25.2.2-beta.6 [skip ci]
  package.json
Labels: none

fix: correctly import bible verses from jwlplaylist
  src/helpers/jw-media.ts
  src/helpers/mediaPlayback.ts
Labels: none

chore(deps): update deps
  .github/workflows/build.yml
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  package.json
  postcss.config.js
  quasar.config.ts
  vitest.config.mts
  yarn.lock
Labels: dependencies, documentation, github_actions, javascript

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v25.2.2-beta.7 [skip ci]
  package.json
Labels: none

feat: allow playing background music alongside videos
  package.json
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/stores/current-state.ts
Labels: none

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

fix: fetch release notes from github
  crowdin.yml
  release_notes/en.md
Labels: documentation

feat: support camera as background for sign language
  src/components/dialog/DialogDisplayPopup.vue
  src/components/header/HeaderWebsite.vue
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/stores/app-settings.ts
Labels: none

feat: support camera as background for sign language (#4119)
  src/components/dialog/DialogDisplayPopup.vue
  src/components/header/HeaderWebsite.vue
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/stores/app-settings.ts
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
