Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Italian
  docs/src/it/index.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/index.md
Labels: documentation

feat: new translations for Dutch
  docs/src/nl/index.md
Labels: documentation

feat: new translations for Portuguese
  docs/src/pt-pt/index.md
Labels: documentation

feat: new translations for Russian
  docs/src/ru/index.md
Labels: documentation

feat: new translations for Slovak
  docs/src/sk/index.md
Labels: documentation

feat: new translations for Slovenian
  docs/src/sl/index.md
Labels: documentation

feat: new translations for Swedish
  docs/src/sv/index.md
Labels: documentation

feat: new translations for Ukrainian
  docs/src/uk/index.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/index.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  docs/src/pt/index.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/index.md
Labels: documentation

feat: new translations for Tagalog
  docs/src/tl/index.md
Labels: documentation

feat: new translations for Malagasy
  docs/src/mg/index.md
Labels: documentation

feat: new translations for Swahili
  docs/src/sw/index.md
Labels: documentation

feat: new translations for Amharic
  docs/src/am/index.md
Labels: documentation

feat: new translations for Haitian Creole
  docs/src/ht/index.md
Labels: documentation

feat: new translations for Kinyarwanda
  docs/src/rw/index.md
Labels: documentation

feat: new translations for Ga
  docs/src/gaa/index.md
Labels: documentation

fix: automatically fix documentation links [skip ci]
  docs/src/am/index.md
  docs/src/cmn-hans/index.md
  docs/src/de/index.md
  docs/src/el/index.md
  docs/src/es/index.md
  docs/src/et/index.md
  docs/src/fi/index.md
  docs/src/fr/index.md
  docs/src/gaa/index.md
  docs/src/ht/index.md
  docs/src/hu/index.md
  docs/src/it/index.md
  docs/src/ko/index.md
  docs/src/mg/index.md
  docs/src/nl/index.md
  docs/src/pt-pt/index.md
  docs/src/pt/index.md
  docs/src/ro/index.md
  docs/src/ru/index.md
  docs/src/rw/index.md
  docs/src/sk/index.md
  docs/src/sl/index.md
  docs/src/sv/index.md
  docs/src/sw/index.md
  docs/src/tl/index.md
  docs/src/uk/index.md
Labels: documentation

chore: cache isUsablePath in renderer, and cache executeQuery results to avoid repeated db lookups
  src-electron/preload/sqlite.ts
  src/helpers/jw-media.ts
  src/utils/fs.ts
Labels: none

fix: add missing mocks
  test/vitest/mocks/electronApi.ts
Labels: none

fix: automatically fix documentation links [skip ci]
  docs/src/am/index.md
  docs/src/cmn-hans/index.md
  docs/src/de/index.md
  docs/src/el/index.md
  docs/src/es/index.md
  docs/src/et/index.md
  docs/src/fi/index.md
  docs/src/fr/index.md
  docs/src/gaa/index.md
  docs/src/ht/index.md
  docs/src/hu/index.md
  docs/src/it/index.md
  docs/src/ko/index.md
  docs/src/mg/index.md
  docs/src/nl/index.md
  docs/src/pt-pt/index.md
  docs/src/pt/index.md
  docs/src/ro/index.md
  docs/src/ru/index.md
  docs/src/rw/index.md
  docs/src/sk/index.md
  docs/src/sl/index.md
  docs/src/sv/index.md
  docs/src/sw/index.md
  docs/src/tl/index.md
  docs/src/uk/index.md
Labels: documentation

fix: updater tests
  src/utils/__tests__/fs.test.ts
  test/vitest/mocks/electronApi.ts
Labels: none

fix: flaky forbidden imports test
  src-electron/main/__tests__/architecture.test.ts
Labels: none

fix: automatically fix documentation links [skip ci]
  docs/src/am/index.md
  docs/src/cmn-hans/index.md
  docs/src/de/index.md
  docs/src/el/index.md
  docs/src/es/index.md
  docs/src/et/index.md
  docs/src/fi/index.md
  docs/src/fr/index.md
  docs/src/gaa/index.md
  docs/src/ht/index.md
  docs/src/hu/index.md
  docs/src/it/index.md
  docs/src/ko/index.md
  docs/src/mg/index.md
  docs/src/nl/index.md
  docs/src/pt-pt/index.md
  docs/src/pt/index.md
  docs/src/ro/index.md
  docs/src/ru/index.md
  docs/src/rw/index.md
  docs/src/sk/index.md
  docs/src/sl/index.md
  docs/src/sv/index.md
  docs/src/sw/index.md
  docs/src/tl/index.md
  docs/src/uk/index.md
Labels: documentation

fix: automatically fix documentation links [skip ci]
  docs/src/am/index.md
  docs/src/cmn-hans/index.md
  docs/src/de/index.md
  docs/src/el/index.md
  docs/src/es/index.md
  docs/src/et/index.md
  docs/src/fi/index.md
  docs/src/fr/index.md
  docs/src/gaa/index.md
  docs/src/ht/index.md
  docs/src/hu/index.md
  docs/src/it/index.md
  docs/src/ko/index.md
  docs/src/mg/index.md
  docs/src/nl/index.md
  docs/src/pt-pt/index.md
  docs/src/pt/index.md
  docs/src/ro/index.md
  docs/src/ru/index.md
  docs/src/rw/index.md
  docs/src/sk/index.md
  docs/src/sl/index.md
  docs/src/sv/index.md
  docs/src/sw/index.md
  docs/src/tl/index.md
  docs/src/uk/index.md
Labels: documentation

chore: bump version to v26.1.8-beta.6 [skip ci]
  package.json
Labels: none

chore: cache fetchRaw when possible
  src-electron/main/utils.ts
  src/constants/media.ts
  src/helpers/fonts.ts
  src/helpers/jw-media.ts
  src/stores/jw.ts
  src/utils/__tests__/api.test.ts
  src/utils/api.ts
Labels: none

chore: bump version to v26.1.8-beta.7 [skip ci]
  package.json
Labels: none

feat: new translations for Hungarian
  docs/src/hu/index.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/settings-guide.md
Labels: documentation

chore: added isMachineWideAlreadyLogged to reduce verbosity
  src-electron/main/utils.ts
Labels: none

fix: zip issues
  src-electron/main/fs.ts
  src/helpers/cleanup.ts
  src/helpers/jw-media.ts
  src/helpers/media-sections.ts
  src/helpers/mediaPlayback.ts
  src/helpers/usage.ts
  src/pages/MediaPlayerPage.vue
Labels: none

chore: bump version to v26.1.8-beta.8 [skip ci]
  package.json
Labels: none

fix: automatically fix documentation links [skip ci]
  docs/src/hu/index.md
Labels: documentation

Refactor beta release cleanup process
  .github/workflows/beta-release.yml
Labels: github_actions

Fix beta release fetching and deletion logic
  .github/workflows/beta-release.yml
Labels: github_actions

fix: remove "inline-actions" param from banners
  src/components/ui/AnnouncementBanner.vue
  src/pages/MediaCalendarPage.vue
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
