Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations (#4037)
  src/i18n/cmn-hans.json
  src/i18n/nl.json
  src/i18n/pt.json
Labels: none

docs: improve seo
  docs/.vitepress/config.mts
  docs/src/public/robots.txt
  docs/utils/locales.ts
Labels: documentation

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations (#4039)
  src/i18n/et.json
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Swedish (#4048)
  src/i18n/sv.json
Labels: none

chore: bump node target
  quasar.config.ts
Labels: none

ci: bump node
  .github/workflows/docs.yml
Labels: github_actions

ci: bump node
  .github/workflows/build.yml
Labels: github_actions

chore(deps): update deps
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v25.2.1-beta.0 [skip ci]
  package.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Tagalog (#4053)
  src/i18n/tl.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Ukrainian (#4057)
  src/i18n/uk.json
Labels: none

chore: bump version to v25.2.1-beta.1 [skip ci]
  package.json
Labels: none

fix: correctly set obs scenes for website presentation
  src/components/header/HeaderWebsite.vue
Labels: none

feat: auto cleanup old export date folders
  src/helpers/cleanup.ts
Labels: none

feat: allow force obs reconnect
  src/components/media/ObsStatus.vue
Labels: none

chore: correctly set disabled state
  src/components/media/ObsStatus.vue
Labels: none

chore: bump version to v25.2.1-beta.2 [skip ci]
  package.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Finnish (#4061)
  src/i18n/fi.json
Labels: none

chore: bump version to v25.2.1-beta.3 [skip ci]
  package.json
Labels: none

chore: update changelog
  CHANGELOG.md
Labels: documentation

fix: prevent parsing jwlplaylist as date
  src/helpers/cleanup.ts
Labels: none

chore: prevent catching YAMLException
  src-electron/main/updater.ts
Labels: none

chore: bump version to v25.2.1-beta.4 [skip ci]
  package.json
Labels: none

fix: playlist files sometimes don't import images with certain extensions properly
  src/constants/media.ts
  src/helpers/mediaPlayback.ts
  yarn.lock
Labels: dependencies, javascript

chore(release): v25.2.1
  CHANGELOG.md
  package.json
Labels: documentation

chore: add eslint-vitest plugin
  eslint.config.js
  package.json
  src/components/demo-vitest/__tests__/LayoutComponent.test.ts
  yarn.lock
Labels: dependencies, javascript

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

style: fix type error
  src/stores/index.ts
Labels: none

feat: optimize smart cache clearing
  src/components/header/HeaderSettings.vue
Labels: none

chore: bump version to v25.2.2-beta.0 [skip ci]
  package.json
Labels: none

feat: auto memorial background
  src/components/dialog/DialogDisplayPopup.vue
  src/components/form-inputs/DateInput.vue
  src/constants/settings.ts
  src/helpers/jw-media.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/pages/SettingsPage.vue
  src/types/settings.d.ts
Labels: none
