Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

chore: update announcements
  announcements.json
Labels: none

fix: electronApi issues
  src/helpers/cleanup.ts
  src/helpers/fs.ts
  src/helpers/jw-media.ts
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian (#3764)
  src/i18n/sl.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for Spanish (#3765)
  src/i18n/es.json
Labels: none

chore: bump version to v24.12.2-beta.3 [skip ci]
  package.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian (#3767)
  src/i18n/et.json
Labels: none

chore: catch fallback font error
  src/helpers/fonts.ts
Labels: none

chore: add error message to fetch error
  src-electron/main/utils.ts
  src/utils/api.ts
Labels: none

ci: add sentry source maps var
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  quasar.config.ts
Labels: github_actions

ci: fix source map var type
  .github/workflows/beta-release.yml
  .github/workflows/ci.yml
Labels: github_actions

chore: log source maps var
  quasar.config.ts
Labels: none

chore: debug
  quasar.config.ts
Labels: none

chore: debug
  .github/workflows/ci.yml
  quasar.config.ts
Labels: github_actions

chore: debug
  quasar.config.ts
Labels: none

ci: only upload source maps for master branch
  quasar.config.ts
Labels: none

ci: add todo
  .github/workflows/ci.yml
Labels: github_actions

chore: don't dismiss announcement multiple times
  src/stores/congregation-settings.ts
Labels: none

chore: improve announcements filter
  src/components/ui/AnnouncementBanner.vue
Labels: none

fix: improve update settings indicators
  src/components/header/HeaderBase.vue
Labels: none

fix: correctly handle chokidar error
  src-electron/main/fs.ts
Labels: none

chore: adjust badge position
  src/components/header/HeaderBase.vue
Labels: none

docs: translate code copy feature
  docs/locales/en.json
  docs/locales/nl.json
  docs/utils/locales.ts
Labels: documentation

feat: new translations for Portuguese, Brazilian
  docs/locales/pt.json
Labels: documentation

feat: new translations for Spanish
  docs/locales/es.json
Labels: documentation

feat: new translations for Romanian
  docs/locales/ro.json
Labels: documentation

feat: new translations for French
  docs/locales/fr.json
Labels: documentation

feat: new translations for German
  docs/locales/de.json
Labels: documentation

feat: new translations for Greek
  docs/locales/el.json
Labels: documentation

feat: new translations for Finnish
  docs/locales/fi.json
Labels: documentation

feat: new translations for Hungarian
  docs/locales/hu.json
Labels: documentation

feat: new translations for Italian
  docs/locales/it.json
Labels: documentation

feat: new translations for Portuguese
  docs/locales/pt-pt.json
Labels: documentation

feat: new translations for Russian
  docs/locales/ru.json
Labels: documentation

feat: new translations for Slovenian
  docs/locales/sl.json
Labels: documentation

feat: new translations for Swedish
  docs/locales/sv.json
Labels: documentation

feat: new translations for Ukrainian
  docs/locales/uk.json
Labels: documentation

feat: new translations for Chinese Simplified
  docs/locales/cmn-hans.json
Labels: documentation
