Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations for Ga
  src/i18n/gaa.json
Labels: none

feat: new translations (#5319)
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/gaa.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/ko.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/faq.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/index.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/user-guide.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/download.md
Labels: documentation

fix: automatically fix documentation links [skip ci]
  docs/src/cmn-hans/index.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/faq.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/index.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/settings-guide.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/user-guide.md
Labels: documentation

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian
  docs/src/et/faq.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/download.md
Labels: documentation

fix: automatically fix documentation links [skip ci]
  docs/src/cmn-hans/index.md
Labels: documentation

chore: bump version to v25.11.1-beta.3 [skip ci]
  package.json
Labels: none

feat: new translations for Estonian
  docs/src/et/faq.md
Labels: documentation

feat: new translations (#5321)
  docs/src/cmn-hans/faq.md
  docs/src/cmn-hans/settings-guide.md
  docs/src/cmn-hans/user-guide.md
  docs/src/et/download.md
  docs/src/et/faq.md
  release-notes/et.md
  src/i18n/et.json
Labels: documentation

Add 'timer' option to SettingsItemSubgroup
  src/types/settings.d.ts
Labels: none

feat: add adaptive timing for WT and CBS
  src/components/dialog/DialogTimerPopup.vue
  src/i18n/en.json
Labels: none

feat: add setting to see 'current' time/clock display on button
  src/components/dialog/DialogTimerPopup.vue
  src/components/media/TimerButton.vue
  src/constants/settings.ts
  src/i18n/en.json
  src/types/settings.d.ts
Labels: none

chore: timerpageready -> timer-page-ready
  src/components/dialog/DialogTimerPopup.vue
  src/pages/TimerPage.vue
Labels: none

fix: various UI disaply issues
  src/components/dialog/DialogTimerPopup.vue
  src/i18n/en.json
Labels: none

fix: adaptive duration is maxed out properly
  src/components/dialog/DialogTimerPopup.vue
  src/i18n/en.json
Labels: none

feat: add icons to timer items, and set adaptive by default
  src/components/dialog/DialogTimerPopup.vue
Labels: none

fix: replace macos-13 with macos-15-intel in build actions
  .github/workflows/build.yml
  .mergify.yml
Labels: github_actions

ci(Mergify): configuration update
  .mergify.yml
Labels: none

chore: make jw-icons into a constant
  src/components/dialog/DialogPublicationMedia.vue
  src/constants/jw-icons.ts
  src/helpers/media-sections.ts
  src/pages/MediaCalendarPage.vue
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Finnish
  docs/src/fi/faq.md
Labels: documentation

feat: new translations for Finnish
  docs/src/fi/index.md
Labels: documentation

feat: new translations for Finnish
  docs/src/fi/user-guide.md
Labels: documentation

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Swedish
  docs/src/sv/faq.md
Labels: documentation

feat: new translations for Swedish
  docs/src/sv/user-guide.md
Labels: documentation

fix: automatically fix documentation links [skip ci]
  docs/src/fi/index.md
Labels: documentation

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
