Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

chore: new translations for Swedish (#3526)
  docs/src/sv/faq.md
Labels: documentation

chore: new translations for Estonian
  src/i18n/et.json
Labels: none

chore: new translations for Estonian (#3528)
  src/i18n/et.json
Labels: none

chore: bump yarn
  .yarn/releases/yarn-4.5.2.cjs
  .yarnrc.yml
  package.json
Labels: none

chore: improve prettierignore
  .prettierignore
  .vscode/settings.json
Labels: none

ci: cleanup workflows
  .github/workflows/cache.yml
  .github/workflows/discussions.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/labels.yml
  .github/workflows/stale.yml
Labels: github_actions

docs: fix og:title tag
  docs/.vitepress/config.mts
Labels: documentation

ci: cleanup workflows
  .github/workflows/build.yml
  .github/workflows/docs.yml
Labels: github_actions

docs: fix og:title tag
  docs/.vitepress/config.mts
  docs/utils/general.ts
Labels: documentation

ci: allow to run stale workflow manually
  .github/workflows/stale.yml
Labels: github_actions

ci: cleanup
  .github/workflows/cache.yml
  .github/workflows/crowdin.yml
  .github/workflows/stale.yml
Labels: github_actions

ci: auto respond to translation requests
  .github/workflows/responder.yml
Labels: github_actions

ci: fix responder permissions
  .github/workflows/responder.yml
Labels: github_actions

chore: new translations for Slovenian
  src/i18n/sl.json
Labels: none

ci: improve responder workflow
  .github/workflows/responder.yml
Labels: github_actions

chore: new translations for Slovenian (#3531)
  src/i18n/sl.json
Labels: none

ci: improve responder workflow
  .github/workflows/responder.yml
Labels: github_actions

ci: improve translation request response
  .github/workflows/responder.yml
Labels: github_actions

chore: improve templates
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

ci: improve responder workflow
  .github/workflows/responder.yml
Labels: github_actions

chore: improve templates
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
  .github/DISCUSSION_TEMPLATE/translations.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

chore: improve bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

chore: improve issue and discussion links
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-a.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  SUPPORT.md
Labels: documentation

fix: move public talk media higher in the list
  src/components/header/HeaderCalendar.vue
Labels: none

chore: add section type to array
  src/helpers/jw-media.ts
Labels: none

refactor: improve invalid setting logic
  src/helpers/general.ts
  src/pages/SettingsPage.vue
  src/stores/current-state.ts
Labels: none

feat: use title for export folder items
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
Labels: none

fix: correct list hover color
  src/components/header/HeaderCalendar.vue
  src/components/media/MediaItem.vue
  src/css/app.scss
Labels: none

fix: body scroll
  index.html
  src/layouts/MainLayout.vue
Labels: none

fix: add missing custom-scrolls
  index.html
  src/components/dialog/DialogRemoteVideo.vue
  src/components/header/HeaderSettings.vue
  src/components/media/MediaItem.vue
Labels: none

refactor: remove remaining scroll areas
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogObsPopup.vue
  src/components/dialog/DialogStudyBible.vue
  src/components/media/DragAndDropper.vue
  src/components/media/PublicTalkMediaPicker.vue
  src/composables/useScrollbar.ts
Labels: none

chore: remove extra space
  README.md
Labels: documentation

chore: improve translations template
  .github/DISCUSSION_TEMPLATE/translations.yml
Labels: none

fix: trim export file path as needed
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
Labels: none

chore: new translations for Italian
  src/i18n/it.json
Labels: none

chore: new translations for Italian (#3532)
  src/i18n/it.json
Labels: none

fix: remove custom-scroll class; fix SongPicker
  src/components/media/SongPicker.vue
  src/css/app.scss
  src/layouts/MainLayout.vue
Labels: none

fix: DialogRemoteVideo
  src/components/dialog/DialogRemoteVideo.vue
Labels: none

fix: PublicTalkMediaPicker.vue
  src/components/media/PublicTalkMediaPicker.vue
Labels: none

fix: MediaItem.vue
  src/components/media/MediaItem.vue
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
