Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

fix: add countdown note about main display
  src/i18n/en.json
Labels: none

fix: harmonize over-time vs overtime
  src/i18n/en.json
Labels: none

fix: remove unneeded external-modules.d.ts
  src/components/dialog/DialogTimerPopup.vue
  src/types/external-modules.d.ts
Labels: none

fix: remove unneeded TimerPreferences interface
  src/stores/app-settings.ts
  src/types/settings.d.ts
Labels: none

fix: remove word "lateness"
  src/i18n/en.json
Labels: none

fix: min/max time formatting
  src/composables/useTimer.ts
Labels: none

fix: minor UI tweaks
  src/components/dialog/DialogTimerPopup.vue
  src/constants/jw-icons.ts
Labels: none

chore: minor UI tweaks
  src/components/dialog/DialogTimerPopup.vue
  src/components/form-inputs/SelectInput.vue
  src/composables/useTimer.ts
  src/constants/settings.ts
  src/i18n/en.json
  src/types/settings.d.ts
Labels: none

fix: remove unused i18n keys
  src/components/dialog/DialogTimerPopup.vue
  src/i18n/en.json
Labels: none

feat: add auto-open timer window setting
  src/constants/settings.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/types/settings.d.ts
Labels: none

feat: new translations for Hungarian
  docs/src/hu/faq.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/settings-guide.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/download.md
Labels: documentation

chore: various minor fixes
  src-electron/main/ipc.ts
  src-electron/main/zoom-helper-manager.ts
  src/components/dialog/DialogZoomMeetingManagerPopup.vue
  src/helpers/zoom.ts
  src/stores/current-state.ts
  test/vitest/mocks/electronApi.ts
  test/vitest/setup/setup.electron.ts
Labels: none

fix: stop sharing wasn't working properly
  src-electron/main/ipc.ts
  src/helpers/zoom.ts
  src/types/electron.d.ts
  uia_helper.py
Labels: none

fix: test
  src-electron/main/__tests__/session.test.ts
  src-electron/main/session.ts
Labels: none

Optimize Zoom UIA helper and automate helper lifecycle
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src-electron/main/zoom-helper-manager.ts
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogZoomMeetingManagerPopup.vue
  src/constants/settings.ts
  src/helpers/zoom.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/types/electron.d.ts
  src/types/settings.d.ts
  uia_helper.py
Labels: none

chore: bump version to v26.3.3-beta.3 [skip ci]
  package.json
Labels: none

Add shared-path health probe with silent backoff
  src-electron/main/disk-space.ts
  src-electron/main/downloads.ts
  src-electron/main/fs.ts
  src/utils/fs.ts
Labels: none

fix: mock
  src-electron/main/ipc.ts
  test/vitest/mocks/electronApi.ts
Labels: none

fix: setTag wasn't cooperating with tests
  src-electron/main/fs.ts
Labels: none

fix: use upath when possible instead of node:path
  src-electron/main/__tests__/architecture.test.ts
  src-electron/main/ffmpeg.ts
Labels: none

fix: move checkDiskSpace import to when needed
  src-electron/main/disk-space.ts
Labels: none

Use yarn.lock from master
  yarn.lock
Labels: dependencies, javascript

chore: update yarn.lock
  yarn.lock
Labels: dependencies, javascript

chore: add missing i18n labels
  src/components/dialog/DialogTimerPopup.vue
  src/composables/useTimer.ts
  src/constants/settings.ts
  src/i18n/en.json
  src/pages/TimerPage.vue
  src/types/settings.d.ts
  src/types/timer.d.ts
Labels: none

chore: updateTimerWindow when congregation changes too
  src/components/dialog/DialogTimerPopup.vue
Labels: none

chore: add beta tag to timer feature, and rename integrations section to better reflect what it does
  src/constants/settings.ts
  src/i18n/en.json
Labels: none

chore: add beta setting badge tooltip
  src/i18n/en.json
  src/pages/SettingsPage.vue
Labels: none

Use yarn.lock from master
  yarn.lock
Labels: dependencies, javascript

chore: update yarn.lock
  yarn.lock
Labels: dependencies, javascript

chore: update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

Move setTimerWindowVisible method in current-state.ts
  src/stores/current-state.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none
