Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Hungarian
  docs/src/hu/index.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/index.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/index.md
Labels: documentation

feat: new translations for Dutch
  docs/src/nl/index.md
Labels: documentation

feat: new translations for Portuguese
  docs/src/pt-pt/index.md
Labels: documentation

feat: new translations for Russian
  docs/src/ru/index.md
Labels: documentation

feat: new translations for Slovenian
  docs/src/sl/index.md
Labels: documentation

feat: new translations for Swedish
  docs/src/sv/index.md
Labels: documentation

feat: new translations for Ukrainian
  docs/src/uk/index.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/index.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  docs/src/pt/index.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/index.md
Labels: documentation

feat: new translations for Tagalog
  docs/src/tl/index.md
Labels: documentation

feat: new translations for Swahili
  docs/src/sw/index.md
Labels: documentation

fix: docs lang logic
  .github/workflows/build.yml
  .github/workflows/docs.yml
  docs/.vitepress/config.mts
  docs/src/en/index.md
  package.json
Labels: documentation, github_actions

fix: remove sk
  docs/locales/index.ts
  docs/locales/sk.json
  docs/src/sk/about.md
  docs/src/sk/download.md
  docs/src/sk/faq.md
  docs/src/sk/index.md
  docs/src/sk/settings-guide.md
  docs/src/sk/user-guide.md
  src/constants/locales.ts
  src/i18n/index.ts
  src/i18n/sk.json
Labels: documentation

fix: docs tests
  docs/utils/__tests__/locales.test.ts
Labels: documentation

fix: doc links script
  docs/utils/fix-doc-links.mjs
Labels: documentation

fix: update docs scripts
  package.json
Labels: none

fix: docs config script
  docs/.vitepress/config.mts
Labels: documentation

feat: new translations for French
  docs/src/fr/index.md
Labels: documentation

feat: new translations for Swedish
  docs/src/sv/index.md
Labels: documentation

Add beta Zoom Meeting Manager window controls and settings
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-zoom-meeting-manager.ts
  src-electron/preload/website.ts
  src/components/dialog/DialogZoomMeetingManagerPopup.vue
  src/components/media/ZoomMeetingManagerButton.vue
  src/components/ui/ActionIsland.vue
  src/constants/settings.ts
  src/i18n/en.json
  src/types/electron.d.ts
  src/types/settings.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

Revert "Add beta Zoom Meeting Manager integration and action-island controls"
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-zoom-meeting-manager.ts
  src-electron/preload/website.ts
  src/components/dialog/DialogZoomMeetingManagerPopup.vue
  src/components/media/ZoomMeetingManagerButton.vue
  src/components/ui/ActionIsland.vue
  src/constants/settings.ts
  src/i18n/en.json
  src/types/electron.d.ts
  src/types/settings.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

ci(Mergify): configuration update
  .mergify.yml
Labels: none

Improve Zoom Meeting Manager login and media capture flow
  src-electron/constants.ts
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src-electron/main/security.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-zoom-meeting-manager.ts
  src-electron/preload/website.ts
  src/components/dialog/DialogZoomMeetingManagerPopup.vue
  src/components/media/ZoomMeetingManagerButton.vue
  src/components/ui/ActionIsland.vue
  src/constants/settings.ts
  src/i18n/en.json
  src/types/electron.d.ts
  src/types/settings.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

ci(Mergify): configuration update
  .mergify.yml
Labels: none

Add verbose Zoom capture diagnostics and trust Optimizely CDN
  src-electron/constants.ts
  src-electron/main/window/window-zoom-meeting-manager.ts
Labels: none

Add getDisplayMedia patch instrumentation for Zoom share debugging
  src-electron/main/window/window-zoom-meeting-manager.ts
Labels: none

chore: bump version to v26.2.5-beta.8 [skip ci]
  package.json
Labels: none

feat: add pinyin song substitution for CHS meetings
  src/components/header/HeaderCalendar.vue
  src/constants/settings.ts
  src/helpers/jw-media.ts
  src/i18n/cmn-hans.json
  src/i18n/en.json
  src/i18n/ko.json
  src/pages/MediaCalendarPage.vue
  src/pages/SettingsPage.vue
  src/types/settings.d.ts
Labels: none

ci(Mergify): configuration update
  .mergify.yml
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
