Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

chore: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

chore: new translations for Portuguese, Brazilian (#3693)
  src/i18n/pt.json
Labels: none

chore: new translations for Italian
  src/i18n/it.json
Labels: none

chore: new translations for Italian (#3694)
  src/i18n/it.json
Labels: none

fix: download popup scroll issue; spinner icon display glitch
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/media/DownloadStatus.vue
  src/types/media.d.ts
Labels: none

fix: add missing string for hebrew, aramaic and greek scriptures
  src/i18n/en.json
Labels: none

feat: allow time entry for custom durations; show time elapsed and remaining during video playback (#3661)
  src/components/dialog/DialogAudioBible.vue
  src/components/media/MediaItem.vue
  src/css/app.scss
  src/helpers/cleanup.ts
  src/helpers/jw-media.ts
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/stores/app-settings.ts
  src/stores/jw.ts
  src/types/media.d.ts
  src/utils/time.ts
Labels: none

fix: some bible book names would not display in some cases
  src/components/dialog/DialogAudioBible.vue
  src/helpers/jw-media.ts
Labels: none

chore: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

chore: new translations for Romanian
  src/i18n/ro.json
Labels: none

chore: new translations for French
  src/i18n/fr.json
Labels: none

chore: new translations for Spanish
  src/i18n/es.json
Labels: none

chore: new translations for German
  src/i18n/de.json
Labels: none

chore: new translations for Greek
  src/i18n/el.json
Labels: none

chore: new translations for Finnish
  src/i18n/fi.json
Labels: none

chore: new translations for Hungarian
  src/i18n/hu.json
Labels: none

chore: new translations for Italian
  src/i18n/it.json
Labels: none

chore: new translations for Dutch
  src/i18n/nl.json
Labels: none

chore: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

chore: new translations for Russian
  src/i18n/ru.json
Labels: none

chore: new translations for Slovenian
  src/i18n/sl.json
Labels: none

chore: new translations for Swedish
  src/i18n/sv.json
Labels: none

chore: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

chore: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

chore: new translations for Estonian
  src/i18n/et.json
Labels: none

chore: new translations for Malagasy
  src/i18n/mg.json
Labels: none

chore: new translations for Swahili
  src/i18n/sw.json
Labels: none

chore: new translations for Amharic
  src/i18n/am.json
Labels: none

chore: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

chore: new translations (#3698)
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/uk.json
Labels: none

fix: unify song, study bible and audio bible grids
  src/components/dialog/DialogStudyBible.vue
  src/components/media/SongPicker.vue
Labels: none

fix: decrease sensitivity on trackpad zoom
  .vscode/settings.json
  src/components/media/MediaItem.vue
Labels: none

ci: add auto beta releases
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/version-checker.yml
  crowdin.yml
  quasar.config.ts
Labels: github_actions

chore: bump version to v24.12.2-beta.0 [skip ci]
  package.json
Labels: none

chore: reset version
  package.json
Labels: none

chore: bump version to v24.12.1-beta.0 [skip ci]
  package.json
Labels: none

feat: new translations for Spanish
  docs/src/es/faq.md
Labels: documentation

feat: new translations for Spanish (#3700)
  docs/src/es/faq.md
Labels: documentation

ci: fix beta release workflow
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  package.json
Labels: github_actions

chore: bump version to v24.12.1-beta.0 [skip ci]
  package.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
