Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Hungarian
  docs/src/hu/about.md
Labels: documentation

fix: updated font url
  src/stores/jw.ts
Labels: none

fix: update icon references
  CHANGELOG.md
  src/constants/jw-icons.ts
  src/migrations/index.ts
Labels: documentation

chore: bump version to v26.1.8-beta.0 [skip ci]
  package.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Hungarian
  docs/src/hu/about.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/faq.md
Labels: documentation

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Hungarian
  docs/src/hu/faq.md
Labels: documentation

feat: new translations for Hungarian
  docs/locales/hu.json
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/download.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/faq.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/user-guide.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/faq.md
Labels: documentation

chore: add dynamic glyph mapping
  package.json
  src/components/dialog/DialogPublicationMedia.vue
  src/components/dialog/DialogSectionPicker.vue
  src/components/media/MediaSectionHeader.vue
  src/constants/jw-icons.ts
  src/helpers/fonts.ts
  src/helpers/media-sections.ts
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/types/media.d.ts
  yarn.lock
Labels: dependencies, javascript

chore: add dynamic icon font url loading when static URL fails
  src/helpers/fonts.ts
  src/stores/jw.ts
Labels: none

fix: target specific icon font as needed
  src/stores/jw.ts
Labels: none

chore: bump version to v26.1.8-beta.1 [skip ci]
  package.json
Labels: none

fix: simplify cleanPersistedStores and cleanCongregationRecord
  src/helpers/cleanup.ts
Labels: none

chore: bump version to v26.1.8-beta.2 [skip ci]
  package.json
Labels: none

fix: decompress logging
  src-electron/main/fs.ts
Labels: none

fix: add 26.1.7 migration
  src/migrations/index.ts
Labels: none

chore: bump version to v26.1.8-beta.3 [skip ci]
  package.json
Labels: none

chore: replace jwIcons const with getJwIconFromKeyword helper
  src-electron/main/fs.ts
  src/components/dialog/DialogPublicationMedia.vue
  src/components/dialog/DialogSectionPicker.vue
  src/components/media/MediaSectionHeader.vue
  src/constants/jw-icons.ts
  src/helpers/fonts.ts
  src/helpers/media-sections.ts
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/types/media.d.ts
  src/utils/api.ts
Labels: none

chore: bump version to v26.1.8-beta.4 [skip ci]
  package.json
Labels: none

chore: prevent importing code in Electron process where it could cause issues
  eslint.config.js
  src-electron/main/__tests__/architecture.test.ts
Labels: none

fix: beta-updates and disable-updates path check
  src/utils/fs.ts
Labels: none

chore: bump version to v26.1.8-beta.5 [skip ci]
  package.json
Labels: none

chore: code cleanup and moving around
  crowdin.yml
  eslint.config.js
  release-notes/cmn-hans.md
  src-electron/electron-preload.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
  src/components/dialog/DialogCustomSectionEdit.vue
  src/components/media/MediaItem.vue
  src/helpers/jw-media.ts
  src/migrations/first-run.ts
  src/pages/MediaCalendarPage.vue
  src/shared/vanilla.ts
  src/stores/congregation-settings.ts
  src/types/electron.d.ts
  src/utils/__tests__/general.test.ts
  src/utils/fs.ts
  src/utils/general.ts
  test/vitest/mocks/electronApi.ts
Labels: documentation

chore: promise caches for font setters
  src/helpers/fonts.ts
Labels: none

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for Romanian
  docs/src/ro/index.md
Labels: documentation

feat: new translations for French
  docs/src/fr/index.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/index.md
Labels: documentation

feat: new translations for German
  docs/src/de/index.md
Labels: documentation

feat: new translations for Greek
  docs/src/el/index.md
Labels: documentation

feat: new translations for Finnish
  docs/src/fi/index.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/index.md
Labels: documentation
