Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

chore: greatly improve window position memory
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-state.ts
Labels: none

chore: move throttleWithTrailing and debounce to vanilla
  src-electron/main/utils.ts
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-state.ts
  src/components/media/MediaItem.vue
  src/shared/vanilla.ts
  src/utils/general.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

chore: bump version to v26.1.9-beta.5 [skip ci]
  package.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

fix: was exporting mutable 'let' binding, now using 'const' instead: authorizedClose
  src-electron/electron-main.ts
  src-electron/main/window/window-main.ts
Labels: none

fix: was exporting mutable 'let' binding, now using 'const' instead: mainWindow
  src-electron/electron-main.ts
  src-electron/main/downloads.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src-electron/main/screen.ts
  src-electron/main/security.ts
  src-electron/main/shortcuts.ts
  src-electron/main/updater.ts
  src-electron/main/window/window-main.ts
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-website.ts
Labels: none

fix: was exporting mutable 'let' binding, now using 'const' instead: mediaWindow
  src-electron/main/ipc.ts
  src-electron/main/screen.ts
  src-electron/main/window/window-media.ts
Labels: none

fix: was exporting mutable 'let' binding, now using 'const' instead: websiteWindow
  src-electron/main/ipc.ts
  src-electron/main/window/window-website.ts
Labels: none

fix: was exporting mutable 'let' binding, now using 'const' instead: obsWebSocket
  src/components/dialog/DialogObsPopup.vue
  src/components/media/ObsStatus.vue
  src/helpers/obs.ts
  src/utils/obs.ts
Labels: none

chore: 8th round of SonarQube improvements
  src/helpers/jw-media.ts
  src/stores/jw.ts
  src/utils/sqlite.ts
Labels: none

fix: merge jw-icons font assignment
  src/css/app.scss
  src/pages/MediaPlayerPage.vue
Labels: none

fix: destructuring issue
  src-electron/electron-main.ts
  src-electron/main/downloads.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src-electron/main/screen.ts
  src-electron/main/security.ts
  src-electron/main/shortcuts.ts
  src-electron/main/updater.ts
  src-electron/main/window/window-main.ts
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-website.ts
  src/components/dialog/DialogObsPopup.vue
  src/components/media/ObsStatus.vue
  src/helpers/obs.ts
  src/utils/obs.ts
Labels: none

fix: don't use saved media window prefs if only one screen available
  src-electron/main/window/window-media.ts
Labels: none

chore: bump version to v26.1.9-beta.6 [skip ci]
  package.json
Labels: none

chore: create v26.2.0 changelog
  CHANGELOG.md
  release-notes/en.md
Labels: documentation

chore: add automatic release notes extraction based on changelog when releasing a new version
  .github/workflows/manual-release.yml
Labels: github_actions

fix: make test file deletion failure non-fatal
  src-electron/main/fs.ts
  src-electron/main/utils.ts
Labels: none

chore: add lff book to frequently used publications to prevent smart cache deletion
  src/helpers/cleanup.ts
Labels: none

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Romanian
  release-notes/ro.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Greek
  release-notes/el.md
Labels: documentation

feat: new translations for Finnish
  release-notes/fi.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Portuguese
  release-notes/pt-pt.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovak
  release-notes/sk.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Swedish
  release-notes/sv.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Tagalog
  release-notes/tl.md
Labels: documentation

feat: new translations for Malagasy
  release-notes/mg.md
Labels: documentation
