Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

fix: update strings
  src/i18n/en.json
Labels: none

chore: update yarn.lock
  yarn.lock
Labels: dependencies, javascript

fix: website was no longer displaying on the media window
  src/components/header/HeaderWebsite.vue
  src/pages/MediaPlayerPage.vue
Labels: none

chore: dedupe yarn.lock
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v25.7.1-beta.0 [skip ci]
  package.json
Labels: none

chore: improve getWeMedia magazine lookup function
  src/helpers/jw-media.ts
  yarn.lock
Labels: dependencies, javascript

chore: remove debug logging from getWeMedia and fetchMedia functions
  src/helpers/jw-media.ts
Labels: none

chore: shake, shake, shake that tree-ee
  src-electron/preload/fs.ts
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/form-inputs/FolderInput.vue
  src/components/header/HeaderSettings.vue
  src/components/media/MediaItem.vue
  src/components/media/PublicTalkMediaPicker.vue
  src/helpers/cleanup.ts
  src/helpers/export-media.ts
  src/helpers/fonts.ts
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/helpers/keyboardShortcuts.ts
  src/helpers/mediaPlayback.ts
  src/pages/MediaCalendarPage.vue
  src/stores/app-settings.ts
  src/stores/current-state.ts
  src/utils/__tests__/fs.test.ts
  src/utils/converters.ts
  src/utils/fs.ts
  src/utils/media.ts
  src/utils/migrations.ts
  src/utils/sqlite.ts
Labels: none

chore: implement initializeElectronApi in all layouts
  src/layouts/MediaPlayerLayout.vue
  src/layouts/RouteHelper.vue
  src/pages/MediaPlayerPage.vue
Labels: none

chore: enhance OBS scene switching logic to improve fade effect handling
  .vscode/settings.json
  src/pages/MediaCalendarPage.vue
Labels: none

chore: scroll into center of view for invalid settings
  src/pages/SettingsPage.vue
Labels: none

feat: improve keyboard navigation during media playback
  .vscode/settings.json
  src/components/media/MediaItem.vue
  src/components/media/MediaList.vue
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/stores/current-state.ts
Labels: none

chore: update translations progress
  README.md
Labels: documentation

chore: bump version to v25.7.1-beta.1 [skip ci]
  package.json
Labels: none

fix: add missing passive option to 2 event listeners for improved performance
  src/components/dialog/DialogFileImport.vue
  src/components/media/MediaItem.vue
Labels: none

feat: improve sorting styles for light and dark themes
  src/css/app.scss
  src/css/quasar.variables.scss
Labels: none

feat: enable multiple sort using ctrl and shift (#4573)
  .vscode/settings.json
  README.md
  package.json
  src/components/media/MediaList.vue
  src/css/app.scss
  src/css/quasar.variables.scss
  src/stores/current-state.ts
  yarn.lock
Labels: dependencies, documentation, javascript

chore: bump version to v25.7.1-beta.2 [skip ci]
  package.json
Labels: none

chore: update yarn
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Labels: none

chore: bump targets
  .github/workflows/build.yml
  CONTRIBUTING.md
  package.json
  postcss.config.js
  quasar.config.ts
  vitest.config.mts
Labels: documentation, github_actions

Refactor music state management
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/media/MusicButton.vue
  src/components/ui/ActionIsland.vue
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/gaa.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/ko.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/stores/current-state.ts
  src/utils/time.ts
Labels: none

chore: update translations progress
  README.md
Labels: documentation

fix: update music playback logic and improve meeting start conditions
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/layouts/MainLayout.vue
Labels: none

fix: prevent unnecessary updates to screen preferences
  src/components/dialog/DialogDisplayPopup.vue
Labels: none

fix: replace sanitize-html with DOMPurify for improved HTML sanitization
  package.json
  src/stores/jw.ts
  yarn.lock
Labels: dependencies, javascript

fix: enhance music playback logic with cleaned-up auto-start and auto-stop features
  src/components/dialog/DialogBackgroundMusicPopup.vue
Labels: none

fix: various bugfixes
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/helpers/jw-media.ts
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
Labels: none

chore: bump version to v25.7.1-beta.3 [skip ci]
  package.json
Labels: none

feat: add function to automatically update congregation settings with missing defaults
  src/layouts/MainLayout.vue
  src/stores/congregation-settings.ts
Labels: none

feat: add user-defined meeting stop buffer seconds setting and update related logic
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/form-inputs/SliderInput.vue
  src/constants/settings.ts
  src/i18n/en.json
  src/types/settings.d.ts
Labels: none

feat: enhance DialogAbout component with expansion items for release notes and app description
  build/icons/shimmer.svg
  src/components/dialog/DialogAbout.vue
  src/i18n/en.json
Labels: none

fix: add conditional logging for successful updates of congregations with missing settings
  src/stores/congregation-settings.ts
Labels: none

feat: enhance media fetching logic with day deduplication and detailed logging
  src/helpers/jw-media.ts
Labels: none

refactor: optimize shortcut registration logic and prevent certain calls until needed
  src/components/dialog/DialogAbout.vue
  src/components/ui/AnnouncementBanner.vue
  src/helpers/keyboardShortcuts.ts
  src/layouts/MainLayout.vue
Labels: none

fix: remove unnecessary console log
  src/layouts/MainLayout.vue
Labels: none

refactor: optimize font and MEPS info retrieval logic based on online state and URL variable changes
  src/layouts/MainLayout.vue
  src/pages/MediaPlayerPage.vue
Labels: none

fix: a lone forgotten tree will now be shaken
  src/components/dialog/DialogBackgroundMusicPopup.vue
Labels: none

refactor: enhance updateLookupPeriod logic to handle targeted CO week updates
  src/helpers/date.ts
  src/layouts/MainLayout.vue
Labels: none

refactor: enhance DialogCacheClear and HeaderSettings components for better cache management and UI responsiveness
  src/components/dialog/DialogCacheClear.vue
  src/components/header/HeaderSettings.vue
  src/i18n/en.json
Labels: none

refactor: update cache management logic to allow calling cache methods from anywhere in the app
  src/components/dialog/DialogCacheClear.vue
  src/components/header/HeaderSettings.vue
  src/helpers/cleanup.ts
  src/types/media.d.ts
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
