Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Finnish
  docs/src/fi/index.md
Labels: documentation

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Hungarian
  docs/src/hu/index.md
Labels: documentation

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Italian
  docs/src/it/index.md
Labels: documentation

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  docs/src/ko/index.md
Labels: documentation

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Dutch
  docs/src/nl/index.md
Labels: documentation

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Portuguese
  docs/src/pt-pt/index.md
Labels: documentation

Notify users on path probe errors with network folder settings
  src-electron/electron-preload.ts
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src/layouts/MainLayout.vue
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Russian
  docs/src/ru/index.md
Labels: documentation

feat: new translations for Slovenian
  docs/src/sl/index.md
Labels: documentation

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Swedish
  docs/src/sv/index.md
Labels: documentation

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Ukrainian
  docs/src/uk/index.md
Labels: documentation

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for French
  docs/src/fr/index.md
Labels: documentation

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/index.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Portuguese, Brazilian
  docs/src/pt/index.md
Labels: documentation

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian
  docs/src/et/index.md
Labels: documentation

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Tagalog
  docs/src/tl/index.md
Labels: documentation

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Swahili
  docs/src/sw/index.md
Labels: documentation

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for Spanish
  docs/src/es/index.md
Labels: documentation

Notify users on path probe errors with network folder settings (#7045)
  src-electron/electron-preload.ts
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src/layouts/MainLayout.vue
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

chore: add strings specific to network path errors
  src/i18n/en.json
  src/layouts/MainLayout.vue
Labels: none

chore: update eslint
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: minor dep updates
  package.json
  quasar.config.ts
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
