Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations (#3934)
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Portuguese, Brazilian (#3936)
  src/i18n/pt.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Portuguese, Brazilian (#3937)
  src/i18n/pt.json
Labels: none

chore: bump version to v24.12.3-beta.9 [skip ci]
  package.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian (#3939)
  src/i18n/et.json
Labels: none

fix: clarify one-time schedule change
  src/i18n/en.json
Labels: none

chore: tweak strings
  src/i18n/en.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations (#3942)
  src/i18n/nl.json
  src/i18n/sl.json
Labels: none

Include Bible import features
  README.md
Labels: documentation

chore: remove duplicate S-34 mention
  README.md
Labels: documentation

chore(readme): mention Bible import features (#3944)
  README.md
Labels: documentation

docs: add Bible import features to docs
  docs/src/en/about.md
Labels: documentation

chore(deps): update deps
  package.json
  src-electron/electron-main.ts
  src/boot/sentry.ts
  src/constants/sentry.ts
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Portuguese, Brazilian
  docs/src/pt/about.md
Labels: documentation

feat: new translations for Russian
  docs/src/ru/about.md
Labels: documentation

feat: new translations for Romanian
  docs/src/ro/about.md
Labels: documentation

feat: new translations for French
  docs/src/fr/about.md
Labels: documentation

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
