Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean (#4205)
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean (#4207)
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  docs/src/ko/index.md
Labels: documentation

feat: new translations for Korean
  docs/locales/ko.json
Labels: documentation

feat: new translations (#4209)
  docs/locales/ko.json
  docs/src/ko/index.md
  src/i18n/ko.json
Labels: documentation

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean (#4211)
  src/i18n/ko.json
Labels: none

feat: enable Korean
  src/constants/locales.ts
  src/i18n/index.ts
Labels: none

ci: update docs on locale update
  .github/workflows/docs.yml
Labels: github_actions

chore: bump version to v25.3.1-beta.8 [skip ci]
  package.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean (#4215)
  src/i18n/ko.json
Labels: none

chore: bump version to v25.3.1-beta.9 [skip ci]
  package.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean (#4217)
  src/i18n/ko.json
Labels: none

chore: bump version to v25.3.1-beta.10 [skip ci]
  package.json
Labels: none

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

refactor: remove async watchers
  src/components/dialog/DialogAbout.vue
  src/components/dialog/DialogDisplayPopup.vue
Labels: none

feat: new translations for Portuguese
  docs/src/pt-pt/faq.md
Labels: documentation

feat: new translations for Portuguese (#4226)
  docs/src/pt-pt/faq.md
Labels: documentation

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean (#4229)
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  docs/src/ko/about.md
Labels: documentation

feat: new translations for Korean
  docs/locales/ko.json
Labels: documentation

feat: new translations (#4231)
  docs/locales/ko.json
  docs/src/ko/about.md
  src/i18n/ko.json
Labels: documentation

chore: bump version to v25.3.1-beta.11 [skip ci]
  package.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  docs/src/ko/about.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/faq.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations (#4233)
  docs/src/ko/about.md
  docs/src/ko/faq.md
  docs/src/ko/using-at-a-kingdom-hall.md
  src/i18n/ko.json
Labels: documentation

feat: new translations for Korean
  docs/src/ko/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Korean (#4237)
  docs/src/ko/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Korean (#4239)
  release-notes/ko.md
Labels: documentation

chore: bump version to v25.3.1-beta.12 [skip ci]
  package.json
Labels: none
