Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  release-notes/bzs.md
Labels: documentation

feat: render media preview via canvas with high-quality downscaling
  src/components/media/MediaPreview.vue
  src/i18n/en.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

fix: preserve fs error code/syscall across Electron's contextBridge for grouping and race detection
  src/components/dialog/DialogJwPlaylist.vue
  src/helpers/error-catcher.ts
  src/helpers/jw-media.ts
  src/shared/filesystem-errors.ts
Labels: none

fix: wait for confirmed, moving playback before starting media preview
  src/components/media/MediaItem.vue
  src/components/media/MediaPreview.vue
  src/composables/useMediaSectionRepeat.ts
  src/pages/MediaCalendarPage.vue
  src/stores/current-state.ts
Labels: none

chore: downgrade verbose media section logs to debug level
  src-electron/main/session.ts
  src/composables/useMediaSection.ts
  src/helpers/keyboardShortcuts.ts
Labels: none

fix: redownload jw-icons font once if missing before falling back to static glyph map
  src/helpers/fonts.ts
Labels: none

feat: add monthly automation to refresh jw-icons fallback glyph map
  .github/workflows/refresh-jw-icons-fallbacks.yml
  package.json
  scripts/lib/jw-icons-fallback-map.mjs
  scripts/refresh-jw-icons-fallbacks.mjs
  scripts/update-jw-icons-fallbacks.mjs
  src/constants/jw-icons.ts
  src/shared/vanilla.ts
  src/stores/jw.ts
Labels: github_actions

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

fix: preserve Date objects in toRawDeep instead of flattening to {}
  src/utils/general.ts
Labels: none

fix: match "Failed to fetch" as a prefix in isFetchNetworkError
  src/shared/__tests__/network-errors.test.ts
  src/shared/network-errors.ts
Labels: none

fix: capture directory listing when ensureJpgExtension hits a genuine ENOENT
  src/components/dialog/DialogJwPlaylist.vue
Labels: none

fix: discover Wt-BaeumMyungjo/Wt-ClearText-Bold font URLs dynamically
  src/helpers/fonts.ts
  src/shared/vanilla.ts
  src/stores/jw.ts
Labels: none

fix: don't let a disabled/prefix-matching auto-export folder block the folder watcher
  src/layouts/MainLayout.vue
Labels: none
