Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

chore: new translations for Swahili
  src/i18n/sw.json
Labels: none

chore: new translations for Amharic
  src/i18n/am.json
Labels: none

chore: new translations for Ilokano
  src/i18n/ilo.json
Labels: none

chore: new translations for Romany (Southern Greece)
  src/i18n/rmn-x-rmg.json
Labels: none

chore: new translations for Pangasinan
  src/i18n/pag.json
Labels: none

chore: new translations for French
  docs/src/fr/about.md
Labels: documentation

chore: new translations for Pidgin (West Africa)
  src/i18n/wes-x-pgw.json
Labels: none

chore: new translations (#3536)
  docs/src/fr/about.md
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: documentation

chore: cleanup console
  src/pages/MediaCalendarPage.vue
Labels: none

fix: dont call mediaAccessStatus for linux
  src-electron/main/ipc.ts
Labels: none

chore: new translations for Dutch
  src/i18n/nl.json
Labels: none

chore: new translations for Dutch (#3538)
  src/i18n/nl.json
Labels: none

chore: bump deps
  CONTRIBUTING.md
  package.json
  postcss.config.cjs
  quasar.config.js
  yarn.lock
Labels: dependencies, documentation, javascript

chore: improve pr template
  .github/pull_request_template.md
Labels: documentation

chore: new translations for Swahili
  src/i18n/sw.json
Labels: none

chore: new translations for Swahili (#3540)
  src/i18n/sw.json
Labels: none

chore: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

chore: new translations for Chinese Simplified (#3542)
  src/i18n/cmn-hans.json
Labels: none

chore: new translations for Swedish
  src/i18n/sv.json
Labels: none

chore: new translations for Swedish (#3544)
  src/i18n/sv.json
Labels: none

chore: document locales setup
  src/constants/locales.ts
Labels: none

feat: groundwork to use JWPUB instead of JSON API for study Bible lookups
  .vscode/settings.json
  .yarn/releases/yarn-4.5.2.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
  src/components/dialog/DialogStudyBible.vue
  src/helpers/jw-media.ts
  src/types/jw/bible.d.ts
  src/types/jw/sqlite.d.ts
Labels: none

chore: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

chore: new translations for Portuguese, Brazilian (#3547)
  src/i18n/pt.json
Labels: none

chore: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

chore: new translations for Portuguese, Brazilian (#3548)
  src/i18n/pt.json
Labels: none

fix: correctly unset shortcuts
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src-electron/main/shortcuts.ts
  src/helpers/keyboardShortcuts.ts
  src/types/electron.d.ts
Labels: none

refactor: improve languages filter
  src/helpers/jw-media.ts
Labels: none

chore: gitignore legacy files
  .gitignore
Labels: none

chore: update lint ignores
  .eslintignore
  .prettierignore
Labels: none

chore: fix merge conflict
  .yarnrc.yml
Labels: none

chore: format files
  README.md
  src/components/dialog/DialogCacheClear.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogRemoteVideo.vue
  src/components/dialog/DialogStudyBible.vue
  src/components/form-inputs/ShortcutInput.vue
  src/components/header/HeaderBase.vue
  src/components/header/HeaderCalendar.vue
  src/components/header/HeaderSettings.vue
  src/components/media/DownloadStatus.vue
  src/components/media/MediaDisplayButton.vue
  src/components/media/MediaItem.vue
  src/components/media/MusicButton.vue
  src/components/media/ObsStatus.vue
  src/components/media/SubtitlesButton.vue
  src/components/ui/NavDrawer.vue
  src/pages/CongregationSelectorPage.vue
  src/pages/MediaCalendarPage.vue
  src/pages/SetupWizard.vue
Labels: documentation

chore(deps): update prettier
  package.json
  src/components/dialog/DialogCacheClear.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogRemoteVideo.vue
  src/components/dialog/DialogStudyBible.vue
  src/components/form-inputs/ShortcutInput.vue
  src/components/header/HeaderBase.vue
  src/components/header/HeaderCalendar.vue
  src/components/header/HeaderSettings.vue
  src/components/media/DownloadStatus.vue
  src/components/media/MediaDisplayButton.vue
  src/components/media/MediaItem.vue
  src/components/media/MusicButton.vue
  src/components/media/ObsStatus.vue
  src/components/media/SubtitlesButton.vue
  src/components/ui/NavDrawer.vue
  src/pages/CongregationSelectorPage.vue
  src/pages/MediaCalendarPage.vue
  src/pages/SetupWizard.vue
  yarn.lock
Labels: dependencies, javascript

chore: new translations for Slovenian
  src/i18n/sl.json
Labels: none

chore: new translations for Slovenian (#3549)
  src/i18n/sl.json
Labels: none

chore: update eslintignore
  .eslintignore
Labels: none

ci: improve when build workflow runs
  .github/workflows/build.yml
Labels: github_actions

chore: new translations for Slovenian
  src/i18n/sl.json
Labels: none

chore: new translations for Slovenian (#3551)
  src/i18n/sl.json
Labels: none

fix: improve verse display
  src/components/dialog/DialogStudyBible.vue
  src/i18n/en.json
  src/types/jw/sqlite.d.ts
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
