Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Spanish
  docs/src/es/faq.md
Labels: documentation

feat: new translations (#4373)
  docs/src/es/about.md
  docs/src/es/faq.md
  src/i18n/es.json
Labels: documentation

fix: enable panzoom immediately; restore immediate zoom with ctrl+scroll; keep zoom state until user resets; show zoom reset button if zoomed in
  src/components/media/MediaItem.vue
Labels: none

fix: make extra media button smaller and more compact
  src/components/media/MediaList.vue
Labels: none

chore: bump version to v25.4.4-beta.2 [skip ci]
  package.json
Labels: none

chore(deps): dedupe
  yarn.lock
Labels: dependencies, javascript

fix: add custom media to correct section
  src/pages/MediaCalendarPage.vue
Labels: none

test: fix getSpecificWeekday assertions
  src/utils/__tests__/date.test.ts
Labels: none

feat(obs): add option to delay scene change for images
  src/constants/settings.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/types/settings.d.ts
  src/utils/migrations.ts
Labels: none

fix: use new variables
  src/pages/MediaCalendarPage.vue
Labels: none

chore: bump version to v25.4.4-beta.3 [skip ci]
  package.json
Labels: none

style: fix lint error
  src/pages/MediaCalendarPage.vue
Labels: none

ci: disable stale script
  .github/workflows/stale.yml
Labels: github_actions

fix: hide, instead of skipping, last songs for CO visit (for times when CO decides to play it anyways, like week of 2025.04.28)
  src/helpers/jw-media.ts
Labels: none

fix: enable drag-and-drop sorting when image not zoomed in
  src/components/media/MediaItem.vue
Labels: none

chore(deps): dedupe
  yarn.lock
Labels: dependencies, javascript

fix: restore stop forOtherMediaItem logic
  src/components/media/MediaItem.vue
Labels: none

fix: improve visual indicator for duplicate songs
  src/components/media/MediaItem.vue
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
