Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

chore: bump version to v25.1.2-beta.6 [skip ci]
  package.json
Labels: none

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: dont catch 502 http errors
  src/utils/api.ts
Labels: none

chore: dont catch 504 http error
  src-electron/main/updater.ts
Labels: none

chore: update prettier
  package.json
  yarn.lock
Labels: dependencies, javascript

chore(release): v25.2.0
  CHANGELOG.md
  package.json
Labels: documentation

chore: update changelog
  CHANGELOG.md
Labels: documentation

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Swahili (#4032)
  src/i18n/sw.json
Labels: none

chore: update deps
  yarn.lock
Labels: dependencies, javascript

chore: update announcements
  announcements.json
Labels: none

chore: bump version to v25.2.1-beta.0 [skip ci]
  package.json
Labels: none

refactor: separate test versions from regular versions (#4007)
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  quasar.config.ts
  src-electron/constants.ts
  src-electron/electron-main.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
  src-electron/main/window/window-base.ts
  src-electron/preload/log.ts
  src/boot/sentry.ts
  src/components/dialog/DialogAbout.vue
  src/components/ui/AnnouncementBanner.vue
  src/constants/general.ts
  src/helpers/error-catcher.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/layouts/MediaPlayerLayout.vue
  src/utils/__tests__/general.test.ts
  src/utils/general.ts
Labels: github_actions

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations (#4035)
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
Labels: none

chore: revert version bump
  package.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
