Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations (#5197)
  docs/src/sl/faq.md
  src/i18n/sv.json
Labels: documentation

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Italian (#5198)
  src/i18n/it.json
Labels: none

chore: add tableExists helper function and use it to check for VideoMarker table before extraction
  src/pages/MediaCalendarPage.vue
  src/utils/sqlite.ts
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Russian
  docs/src/ru/about.md
Labels: documentation

feat: new translations for Russian
  docs/src/ru/index.md
Labels: documentation

feat: new translations for Russian
  docs/locales/ru.json
Labels: documentation

feat: new translations for Russian
  docs/src/ru/download.md
Labels: documentation

feat: new translations (#5199)
  docs/locales/ru.json
  docs/src/ru/about.md
  docs/src/ru/download.md
  docs/src/ru/index.md
  src/i18n/ru.json
Labels: documentation

Update Sentry DSN in electron-main.ts
  src-electron/electron-main.ts
Labels: none

Update Sentry DSN in session.ts
  src-electron/main/session.ts
Labels: none

fix: added missing DSN for sentry.ts
  src/boot/sentry.ts
  src/helpers/error-catcher.ts
Labels: none

docs: fix links
  docs/src/ru/index.md
Labels: documentation

fix: missing restoreAllMocks()
  src/utils/__tests__/settings.test.ts
Labels: none

feat: new translations for Russian
  docs/src/ru/index.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations (#5202)
  docs/src/ru/index.md
  release-notes/ru.md
Labels: documentation

chore: bump version to v25.10.4-beta.2 [skip ci]
  package.json
Labels: none

feat: new translations for Slovenian
  docs/src/sl/faq.md
Labels: documentation

feat: new translations for Slovenian
  docs/src/sl/user-guide.md
Labels: documentation

feat: new translations (#5206)
  docs/src/sl/faq.md
  docs/src/sl/user-guide.md
Labels: documentation

feat: add easy manual publication import from JW.org
  build/icons/bookshelf.svg
  build/icons/cloud-error-outline.svg
  build/icons/cloud-outline.svg
  src/components/dialog/DialogAudioBible.vue
  src/components/dialog/DialogPublicationMedia.vue
  src/components/header/HeaderCalendar.vue
  src/helpers/cleanup.ts
  src/i18n/en.json
  src/utils/general.ts
Labels: none

chore: automatically fix links
  .github/workflows/build.yml
Labels: github_actions

fix: automatically fix documentation links [skip ci]
  docs/src/ru/index.md
Labels: documentation

docs: added autofix for docs workflow
  .github/workflows/docs.yml
Labels: github_actions

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none
