Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Italian
  docs/src/it/about.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/faq.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/index.md
Labels: documentation

feat: new translations for Italian
  docs/locales/it.json
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/settings-guide.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/user-guide.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/download.md
Labels: documentation

feat: automate monthly README screenshot refresh via demo mode + Playwright
  .github/workflows/screenshot-refresh.yml
  package.json
  quasar.config.ts
  src-electron/constants.ts
  src-electron/electron-main.ts
  src-electron/electron-preload.ts
  src-electron/main/window/window-base.ts
  src/boot/demo-mode.ts
  src/helpers/demo-mode.ts
  src/helpers/jw-media.ts
  src/stores/jw.ts
  src/types/electron.d.ts
  test/playwright/capture.mjs
  test/playwright/run.mjs
  test/playwright/targets.mjs
  test/vitest/mocks/electronApi.ts
  yarn.lock
Labels: dependencies, github_actions, javascript

fix: add CI diagnostics and safety flags for the screenshot workflow
  .github/workflows/screenshot-refresh.yml
  test/playwright/capture.mjs
  test/playwright/run.mjs
  test/playwright/targets.mjs
Labels: github_actions

fix: block all network access at its source in demo mode
  src-electron/main/downloads.ts
  src/helpers/demo-mode.ts
  src/utils/api.ts
Labels: none

fix: properly clean up watched folders for past dates
  src/helpers/cleanup.ts
Labels: none

debug: capture a CPU profile and add close/screenshot watchdogs on failure
  test/playwright/capture.mjs
  test/playwright/run.mjs
Labels: none

fix: disable GPU process so it can't crash-loop the CI runner out of memory
  .github/workflows/screenshot-refresh.yml
  test/playwright/capture.mjs
Labels: github_actions

debug: take a screenshot every second while waiting, not just on failure
  test/playwright/capture.mjs
  test/playwright/run.mjs
Labels: none

fix: stop trusting firstWindow() — pick the main window explicitly
  test/playwright/capture.mjs
Labels: none

fix: demo mode screenshot logic
  .gitignore
  src/components/media/MediaItem.vue
  src/components/ui/AnnouncementBanner.vue
  src/helpers/demo-mode.ts
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
  test/playwright/capture.mjs
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

fix: playwright target
  test/playwright/targets.mjs
Labels: none

chore: refresh README screenshot
  docs/src/assets/m3-preview.png
Labels: documentation

fix: screenshot date and comparer
  .github/workflows/screenshot-refresh.yml
  src/components/header/HeaderBase.vue
  src/components/header/HeaderCalendar.vue
  src/helpers/demo-mode.ts
  test/playwright/capture.mjs
  test/playwright/compare-screenshot.mjs
  test/playwright/run.mjs
Labels: github_actions

fix: hardcoded HD resolution in playwright
  test/playwright/capture.mjs
Labels: none

chore: refresh README screenshot
  docs/src/assets/m3-preview.png
Labels: documentation

chore: bump version to v26.7.6-beta.1 [skip ci]
  package.json
Labels: none

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Italian
  docs/src/it/faq.md
Labels: documentation

fix: include src/utils in locales unused-key scan
  src/__tests__/locales.test.ts
Labels: none

chore: bump version to v26.7.6-beta.2 [skip ci]
  package.json
Labels: none

feat: new translations for Italian
  docs/src/it/about.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/faq.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/index.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/settings-guide.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/user-guide.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/download.md
Labels: documentation

fix: prevent study bible download progress bar from decreasing
  src/components/dialog/DialogDownloadProgress.vue
  src/helpers/jw-media.ts
Labels: none

feat: show meeting-date checking progress in downloads popup, fix popup anchoring
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogObsPopup.vue
  src/components/dialog/DialogRecordingPopup.vue
  src/components/dialog/DialogTimerPopup.vue
  src/components/media/DownloadStatus.vue
  src/components/media/MediaItem.vue
  src/constants/general.ts
  src/css/app.scss
  src/helpers/jw-media.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/stores/current-state.ts
  src/types/media.d.ts
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
