Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

fix: tsconfig and yarn updates, and rerun update-langs as a result
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  docs/locales/index.ts
  docs/tsconfig.json
  package.json
  scripts/update-langs.py
  src/constants/locales.ts
  src/i18n/index.ts
  yarn.lock
Labels: dependencies, documentation, javascript

Ignore under-threshold locales in generated indexes
  docs/locales/index.ts
  scripts/update-langs.py
  src/__tests__/locales.test.ts
Labels: documentation

fix: ignore under-threshold locales in generated indexes (#7486)
  docs/locales/index.ts
  scripts/update-langs.py
  src/__tests__/locales.test.ts
Labels: documentation

chore: bump version to v26.5.1-beta.2 [skip ci]
  package.json
Labels: none

chore: disallow emojis in Electron logs for readability
  eslint.config.js
  package.json
  src-electron/main/fs.ts
  src-electron/main/screen.ts
  yarn.lock
Labels: dependencies, javascript

chore: create loadWindowPrefs helper, use in both media and timer windows
  src-electron/constants.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-timer.ts
Labels: none

chore: refactor fullscreen logic to account for async (macOS) vs sync fullscreen transitions, now platform agnostic and simpler
  src-electron/main/window/window-media.ts
Labels: none

fix window test
  src-electron/main/__tests__/window-media.test.ts
Labels: none

feat: new translations for French
  docs/src/fr/download.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/download.md
Labels: documentation

feat: new translations for German
  docs/src/de/download.md
Labels: documentation

feat: new translations for Dutch
  docs/src/nl/download.md
Labels: documentation

feat: new translations for Russian
  docs/src/ru/download.md
Labels: documentation

feat: new translations for Ukrainian
  docs/src/uk/download.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  docs/src/pt/download.md
Labels: documentation

chore: streamline docs workflow
  .github/workflows/build.yml
  .github/workflows/docs.yml
Labels: github_actions

feat: new translations for Slovenian
  docs/src/sl/index.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/faq.md
Labels: documentation

feat: new translations for German
  docs/src/de/faq.md
Labels: documentation

feat: new translations for Dutch
  docs/src/nl/faq.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  docs/src/pt/faq.md
Labels: documentation

feat: new translations for French
  docs/src/fr/index.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/index.md
Labels: documentation

feat: new translations for German
  docs/src/de/index.md
Labels: documentation

feat: new translations for Dutch
  docs/src/nl/index.md
Labels: documentation

feat: new translations for Russian
  docs/src/ru/index.md
Labels: documentation

feat: new translations for Ukrainian
  docs/src/uk/index.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  docs/src/pt/index.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/index.md
Labels: documentation

feat: new translations for French
  docs/src/fr/download.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/download.md
Labels: documentation

feat: new translations for German
  docs/src/de/download.md
Labels: documentation

feat: new translations for Dutch
  docs/src/nl/download.md
Labels: documentation

feat: new translations for Russian
  docs/src/ru/download.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  docs/src/pt/download.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  docs/src/bzs/index.md
Labels: documentation

chore: bump version to v26.5.1-beta.3 [skip ci]
  package.json
Labels: none

Split suggestions from meeting-details lookup flow
  src/components/dialog/DialogCongregationLookup.vue
  src/helpers/congregation-schedule.ts
  src/migrations/auto-enroll-meeting-sync.ts
  src/types/congregation-lookups.d.ts
Labels: none

chore: implement fullscreen idempotency check - calculateAutoTarget
  src-electron/main/window/window-media.ts
Labels: none

chore: refactor fullscreen or maximised check into a reusable function, and add more idempotency check
  src-electron/main/window/window-media.ts
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
