Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

Handle memorial recache when fileUrl is missing (#6924)
  src/pages/MediaCalendarPage.vue
Labels: none

refactor: centralize renderer platform detection
  src/pages/SettingsPage.vue
  src/stores/current-state.ts
  src/utils/platform.ts
Labels: none

refactor: centralize renderer platform detection (#6926)
  src/pages/SettingsPage.vue
  src/stores/current-state.ts
  src/utils/platform.ts
Labels: none

Use Electron.Rectangle for normalized media bounds
  src-electron/main/__tests__/window-media.test.ts
  src-electron/main/window/window-media.ts
Labels: none

fix: Use Electron.Rectangle for normalized media bounds (#6941)
  src-electron/main/__tests__/window-media.test.ts
  src-electron/main/window/window-media.ts
Labels: none

Restrict timer preferred-screen reuse to non-main non-media displays
  src-electron/main/window/window-timer.ts
  src/components/dialog/DialogTimerPopup.vue
Labels: none

Fix timer mainWindowScreen redeclaration in move logic
  src-electron/main/window/window-timer.ts
Labels: none

Clarify timer fullscreen pathing and gate preferred screen to >3 displays
  src-electron/main/window/window-timer.ts
Labels: none

Tighten timer screen picker constraints and retrigger on media/timer changes
  src-electron/main/ipc.ts
  src-electron/main/window/window-main.ts
  src/components/dialog/DialogTimerPopup.vue
Labels: none

Avoid showing timer target icon on media-hosting screen
  src/components/dialog/DialogTimerPopup.vue
Labels: none

Avoid test-time electron import cycle in main window timer sync
  src-electron/main/window/window-main.ts
Labels: none

chore: Prefer non-main/non-media display for fullscreen timer and hide fullscreen controls on <=2 screens (#6943)
  src-electron/main/ipc.ts
  src-electron/main/window/window-main.ts
  src-electron/main/window/window-timer.ts
  src/components/dialog/DialogTimerPopup.vue
Labels: none

fix: ensure Memorial date is properly selected when it's the next scheduled event, and ensure to recache necessary media as needed
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
Labels: none

chore: v26.3.3 changelog
  CHANGELOG.md
Labels: documentation

fix: v26.3.3 is now v26.4.0
  CHANGELOG.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Finnish
  release-notes/fi.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Portuguese
  release-notes/pt-pt.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Swedish
  release-notes/sv.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Tagalog
  release-notes/tl.md
Labels: documentation

feat: new translations for Swahili
  release-notes/sw.md
Labels: documentation

Remove serialize-javascript resolution from package.json
  package.json
Labels: none

Update vite resolution in package.json
  package.json
Labels: none

chore: update yarn.lock
  yarn.lock
Labels: dependencies, javascript

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none
