Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  release-notes/bzs.md
Labels: documentation

docs: record Electron 44 cutover progress and the robotjs PR follow-up
  ELECTRON-44-CUTOVER.md
Labels: documentation

ci(robotjs): drop the 32-bit Windows native build
  .github/workflows/build.yml
Labels: github_actions

docs: record the robotjs PR cleanup and the Electron 44 breaking-changes audit
  ELECTRON-44-CUTOVER.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

fix(sqlite): re-extract a publication database left unreadable by a crash
  CHANGELOG.md
  src-electron/electron-preload.ts
  src-electron/main/__tests__/sqlite.test.ts
  src-electron/main/ipc.ts
  src-electron/main/sqlite.ts
  src/helpers/__tests__/jw-media.test.ts
  src/helpers/jw-media.ts
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
Labels: documentation

chore(deps): adapt to @sentry/electron v8 and move to 8.1.0
  package.json
  quasar.config.ts
  src-electron/electron-main.ts
  src-electron/package.json
  src-electron/yarn.lock
  yarn.lock
Labels: dependencies, javascript

fix(dialogs): make custom background picker closable and encode playlist preview URLs
  CHANGELOG.md
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogJwPlaylist.vue
  src/components/dialog/__tests__/DialogDisplayPopup.test.ts
  src/components/dialog/__tests__/DialogJwPlaylist.test.ts
Labels: documentation

test: adapt msw mocks to msw 3
  test/vitest/mocks/http.ts
  vitest.config.mts
Labels: none

chore(dependabot): ignore typescript 7.0.x
  .github/dependabot.yml
Labels: dependencies, github_actions

chore(dependabot): ignore typescript 7.0.x (#9502)
  .github/dependabot.yml
Labels: dependencies, github_actions

fix(preload): report preload errors to Sentry through the main process
  CHANGELOG.md
  eslint.config.js
  src-electron/__tests__/preload-error-reporting.test.ts
  src-electron/main/ipc.ts
  src-electron/main/utils.ts
  src-electron/preload/__tests__/log.test.ts
  src-electron/preload/log.ts
  src/types/electron.d.ts
Labels: documentation

fix(media): stop reporting cut-short MP4/MP3 files as metadata-parse errors
  CHANGELOG.md
  src/utils/__tests__/media.getMetadataFromMediaPath.test.ts
  src/utils/media.ts
Labels: documentation

fix(media): stop one unloadable SVG from emptying a whole meeting's media
  CHANGELOG.md
  src/utils/__tests__/converters.test.ts
  src/utils/converters.ts
Labels: documentation

fix(export-media): don't report transient cloud-sync failures on auto-export
  CHANGELOG.md
  src/helpers/__tests__/export-media.test.ts
  src/helpers/export-media.ts
Labels: documentation

fix(media): stop reporting cut-short MP4/MP3 files as metadata-parse errors (#9504)
  CHANGELOG.md
  src/utils/__tests__/media.getMetadataFromMediaPath.test.ts
  src/utils/media.ts
Labels: documentation

fix(preload): report preload errors to Sentry through the main process (#9503)
  CHANGELOG.md
  eslint.config.js
  src-electron/__tests__/preload-error-reporting.test.ts
  src-electron/main/ipc.ts
  src-electron/main/utils.ts
  src-electron/preload/__tests__/log.test.ts
  src-electron/preload/log.ts
  src/types/electron.d.ts
Labels: documentation

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  docs/src/ko/about.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/faq.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/index.md
Labels: documentation

feat: new translations for Korean
  docs/locales/ko.json
Labels: documentation

feat: new translations for Korean
  docs/src/ko/settings-guide.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/user-guide.md
Labels: documentation

fix(media): make multi-drag reordering work and move exactly the highlighted items
  CHANGELOG.md
  src/components/media/MediaList.vue
  src/composables/__tests__/useMediaDragAndDrop.formkit.test.ts
  src/composables/useMediaDragAndDrop.ts
Labels: documentation
