Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

feat: new translations for Dutch
  docs/src/nl/faq.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for French
  docs/src/fr/user-guide.md
Labels: documentation

feat: new translations for Dutch
  docs/src/nl/user-guide.md
Labels: documentation

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for French
  docs/src/fr/user-guide.md
Labels: documentation

fix: harden Zoom automation flow
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src-electron/main/zoom-helper-manager.ts
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogZoomMeetingManagerPopup.vue
  src/components/media/MediaItem.vue
  src/helpers/__tests__/zoom.test.ts
  src/helpers/zoom.ts
  src/stores/current-state.ts
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

fix: broken test
  src-electron/main/__tests__/session.test.ts
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

refactor: remove better-sqlite3
  package.json
  quasar.config.ts
  src-electron/preload/sqlite.ts
  yarn.lock
Labels: dependencies, javascript

refactor: remove better-sqlite3 (#7918)
  package.json
  quasar.config.ts
  src-electron/preload/sqlite.ts
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v26.6.2-beta.2 [skip ci]
  package.json
Labels: none

refactor: replace jitsi robotjs with robotjs
  .github/workflows/build.yml
  package.json
  quasar.config.ts
  src-electron/electron-preload.ts
  test/vitest/mocks/electronApi.ts
  yarn.lock
Labels: dependencies, github_actions, javascript

ci: scope robotjs ia32 rebuild
  .github/workflows/build.yml
Labels: github_actions

ci: build robotjs ia32 with x86 node
  .github/workflows/build.yml
Labels: github_actions

ci: install before x86 robotjs rebuild
  .github/workflows/build.yml
Labels: github_actions

fix: node ia32 version
  .github/workflows/build.yml
Labels: github_actions

ci: prepare macos robotjs arch artifacts
  .github/workflows/build.yml
Labels: github_actions

chore: add sqlite test
  src-electron/main/__tests__/dependencies.test.ts
  src-electron/preload/sqlite.test.ts
Labels: none

chore: update download-artifact
  .github/workflows/build.yml
Labels: github_actions

fix: stabilize media drag sorting
  src/components/media/MediaList.vue
  src/composables/useMediaDragAndDrop.ts
  src/pages/MediaCalendarPage.vue
Labels: none

chore: bump version to v26.6.2-beta.3 [skip ci]
  package.json
Labels: none

fix: show fallback icon for audio without thumbnails
  src/components/__tests__/MediaItem.edge.test.ts
  src/components/media/MediaItem.vue
  src/helpers/fs.ts
Labels: none

chore: bump version to v26.6.2-beta.4 [skip ci]
  package.json
Labels: none

feat(media): support linked audio playback (useful for video slideshow, for example)
  build/icons/link.svg
  build/icons/volume-off.svg
  src/components/__tests__/MediaItem.edge.test.ts
  src/components/media/MediaItem.vue
  src/composables/useMediaSectionRepeat.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/stores/current-state.ts
Labels: none

fix: stop reporting crash-loop fallback to Sentry
  src-electron/electron-main.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
