Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

chore(release): v25.1.0
  .vscode/settings.json
  package.json
Labels: none

chore: bump version to v25.1.1-beta.0 [skip ci]
  package.json
Labels: none

chore(release): v25.1.0
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: update changelog
  CHANGELOG.md
Labels: documentation

chore: update changelog
  CHANGELOG.md
Labels: documentation

chore: update changelog
  CHANGELOG.md
Labels: documentation

refactor: simplify electron imports
  quasar.config.ts
  src-electron/electron-main.ts
  src-electron/electron-preload.ts
  src-electron/main/downloads.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src-electron/main/screen.ts
  src-electron/main/security.ts
  src-electron/main/session.ts
  src-electron/main/shortcuts.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-main.ts
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-state.ts
  src-electron/main/window/window-website.ts
  src-electron/preload/close.ts
  src-electron/preload/converters.ts
  src-electron/preload/fs.ts
  src-electron/preload/log.ts
  src-electron/preload/screen.ts
  src-electron/preload/sqlite.ts
  src-electron/preload/website.ts
  src/types/electron.d.ts
  vitest.config.mts
Labels: none

test: add fs utils tests
  .gitignore
  package.json
  src/components/ui/__tests__/AnnouncementBanner.test.ts
  src/helpers/error-catcher.ts
  src/utils/__tests__/api.test.ts
  src/utils/__tests__/fs.test.ts
  src/utils/fs.ts
  test/vitest/mocks/electronApi.ts
  test/vitest/mocks/http.ts
  test/vitest/mocks/pinia.ts
  test/vitest/setup.docs.ts
  test/vitest/setup.electron.ts
  test/vitest/setup.quasar.ts
  test/vitest/setup/setup.docs.ts
  test/vitest/setup/setup.electron.ts
  test/vitest/setup/setup.quasar.ts
  vitest.workspace.ts
  yarn.lock
Labels: dependencies, javascript

chore: update yarn lock
  yarn.lock
Labels: dependencies, javascript

test: fix getParentDirectory test
  src/utils/__tests__/fs.test.ts
Labels: none

chore: update gitignore
  .gitignore
Labels: none

chore: update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

Allow sorting of custom sections; Add color picker; Create dialog to show existing custom sections and allow adding new ones
  build/icons/gradient.svg
  build/icons/style.svg
  build/icons/tune.svg
  src/components/dialog/DialogCustomSectionEdit.vue
  src/pages/MediaCalendarPage.vue
  src/types/media.d.ts
  src/utils/date.ts
Labels: none

allow label change, delete section and set random color when creating section
  src/components/dialog/DialogCustomSectionEdit.vue
  src/i18n/en.json
Labels: none

Add extra media button and actually show media in custom sections
  src/components/dialog/DialogCustomSectionEdit.vue
  src/components/media/MediaList.vue
  src/pages/MediaCalendarPage.vue
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Portuguese
  docs/src/pt-pt/about.md
Labels: documentation

feat: new translations (#3965)
  docs/src/pt-pt/about.md
  src/i18n/pt-pt.json
Labels: documentation

fix: potential error in friendlyDayToJsDay
  src/utils/date.ts
Labels: none

fix: since media list refactor, media items would get lost when transferring them between lists
  src/components/media/MediaList.vue
  src/stores/current-state.ts
Labels: none

fix: restore "drag-media-item-to-edge-to-scroll" functionality; version bump
  .vscode/settings.json
  CHANGELOG.md
  package.json
  src/pages/MediaCalendarPage.vue
Labels: documentation

Properly persist drag/drop reordering and list changing for custom sections
  src/components/header/HeaderCalendar.vue
  src/components/media/MediaList.vue
  src/pages/MediaCalendarPage.vue
  src/stores/current-state.ts
  src/types/media.d.ts
Labels: none

Update DialogCustomSectionEdit.vue
  src/components/dialog/DialogCustomSectionEdit.vue
Labels: none

chore: add debug statements
  src-electron/electron-main.ts
  src-electron/main/window/window-main.ts
Labels: none

fix: safe check video ref error
  src/helpers/fs.ts
Labels: none

chore: update chrome target
  vitest.config.mts
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/about.md
Labels: documentation

feat: new translations (#3972)
  docs/src/cmn-hans/about.md
  src/i18n/cmn-hans.json
Labels: documentation

fix: check if win was destroyed
  src-electron/main/window/window-base.ts
Labels: none

fix: allow quit when win is destroyed
  src-electron/electron-main.ts
Labels: none

chore: add more debug info
  src-electron/electron-main.ts
Labels: none

chore: fix debug statements
  src-electron/electron-main.ts
Labels: none

fix: mediaList.uniqueId is possibly undefined
  src/components/media/MediaList.vue
Labels: none

fix: prevent media flicker when sorting
  src/pages/MediaCalendarPage.vue
Labels: none

fix for empty list glitch
  src/pages/MediaCalendarPage.vue
Labels: none

fix for extra media button colors
  src/components/media/MediaList.vue
Labels: none

feat: use system locale by default
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src/pages/SetupWizard.vue
  src/types/electron.d.ts
Labels: none

chore: add getLocales to electronApi mock
  test/vitest/mocks/electronApi.ts
Labels: none

add animation while sorting
  src/components/media/MediaList.vue
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
