Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

fix: tweak the vh for action island dialogs
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogObsPopup.vue
  src/components/dialog/DialogRecordingPopup.vue
  src/components/dialog/DialogTimerPopup.vue
  src/css/app.scss
Labels: none

fix: unify action-popup layout and add scrollable popup styles (#7682)
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogObsPopup.vue
  src/components/dialog/DialogRecordingPopup.vue
  src/components/dialog/DialogTimerPopup.vue
  src/css/app.scss
Labels: none

chore: fix sun-sat 0-6 remote day lookups to align with mon-sun 1-7/0-6 expectation
  .yarnrc.yml
  src/components/dialog/DialogCongregationLookup.vue
  src/helpers/__tests__/congregation-schedule.test.ts
  src/helpers/congregation-schedule.ts
Labels: none

fix: ensure manually added items are sorted correctly (PDF pages, playlist items, and files dropped in)
  src/components/dialog/DialogJwPlaylist.vue
  src/components/header/HeaderCalendar.vue
  src/helpers/fonts.ts
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
Labels: none

chore: bump version to v26.5.1-beta.11 [skip ci]
  package.json
Labels: none

Auto-hide media window after playback when initially hidden
  src/components/media/MediaItem.vue
  src/helpers/mediaWindowAutoHide.ts
  src/pages/MediaCalendarPage.vue
Labels: none

fix: add i18n
  src/helpers/mediaWindowAutoHide.ts
  src/i18n/en.json
Labels: none

feat: auto-hide media window after playback when window was initially hidden (#7685)
  src/components/media/MediaItem.vue
  src/helpers/mediaWindowAutoHide.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
Labels: none

Refresh media after schedule sync
  src/components/dialog/DialogDisplayPopup.vue
  src/components/header/HeaderCalendar.vue
  src/helpers/congregation-schedule.ts
  src/layouts/MainLayout.vue
Labels: none

chore: rename fetchMedia to fetchStudyBibleMedia to avoid ambiguity
  src/components/dialog/DialogStudyBible.vue
Labels: none

fix: properly refresh media and meeting days after schedule sync; disable delete extra media during playback; animate display popup main window positions (#7686)
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogStudyBible.vue
  src/components/header/HeaderCalendar.vue
  src/helpers/congregation-schedule.ts
  src/layouts/MainLayout.vue
Labels: none

Add profile settings import export
  src-electron/electron-preload.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src/i18n/en.json
  src/pages/SettingsPage.vue
  src/pages/SetupWizard.vue
  src/types/electron.d.ts
  src/utils/profile-settings.ts
  test/vitest/mocks/electronApi.ts
Labels: none

fix: ensure congregations are sorted in congregation picker
  src/pages/CongregationSelectorPage.vue
Labels: none

fix: ensure default notification icons are present, per notification type
  src/components/dialog/DialogCacheClear.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogJwPlaylist.vue
  src/components/ui/AnnouncementBanner.vue
  src/helpers/congregation-schedule.ts
  src/helpers/date.ts
  src/helpers/notifications.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
Labels: none

feat: add profile settings import/export (in both Advanced settings and Setup Wizard) (#7687)
  src-electron/electron-preload.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src/components/dialog/DialogCacheClear.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogJwPlaylist.vue
  src/components/ui/AnnouncementBanner.vue
  src/helpers/congregation-schedule.ts
  src/helpers/date.ts
  src/helpers/notifications.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/pages/CongregationSelectorPage.vue
  src/pages/MediaCalendarPage.vue
  src/pages/SettingsPage.vue
  src/pages/SetupWizard.vue
  src/types/electron.d.ts
  src/utils/profile-settings.ts
  test/vitest/mocks/electronApi.ts
Labels: none

Harden profile filename sanitization
  src/utils/__tests__/profile-settings.test.ts
  src/utils/profile-settings.ts
Labels: none

fix: missing props in test
  src/utils/__tests__/profile-settings.test.ts
Labels: none

ci: harden GitHub Actions workflows
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/manual-release.yml
  .github/workflows/refresh-lockfile.yml
  .github/workflows/stale.yml
  .github/workflows/update-release-notes.yml
Labels: github_actions

fix: harden profile filename sanitization (#7688)
  src/utils/__tests__/profile-settings.test.ts
  src/utils/profile-settings.ts
Labels: none

ci: harden GitHub Actions workflows (#7689)
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/manual-release.yml
  .github/workflows/refresh-lockfile.yml
  .github/workflows/stale.yml
  .github/workflows/update-release-notes.yml
Labels: github_actions

chore: add AGENTS.md
  AGENTS.md
Labels: documentation

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

chore: update agents.md
  AGENTS.md
Labels: documentation

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat(timer): add analog display modes and timing report status
  src/components/dialog/DialogTimerPopup.vue
  src/components/form-inputs/SelectInput.vue
  src/composables/useTimer.ts
  src/constants/settings.ts
  src/i18n/en.json
  src/pages/TimerPage.vue
  src/types/settings.d.ts
  src/types/timer.d.ts
  src/utils/__tests__/timer-report.test.ts
  src/utils/timer-report.ts
Labels: none

fix(ui): stabilize action island time displays
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogRecordingPopup.vue
  src/components/dialog/DialogTimerPopup.vue
  src/components/media/MusicButton.vue
  src/components/media/RecordingStatus.vue
  src/components/media/TimerButton.vue
Labels: none

chore: bump version to v26.5.1-beta.12 [skip ci]
  package.json
Labels: none

fix(release): restore manual changelog notes
  .github/workflows/beta-release.yml
  .github/workflows/manual-release.yml
  scripts/release-commits.py
Labels: github_actions

chore(beta): add release-commits script and integrate into beta release workflow to generate release notes
  .github/workflows/beta-release.yml
  .github/workflows/manual-release.yml
  scripts/release-commits.py
Labels: github_actions

feat: new translations for French
  src/i18n/fr.json
Labels: none
