Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

refactor: simplify media item code
  src/components/media/MediaItem.vue
Labels: none

refactor: improve code
  src/components/media/MediaItem.vue
  src/pages/MediaCalendarPage.vue
  src/stores/current-state.ts
Labels: none

feat: add announcement for obs breaking change
  announcements.json
  src/components/ui/AnnouncementBanner.vue
  src/types/general.d.ts
Labels: none

fix: set min version
  announcements.json
Labels: none

feat: show update banner when auto updates are disabled
  src/components/ui/AnnouncementBanner.vue
Labels: none

fix: postpone breaking change
  announcements.json
  src-electron/main/window/window-media.ts
  src/layouts/MediaPlayerLayout.vue
Labels: none

Update announcements.json
  announcements.json
Labels: none

feat: add announcement about upcoming obs breaking change (#3749)
  announcements.json
  src-electron/main/window/window-media.ts
  src/components/ui/AnnouncementBanner.vue
  src/layouts/MediaPlayerLayout.vue
  src/types/general.d.ts
Labels: none

chore: bump version to v24.12.1-beta.6 [skip ci]
  package.json
Labels: none

chore: update obs announcement
  announcements.json
Labels: none

chore: update announcements
  announcements.json
Labels: none

chore: update readme
  README.md
Labels: documentation

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Dutch (#3751)
  src/i18n/nl.json
Labels: none

chore(release): v24.12.1
  package.json
Labels: none

fix: test making afterInstall hooks independent of each other
  .yarnrc.yml
Labels: none

Revert "fix: test making afterInstall hooks independent of each other"
  .yarnrc.yml
Labels: none

chore: update changelog
  CHANGELOG.md
Labels: documentation

chore: update announcements
  announcements.json
Labels: none

fix: correctly parse beta versions
  src/utils/general.ts
Labels: none

chore: improve code documentation
  src/utils/general.ts
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Portuguese (#3754)
  src/i18n/pt-pt.json
Labels: none

feat: allow for MP4 conversion
  package.json
  src-electron/electron-preload.ts
  src-electron/main/ffmpeg.ts
  src-electron/main/ipc.ts
  src-electron/preload/fs.ts
  src/constants/settings.ts
  src/helpers/export-media.ts
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/helpers/migrations.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/stores/current-state.ts
  src/types/electron.d.ts
  src/types/settings.d.ts
  yarn.lock
Labels: dependencies, javascript

fix: dont reconvert if converted file already exists
  src-electron/main/ffmpeg.ts
Labels: none

chore: bump version to v24.12.2-beta.0 [skip ci]
  package.json
Labels: none

fix: correctly parse prerelease version
  src/utils/general.ts
Labels: none

style: lint issue
  src/utils/general.ts
Labels: none

refactor: optimize imports
  .vscode/settings.json
  src-electron/main/ffmpeg.ts
  src/components/form-inputs/ToggleInput.vue
Labels: none

chore: remove console log
  src-electron/main/ffmpeg.ts
Labels: none

chore: add packages to electron deps
  quasar.config.ts
Labels: none

chore: improve migrations
  src/helpers/migrations.ts
Labels: none

feat: allow to open website before presenting
  src-electron/electron-preload.ts
  src-electron/preload/website.ts
  src/components/header/HeaderWebsite.vue
  src/i18n/en.json
  src/pages/PresentWebsite.vue
  src/types/electron.d.ts
Labels: none

chore: bump version to v24.12.2-beta.1 [skip ci]
  package.json
Labels: none

chore: improve font error catching
  src/helpers/fonts.ts
Labels: none

feat: new translations for Ukrainian
  docs/src/uk/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Ukrainian (#3759)
  docs/src/uk/using-at-a-kingdom-hall.md
Labels: documentation

fix: load video when duration missing from meta data
  src-electron/preload/converters.ts
  src/helpers/jw-media.ts
  src/utils/converters.ts
  src/utils/media.ts
Labels: none

chore: fix font error catching
  src/helpers/fonts.ts
Labels: none

chore: bump version to v24.12.2-beta.2 [skip ci]
  package.json
Labels: none
