Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

ci: fix beta release workflow
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  package.json
Labels: github_actions

chore: bump version to v24.12.1-beta.0 [skip ci]
  package.json
Labels: none

fix: long filenames no longer break out of the media item
  src/components/media/MediaItem.vue
Labels: none

feat: new translations for Spanish
  docs/src/es/faq.md
Labels: documentation

feat: new translations for Spanish (#3702)
  docs/src/es/faq.md
Labels: documentation

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for French
  docs/src/fr/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations (#3703)
  docs/src/fr/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/ru.json
  src/i18n/sv.json
Labels: documentation

fix: prevent empty paths in getCachePath
  src/utils/fs.ts
Labels: none

fix: screenList?.length
  src/components/dialog/DialogDisplayPopup.vue
Labels: none

chore: bump version to v24.12.1-beta.1 [skip ci]
  package.json
Labels: none

fix: allow for dynamic modal height but enforce friendly overflow
  src/components/dialog/DialogAudioBible.vue
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogCongregationLookup.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogRemoteVideo.vue
  src/components/dialog/DialogStudyBible.vue
  src/components/media/DragAndDropper.vue
  src/components/media/PublicTalkMediaPicker.vue
  src/components/media/SongPicker.vue
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Ukrainian (#3711)
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified (#3712)
  src/i18n/cmn-hans.json
Labels: none

ci: improve cron schedule
  .github/workflows/beta-release.yml
  .github/workflows/stale.yml
Labels: github_actions

fix: use m3 protocol
  src-electron/main/security.ts
  src-electron/main/utils.ts
  src-electron/main/window/window-base.ts
Labels: none

chore: improve afterInstall script
  .yarnrc.yml
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian
  docs/src/sl/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations (#3714)
  docs/src/sl/using-at-a-kingdom-hall.md
  src/i18n/sl.json
Labels: documentation

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Portuguese
  docs/src/pt-pt/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations (#3716)
  docs/src/pt-pt/using-at-a-kingdom-hall.md
  src/i18n/pt-pt.json
Labels: documentation

fix: disable webSecurity
  src-electron/main/security.ts
  src-electron/main/window/window-base.ts
Labels: none

fix: correctly verify self
  src-electron/main/utils.ts
Labels: none

fix: better banner color
  src/components/ui/AnnouncementBanner.vue
Labels: none

fix: set same height for display buttons
  src/components/dialog/DialogDisplayPopup.vue
Labels: none

fix: add separate loading states for study bible
  src/components/dialog/DialogStudyBible.vue
Labels: none

chore: improve video error message
  src/helpers/fs.ts
Labels: none

chore: don't catch 400 error for jwhub docs
  src-electron/main/utils.ts
  src/utils/api.ts
Labels: none

fix: ensure global prefs dir exists
  src/utils/fs.ts
Labels: none

chore: improve videoRef error catching
  src/helpers/fs.ts
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for German (#3719)
  src/i18n/de.json
Labels: none

feat: allow users to receive beta updates
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src-electron/main/updater.ts
  src/components/dialog/DialogAbout.vue
  src/i18n/en.json
  src/types/electron.d.ts
  src/utils/fs.ts
Labels: none

docs: ignore pre-releases
  docs/utils/api.ts
Labels: documentation

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
