Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

fix: improve performance related to ontimeupdate functions
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/pages/MediaPlayerPage.vue
Labels: none

chore: bump version to v25.3.1-beta.13 [skip ci]
  package.json
Labels: none

feat: new translations for Korean
  docs/locales/ko.json
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations (#4244)
  docs/locales/ko.json
  release-notes/ko.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/faq.md
Labels: documentation

feat: new translations for Korean (#4246)
  docs/src/ko/faq.md
Labels: documentation

chore: bump version to v25.3.1-beta.14 [skip ci]
  package.json
Labels: none

fix: correctly set migration fallback values
  src/stores/app-settings.ts
Labels: none

perf: improve calendar page performance
  package.json
  src/pages/MediaCalendarPage.vue
  yarn.lock
Labels: dependencies, javascript

perf: improve broadcast performance
  src/components/dialog/DialogDisplayPopup.vue
  src/components/header/HeaderWebsite.vue
  src/layouts/MainLayout.vue
Labels: none

chore: revert version bumps
  package.json
  postcss.config.js
  quasar.config.ts
  yarn.lock
Labels: dependencies, javascript

chore: bump deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: update electron
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: add release notes
  CHANGELOG.md
  release-notes/en.md
Labels: documentation

feat: new translations for Romanian
  release-notes/ro.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Greek
  release-notes/el.md
Labels: documentation

feat: new translations for Finnish
  release-notes/fi.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Portuguese
  release-notes/pt-pt.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovak
  release-notes/sk.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Swedish
  release-notes/sv.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Tagalog
  release-notes/tl.md
Labels: documentation

feat: new translations for Malagasy
  release-notes/mg.md
Labels: documentation

feat: new translations for Swahili
  release-notes/sw.md
Labels: documentation

feat: new translations for Amharic
  release-notes/am.md
Labels: documentation

feat: new translations for Haitian Creole
  release-notes/ht.md
Labels: documentation

feat: new translations for Kinyarwanda
  release-notes/rw.md
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
