Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

chore: bump version to v26.4.8-beta.0 [skip ci]
  package.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

Refactor import statement for path module
  docs/.vitepress/config.mts
Labels: documentation

chore: bump version to v26.4.8-beta.1 [skip ci]
  package.json
Labels: none

Guard CSP generation against malformed hostnames
  src-electron/main/__tests__/session.test.ts
  src-electron/main/session.ts
Labels: none

fix: Guard CSP generation against malformed hostnames (#7072)
  src-electron/main/__tests__/session.test.ts
  src-electron/main/session.ts
Labels: none

chore: bump version to v26.4.8-beta.2 [skip ci]
  package.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

chore: bump version to v26.4.8-beta.3 [skip ci]
  package.json
Labels: none

ci(Mergify): configuration update
  .mergify.yml
Labels: none

ci(Mergify): configuration update (#7102)
  .mergify.yml
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

chore: bump version to v26.4.8-beta.4 [skip ci]
  package.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

chore: bump version to v26.4.8-beta.5 [skip ci]
  package.json
Labels: none

chore: update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v26.4.8-beta.6 [skip ci]
  package.json
Labels: none

fix(timer): keep windowed timer size during media playback
  src-electron/main/window/window-timer.ts
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
