Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Finnish
  release-notes/fi.md
Labels: documentation

feat: new translations for Swedish
  release-notes/sv.md
Labels: documentation

chore: add manual version bump workflow
  .github/workflows/ci.yml
  .github/workflows/manual-release.yml
  build/bump-version.py
Labels: github_actions

chore: clear existing assets if release already exists
  .github/workflows/manual-release.yml
Labels: github_actions

chore: add "Version is already correct" message [skip ci]
  .github/workflows/manual-release.yml
Labels: github_actions

fix: autoupdater error name check
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/utils.ts
Labels: none

chore: bump version to v26.1.6-beta.0 [skip ci]
  package.json
Labels: none

fix: getCachePath hardening
  src-electron/main/downloads.ts
  src/helpers/jw-media.ts
  src/utils/fs.ts
Labels: none

chore: getCachedUserDataPath optimization
  src/stores/current-state.ts
  src/utils/fs.ts
Labels: none

fix: getCachedUserDataPath vs custom CacheFolder
  src/utils/fs.ts
Labels: none

fix: nsh script
  build/installer.nsh
Labels: none

fix: use $COMMONAPPDATA in nsh script
  build/installer.nsh
Labels: none

fix: define COMMONAPPDATA
  build/installer.nsh
Labels: none

fix: nsh
  build/installer.nsh
Labels: none

fix: use UserInfo::GetAccountType
  build/installer.nsh
Labels: none

chore: bump version to v26.1.6-beta.1 [skip ci]
  package.json
Labels: none

chore: additional error logging and debugging
  src-electron/main/fs.ts
  src-electron/main/utils.ts
  src/helpers/mediaPlayback.ts
Labels: none

chore: bump version to v26.1.6-beta.2 [skip ci]
  package.json
Labels: none

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

chore: bump version to v26.1.7-beta.0 [skip ci]
  package.json
Labels: none

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian
  docs/src/et/user-guide.md
Labels: documentation

chore: bump version to v26.1.7-beta.1 [skip ci]
  package.json
Labels: none

feat: new translations for Estonian
  docs/src/et/faq.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/user-guide.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/faq.md
Labels: documentation

fix: don't sendObsSceneEvent if obsEnable is not true
  src/pages/MediaCalendarPage.vue
Labels: none

fix: improvements to jwpubExtractor
  src-electron/main/fs.ts
  src/helpers/error-catcher.ts
  src/helpers/mediaPlayback.ts
Labels: none

fix: setAppQuitting(true) on before-quit
  src-electron/electron-main.ts
Labels: none

fix: ignore additional noisy update errors
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/utils.ts
Labels: none

fix: hide native cursor in website window
  src-electron/main/window/window-website.ts
Labels: none

chore: update gpu crash string
  src/i18n/en.json
Labels: none

fix: ignore EPERM updater errors
  src-electron/main/utils.ts
Labels: none

fix: potential race condition in decompress()
  src-electron/main/fs.ts
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
