Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations (#4517)
  src/i18n/et.json
  src/i18n/gaa.json
Labels: none

chore(revert): version bump
  package.json
Labels: none

chore: bump version to v25.5.1-beta.6 [skip ci]
  package.json
Labels: none

chore(deps): bump sentry
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Estonian (#4529)
  release-notes/et.md
Labels: documentation

feat: improve and fix streamed media handling with proper local file detection
  .vscode/settings.json
  build/icons/stream.svg
  build/svg2font.js
  package.json
  src/components/media/MediaItem.vue
  src/helpers/jw-media.ts
  src/pages/MediaPlayerPage.vue
  src/types/media.d.ts
  yarn.lock
Labels: dependencies, javascript

feat: enhance NavDrawer functionality with improved mini state handling and tooltip display
  src/components/ui/NavDrawer.vue
Labels: none

feat: add metered connection setting and update related functionalities
  src/constants/date.ts
  src/constants/settings.ts
  src/helpers/date.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/types/settings.d.ts
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations for Ga
  src/i18n/gaa.json
Labels: none

feat: new translations (#4536)
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/gaa.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/ko.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
Labels: none

chore: update release notes and changelog for v25.6.0 with new features and improvements
  CHANGELOG.md
  release-notes/en.md
Labels: documentation

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
