Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

fix: don't include pre-releases for latest version
  src/utils/api.ts
Labels: none

fix: include prereleases when beta updates are enabled
  src/utils/api.ts
Labels: none

fix: fetchLatest logic
  src/utils/api.ts
Labels: none

chore: bump version to v24.12.1-beta.2 [skip ci]
  package.json
Labels: none

perf: make listeners passive
  src-electron/main/window/window-website.ts
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogObsPopup.vue
  src/components/form-inputs/ShortcutInput.vue
  src/components/header/HeaderCalendar.vue
  src/components/media/MediaItem.vue
  src/helpers/fs.ts
  src/pages/CongregationSelectorPage.vue
  src/pages/MediaCalendarPage.vue
Labels: none

ci: cleanup old beta releases
  .github/workflows/beta-release.yml
Labels: github_actions

ci: improve beta release cleanup
  .github/workflows/beta-release.yml
Labels: github_actions

ci: improve when ci runs
  .github/workflows/ci.yml
Labels: github_actions

chore: bump version to v24.12.1-beta.3 [skip ci]
  package.json
Labels: none

ci: improve beta cleanup [skip ci]
  .github/workflows/beta-release.yml
  package.json
Labels: github_actions

chore: bump version to v24.12.1-beta.3 [skip ci]
  package.json
Labels: none

ci: improve beta cleanup [skip ci]
  .github/workflows/beta-release.yml
  package.json
Labels: github_actions

chore: bump version to v24.12.1-beta.3 [skip ci]
  package.json
Labels: none

ci: improve beta cleanup [skip ci]
  .github/workflows/beta-release.yml
  package.json
Labels: github_actions

chore: bump version to v24.12.1-beta.3 [skip ci]
  package.json
Labels: none

ci: improve beta cleanup [skip ci]
  .github/workflows/beta-release.yml
Labels: github_actions

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian (#3724)
  src/i18n/et.json
Labels: none

chore: fix spelling mistakes
  src-electron/main/utils.ts
  src-electron/main/window/window-main.ts
  src/stores/jw.ts
  src/utils/date.ts
  src/utils/fs.ts
  src/utils/general.ts
  src/utils/jw.ts
  src/utils/media.ts
Labels: none

fix: auto-updates were disabled for everyone
  src/utils/fs.ts
Labels: none

chore: bump version to v24.12.1-beta.4 [skip ci]
  package.json
Labels: none

feat: new translations for Estonian
  docs/src/et/using-at-a-kingdom-hall.md
Labels: documentation

fix: prevent 'maximize' (double-click) on media window
  .vscode/settings.json
  src-electron/main/window/window-media.ts
Labels: none

feat: new translations for Estonian (#3725)
  docs/src/et/using-at-a-kingdom-hall.md
Labels: documentation

fix: reinstate double-click on media window, but with expected results
  .vscode/settings.json
  src-electron/electron-preload.ts
  src-electron/main/window/window-media.ts
  src/components/dialog/DialogDisplayPopup.vue
  src/types/electron.d.ts
Labels: none

fix: remove size notification from media window; added tooltip instead
  src/components/dialog/DialogDisplayPopup.vue
  src/pages/MediaPlayerPage.vue
Labels: none

fix: about modal update toggle placement; logo coloring when update toggle warrant attention
  src/components/dialog/DialogAbout.vue
  src/components/header/HeaderBase.vue
  src/i18n/en.json
Labels: none

fix: make loader in drag-and-dropper circular to follow the rest of the app's styling
  src/components/media/DragAndDropper.vue
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none
