Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations (#4833)
  docs/src/sv/about.md
  docs/src/sv/faq.md
  docs/src/sv/index.md
  docs/src/sv/settings-guide.md
  docs/src/sv/user-guide.md
  release-notes/sv.md
Labels: documentation

chore: bump version to v25.8.4-beta.9 [skip ci]
  package.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Italian (#4836)
  src/i18n/it.json
Labels: none

fix: gracefully handle missing lookupDate in shouldUseChangedMeetingSchedule and update date retrieval to use new Date() when appropriate
  src/helpers/date.ts
  src/utils/date.ts
Labels: none

feat: enhance section handling for watched items and update watched filenames as needed
  src/helpers/jw-media.ts
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
Labels: none

feat: improve section assignment for watched items based on meeting days
  src/helpers/jw-media.ts
Labels: none

fix(style): comment out CSS for drop area dashed border in MediaList component
  src/components/media/MediaList.vue
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Italian
  docs/src/it/user-guide.md
Labels: documentation

feat: new translations (#4838)
  docs/src/it/user-guide.md
  src/i18n/it.json
Labels: documentation

chore: bump version to v25.8.4-beta.10 [skip ci]
  package.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian
  docs/src/et/index.md
Labels: documentation

feat: new translations for Estonian
  docs/locales/et.json
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/settings-guide.md
Labels: documentation

feat: new translations (#4845)
  docs/locales/et.json
  docs/src/et/index.md
  docs/src/et/settings-guide.md
  release-notes/et.md
  src/i18n/et.json
Labels: documentation

refactor: integrate VueZoomable for enhanced image zoom and pan functionality
  .vscode/settings.json
  package.json
  src/components/media/MediaItem.vue
  src/composables/useMediaSectionRepeat.ts
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/stores/current-state.ts
  src/types/index.d.ts
  src/types/panzoom.d.ts
  yarn.lock
Labels: dependencies, javascript

fix: update links in Estonian and Swedish documentation
  docs/src/et/index.md
  docs/src/sv/index.md
Labels: documentation

fix: improve media pan calculation and state management
  src/components/media/MediaItem.vue
Labels: none

docs: update README for improved clarity and conciseness
  README.md
Labels: documentation

chore(release): v25.8.4
  CHANGELOG.md
  package.json
  src/helpers/zoom.ts
Labels: documentation

fix: improve camera and web stream handling
  src/components/header/HeaderWebsite.vue
  src/pages/MediaPlayerPage.vue
Labels: none

chore: improve S-34mp strings
  src/components/dialog/DialogPublicTalkMediaPicker.vue
  src/i18n/en.json
Labels: none

chore: update translations progress
  README.md
Labels: documentation

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
