Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Slovenian
  docs/src/sl/settings-guide.md
Labels: documentation

feat: new translations (#4891)
  docs/src/sl/settings-guide.md
  src/i18n/ko.json
  src/i18n/sl.json
Labels: documentation

feat: new translations for Slovenian
  docs/src/sl/settings-guide.md
Labels: documentation

feat: new translations for Slovenian (#4893)
  docs/src/sl/settings-guide.md
Labels: documentation

feat: new translations for Slovenian
  docs/src/sl/settings-guide.md
Labels: documentation

feat: new translations for Slovenian (#4894)
  docs/src/sl/settings-guide.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/settings-guide.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/index.md
Labels: documentation

feat: new translations (#4896)
  docs/src/hu/index.md
  docs/src/hu/settings-guide.md
Labels: documentation

chore: bump version to v25.8.5-beta.3 [skip ci]
  package.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/about.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/faq.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/locales/cmn-hans.json
Labels: documentation

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/settings-guide.md
Labels: documentation

feat: new translations (#4897)
  docs/locales/cmn-hans.json
  docs/src/cmn-hans/about.md
  docs/src/cmn-hans/faq.md
  docs/src/cmn-hans/settings-guide.md
  release-notes/cmn-hans.md
  src/i18n/cmn-hans.json
Labels: documentation

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian (#4900)
  src/i18n/et.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian (#4902)
  src/i18n/et.json
Labels: none

chore: bump version to v25.8.5-beta.4 [skip ci]
  package.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian
  docs/src/sl/settings-guide.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations (#4903)
  docs/src/sl/settings-guide.md
  release-notes/sl.md
  src/i18n/sl.json
Labels: documentation

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Swedish (#4906)
  src/i18n/sv.json
Labels: none

chore: bump version to v25.8.5-beta.5 [skip ci]
  package.json
Labels: none

feat: implement section order memory for watched media items
  src/helpers/jw-media.ts
  src/helpers/media-sections.ts
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
Labels: none

fix: include forgotten selectedDate in downloadAdditionalRemoteVideo function
  src/components/dialog/DialogRemoteVideo.vue
Labels: none

chore(deps): update @sentry/electron to version 6.11.0
  package.json
  yarn.lock
Labels: dependencies, javascript

chore(deps): upgrade @sentry/vue to version ^10.8.0 and refactor Sentry initialization in boot file
  package.json
  src/boot/sentry.ts
  src/stores/index.ts
  yarn.lock
Labels: dependencies, javascript

chore: upgrade Yarn to version 4.9.4 and update related configurations
  .yarn/releases/yarn-4.9.2.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  package.json
Labels: none

chore(deps): upgrade @sentry/esbuild-plugin and @sentry/vite-plugin to version ^4.3.0
  package.json
  yarn.lock
Labels: dependencies, javascript

chore(deps): update @vueuse/core and @vueuse/router to version ^13.9.0
  package.json
  yarn.lock
Labels: dependencies, javascript

refactor(MediaCalendarPage): remove unused scroll, mouse and pointer tracking logic
  src/pages/MediaCalendarPage.vue
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v25.8.5-beta.6 [skip ci]
  package.json
Labels: none

fix: background camera for sign language not triggering properly
  src/components/dialog/DialogDisplayPopup.vue
  src/pages/MediaPlayerPage.vue
Labels: none
