Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations for Ga
  src/i18n/gaa.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

chore: bump version to v25.11.1-beta.25 [skip ci]
  package.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

chore(release): v25.12.0
  package.json
  src/migrations/index.ts
Labels: none

fix(yeartext): fix preview feature and improve migration error handling
  src/layouts/MainLayout.vue
  src/migrations/add-base-url.ts
  src/migrations/first-run.ts
  src/migrations/index.ts
  src/migrations/local-storage-to-pinia.ts
  src/migrations/move-additional-media.ts
  src/migrations/new-media-sections.ts
  src/migrations/refresh-dynamic-media.ts
  src/migrations/reset-yeartext-preview-2026.ts
  src/stores/app-settings.ts
Labels: none

chore(release): v25.12.1
  CHANGELOG.md
  package.json
Labels: documentation

chore: deps update
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

fix: load ElectronDownloadManager dynamically as needed
  src-electron/main/downloads.ts
Labels: none

fix: try to cancell all downloads if all windows closed
  src-electron/electron-main.ts
  src-electron/main/downloads.ts
Labels: none

chore: bump version to v25.12.2-beta.0 [skip ci]
  package.json
Labels: none

chore: attempt adding macOS entitlements
  .vscode/settings.json
  build/entitlements.mac.plist
  quasar.config.ts
Labels: none

fix: <true /> is not <true/>
  build/entitlements.mac.plist
Labels: none

fix: possible memory leak in decompress
  src-electron/main/fs.ts
  src/pages/MediaCalendarPage.vue
Labels: none

fix: prevent in-memory decompress
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src/types/electron.d.ts
Labels: none

chore: bump version to v25.12.2-beta.1 [skip ci]
  package.json
Labels: none

fix: prevent download error when app is quitting
  src-electron/electron-main.ts
  src-electron/main/downloads.ts
  src-electron/main/session.ts
Labels: none

fix: prevent error msg if updater fails when it's expected to fail
  src-electron/electron-main.ts
  src-electron/main/__tests__/dependencies.test.ts
  src-electron/main/__tests__/downloads.expected-error.test.ts
  src-electron/main/downloads.ts
  src-electron/main/ffmpeg.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src-electron/main/screen.ts
  src-electron/main/security.ts
  src-electron/main/session.ts
  src-electron/main/shortcuts.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-main.ts
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-state.ts
  src-electron/main/window/window-website.ts
  src-electron/preload/close.ts
  src-electron/preload/converters.ts
  src-electron/preload/fs.ts
  src-electron/preload/screen.ts
  src-electron/preload/sqlite.ts
  src-electron/preload/website.ts
  test/vitest/mocks/electronApi.ts
  test/vitest/setup/setup.electron.ts
Labels: none

fix: added require-in-the-middle and @opentelemetry/api-logs
  package.json
  quasar.config.ts
  src-electron/electron-main.ts
  src-electron/main/__tests__/dependencies.test.ts
  src-electron/main/downloads.ts
  src-electron/main/ffmpeg.ts
  src-electron/main/fs.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-state.ts
  src-electron/preload/converters.ts
  src-electron/preload/fs.ts
  test/vitest/mocks/electronApi.ts
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v25.12.2-beta.2 [skip ci]
  package.json
Labels: none

feat: allow pressing and hold zoom and pan buttons
  src-electron/main/ffmpeg.ts
  src-electron/main/updater.ts
  src-electron/main/window/window-media.ts
  src-electron/preload/converters.ts
  src/components/media/MediaItem.vue
  src/pages/MediaPlayerPage.vue
  src/utils/general.ts
Labels: none

fix: prevent panning past image borders
  src/components/media/MediaItem.vue
Labels: none

fix: increase zoom factor to 10x
  src/components/media/MediaItem.vue
Labels: none

fix: skipZoomPanAnimation on initial load
  src/components/media/MediaItem.vue
Labels: none

fix: skipZoomPanAnimation on initial load
  src/pages/MediaPlayerPage.vue
Labels: none

fix: ffmpeg test
  src-electron/main/__tests__/ffmpeg.test.ts
Labels: none

fix: minor button length fixes on media list view
  src/components/header/HeaderCalendar.vue
Labels: none

chore: bump version to v25.12.2-beta.3 [skip ci]
  package.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

fix: notification color glitches
  quasar.config.ts
  src/boot/notify-types.ts
  src/helpers/notifications.ts
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
Labels: none

fix: dismiss temporary notifications when changing congregations
  src/helpers/notifications.ts
  src/stores/current-state.ts
Labels: none

chore: prevent github notification overload
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
