Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Kinyarwanda
  release-notes/rw.md
Labels: documentation

feat: new translations (#4330)
  release-notes/am.md
  release-notes/cmn-hans.md
  release-notes/de.md
  release-notes/el.md
  release-notes/es.md
  release-notes/et.md
  release-notes/fi.md
  release-notes/fr.md
  release-notes/ht.md
  release-notes/hu.md
  release-notes/it.md
  release-notes/ko.md
  release-notes/mg.md
  release-notes/nl.md
  release-notes/pt-pt.md
  release-notes/pt.md
  release-notes/ro.md
  release-notes/ru.md
  release-notes/rw.md
  release-notes/sk.md
  release-notes/sl.md
  release-notes/sv.md
  release-notes/sw.md
  release-notes/tl.md
  release-notes/uk.md
Labels: documentation

fix: prevent non-audio files from being loaded
  src/utils/fs.ts
Labels: none

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations (#4332)
  release-notes/nl.md
  src/i18n/de.json
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for German
  docs/src/de/about.md
Labels: documentation

feat: new translations for German
  docs/src/de/faq.md
Labels: documentation

feat: new translations for German
  docs/src/de/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for German
  docs/locales/de.json
Labels: documentation

feat: new translations (#4334)
  docs/locales/de.json
  docs/src/de/about.md
  docs/src/de/faq.md
  docs/src/de/using-at-a-kingdom-hall.md
  release-notes/de.md
Labels: documentation

chore: ignore code signature error
  src-electron/main/updater.ts
Labels: none

chore: improve updater error ignore logic
  src-electron/main/updater.ts
Labels: none

chore: bump version to v25.4.1-beta.0 [skip ci]
  package.json
Labels: none

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for German (#4341)
  release-notes/de.md
Labels: documentation

chore: bump version to v25.4.1-beta.1 [skip ci]
  package.json
Labels: none

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: bump yarn
  .yarn/releases/yarn-4.7.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
Labels: none

Revert "chore(deps): update deps"
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: dedupe deps
  yarn.lock
Labels: dependencies, javascript

fix: reset custom duration between media
  src/components/media/MediaItem.vue
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
Labels: none

chore: improve duration mismatch error
  src/helpers/fs.ts
Labels: none

fix: allow mismatched subtitles to be used
  src/helpers/fs.ts
Labels: none

chore: bump version to v25.4.1-beta.2 [skip ci]
  package.json
Labels: none

fix: disable rounded corners for windows
  src-electron/main/window/window-media.ts
Labels: none

chore(deps): revert vite bump
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Korean (#4345)
  release-notes/ko.md
Labels: documentation

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: revert version bump
  package.json
Labels: none

feat: new translations for Swedish
  release-notes/sv.md
Labels: documentation

feat: new translations for Swedish (#4346)
  release-notes/sv.md
Labels: documentation

chore: bump version to v25.4.1-beta.2 [skip ci]
  package.json
Labels: none

chore(deps): dedupe deps
  yarn.lock
Labels: dependencies, javascript

fix: correctly add all media without pubMediaId
  src/stores/jw.ts
Labels: none

fix: make sure media list keys are unique
  src/pages/MediaCalendarPage.vue
Labels: none

fix: keep jwl playlist order
  src/helpers/jw-media.ts
  src/helpers/mediaPlayback.ts
  src/pages/MediaCalendarPage.vue
Labels: none

chore(release): v25.4.1
  CHANGELOG.md
  package.json
  release-notes/en.md
Labels: documentation
