Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

docs: improve og image
  docs/.vitepress/config.mts
Labels: documentation

ci: dont run workflows on forks
  .github/workflows/beta-release.yml
  .github/workflows/crowdin.yml
Labels: github_actions

feat: new translations for Portuguese, Brazilian
  docs/locales/pt.json
Labels: documentation

feat: new translations for Dutch
  docs/locales/nl.json
Labels: documentation

feat: new translations for Portuguese
  docs/locales/pt-pt.json
Labels: documentation

feat: new translations for Swedish
  docs/locales/sv.json
Labels: documentation

feat: new translations (#3784)
  docs/locales/nl.json
  docs/locales/pt-pt.json
  docs/locales/pt.json
  docs/locales/sv.json
Labels: documentation

chore: update cSpell words
  .vscode/settings.json
Labels: none

feat: new translations for Chinese Simplified
  docs/locales/cmn-hans.json
Labels: documentation

feat: new translations for Chinese Simplified (#3786)
  docs/locales/cmn-hans.json
Labels: documentation

feat: new translations for Spanish
  docs/src/es/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Spanish
  docs/locales/es.json
Labels: documentation

feat: new translations for Spanish
  docs/src/es/about.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/faq.md
Labels: documentation

feat: new translations for Italian
  docs/locales/it.json
Labels: documentation

feat: new translations (#3788)
  docs/locales/es.json
  docs/locales/it.json
  docs/src/es/about.md
  docs/src/es/faq.md
  docs/src/es/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for Spanish
  docs/src/es/about.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/faq.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/index.md
Labels: documentation

feat: new translations (#3791)
  docs/src/es/about.md
  docs/src/es/faq.md
  docs/src/es/index.md
  src/i18n/es.json
Labels: documentation

feat: new translations for Spanish
  docs/src/es/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Spanish (#3793)
  docs/src/es/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Ukrainian
  docs/locales/uk.json
Labels: documentation

feat: new translations for Ukrainian (#3795)
  docs/locales/uk.json
Labels: documentation

feat: new translations for Spanish
  docs/src/es/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/faq.md
Labels: documentation

feat: new translations (#3797)
  docs/src/es/faq.md
  docs/src/es/using-at-a-kingdom-hall.md
Labels: documentation

chore: use updates-disabled icon
  build/icons/updates-disabled.svg
  src/components/header/HeaderBase.vue
Labels: none

chore: bump version to v24.12.2-beta.5 [skip ci]
  package.json
Labels: none

docs: improve meta tags
  docs/.vitepress/config.mts
  docs/src/public/browserconfig.xml
  docs/src/public/icons/icon-128x128.png
  docs/src/public/icons/icon-150x150.png
  docs/src/public/icons/icon-16x16.png
  docs/src/public/icons/icon-310x150.png
  docs/src/public/icons/icon-310x310.png
  docs/src/public/icons/icon-32x32.png
  docs/src/public/icons/icon-512x512.png
  docs/src/public/icons/icon-75x75.png
  docs/src/public/icons/icon-96x96.png
  docs/src/public/m3-repo-preview.jpg
  docs/src/public/m3-repo-preview.png
  docs/utils/locales.ts
Labels: documentation

docs: correctly set site name meta tags
  docs/.vitepress/config.mts
  docs/utils/locales.ts
Labels: documentation

docs: add logo as og image
  docs/.vitepress/config.mts
Labels: documentation

docs: change og image order
  docs/.vitepress/config.mts
Labels: documentation

feat: update logo assets
  .github/workflows/build.yml
  .gitignore
  .prettierignore
  .yarnrc.yml
  CONTRIBUTING.md
  build/logos/display-icon-512-Windows.png
  build/logos/display-icon-macOS.png
  build/logos/icon-512-Windows.png
  build/logos/icon-macOS.png
  build/profiles/icongenie-icon-macos.json
  build/profiles/icongenie-icon-win.json
  build/profiles/icongenie-player-macos.json
  build/profiles/icongenie-player-win.json
  docs/src/public/favicon.ico
  docs/src/public/icons/icon-128x128.png
  docs/src/public/icons/icon-150x150.png
  docs/src/public/icons/icon-16x16.png
  docs/src/public/icons/icon-310x310.png
  docs/src/public/icons/icon-32x32.png
  docs/src/public/icons/icon-512x512.png
  docs/src/public/icons/icon-75x75.png
  docs/src/public/icons/icon-96x96.png
  docs/src/public/logo.svg
  package.json
  src-electron/icons/icon.icns
  src-electron/icons/icon.ico
  src-electron/icons/icon.png
  src-electron/icons/media-player.icns
  src-electron/icons/media-player.ico
  src-electron/icons/media-player.png
  src/assets/img/logo.svg
  yarn.lock
Labels: dependencies, documentation, github_actions, javascript

chore: remove generated assets from repo
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .gitignore
  .husky/install.mjs
  .yarnrc.yml
  docs/src/public/favicon.ico
  docs/src/public/icons/.gitkeep
  docs/src/public/icons/icon-128x128.png
  docs/src/public/icons/icon-150x150.png
  docs/src/public/icons/icon-16x16.png
  docs/src/public/icons/icon-310x150.png
  docs/src/public/icons/icon-310x310.png
  docs/src/public/icons/icon-32x32.png
  docs/src/public/icons/icon-512x512.png
  docs/src/public/icons/icon-75x75.png
  docs/src/public/icons/icon-96x96.png
  src-electron/icons/.gitkeep
  src-electron/icons/icon.icns
  src-electron/icons/icon.ico
  src-electron/icons/icon.png
  src-electron/icons/media-player.icns
  src-electron/icons/media-player.ico
  src-electron/icons/media-player.png
Labels: documentation, github_actions

ci: prepare quasar before linting
  .github/workflows/build.yml
Labels: github_actions

fix: improvements to font url code
  src/stores/jw.ts
Labels: none

feat: allow for MP4 conversion (#3756)
  .vscode/settings.json
  README.md
  package.json
  quasar.config.ts
  src-electron/electron-preload.ts
  src-electron/main/ffmpeg.ts
  src-electron/main/ipc.ts
  src-electron/preload/fs.ts
  src/components/form-inputs/ToggleInput.vue
  src/constants/settings.ts
  src/helpers/cleanup.ts
  src/helpers/export-media.ts
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/helpers/migrations.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/stores/current-state.ts
  src/stores/jw.ts
  src/types/electron.d.ts
  src/types/settings.d.ts
  src/utils/general.ts
  yarn.lock
Labels: dependencies, documentation, javascript

chore: update translations progress
  README.md
Labels: documentation
