Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

fix: skip non-date folders when cleaning up dated cache directories
  src/helpers/cleanup.ts
Labels: none

fix: (re-)activate macOS security-scoped bookmark before every zip read
  src-electron/main/fs.ts
Labels: none

fix: add cooldown before retrying background music auto-start after a failure
  src/components/dialog/DialogBackgroundMusicPopup.vue
Labels: none

chore: new icons
  .gitignore
  build/icons/export.svg
  build/icons/import.svg
Labels: none

chore: yarn.lock update
  yarn.lock
Labels: dependencies, javascript

fix: stop triple-reporting font-load fallback failures
  src/helpers/fonts.ts
Labels: none

fix: gate OBS RPC calls on identified connection, not just socket existence
  src/helpers/__tests__/obs.test.ts
  src/helpers/obs.ts
Labels: none

fix: correct corrupted Dutch translation for "previous"
  src/i18n/nl.json
Labels: none

fix: catch play() rejection when advancing to the next background music track
  src/components/dialog/DialogBackgroundMusicPopup.vue
Labels: none

fix: ignore BroadcastChannel closed errors during media player teardown
  src/pages/MediaPlayerPage.vue
Labels: none

fix: recover from a corrupted local jw-icons font, not just a missing one
  src/helpers/fonts.ts
Labels: none

fix: recognize YYYY/MM/DD dates in the additional-media migration
  src/migrations/move-additional-media.ts
Labels: none

fix: pass explicit platform to renderer calls into filesystem-errors helpers
  src-electron/main/fs.ts
  src/components/media/MediaItem.vue
  src/helpers/__tests__/jw-media.test.ts
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/shared/filesystem-errors.test.ts
  src/shared/filesystem-errors.ts
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

fix: correct language resolution and file matching for sign-language media
  src/helpers/__tests__/jw-media.test.ts
  src/helpers/date.ts
  src/helpers/jw-media.ts
  src/migrations/index.ts
  src/migrations/refresh-dynamic-media-sign-language.ts
  src/migrations/refresh-dynamic-media.ts
  src/utils/api.ts
  src/utils/sqlite.ts
Labels: none

fix: make cache cleanup resilient and match all date-folder formats
  src/helpers/__tests__/cleanup.test.ts
  src/helpers/cleanup.ts
Labels: none

test: cover docid/pub fallback in fetchPubMediaLinks
  src/utils/__tests__/api.test.ts
Labels: none

fix: suppress network-error reporting for fetchReleaseNotes
  src/utils/__tests__/api.test.ts
  src/utils/api.ts
Labels: none

fix: don't report OBS websocket disconnect race as a bug
  src/components/media/ObsStatus.vue
  src/components/media/__tests__/ObsStatus.test.ts
Labels: none

fix: terminology
  src/i18n/en.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for Spanish
  docs/src/es/about.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/faq.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/index.md
Labels: documentation

feat: new translations for Spanish
  docs/locales/es.json
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/settings-guide.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/user-guide.md
Labels: documentation

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for German
  docs/src/de/about.md
Labels: documentation

feat: new translations for German
  docs/src/de/faq.md
Labels: documentation

feat: new translations for German
  docs/src/de/index.md
Labels: documentation

feat: new translations for German
  docs/locales/de.json
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for German
  docs/src/de/settings-guide.md
Labels: documentation

feat: new translations for German
  docs/src/de/user-guide.md
Labels: documentation

feat: new translations for German
  docs/src/de/download.md
Labels: documentation

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Hungarian
  docs/src/hu/about.md
Labels: documentation
