Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

chore(deps): replace @jitsi/robotjs with upstream robotjs 0.9.1
  .github/workflows/build.yml
  CHANGELOG.md
  package.json
  quasar.config.ts
  src-electron/package.json
  src-electron/yarn.lock
  yarn.lock
Labels: dependencies, documentation, github_actions, javascript

fix(build): keep robotjs's compiled binary out of the macOS universal app
  quasar.config.ts
Labels: none

fix(build): declare robotjs's prebuilds as arch-identical for the universal app
  quasar.config.ts
Labels: none

chore(deps): replace @jitsi/robotjs with upstream robotjs (#7921)
  .depcheckrc.yml
  CHANGELOG.md
  package.json
  quasar.config.ts
  src-electron/package.json
  src-electron/preload/__tests__/robot.test.ts
  src-electron/preload/robot.ts
  src-electron/yarn.lock
  yarn.lock
Labels: dependencies, documentation, javascript

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

ci(mergify): auto-merge Dependabot bumps of 0.x packages too
  .mergify.yml
Labels: none

chore(deps): remove three dependencies nothing uses any more
  .depcheckrc.yml
  package.json
  src-electron/package.json
  src-electron/yarn.lock
  yarn.lock
Labels: dependencies, javascript

chore(deps): declare @intlify/message-compiler, used by the i18n fix script
  package.json
  yarn.lock
Labels: dependencies, javascript

chore(deps): remove three dependencies nothing uses any more (#9563)
  .depcheckrc.yml
  package.json
  src-electron/package.json
  src-electron/yarn.lock
  yarn.lock
Labels: dependencies, javascript

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat(timer): free-form part durations, per-day state, custom parts on meeting days, quick controls, docked panel, clock arc display
  CHANGELOG.md
  docs/src/en/faq.md
  docs/src/en/settings-guide.md
  docs/src/en/user-guide.md
  package.json
  src-electron/electron-preload.ts
  src-electron/main/__tests__/pdf.test.ts
  src-electron/main/ipc.ts
  src-electron/main/pdf.ts
  src-electron/main/window/window-timer.ts
  src/components/dialog/DialogTimerPopup.vue
  src/components/form-inputs/SelectInput.vue
  src/components/media/TimerButton.vue
  src/components/media/TimerDockPanel.vue
  src/components/media/TimerPartsList.vue
  src/components/media/TimerQuickControls.vue
  src/composables/__tests__/useTimer.integration.test.ts
  src/composables/__tests__/useTimer.test.ts
  src/composables/__tests__/useTimerAheadBehindText.test.ts
  src/composables/useTimer.ts
  src/composables/useTimerAheadBehindText.ts
  src/constants/settings.ts
  src/helpers/__tests__/meeting-parts.test.ts
  src/helpers/__tests__/timer-report.test.ts
  src/helpers/meeting-parts.ts
  src/helpers/timer-report.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/pages/SettingsPage.vue
  src/pages/TimerPage.vue
  src/types/dates.d.ts
  src/types/electron.d.ts
  src/types/settings.d.ts
  src/types/timer.d.ts
  test/vitest/mocks/electronApi.ts
  yarn.lock
Labels: dependencies, documentation, javascript

feat(timer): free-form part durations, per-day state, custom parts on meeting days, quick controls, docked panel, clock arc display (#9579)
  CHANGELOG.md
  docs/src/en/faq.md
  docs/src/en/settings-guide.md
  docs/src/en/user-guide.md
  package.json
  src-electron/electron-preload.ts
  src-electron/main/__tests__/pdf.test.ts
  src-electron/main/ipc.ts
  src-electron/main/pdf.ts
  src-electron/main/window/window-timer.ts
  src/components/dialog/DialogTimerPopup.vue
  src/components/form-inputs/SelectInput.vue
  src/components/media/TimerButton.vue
  src/components/media/TimerDockPanel.vue
  src/components/media/TimerPartsList.vue
  src/components/media/TimerQuickControls.vue
  src/composables/__tests__/useTimer.integration.test.ts
  src/composables/__tests__/useTimer.test.ts
  src/composables/__tests__/useTimerAheadBehindText.test.ts
  src/composables/useTimer.ts
  src/composables/useTimerAheadBehindText.ts
  src/constants/settings.ts
  src/helpers/__tests__/meeting-parts.test.ts
  src/helpers/__tests__/timer-report.test.ts
  src/helpers/meeting-parts.ts
  src/helpers/timer-report.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/pages/SettingsPage.vue
  src/pages/TimerPage.vue
  src/types/dates.d.ts
  src/types/electron.d.ts
  src/types/settings.d.ts
  src/types/timer.d.ts
  test/vitest/mocks/electronApi.ts
  yarn.lock
Labels: dependencies, documentation, javascript

feat(zoom): raised-hand alert on the timer display, with one-click mute/unmute
  CHANGELOG.md
  docs/src/en/settings-guide.md
  docs/src/en/user-guide.md
  src-electron/main/__tests__/zoom-helper-process.test.ts
  src-electron/main/zoom-helper-process.ts
  src-electron/zoom-helper/ZoomHelper.cs
  src/components/dialog/DialogTimerPopup.vue
  src/components/dialog/DialogZoomMeetingManagerPopup.vue
  src/composables/useTimer.ts
  src/constants/settings.ts
  src/helpers/__tests__/zoom-hand-alert.test.ts
  src/helpers/zoom-hand-alert.ts
  src/helpers/zoom.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/pages/TimerPage.vue
  src/stores/hand-alert.ts
  src/types/settings.d.ts
  src/types/timer.d.ts
  src/types/zoom.d.ts
  src/utils/settings.ts
Labels: documentation

feat(timer): optional timer remote, a read-only timer page for a tablet on the local network
  CHANGELOG.md
  docs/src/en/settings-guide.md
  docs/src/en/user-guide.md
  src-electron/electron-preload.ts
  src-electron/main/__tests__/timer-remote.test.ts
  src-electron/main/ipc.ts
  src-electron/main/timer-remote.ts
  src/components/dialog/DialogTimerPopup.vue
  src/composables/useTimer.ts
  src/constants/settings.ts
  src/helpers/__tests__/timer-remote.test.ts
  src/helpers/timer-remote.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/stores/current-state.ts
  src/types/electron.d.ts
  src/types/settings.d.ts
  test/vitest/mocks/electronApi.ts
  test/vitest/mocks/http.ts
Labels: documentation

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation
