Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

fix: update media-window-title-updated announcement to add a maxVersion
  announcements.json
Labels: none

chore: initial console.log refactor
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogJwPlaylist.vue
  src/helpers/jw-media.ts
  src/helpers/keyboardShortcuts.ts
  src/layouts/MainLayout.vue
  src/shared/vanilla.ts
  src/stores/congregation-settings.ts
Labels: none

chore: add debug to log helper
  src/components/media/MediaItem.vue
  src/composables/useMediaDividers.ts
  src/shared/vanilla.ts
Labels: none

chore: v26.3.2 changelog
  CHANGELOG.md
  src/shared/vanilla.ts
  src/stores/congregation-settings.ts
Labels: documentation

fix: missing line from changelog
  CHANGELOG.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for French (#6835)
  release-notes/fr.md
Labels: documentation

Harden Windows path probe cleanup
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
Labels: none

Silence updater noise and dedupe session hooks
  src-electron/main/__tests__/session.test.ts
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/session.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
Labels: none

Harden Windows path probe cleanup
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
Labels: none

Silence updater noise and dedupe session hooks
  src-electron/main/__tests__/session.test.ts
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/session.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
Labels: none

chore: bump version to v26.3.3-beta.0 [skip ci]
  package.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

Improve meeting timer robustness and placement
  src-electron/main/screen.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-timer.ts
  src/components/dialog/DialogTimerPopup.vue
  src/composables/useTimer.ts
  src/i18n/en.json
  src/pages/TimerPage.vue
Labels: none

Use existing shared log helper pattern
  src-electron/main/screen.ts
  src-electron/main/utils.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-timer.ts
  src/components/dialog/DialogCongregationLookup.vue
  src/components/dialog/DialogTimerPopup.vue
  src/composables/useTimer.ts
  src/helpers/fonts.ts
  src/i18n/en.json
  src/pages/TimerPage.vue
  src/shared/vanilla.ts
  src/types/external-modules.d.ts
Labels: none

chore: update package.json and yarn.lock
  package.json
  yarn.lock
Labels: dependencies, javascript

Fix timer screen move throttling
  src-electron/main/__tests__/screen.test.ts
  src-electron/main/screen.ts
  src-electron/main/window/window-timer.ts
Labels: none

Refactor special routes to use shared helper
  src/router/routes.ts
Labels: none

Normalize timer logging categories
  src-electron/main/window/window-timer.ts
  src/shared/vanilla.ts
Labels: none

chore: update yarn.lock
  yarn.lock
Labels: dependencies, javascript

Update timer icons to use JW icon keywords
  src/composables/useTimer.ts
  src/constants/jw-icons.ts
  src/helpers/media-sections.ts
Labels: none

Add custom timer parts for non-meeting days
  src/components/dialog/DialogTimerPopup.vue
  src/composables/useTimer.ts
  src/i18n/en.json
  src/types/dates.d.ts
  src/types/timer.d.ts
Labels: none

chore: refactor timerWindow into timerWindowInfo
  src-electron/main/__tests__/screen.test.ts
  src-electron/main/ipc.ts
  src-electron/main/screen.ts
  src-electron/main/window/window-timer.ts
Labels: none

chore: various minor code tweaks
  src-electron/main/window/window-timer.ts
  src/components/dialog/DialogTimerPopup.vue
  src/helpers/media-sections.ts
  src/i18n/en.json
  src/pages/TimerPage.vue
Labels: none

fix: more minor tweaks
  src/composables/useTimer.ts
Labels: none

chore: add timer window icon logic
  build/profiles/icongenie-timer-macos.json
  build/profiles/icongenie-timer-win.json
  src-electron/main/utils.ts
  src-electron/main/window/window-timer.ts
Labels: none

chore: add meeting timer icons for macOS and Windows
  build/logos/timer-icon-512-Windows.png
  build/logos/timer-icon-macOS.png
Labels: none

chore: take care of a few to-do points
  src/composables/useTimer.ts
  src/constants/settings.ts
  src/i18n/en.json
  src/pages/TimerPage.vue
  src/types/settings.d.ts
  src/types/timer.d.ts
Labels: none

chore: bump version to v26.3.3-beta.1 [skip ci]
  package.json
Labels: none

Update Node.js version to 22 in workflow
  .github/workflows/refresh-lockfile.yml
Labels: github_actions

Update Node.js version to 22 in build workflow
  .github/workflows/build.yml
Labels: github_actions

chore: bump version to v26.3.3-beta.2 [skip ci]
  package.json
Labels: none

Disable no-console rule for TypeScript files in docs
  eslint.config.js
Labels: none

chore: remove duplicated logic
  src/composables/useTimer.ts
  yarn.lock
Labels: dependencies, javascript

fix: concluding comments come before service talk on CO week
  src/composables/useTimer.ts
Labels: none

fix: participant, not speaker
  src/i18n/en.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
