Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations (#3890)
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified (#3892)
  src/i18n/cmn-hans.json
Labels: none

chore: bump version to v24.12.3-beta.4 [skip ci]
  package.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Portuguese (#3894)
  src/i18n/pt-pt.json
Labels: none

feat: plan schedule changes
  src/components/dialog/DialogCacheClear.vue
  src/constants/settings.ts
  src/helpers/date.ts
  src/helpers/migrations.ts
  src/i18n/en.json
  src/types/settings.d.ts
  src/utils/date.ts
  src/utils/settings.ts
Labels: none

fix: allow force close when ui is not responding
  src-electron/main/window/window-main.ts
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovak (#3896)
  src/i18n/sk.json
Labels: none

fix: logic
  src/helpers/date.ts
  src/layouts/MainLayout.vue
Labels: none

chore: cleanup deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: cleanup
  src/components/header/HeaderSettings.vue
Labels: none

fix: cleanup jw store on congregation delete
  src/components/ui/AnnouncementBanner.vue
  src/stores/congregation-settings.ts
Labels: none

chore: fix merge conflicts
  src/stores/congregation-settings.ts
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Swedish (#3899)
  src/i18n/sv.json
Labels: none

feat: cleanup old store values
  src/components/ui/AnnouncementBanner.vue
  src/helpers/cleanup.ts
  src/layouts/MainLayout.vue
  src/stores/app-settings.ts
  src/utils/__tests__/general.test.ts
  src/utils/general.ts
Labels: none

chore: update translations progress
  README.md
Labels: documentation

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
