Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

chore: new translations for Dutch
  src/i18n/nl.json
Labels: none

chore: new translations for Dutch (#3632)
  src/i18n/nl.json
Labels: none

chore: new translations for Slovenian
  src/i18n/sl.json
Labels: none

chore: new translations for Slovenian (#3634)
  src/i18n/sl.json
Labels: none

style: bump eslint to v9
  .eslintignore
  .eslintrc.cjs
  docs/.vitepress/config.mts
  docs/.vitepress/theme/index.ts
  eslint.config.js
  package.json
  postcss.config.js
  quasar.config.ts
  src-electron/main/window/window-state.ts
  src-electron/utils.ts
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogCacheClear.vue
  src/components/media/MediaItem.vue
  src/helpers/cleanup.ts
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/stores/congregation-settings.ts
  src/stores/store-flag.d.ts
  src/utils/media.ts
  yarn.lock
Labels: dependencies, documentation, javascript

chore: cleanup
  .github/dependabot.yml
  package.json
Labels: dependencies, github_actions

chore: new translations for Italian
  src/i18n/it.json
Labels: none

chore: new translations for Italian (#3636)
  src/i18n/it.json
Labels: none

fix: type issues
  quasar.config.ts
  src-electron/constants.ts
  src-electron/main/window/window-website.ts
  src-electron/preload/fs.ts
  src-electron/utils.ts
  src/boot/sentry.ts
  src/components/dialog/DialogAudioBible.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogStudyBible.vue
  src/components/form-inputs/FolderInput.vue
  src/components/form-inputs/SelectInput.vue
  src/components/header/HeaderCalendar.vue
  src/components/header/HeaderSettings.vue
  src/components/media/PublicTalkMediaPicker.vue
  src/helpers/date.ts
  src/helpers/export-media.ts
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/helpers/mediaPlayback.ts
  src/layouts/MainLayout.vue
  src/pages/CongregationSelectorPage.vue
  src/pages/SettingsPage.vue
  src/utils/converters.ts
  src/utils/date.ts
  src/utils/general.ts
  src/utils/jw.ts
  src/utils/sqlite.ts
Labels: none

chore: new translations for Italian
  src/i18n/it.json
Labels: none

chore: new translations for Italian (#3638)
  src/i18n/it.json
Labels: none

fix: module type imports
  src-electron/utils.ts
  src/helpers/error-catcher.ts
  src/stores/obs-state.ts
Labels: none

fix: upath imports
  src-electron/electron-main.ts
  src-electron/main/fs.ts
  src/stores/index.ts
  src/stores/store-flag.d.ts
Labels: none

fix: contextIsolation
  src-electron/main/window/window-base.ts
Labels: none

fix: separate main utils from preload utils
  src-electron/constants.ts
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-website.ts
  src-electron/utils.ts
Labels: none

chore: cleanup
  src-electron/electron-preload.ts
Labels: none

fix: reset zoom factor when closing website window
  package.json
  src-electron/electron-preload.ts
  src-electron/main/window/window-website.ts
Labels: none

fix: restore global definitions
  eslint.config.js
Labels: none

chore: update deps
  yarn.lock
Labels: dependencies, javascript

chore: cleanup
  eslint.config.js
Labels: none

fix: remove 8 languages that at 0% in Crowdin
  docs/locales/index.ts
  src/constants/locales.ts
  src/i18n/index.ts
Labels: documentation

fix: delete untouched translation files for deleted languages
  docs/locales/af.json
  docs/locales/ilo.json
  docs/locales/pag.json
  docs/locales/rmn-x-rmg.json
  docs/locales/sk.json
  docs/locales/ta.json
  docs/locales/tl.json
  docs/locales/wes-x-pgw.json
  src/i18n/af.json
  src/i18n/ilo.json
  src/i18n/pag.json
  src/i18n/rmn-x-rmg.json
  src/i18n/sk.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/wes-x-pgw.json
Labels: documentation

chore: update translations progress
  README.md
Labels: documentation

style: enable strict lint rules
  eslint.config.js
  quasar.config.ts
  src-electron/main/window/window-website.ts
  src/components/dialog/DialogAudioBible.vue
  src/components/dialog/DialogCacheClear.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogStudyBible.vue
  src/components/form-inputs/FolderInput.vue
  src/components/form-inputs/SelectInput.vue
  src/components/header/HeaderCalendar.vue
  src/components/header/HeaderSettings.vue
  src/components/media/MediaItem.vue
  src/components/media/PublicTalkMediaPicker.vue
  src/helpers/date.ts
  src/helpers/export-media.ts
  src/helpers/jw-media.ts
  src/helpers/mediaPlayback.ts
  src/layouts/MainLayout.vue
  src/pages/CongregationSelectorPage.vue
  src/pages/MediaCalendarPage.vue
  src/stores/congregation-settings.ts
  src/utils/general.ts
Labels: none

fix: type issue
  src/helpers/jw-media.ts
Labels: none

chore: new translations for Swedish
  src/i18n/sv.json
Labels: none

chore: new translations for Swedish (#3645)
  src/i18n/sv.json
Labels: none

chore: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

chore: new translations for Ukrainian (#3647)
  src/i18n/uk.json
Labels: none

chore: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

chore: new translations for Portuguese (#3649)
  src/i18n/pt-pt.json
Labels: none

chore: cleanup old locales
  docs/src/af/about.md
  docs/src/af/faq.md
  docs/src/af/index.md
  docs/src/af/using-at-a-kingdom-hall.md
  docs/src/ilo/about.md
  docs/src/ilo/faq.md
  docs/src/ilo/index.md
  docs/src/ilo/using-at-a-kingdom-hall.md
  docs/src/pag/about.md
  docs/src/pag/faq.md
  docs/src/pag/index.md
  docs/src/pag/using-at-a-kingdom-hall.md
  docs/src/rmn-x-rmg/about.md
  docs/src/rmn-x-rmg/faq.md
  docs/src/rmn-x-rmg/index.md
  docs/src/rmn-x-rmg/using-at-a-kingdom-hall.md
  docs/src/sk/about.md
  docs/src/sk/faq.md
  docs/src/sk/index.md
  docs/src/sk/using-at-a-kingdom-hall.md
  docs/src/ta/about.md
  docs/src/ta/faq.md
  docs/src/ta/index.md
  docs/src/ta/using-at-a-kingdom-hall.md
  docs/src/tl/about.md
  docs/src/tl/faq.md
  docs/src/tl/index.md
  docs/src/tl/using-at-a-kingdom-hall.md
  docs/src/wes-x-pgw/about.md
  docs/src/wes-x-pgw/faq.md
  docs/src/wes-x-pgw/index.md
  docs/src/wes-x-pgw/using-at-a-kingdom-hall.md
Labels: documentation

fix: revert wrong refactors
  src/components/dialog/DialogAudioBible.vue
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
Labels: none

chore: correctly set sentry version
  quasar.config.js
  src-electron/electron-main.ts
  src/boot/sentry.ts
  src/constants/sentry.ts
Labels: none

fix: try languages in correct order
  src/components/dialog/DialogStudyBible.vue
  src/helpers/jw-media.ts
Labels: none

fix: try media lang first when fallback is configured
  src/helpers/jw-media.ts
Labels: none

chore: improve error messages
  src/components/dialog/DialogDisplayPopup.vue
  src/helpers/jw-media.ts
Labels: none

chore: fix sentry version mismatch
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: fix sentry imports
  src-electron/utils.ts
  src/helpers/error-catcher.ts
Labels: none

chore: new translations for German
  src/i18n/de.json
Labels: none
