Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Swahili
  docs/src/sw/index.md
Labels: documentation

feat: new translations for Swahili
  docs/src/sw/settings-guide.md
Labels: documentation

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Amharic
  docs/src/am/index.md
Labels: documentation

feat: new translations for Amharic
  docs/src/am/settings-guide.md
Labels: documentation

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations for Haitian Creole
  docs/src/ht/index.md
Labels: documentation

feat: new translations for Haitian Creole
  docs/src/ht/settings-guide.md
Labels: documentation

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations for Kinyarwanda
  docs/src/rw/index.md
Labels: documentation

feat: new translations for Kinyarwanda
  docs/src/rw/settings-guide.md
Labels: documentation

feat: new translations for Ga
  src/i18n/gaa.json
Labels: none

feat: new translations for Ga
  docs/src/gaa/index.md
Labels: documentation

feat: new translations for Ga
  docs/src/gaa/settings-guide.md
Labels: documentation

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Swedish (#5149)
  src/i18n/sv.json
Labels: none

fix: in some cases, the S-34mp could get deleted as part of the smart cache clear and this would cause issues until the next app restart
  .vscode/settings.json
  src/components/dialog/DialogPublicTalkMediaPicker.vue
Labels: none

fix: improve frequently used directories definition to include S-34mp directories, to prevent their deletion
  src/helpers/cleanup.ts
Labels: none

chore(dep): revert electron to counter frameless window resize bug (https://github.com/electron/electron/issues/48576)
  .github/dependabot.yml
  package.json
  yarn.lock
Labels: dependencies, github_actions, javascript

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations (#5152)
  src/i18n/it.json
  src/i18n/ru.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for Spanish (#5153)
  src/i18n/es.json
Labels: none

chore: bump version to v25.10.1-beta.3 [skip ci]
  package.json
Labels: none

fix: update banner was not showing for users that have automatic updates disabled
  src/components/ui/AnnouncementBanner.vue
Labels: none

chore: streamline announcements banner
  src/components/ui/AnnouncementBanner.vue
  src/types/general.d.ts
Labels: none

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Slovenian (#5155)
  release-notes/sl.md
Labels: documentation

chore: further simplifications to in-app banners
  src/components/ui/AnnouncementBanner.vue
  src/pages/MediaCalendarPage.vue
Labels: none

fix: ensure current main screen is updated when window is moved
  src-electron/main/window/window-media.ts
Labels: none

feat: accurate visual representation of M³ main window current size and location in display popup
  build/icons/logo.svg
  src-electron/main/screen.ts
  src/components/dialog/DialogAddDivider.vue
  src/components/dialog/DialogAudioBible.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogJwPlaylist.vue
  src/components/dialog/DialogRemoteVideo.vue
  src/components/dialog/DialogStudyBible.vue
  src/components/media/SectionEmptyState.vue
  src/i18n/en.json
  src/pages/CongregationSelectorPage.vue
  src/types/electron.d.ts
Labels: none

fix: audio bible book listing could sometimes display HTML entities when it shouldn't
  src/components/dialog/DialogAudioBible.vue
Labels: none

fix: text color in empty section
  src/components/media/SectionEmptyState.vue
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none
