Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

fix: run date-folder cache cleanup after a congregation is actually active
  src/layouts/MainLayout.vue
Labels: none

docs: add v26.7.7 changelog entry
  CHANGELOG.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  release-notes/bzs.md
Labels: documentation

fix: skip non-directory entries when cleaning up expired date folders
  src/helpers/cleanup.ts
Labels: none

fix: serialize watched-media section-order writes per file
  src/helpers/media-sections.ts
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for French
  release-notes/fr.md
Labels: documentation

fix: reject corrupted .last-used date strings before parsing
  src/helpers/__tests__/usage.test.ts
  src/helpers/usage.ts
Labels: none

feat: replace auto-update banners with Quasar notifications
  src/components/ui/AnnouncementBanner.vue
Labels: none

fix: throttle media preview sync during live playback
  src/components/media/MediaPreview.vue
Labels: none

chore: dep updates
  package.json
  yarn.lock
Labels: dependencies, javascript

fix: retry rename/write on transient Windows file lock in section-order writes
  src/helpers/fs-retry.ts
  src/helpers/media-sections.ts
  src/helpers/usage.ts
Labels: none

fix: include congId and file path in wasUpdateInstalled error context
  src/utils/fs.ts
Labels: none

fix: don't report getThumbnailFromMetadata failure when a video fallback exists
  src/helpers/fs.ts
Labels: none

chore: update settings.json
  .claude/settings.json
Labels: none

test: parameterize isFetchNetworkError message/cause test cases
  src/shared/__tests__/network-errors.test.ts
Labels: none

fix: drop unhandled net-stack rejections from Sentry before capture
  src-electron/electron-main.ts
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/utils.ts
Labels: none

fix: re-render meeting icons once JW icon glyph map finishes loading
  src/helpers/fonts.ts
Labels: none

fix: correctly detect GPU-fatal crashes and relaunch after repeated GPU crashes
  src-electron/electron-main.ts
Labels: none

fix: resync media preview immediately on paused scrub
  src/components/media/MediaPreview.vue
Labels: none

fix: keep updater notification visible across congregation switches
  src/components/ui/AnnouncementBanner.vue
  src/helpers/notifications.ts
Labels: none

test: stub network calls in AnnouncementBanner mount test
  src/components/ui/__tests__/AnnouncementBanner.test.ts
Labels: none

docs: v26.7.8 changelog
  CHANGELOG.md
Labels: documentation

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
