Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations (#9227)
  docs/src/it/settings-guide.md
  release-notes/it.md
  src/i18n/it.json
Labels: documentation

fix(crowdin): repair the exported l10n_master files, not just the source (#9233)
  .github/workflows/crowdin-autorepair.yml
Labels: github_actions

fix: report real MediaError message to Sentry and guard focus blur() call
  src/components/form-inputs/DateInput.vue
  src/stores/music.ts
Labels: none

fix: report real MediaError message to Sentry and guard focus blur() call (#9259)
  src/components/form-inputs/DateInput.vue
  src/stores/music.ts
Labels: none

fix: close remaining Sentry regressions in blur guard, jwpub download, and stream teardown
  src/components/form-inputs/TimeInput.vue
  src/helpers/jw-media.ts
  src/pages/MediaPlayerPage.vue
Labels: none

docs: add UPCOMING VERSION changelog entries for the previous commit's fixes
  CHANGELOG.md
Labels: documentation

fix: close remaining Sentry regressions in blur guard, jwpub download, and stream teardown (#9266)
  CHANGELOG.md
  src/components/form-inputs/TimeInput.vue
  src/helpers/jw-media.ts
  src/pages/MediaPlayerPage.vue
Labels: documentation

fix: suppress transient network errors reported from getLocalFontPath
  src/helpers/fonts.ts
Labels: none

docs: update UPCOMING VERSION changelog for font-fetch error suppression
  CHANGELOG.md
Labels: documentation

fix: use the actual downloaded path when finishing a JW Library sign-language download
  src/helpers/jw-media.ts
Labels: none

docs: add UPCOMING VERSION changelog entry for the previous commit's fix
  CHANGELOG.md
Labels: documentation

fix: suppress transient network errors reported from getLocalFontPath (#9269)
  CHANGELOG.md
  src/helpers/fonts.ts
  src/helpers/jw-media.ts
Labels: documentation

fix: apply the region-aware expected-error check consistently, and nudge affected users
  CHANGELOG.md
  src-electron/main/__tests__/downloads.expected-error.test.ts
  src/helpers/__tests__/fonts.test.ts
  src/helpers/fonts.ts
  src/helpers/notifications.ts
  src/i18n/en.json
  src/stores/__tests__/jw.test.ts
  src/stores/jw.ts
  src/utils/api.ts
Labels: documentation

fix: apply the region-aware expected-error check consistently, and nudge affected users (#9270)
  CHANGELOG.md
  src-electron/main/__tests__/downloads.expected-error.test.ts
  src/helpers/__tests__/fonts.test.ts
  src/helpers/fonts.ts
  src/helpers/notifications.ts
  src/i18n/en.json
  src/stores/__tests__/jw.test.ts
  src/stores/jw.ts
  src/utils/api.ts
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  release-notes/bzs.md
Labels: documentation
