Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

chore: bump version to v26.3.1-beta.0 [skip ci]
  package.json
Labels: none

fix: prefer cached icon fonts before remote refresh
  src/helpers/__tests__/fonts.test.ts
  src/helpers/fonts.ts
Labels: none

fix: refresh cached fonts while keeping offline fallbacks
  src/helpers/__tests__/fonts.test.ts
  src/helpers/fonts.ts
Labels: none

fix: avoid remote font checks when cache exists
  src/helpers/__tests__/fonts.test.ts
  src/helpers/fonts.ts
Labels: none

test: fix jw-icons fetchRaw assertion
  src/helpers/__tests__/fonts.test.ts
Labels: none

chore: replace vite-tsconfig-paths plugin with tsconfigPaths param
  vitest.config.mts
  yarn.lock
Labels: dependencies, javascript

fix: remove unused esbuild vitest params
  vitest.config.mts
Labels: none

chore: finally update electron since https://github.com/electron/electron/pull/50298 was merged
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: simplify getMediaResolution
  src/utils/jw.ts
Labels: none

chore: improve feature_match in update-release-notes.py
  scripts/update-release-notes.py
Labels: none

chore: only upload source maps for release builds
  .github/workflows/ci.yml
Labels: github_actions

chore: implement downloaded check for publication media videos
  src/components/dialog/DialogPublicationMedia.vue
  src/types/jw/publications.d.ts
Labels: none

Fix Electron errno error typing
  src-electron/electron-main.ts
Labels: none

chore: bump version to v26.3.1-beta.1 [skip ci]
  package.json
Labels: none

feat: add playback speed control with doubling, visual indicator, and manual reset
  src/components/media/MediaItem.vue
  src/composables/usePlaybackRate.ts
  src/constants/settings.ts
  src/i18n/en.json
  src/pages/MediaPlayerPage.vue
  src/types/settings.d.ts
Labels: none

Add regression coverage for offline and window logic
  src-electron/main/__tests__/window-media.test.ts
  src-electron/main/window/window-media.ts
  src/stores/__tests__/jw.test.ts
  src/utils/__tests__/api.test.ts
  test/vitest/mocks/electronApi.ts
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

Fix JW language test fixture typing
  src/stores/__tests__/jw.test.ts
Labels: none

Remove esbuild options from Vite config
  quasar.config.ts
Labels: none

Remove unused Quasar extension configuration
  quasar.extensions.json
Labels: none

Remove @quasar/quasar-app-extension-qmarkdown
  package.json
Labels: none

Remove 'qmarkdown' from settings.json
  .vscode/settings.json
Labels: none

Remove qmarkdown extension from configuration
  quasar.extensions.json
Labels: none

Add workflow to refresh Yarn lockfile
  .github/workflows/refresh-lockfile.yml
Labels: github_actions

Update yarn install command to use --no-immutable
  .github/workflows/refresh-lockfile.yml
Labels: github_actions

chore: bump version to v26.3.1-beta.2 [skip ci]
  package.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/faq.md
Labels: documentation

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/settings-guide.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/user-guide.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/download.md
Labels: documentation

chore: add possibility of clicking Share and Participants buttons even when they're tucked away in the More menu
  src/constants/settings.ts
  src/constants/zoom.ts
  src/helpers/zoom.ts
  src/i18n/en.json
  src/types/settings.d.ts
  src/utils/settings.ts
  uia_helper.py
Labels: none

chore: v26.3.1 changelog
  CHANGELOG.md
Labels: documentation

Fix macOS main window relaunch handling
  src-electron/electron-main.ts
  src-electron/main/__tests__/window-main.test.ts
  src-electron/main/window/window-main.ts
Labels: none

Fix leaked MP4 auto-export conversions
  src-electron/electron-preload.ts
  src-electron/main/__tests__/ffmpeg.test.ts
  src-electron/main/ffmpeg.ts
  src-electron/main/ipc.ts
  src/helpers/export-media.ts
  src/types/electron.d.ts
Labels: none

Enhance commit message filtering in workflow
  .github/workflows/beta-release.yml
Labels: github_actions

chore: bump version to v26.3.2-beta.0 [skip ci]
  package.json
Labels: none

feat: new translations for Hungarian
  docs/src/hu/user-guide.md
Labels: documentation
