Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations (#6905)
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/ko.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations (#6907)
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/pt-pt.json
  src/i18n/ru.json
  src/i18n/sl.json
  src/i18n/sv.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

Document atomic waitress port binding rationale
  src-electron/main/ipc.ts
  src-electron/main/zoom-helper-manager.ts
  uia_helper.py
Labels: none

Use dynamic port for Zoom helper and route IPC requests to advertised base URL
  src-electron/main/ipc.ts
  src-electron/main/zoom-helper-manager.ts
  uia_helper.py
Labels: none

chore: bump version to v26.3.3-beta.4 [skip ci]
  package.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian (#6913)
  src/i18n/sl.json
Labels: none

chore: bump version to v26.3.3-beta.5 [skip ci]
  package.json
Labels: none

Harden watched-folder handling for WebDAV network paths
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
Labels: none

Fix UNC detection for watchFolder network-path handling
  src-electron/main/fs.ts
Labels: none

Use String.raw for UNC path literals in watchFolder tests
  src-electron/main/__tests__/fs.test.ts
Labels: none

Align network path detection with upath normalization
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
Labels: none

Harden watchFolder handling for WebDAV/UNC network paths (#6919)
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
Labels: none

Update target browser and node versions in config
  quasar.config.ts
Labels: none

Update Node.js and Yarn version requirements
  CONTRIBUTING.md
Labels: documentation

Update Node and Yarn versions in package.json
  package.json
Labels: none

Upgrade Node.js version from 22 to 24
  .github/workflows/build.yml
Labels: github_actions

Update Node.js version to 24 in workflow
  .github/workflows/refresh-lockfile.yml
Labels: github_actions

Upgrade Node.js version from 22 to 24
  .github/workflows/docs.yml
Labels: github_actions

chore: update electron
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v26.3.3-beta.6 [skip ci]
  package.json
Labels: none

ci: make electron publish explicit for release workflows
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/manual-release.yml
Labels: github_actions

ci: forward publish flag to quasar build command
  .github/workflows/build.yml
Labels: github_actions

ci: make electron publishing explicit in release workflows (#6922)
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/manual-release.yml
Labels: github_actions

Handle memorial recache when fileUrl is missing
  src/pages/MediaCalendarPage.vue
Labels: none
