Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

chore: lots of new errorCatchers
  src-electron/electron-main.ts
  src-electron/main/window/window-media.ts
  src-electron/preload/close.ts
  src/components/dialog/DialogPublicTalkMediaPicker.vue
  src/components/dialog/DialogPublicationMedia.vue
  src/components/dialog/DialogStudyBible.vue
  src/components/media/MediaList.vue
  src/composables/useMediaSection.ts
  src/helpers/congregation-schedule.ts
  src/helpers/date.ts
  src/helpers/electron-api-manager.ts
  src/helpers/jw-media.ts
  src/helpers/keyboard-shortcuts.ts
  src/helpers/keyboardShortcuts.ts
  src/helpers/media-sections.ts
  src/helpers/zoom.ts
  src/layouts/MainLayout.vue
  src/migrations/add-base-url.ts
  src/migrations/auto-enroll-meeting-sync.ts
  src/migrations/first-run.ts
  src/migrations/local-storage-to-pinia.ts
  src/migrations/move-additional-media.ts
  src/migrations/new-media-sections.ts
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/stores/app-settings.ts
  src/utils/date.ts
Labels: none

chore: initCloseListeners errorCatchers
  src-electron/preload/close.ts
Labels: none

chore: fonts errorCatchers
  src/helpers/fonts.ts
  src/pages/MediaPlayerPage.vue
Labels: none

chore: bump version to v26.1.8-beta.9 [skip ci]
  package.json
Labels: none

Add ESLint rules for restricted imports in Electron
  eslint.config.js
Labels: none

Refactor no-restricted-imports patterns in eslint config
  eslint.config.js
Labels: none

Refactor ESLint config for restricted imports
  eslint.config.js
Labels: none

fix: new ESLint rules for process separation
  eslint.config.js
  src-electron/preload/close.ts
  src-electron/preload/converters.ts
  src/helpers/electron-api-manager.ts
  src/types/electron.d.ts
Labels: none

chore: delete prerelease releases with no artifacts as part of cleanup
  .github/workflows/beta-release.yml
Labels: github_actions

chore: bump version to v26.1.8-beta.10 [skip ci]
  package.json
Labels: none

Improve beta release cleanup script error handling
  .github/workflows/beta-release.yml
Labels: github_actions

feat: new translations for Hungarian
  docs/src/hu/faq.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/settings-guide.md
Labels: documentation

chore: make clear that S-34 and S-34mp can both be used
  src/components/dialog/DialogPublicTalkMediaPicker.vue
  src/helpers/cleanup.ts
  src/i18n/en.json
Labels: none

fix: prevent EBUSY errors with ffmpeg
  src-electron/main/ffmpeg.ts
  src/helpers/export-media.ts
Labels: none

fix: ffmpeg test
  src-electron/main/__tests__/ffmpeg.test.ts
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
