Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations for Ga
  src/i18n/gaa.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

chore: bump version to v26.1.8-beta.11 [skip ci]
  package.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

chore: bump version to v26.1.8-beta.12 [skip ci]
  package.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Hungarian
  docs/src/hu/settings-guide.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/settings-guide.md
Labels: documentation

fix: mute GPU debug logs
  src-electron/electron-main.ts
Labels: none

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Hungarian
  docs/src/hu/user-guide.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/settings-guide.md
Labels: documentation

chore: detect and warn about video capture crashes
  src-electron/electron-main.ts
  src-electron/electron-preload.ts
  src/layouts/MainLayout.vue
  src/types/electron.d.ts
Labels: none

chore: only getCameras if it's a sign language congregation or a camera is already selected
  src/components/dialog/DialogDisplayPopup.vue
Labels: none

chore: create v26.1.8 changelog
  CHANGELOG.md
Labels: documentation

fix: manual release action
  .github/workflows/manual-release.yml
  build/bump-version.py
  test/vitest/mocks/electronApi.ts
Labels: github_actions

chore: reduce getAppDataPath chattiness
  src-electron/main/fs.ts
Labels: none

fix: fallback for odd tracks like "x"
  src/utils/api.ts
Labels: none

chore: rework unzip error flow again
  src-electron/main/fs.ts
  src/components/dialog/DialogDisplayPopup.vue
  src/helpers/error-catcher.ts
  src/helpers/jw-media.ts
  src/helpers/mediaPlayback.ts
  src/pages/MediaCalendarPage.vue
Labels: none

chore: bump version to v26.1.9-beta.0 [skip ci]
  package.json
Labels: none

chore: start hardening against SQL injection
  src-electron/preload/sqlite.ts
  src/types/electron.d.ts
  src/utils/sqlite.ts
Labels: none

fix: various exploit fixes
  .github/workflows/translator.yml
  src-electron/main/fs.ts
  src/components/media/MediaGroup.vue
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
Labels: github_actions

chore: silence ENOSPC errors
  src-electron/main/utils.ts
Labels: none

feat: free disk space check
  package.json
  src-electron/electron-preload.ts
  src-electron/main/disk-space.ts
  src-electron/main/ipc.ts
  src/i18n/en.json
  src/pages/CongregationSelectorPage.vue
  src/types/electron.d.ts
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
