Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations for Ga
  src/i18n/gaa.json
Labels: none

fix: zoom/pan crosstalk and unwanted zoom/pan animations
  src/components/media/MediaItem.vue
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

chore: bump version to v25.12.2-beta.8 [skip ci]
  package.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

fix: exported media sections now respect the same order as the visual section order
  src/helpers/export-media.ts
Labels: none

fix: vare declaration placement in export-media.ts
  src/helpers/export-media.ts
Labels: none

fix: export day when files finish downloading
  src/helpers/export-media.ts
  src/pages/MediaCalendarPage.vue
  src/stores/current-state.ts
Labels: none

chore: automatically prune expired folders from auto export folder
  src/helpers/export-media.ts
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

chore: add song number to exported filename
  src/helpers/export-media.ts
Labels: none

chore: bump version to v25.12.2-beta.9 [skip ci]
  package.json
Labels: none

fix: add extra media button was not showing properly in CO section header
  src/composables/useMediaSection.ts
Labels: none

fix: prevent zoom if shift or control not being held; prevent accidentaly zoom while scrolling
  src/components/media/MediaItem.vue
Labels: none

chore: bump version to v25.12.2-beta.10 [skip ci]
  package.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Portuguese
  docs/src/pt-pt/about.md
Labels: documentation

feat: new translations for Portuguese
  docs/src/pt-pt/faq.md
Labels: documentation

feat: new translations for Portuguese
  docs/locales/pt-pt.json
Labels: documentation

feat: new translations for Portuguese
  docs/src/pt-pt/settings-guide.md
Labels: documentation

chore: bump version to v25.12.2-beta.11 [skip ci]
  package.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

chore: bump version to v25.12.2-beta.12 [skip ci]
  package.json
Labels: none

fix: improve zoom pan buttons visibility and fading
  src/components/media/MediaItem.vue
Labels: none

chore: bump version to v25.12.2-beta.13 [skip ci]
  package.json
Labels: none

fix: errors related to ip-api being unavailable
  src-electron/main/downloads.ts
  src-electron/main/utils.ts
Labels: none

fix: clean up media elements to prevent EXCEPTION_ACCESS_VIOLATION_READ errors
  src/pages/MediaPlayerPage.vue
Labels: none

chore: increase notifyMainWindowAboutScreenOrWindowChange delay from 100ms to 250ms
  src-electron/main/window/window-media.ts
Labels: none

chore: replace decompress with yauzl for better memory management
  package.json
  quasar.config.ts
  src-electron/electron-preload.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogJwPlaylist.vue
  src/components/dialog/DialogPublicTalkMediaPicker.vue
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/helpers/mediaPlayback.ts
  src/pages/MediaCalendarPage.vue
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
  yarn.lock
Labels: dependencies, javascript

chore: add warning if running 32bit on 64bit OS
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/types/electron.d.ts
Labels: none

fix: prevent autoUpdater error noise due to network issues
  src-electron/main/updater.ts
Labels: none

fix: properly filter out read-only volume autoupdater errors
  src-electron/electron-main.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
