Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

bump version to v24.11.3
  package.json
Labels: none

fix: calendar day labels were incorrect in some cases
  src/components/form-inputs/DateInput.vue
  src/components/header/HeaderCalendar.vue
  src/helpers/date.ts
Labels: none

chore: add click animation
  src-electron/main/window/window-website.ts
Labels: none

feat: add cursor indicator to website present (#3311)
  src-electron/main/window/window-website.ts
Labels: none

feat: better validate base url
  src/helpers/jw-media.ts
Labels: none

fix: set fullscreen to false on macOS before moving window to new monitor
  src-electron/main/window/window-media.ts
Labels: none

fix: opening song button should ignore watched media
  src/components/header/HeaderCalendar.vue
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
  src/stores/jw.ts
  src/types/media.d.ts
Labels: none

chore: new translations for Swedish
  src/i18n/sv.json
Labels: none

chore: new translations for Swedish (#3323)
  src/i18n/sv.json
Labels: none

fix: respect section when adding extra MW meeting media
  src/pages/MediaCalendarPage.vue
Labels: none

fix: add macOS confirmation step for bug report
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  src-electron/electron-main.ts
Labels: github_actions

fix: open docs in new pages from bug report
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

fix: clear up language
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

fix: improve macOS quit
  src-electron/electron-main.ts
Labels: none

fix: incorrect number getter type for select menus
  src/components/form-inputs/SelectInput.vue
Labels: none

fix: remove userData vs appData hacks
  src-electron/main/ipc.ts
  src-electron/main/updater.ts
  src-electron/main/window/window-base.ts
  src-electron/utils.ts
Labels: none

chore: new translations for Spanish
  src/i18n/es.json
Labels: none

chore: new translations for Spanish (#3326)
  src/i18n/es.json
Labels: none

chore: new translations for Spanish
  src/i18n/es.json
Labels: none

chore: new translations for Spanish
  docs/locales/es.json
Labels: documentation

chore: new translations (#3328)
  docs/locales/es.json
  src/i18n/es.json
Labels: documentation

fix: reset overlay after PDF import
  src/pages/MediaCalendarPage.vue
Labels: none

feat: show song grid instead of list
  src/components/media/SongPicker.vue
  src/css/app.scss
  src/i18n/en.json
Labels: none

fix: drag-and-dropper wasn't dismissing properly in some cases
  src/components/media/DragAndDropper.vue
  src/helpers/mediaPlayback.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/stores/current-state.ts
Labels: none

chore: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

chore: new translations for Romanian
  src/i18n/ro.json
Labels: none

chore: new translations for French
  src/i18n/fr.json
Labels: none

chore: new translations for Spanish
  src/i18n/es.json
Labels: none

chore: new translations for Afrikaans
  src/i18n/af.json
Labels: none

chore: new translations for German
  src/i18n/de.json
Labels: none

chore: new translations for Greek
  src/i18n/el.json
Labels: none

chore: new translations for Finnish
  src/i18n/fi.json
Labels: none

chore: new translations for Hungarian
  src/i18n/hu.json
Labels: none

chore: new translations for Italian
  src/i18n/it.json
Labels: none

chore: new translations for Dutch
  src/i18n/nl.json
Labels: none

chore: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

chore: new translations for Russian
  src/i18n/ru.json
Labels: none

chore: new translations for Slovak
  src/i18n/sk.json
Labels: none

chore: new translations for Slovenian
  src/i18n/sl.json
Labels: none

chore: new translations for Swedish
  src/i18n/sv.json
Labels: none
