Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

chore: Add download queue breadcrumbs and jwpub re-download recovery (#6995)
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/downloads.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
  src/helpers/jw-media.ts
Labels: none

Handle memorial-replaced weeks in media fetchers
  src/helpers/jw-media.ts
Labels: none

fix: Handle memorial-replaced meetings in midweek and weekend media fetchers (#7005)
  src/helpers/jw-media.ts
Labels: none

Fix memorial media offline fallback and add backup bg item
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
Labels: none

Fix next-day navigation to include today from empty state
  src/components/media/MediaEmptyState.vue
Labels: none

fix: next-day navigation should include today when appropriate (#7008)
  src/components/media/MediaEmptyState.vue
Labels: none

Silence meeting fetch errors for past dates
  src/helpers/jw-media.ts
Labels: none

fix: Silence meeting fetch errors for past dates (#7011)
  src/helpers/jw-media.ts
Labels: none

chore: v26.4.3 changelog
  CHANGELOG.md
Labels: documentation

Skip refreshing past errored meetings
  src/helpers/jw-media.ts
Labels: none

chore: v26.4.4 changelog
  CHANGELOG.md
Labels: documentation

fix: skip dynamic refresh for past meetings in error state (#7012)
  CHANGELOG.md
  src/helpers/jw-media.ts
Labels: documentation

Fix memorial replacement and retention window
  src/helpers/date.ts
  src/utils/__tests__/api.test.ts
  src/utils/api.ts
Labels: none

fix: memorial replacement and retention window (#7014)
  src/helpers/date.ts
  src/utils/__tests__/api.test.ts
  src/utils/api.ts
Labels: none

chore: v26.4.5 changelog
  CHANGELOG.md
Labels: documentation

Avoid cached requests when base URL changes
  src/helpers/jw-media.ts
Labels: none

fix: Avoid cached requests when base URL changes (#7016)
  src/helpers/jw-media.ts
Labels: none

Add download queue pause diagnostics and resume-all recovery
  src-electron/electron-preload.ts
  src-electron/main/downloads.ts
  src-electron/main/ipc.ts
  src/components/dialog/DialogDownloadsPopup.vue
  src/layouts/MainLayout.vue
  src/types/electron.d.ts
Labels: none

chore: Add download queue pause diagnostics and resume-all recovery (#7017)
  src-electron/electron-preload.ts
  src-electron/main/downloads.ts
  src-electron/main/ipc.ts
  src/components/dialog/DialogDownloadsPopup.vue
  src/layouts/MainLayout.vue
  src/types/electron.d.ts
Labels: none

Add download queue pause controls and queue debug logging
  src-electron/electron-preload.ts
  src-electron/main/downloads.ts
  src-electron/main/ipc.ts
  src/components/dialog/DialogDownloadsPopup.vue
  src/layouts/MainLayout.vue
  src/types/electron.d.ts
Labels: none

chore: Add download queue pause controls and queue debug logging (#7019)
  src-electron/electron-preload.ts
  src-electron/main/downloads.ts
  src-electron/main/ipc.ts
  src/components/dialog/DialogDownloadsPopup.vue
  src/layouts/MainLayout.vue
  src/types/electron.d.ts
Labels: none

chore: move downloadBackgroundMusic logic
  src/components/dialog/DialogDownloadsPopup.vue
  src/helpers/__tests__/fonts.test.ts
  src/helpers/jw-media.ts
  src/layouts/MainLayout.vue
  src/pages/SetupWizard.vue
  src/stores/current-state.ts
Labels: none

Add 26.4.6 migration to clear Fonts folder
  src/migrations/empty-fonts-folder.ts
  src/migrations/index.ts
Labels: none

chore: Add 26.4.6 migration to clear Fonts folder (#7021)
  src/migrations/empty-fonts-folder.ts
  src/migrations/index.ts
Labels: none

chore: v26.4.6 changelog
  CHANGELOG.md
  test/vitest/mocks/electronApi.ts
Labels: documentation

Fix jw-icons glyph fallback race and add fallback updater script
  package.json
  scripts/update-jw-icons-fallbacks.mjs
  src/helpers/fonts.ts
Labels: none

chore: update fallbackJwIconsGlyphMap
  src/constants/jw-icons.ts
Labels: none

chore: v26.4.7 changelog
  CHANGELOG.md
Labels: documentation

fix: JW icon glyph fallback race and add fallback map updater script (#7023)
  CHANGELOG.md
  package.json
  scripts/update-jw-icons-fallbacks.mjs
  src/constants/jw-icons.ts
  src/helpers/fonts.ts
Labels: documentation

fix: don't look up Memorila media is the Memorial date in is the past
  src/pages/MediaCalendarPage.vue
  src/utils/date.ts
Labels: none

Guard memorial background against transient selectedDateObject refresh
  src/pages/MediaCalendarPage.vue
Labels: none

fix: add backup Memorial banner as media item
  src/helpers/jw-media.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
Labels: none

chore: update upath
  build/svg2font.js
  package.json
  src-electron/electron-main.ts
  src-electron/main/__tests__/dependencies.test.ts
  src-electron/main/downloads.ts
  src-electron/main/ffmpeg.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-state.ts
  src-electron/preload/converters.ts
  src-electron/preload/fs.ts
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogJwPlaylist.vue
  src/components/dialog/DialogPublicTalkMediaPicker.vue
  src/components/dialog/DialogPublicationMedia.vue
  src/components/form-inputs/FolderInput.vue
  src/components/media/MediaItem.vue
  src/components/media/MediaList.vue
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
  yarn.lock
Labels: dependencies, javascript

chore: further upath changes
  eslint.config.js
  src-electron/electron-preload.ts
  src-electron/main/window/window-timer.ts
  src/helpers/background-music.ts
  src/helpers/cleanup.ts
  src/helpers/electron-api-manager.ts
  src/helpers/export-media.ts
  src/helpers/fonts.ts
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/helpers/media-sections.ts
  src/helpers/mediaPlayback.ts
  src/helpers/usage.ts
  src/migrations/backfill-last-used.ts
  src/migrations/empty-fonts-folder.ts
  src/migrations/first-run.ts
  src/migrations/move-cache-to-machine-wide.ts
  src/stores/current-state.ts
  src/types/electron.d.ts
  src/utils/converters.ts
  src/utils/fs.ts
  src/utils/media.ts
  src/utils/migrations.ts
  src/utils/sqlite.ts
  test/vitest/mocks/electronApi.ts
Labels: none

fix: test
  src/__tests__/locales.test.ts
Labels: none

fis: test errors
  docs/src/cmn-hans/index.md
  docs/src/de/index.md
  docs/src/es/index.md
  docs/src/et/index.md
  docs/src/fi/index.md
  docs/src/fr/index.md
  docs/src/hu/index.md
  docs/src/it/index.md
  docs/src/ko/index.md
  docs/src/nl/index.md
  docs/src/pt-pt/index.md
  docs/src/pt/index.md
  docs/src/ru/index.md
  docs/src/sl/index.md
  docs/src/sv/index.md
  docs/src/sw/index.md
  docs/src/tl/index.md
  docs/src/uk/index.md
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/window/window-timer.ts
Labels: documentation

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for German
  docs/src/de/index.md
Labels: documentation

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
