Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations (#4397)
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/ko.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified (#4399)
  src/i18n/cmn-hans.json
Labels: none

chore: bump version to v25.4.4-beta.4 [skip ci]
  package.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations (#4401)
  release-notes/nl.md
  release-notes/sl.md
  src/i18n/nl.json
Labels: documentation

feat: enhance file handling in MediaCalendarPage and electron API
  src-electron/electron-preload.ts
  src/pages/MediaCalendarPage.vue
  src/types/electron.d.ts
  src/utils/media.ts
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Swedish (#4403)
  src/i18n/sv.json
Labels: none

deps: update electron and eslint
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: bump chrome target
  quasar.config.ts
Labels: none

test: bump chrome target
  vitest.config.mts
Labels: none

chore: bump Electron target
  postcss.config.js
Labels: none

chore: bump Electron target
  package.json
Labels: none

chore: bump version to v25.4.4-beta.5 [skip ci]
  package.json
Labels: none

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore(deps): update deps
  yarn.lock
Labels: dependencies, javascript

refactor: rename and update descriptions for OBS settings
  src/constants/settings.ts
  src/i18n/en.json
Labels: none

feat(obs): add option to delay scene change for images (#4386)
  src/constants/settings.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/types/settings.d.ts
  src/utils/migrations.ts
Labels: none

chore: update translations progress
  README.md
Labels: documentation

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Portuguese
  release-notes/pt-pt.md
Labels: documentation

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
