Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

chore: bump version to v26.6.2-beta.14 [skip ci]
  package.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  docs/src/ko/about.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/faq.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/index.md
Labels: documentation

feat: new translations for Korean
  docs/locales/ko.json
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/settings-guide.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/user-guide.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/download.md
Labels: documentation

chore: dep updates
  package.json
  yarn.lock
Labels: dependencies, javascript

fix: "Prefer a more specific assertion"
  src/utils/__tests__/api.test.ts
  src/utils/__tests__/fs.edge.test.ts
  src/utils/__tests__/fs.test.ts
Labels: none

fix: "removing 'undefined' type or '?' specifier"
  src/components/form-inputs/SelectInput.vue
  src/components/form-inputs/TimeInput.vue
  src/helpers/jw-media.ts
Labels: none

fix: minor SQ fixes
  docs/utils/fix-doc-markdown.mjs
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src/components/dialog/DialogStudyBible.vue
  src/helpers/jw-media.ts
  src/pages/SettingsPage.vue
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
Labels: documentation

chore: reduce cognitive complexity
  docs/utils/fix-doc-markdown.mjs
  scripts/update-langs.py
  src-electron/main/fs.ts
  src-electron/main/window/window-timer.ts
  src/components/header/HeaderCalendar.vue
  src/composables/useTimer.ts
  src/helpers/congregation-schedule.ts
  src/migrations/move-cache-to-machine-wide.ts
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/pages/SettingsPage.vue
  src/stores/jw.ts
Labels: documentation

chore: reduce cog. compl, pt. 2
  src-electron/main/window/window-media.ts
  src/helpers/jw-media.ts
Labels: none

fix: Do not pass function `checkMissingDynamicMediaFile` directly to `.map(…)`
  src/helpers/jw-media.ts
Labels: none

chore: reduce cog. compl., pt. 3
  src/helpers/jw-media.ts
  src/migrations/local-storage-to-pinia.ts
  src/migrations/move-additional-media.ts
  src/pages/MediaCalendarPage.vue
Labels: none

chore: reduce cog. compl., pt. 3
  src/components/dialog/DialogJwPlaylist.vue
  src/components/header/HeaderCalendar.vue
  src/helpers/jw-media.ts
  src/migrations/move-additional-media.ts
  src/pages/MediaCalendarPage.vue
  src/utils/date.ts
Labels: none

chore: SQ fixes
  docs/utils/fix-doc-markdown.mjs
  src/components/dialog/DialogJwPlaylist.vue
  src/stores/jw.ts
Labels: documentation

chore: SQ fixes
  docs/utils/fix-doc-markdown.mjs
  src/helpers/jw-media.ts
Labels: documentation

chore: replace patched icongenie with real one, cince it's now patched
  .yarn/patches/@quasar-icongenie-npm-5.0.0-c2ce1cf885.patch
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v26.6.2-beta.15 [skip ci]
  package.json
Labels: none

chore: bump version to v26.6.2-beta.16 [skip ci]
  package.json
Labels: none

fix: normalize lookup period before media fetch
  src/helpers/__tests__/jw-media.test.ts
  src/helpers/jw-media.ts
Labels: none

chore: update and run prettier
  package.json
  src-electron/main/__tests__/downloads.window.test.ts
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/header/HeaderWebsite.vue
  src/components/media/MusicButton.vue
  src/helpers/fs.ts
  src/pages/MediaCalendarPage.vue
  src/shared/vanilla.ts
  src/stores/current-state.ts
  src/types/electron.d.ts
  src/types/obs.d.ts
  src/utils/jw.ts
  src/utils/sqlite.ts
  src/utils/timer-report.ts
  yarn.lock
Labels: dependencies, javascript

fix: reauthorize macOS folder access
  src-electron/electron-preload.ts
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none
