Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

chore(deps): revert electron-builder bump
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: revert version bump
  package.json
Labels: none

fix: yarn.lock
  yarn.lock
Labels: dependencies, javascript

fix: prevent cross-list selection
  src/components/media/MediaList.vue
  src/stores/current-state.ts
Labels: none

fix: add slight delay to drawer when in mini state
  src/components/ui/NavDrawer.vue
Labels: none

fix: improve visual cues when reconnecting to OBS Studio
  src/components/media/ObsStatus.vue
  src/pages/MediaCalendarPage.vue
Labels: none

chore: bump version to v25.6.1-beta.2 [skip ci]
  package.json
Labels: none

fix: attempt to fix electronApi tree-shaking issues
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/form-inputs/FolderInput.vue
  src/components/header/HeaderSettings.vue
  src/components/header/HeaderWebsite.vue
  src/components/media/MediaItem.vue
  src/components/media/PublicTalkMediaPicker.vue
  src/pages/MediaCalendarPage.vue
Labels: none

chore: bump version to v25.6.1-beta.3 [skip ci]
  package.json
Labels: none

feat: implement Electron API initialization checks in MainLayout and MediaPlayerPage
  src/helpers/electron-api-manager.ts
  src/layouts/MainLayout.vue
  src/pages/MediaPlayerPage.vue
Labels: none

fix: update yarn.lock to reflect dependency changes
  yarn.lock
Labels: dependencies, javascript

fix: downgrade electron-builder from 26.0.17 to 26.0.16 and update yarn.lock
  package.json
  yarn.lock
Labels: dependencies, javascript

fix: downgrade electron-builder from 26.0.17 to 26.0.16 and update yarn.lock
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v25.6.1-beta.4 [skip ci]
  package.json
Labels: none

feat: tweak post-install script for Husky to avoid errors during build
  .yarnrc.yml
  post-install.js
Labels: none

feat: consolidate Vitest configuration into vitest.config.mts and remove vitest.workspace.ts due to deprecation
  vitest.config.mts
  vitest.workspace.ts
Labels: none

feat: move post-install script to build directory and update afterInstall path in .yarnrc.yml
  .yarnrc.yml
  build/post-install.js
Labels: none

feat: update afterInstall script to conditionally run post-install based on CI and NODE_ENV
  .yarnrc.yml
Labels: none

feat: update afterInstall script to use Node.js for conditional execution
  .yarnrc.yml
Labels: none

fix: update package.json
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: replace post-install.js with post-install.cjs and update afterInstall script
  .yarnrc.yml
  build/post-install.cjs
Labels: none

fix: update Sentry dependencies to latest versions
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: pin sentry/vue to compatible version
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: revert sentry bump
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: improve error handling during media sorting
  src/components/media/MediaList.vue
Labels: none

chore: revert electron builder bump
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v25.6.1-beta.5 [skip ci]
  package.json
Labels: none

chore: revert electron-builder; update post-install script and Husky installation logic
  .husky/install.mjs
  .yarnrc.yml
  build/post-install.cjs
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: prevent auto electron-builder patch updates
  .github/dependabot.yml
Labels: dependencies, github_actions

chore(node): bump node target
  .github/workflows/build.yml
  CONTRIBUTING.md
  package.json
  quasar.config.ts
  vitest.config.mts
Labels: documentation, github_actions

chore(release): v25.7.0
  CHANGELOG.md
  package.json
  src/css/app.scss
  src/stores/jw.ts
Labels: documentation

chore: updated changelog
  CHANGELOG.md
Labels: documentation

chore: re-instate electronApi tree-shaking
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src-electron/main/session.ts
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogCacheClear.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/form-inputs/FolderInput.vue
  src/components/form-inputs/ShortcutInput.vue
  src/components/header/HeaderSettings.vue
  src/components/header/HeaderWebsite.vue
  src/components/media/MediaItem.vue
  src/components/media/PublicTalkMediaPicker.vue
  src/helpers/jw-media.ts
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/pages/PresentWebsite.vue
  src/pages/SetupWizard.vue
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

chore: tree-shaking for fs
  src/components/dialog/DialogCacheClear.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/header/HeaderSettings.vue
  src/components/media/MediaItem.vue
  src/components/media/PublicTalkMediaPicker.vue
  src/pages/MediaCalendarPage.vue
Labels: none

chore: reimplement @formkit/drag-and-drop, as it works well now
  package.json
  src/components/media/MediaList.vue
  src/stores/current-state.ts
  yarn.lock
Labels: dependencies, javascript

chore: update yarn.lock to reflect dependency changes
  yarn.lock
Labels: dependencies, javascript

fix: update visibility logic for media list and simplify conditions
  src/components/dialog/DialogCustomSectionEdit.vue
  src/components/media/MediaList.vue
Labels: none

fix: update color picker format to hex and improve UI text for clarity
  src/components/dialog/DialogCustomSectionEdit.vue
  src/components/media/MediaList.vue
  src/i18n/en.json
Labels: none

chore: many tweaks to functionality
  build/icons/palette.svg
  build/icons/reorder.svg
  build/icons/sort.svg
  build/icons/up.svg
  src/components/dialog/DialogCustomSectionEdit.vue
  src/components/header/HeaderCalendar.vue
  src/components/media/MediaList.vue
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
Labels: none

fix: minor tweaks
  src/components/dialog/DialogCustomSectionEdit.vue
  src/pages/MediaCalendarPage.vue
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
