Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

fix: read image dimensions in-process to stop timeout cascade (MMM-V2-3J6)
  package.json
  src-electron/electron-main.ts
  src-electron/main/__tests__/image-dimensions.test.ts
  src-electron/main/__tests__/image-size.test.ts
  src-electron/main/image-size.ts
  src-electron/package.json
  yarn.lock
Labels: dependencies, javascript

fix: update depcheck ignore lists for image-size dependency swap
  .depcheckrc.yml
  src-electron/.depcheckrc.yml
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for Spanish
  docs/src/es/index.md
Labels: documentation

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

fix: regenerate src-electron/yarn.lock for the image-size dependency swap
  src-electron/yarn.lock
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/settings-guide.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/about.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/faq.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/index.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/locales/cmn-hans.json
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/user-guide.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/download.md
Labels: documentation

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

chore: refresh README screenshot
  docs/src/assets/m3-preview.png
Labels: documentation

fix: recover downloads stuck paused or never started until restart
  CHANGELOG.md
  src-electron/main/__tests__/disk-space.test.ts
  src-electron/main/__tests__/downloads.progress-throttling.test.ts
  src-electron/main/__tests__/downloads.stall-recovery.test.ts
  src-electron/main/disk-space.ts
  src-electron/main/downloads.ts
Labels: documentation

refactor: replace electron-dl-manager with our own resumable downloader
  .depcheckrc.yml
  AGENTS.md
  CHANGELOG.md
  package.json
  src-electron/main/__tests__/download-transfer.test.ts
  src-electron/main/__tests__/downloads.cancel-race.test.ts
  src-electron/main/__tests__/downloads.dest-filename.test.ts
  src-electron/main/__tests__/downloads.error-retry.test.ts
  src-electron/main/__tests__/downloads.low-disk-space.test.ts
  src-electron/main/__tests__/downloads.process-queue-error.test.ts
  src-electron/main/__tests__/downloads.progress-throttling.test.ts
  src-electron/main/__tests__/downloads.queue-dedup.test.ts
  src-electron/main/__tests__/downloads.queue.test.ts
  src-electron/main/__tests__/downloads.stall-recovery.test.ts
  src-electron/main/__tests__/downloads.window.test.ts
  src-electron/main/download-transfer.ts
  src-electron/main/downloads.ts
  src-electron/package.json
  src-electron/yarn.lock
  yarn.lock
Labels: dependencies, documentation, javascript

chore(deps): update Yarn to 4.18.1 and refresh locked dependencies
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: dependencies, javascript

test: stub screen.orientation for Quasar 2.34's Screen plugin
  test/vitest/setup/setup.quasar.ts
Labels: none

refactor: replace electron-dl-manager with our own resumable downloader (#9449)
  .depcheckrc.yml
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  AGENTS.md
  CHANGELOG.md
  package.json
  src-electron/main/__tests__/download-transfer.test.ts
  src-electron/main/__tests__/downloads.cancel-race.test.ts
  src-electron/main/__tests__/downloads.dest-filename.test.ts
  src-electron/main/__tests__/downloads.error-retry.test.ts
  src-electron/main/__tests__/downloads.low-disk-space.test.ts
  src-electron/main/__tests__/downloads.process-queue-error.test.ts
  src-electron/main/__tests__/downloads.progress-throttling.test.ts
  src-electron/main/__tests__/downloads.queue-dedup.test.ts
  src-electron/main/__tests__/downloads.queue.test.ts
  src-electron/main/__tests__/downloads.stall-recovery.test.ts
  src-electron/main/__tests__/downloads.window.test.ts
  src-electron/main/download-transfer.ts
  src-electron/main/downloads.ts
  src-electron/package.json
  src-electron/yarn.lock
  test/vitest/setup/setup.quasar.ts
  yarn.lock
Labels: dependencies, documentation, javascript

fix(csp): allow any HTTPS host in connect-src again
  CHANGELOG.md
  src-electron/main/__tests__/session.test.ts
  src-electron/main/session.ts
Labels: documentation

fix(sqlite): time out only on a stalled worker, not on queries waiting in line
  CHANGELOG.md
  src-electron/main/__tests__/sqlite.test.ts
  src-electron/main/sqlite.ts
Labels: documentation

fix(sqlite): never delete a good jwpub because closing the db connection timed out
  CHANGELOG.md
  src-electron/main/__tests__/sqlite.stall.test.ts
  src-electron/main/sqlite.ts
  src/helpers/__tests__/jw-media.test.ts
  src/helpers/jw-media.ts
Labels: documentation

fix(playlist): extract each .jwlplaylist import into its own folder and close its db
  CHANGELOG.md
  src/components/dialog/DialogJwPlaylist.vue
  src/components/dialog/__tests__/DialogJwPlaylist.test.ts
Labels: documentation

fix(fs-errors): parse UNKNOWN and untranslated system-error codes from bridged messages
  CHANGELOG.md
  src/shared/filesystem-errors.test.ts
  src/shared/filesystem-errors.ts
  src/utils/__tests__/fs.wasUpdateInstalled.test.ts
Labels: documentation

fix(import): don't report transient cloud-path read errors when importing files
  CHANGELOG.md
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
Labels: documentation
