Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Hungarian
  docs/src/hu/user-guide.md
Labels: documentation

chore: bump version to v26.2.4-beta.0 [skip ci]
  package.json
Labels: none

chore: simplify Electron utils logic
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/utils.ts
Labels: none

chore: simplify jw utils logic
  src/constants/settings.ts
  src/utils/__tests__/jw.test.ts
  src/utils/jw.ts
Labels: none

fix: remove redudndant arg from test
  src/utils/__tests__/jw.test.ts
Labels: none

chore: simplify current state store logic
  src/stores/current-state.ts
Labels: none

chore: simplify Main layout logic
  src/layouts/MainLayout.vue
Labels: none

chore: simplify Electron sesstion logic
  src-electron/main/session.ts
Labels: none

chore: simplify media list component logic
  src/components/media/MediaList.vue
Labels: none

chore: simplify date helper logic
  src/helpers/date.ts
Labels: none

chore: simplify fs helper logic
  src/helpers/fs.ts
Labels: none

chore: simplify media playback helper logic
  src/helpers/mediaPlayback.ts
Labels: none

chore: simplify jw store logic
  src/stores/jw.ts
Labels: none

chore: simplify empty media state logic
  src/components/media/MediaEmptyState.vue
Labels: none

feat: new translations for Hungarian
  docs/src/hu/user-guide.md
Labels: documentation

chore: bump version to v26.2.4-beta.1 [skip ci]
  package.json
Labels: none

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

chore: bump version to v26.2.4-beta.2 [skip ci]
  package.json
Labels: none

fix: prevent zipbombs
  src-electron/main/fs.ts
Labels: none

fix: simplify OBS helper logic
  src/helpers/obs.ts
Labels: none

chore: rename fetchJson in *electron* to fetchJsonFromMainProcess to reduce ambiguity
  src-electron/main/__tests__/downloads.expected-error.test.ts
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/downloads.ts
  src-electron/main/utils.ts
Labels: none

chore: get rid of flatMap suggestion
  src/utils/api.ts
Labels: none

chore: bump version to v26.2.4-beta.3 [skip ci]
  package.json
Labels: none

chore: pin sonarqube-scan-action using SHA
  .github/workflows/build.yml
Labels: github_actions

chore: simplify ffmpeg return logic
  src-electron/main/ffmpeg.ts
Labels: none

chore: simplify backfill-last-used migration
  src/migrations/backfill-last-used.ts
Labels: none

chore: simplify fetchJson logic layout
  src/utils/api.ts
Labels: none

chore: simplify move-cache-to-machine-wide logic
  src/migrations/move-cache-to-machine-wide.ts
Labels: none

chore: bump version to v26.2.4-beta.4 [skip ci]
  package.json
Labels: none

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Polish
  src/i18n/pl.json
Labels: none

feat: new translations for Polish
  docs/src/pl/about.md
Labels: documentation

feat: new translations for Polish
  docs/src/pl/faq.md
Labels: documentation

feat: new translations for Polish
  docs/src/pl/index.md
Labels: documentation

feat: new translations for Polish
  docs/locales/pl.json
Labels: documentation

feat: new translations for Polish
  release-notes/pl.md
Labels: documentation

feat: new translations for Polish
  docs/src/pl/settings-guide.md
Labels: documentation

feat: new translations for Polish
  docs/src/pl/user-guide.md
Labels: documentation

feat: new translations for Polish
  docs/src/pl/download.md
Labels: documentation

fix: automatically fix documentation links [skip ci]
  docs/src/pl/index.md
Labels: documentation

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
