Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

fix: correctly set App User Model ID
  src-electron/electron-main.ts
Labels: none

feat: improve settings mobile layout
  src/components/form-inputs/ShortcutInput.vue
  src/pages/SettingsPage.vue
Labels: none

chore: bump version to v24.12.2-beta.11 [skip ci]
  package.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovak (#3843)
  src/i18n/sk.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovak
  docs/locales/sk.json
Labels: documentation

feat: new translations (#3845)
  docs/locales/sk.json
  src/i18n/sk.json
Labels: documentation

chore: bump version to v24.12.2-beta.12 [skip ci]
  package.json
Labels: none

chore: update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: improve toggle settings on small windows
  src/components/dialog/DialogDisplayPopup.vue
  src/pages/SettingsPage.vue
  src/pages/SetupWizard.vue
Labels: none

test: add unit tests
  .github/workflows/build.yml
  CONTRIBUTING.md
  __mocks__/fs.cjs
  __mocks__/fs/promises.cjs
  package.json
  quasar.extensions.json
  src/components/demo-vitest/ExampleComponent.vue
  src/components/demo-vitest/LayoutComponent.vue
  src/components/demo-vitest/NotifyComponent.vue
  src/components/demo-vitest/__tests__/ExampleComponent.test.ts
  src/components/demo-vitest/__tests__/LayoutComponent.test.ts
  src/components/demo-vitest/__tests__/NotifyComponent.test.ts
  src/types/github.d.ts
  src/utils/__tests__/api.test.ts
  src/utils/__tests__/general.test.ts
  src/utils/api.ts
  src/utils/general.ts
  test/vitest/mocks/electronApi.ts
  test/vitest/mocks/github.ts
  test/vitest/mocks/jw.ts
  test/vitest/setup-file.ts
  vitest.config.mts
  yarn.lock
Labels: dependencies, documentation, github_actions, javascript

style: fix lint errors
  src/components/demo-vitest/__tests__/ExampleComponent.test.ts
  src/types/github.d.ts
  test/vitest/mocks/github.ts
Labels: none

ci: improve workflow
  .github/workflows/build.yml
Labels: github_actions

ci: fix ci
  .github/workflows/build.yml
Labels: github_actions

ci: fix test job
  .github/workflows/build.yml
Labels: github_actions

test: add more tests
  docs/utils/__tests__/api.test.ts
  docs/utils/__tests__/general.test.ts
  docs/utils/locales.ts
  test/vitest/__tests__/locales.test.ts
  test/vitest/setup-file.ts
  vitest.config.mts
Labels: documentation

feat: new translations for Russian
  docs/src/ru/about.md
Labels: documentation

feat: new translations for Russian (#3847)
  docs/src/ru/about.md
Labels: documentation

feat: new translations for Russian
  docs/src/ru/about.md
Labels: documentation

feat: new translations for Russian (#3849)
  docs/src/ru/about.md
Labels: documentation

chore: bump version to v24.12.2-beta.13 [skip ci]
  package.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovak (#3852)
  src/i18n/sk.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovak (#3854)
  src/i18n/sk.json
Labels: none

chore: bump version to v24.12.2-beta.14 [skip ci]
  package.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Ukrainian (#3856)
  src/i18n/uk.json
Labels: none

chore: bump version to v24.12.2-beta.15 [skip ci]
  package.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovak (#3858)
  src/i18n/sk.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations for Kinyarwanda
  docs/src/rw/about.md
Labels: documentation

feat: new translations for Kinyarwanda
  docs/src/rw/faq.md
Labels: documentation

feat: new translations for Kinyarwanda
  docs/src/rw/index.md
Labels: documentation

feat: new translations for Kinyarwanda
  docs/src/rw/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Kinyarwanda
  docs/locales/rw.json
Labels: documentation

feat: new translations (#3860)
  docs/locales/rw.json
  docs/src/rw/about.md
  docs/src/rw/faq.md
  docs/src/rw/index.md
  docs/src/rw/using-at-a-kingdom-hall.md
  src/i18n/rw.json
Labels: documentation
