Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations for Ga
  src/i18n/gaa.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

chore: bump version to v25.12.3-beta.3 [skip ci]
  package.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/faq.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/user-guide.md
Labels: documentation

chore: make machine-wide installations share data folder by default
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src-electron/main/utils.ts
  src/helpers/fs.ts
  src/types/electron.d.ts
  src/utils/fs.ts
  test/vitest/mocks/electronApi.ts
Labels: none

fix: prevent greedy deletions during smart cache clean, esp. on system-wide installations
  src-electron/main/utils.ts
  src/helpers/cleanup.ts
  src/helpers/usage.ts
  src/migrations/backfill-last-used.ts
  src/migrations/index.ts
  src/migrations/move-cache-to-machine-wide.ts
  src/pages/MediaCalendarPage.vue
Labels: none

fix: migrations and their order
  src-electron/main/utils.ts
  src/migrations/backfill-last-used.ts
  src/migrations/index.ts
Labels: none

feat: include future change date when creating congregation if available in lookup
  src/components/dialog/DialogCongregationLookup.vue
Labels: none

fix: attempt to update paths for additional media when moving cache to machine-wide during migration
  src/migrations/move-cache-to-machine-wide.ts
Labels: none

chore: improvements to getParagraphNumbers function
  src/helpers/jw-media.ts
Labels: none

chore: bump version to v25.12.3-beta.4 [skip ci]
  package.json
Labels: none

chore: set deleteAppDataOnUninstall to true
  quasar.config.ts
Labels: none

chore: bundle needed Google fonts
  package.json
  quasar.config.ts
  src/boot/fonts.ts
  src/css/app.scss
  src/css/quasar.variables.scss
  yarn.lock
Labels: dependencies, javascript

fix: font names (variable)
  package.json
  src/boot/fonts.ts
  src/css/app.scss
  src/css/quasar.variables.scss
  yarn.lock
Labels: dependencies, javascript

feat: add "enable automatic meeting day and time sync" feature
  src/constants/settings.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/pages/SettingsPage.vue
  src/types/settings.d.ts
  src/utils/settings.ts
Labels: none

fix: update lookup period after a future change is enabled
  src/helpers/date.ts
Labels: none

chore: add auto-enroll-meeting-sync migration
  src/components/dialog/DialogCongregationLookup.vue
  src/helpers/congregation-schedule.ts
  src/layouts/MainLayout.vue
  src/migrations/auto-enroll-meeting-sync.ts
  src/migrations/index.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
