Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations for Ga
  src/i18n/gaa.json
Labels: none

Add check-disk-space to electron dependencies
  quasar.config.ts
Labels: none

Add getLowDiskSpaceStatus function to electronApi mock
  test/vitest/mocks/electronApi.ts
Labels: none

Fix formatting issue in electronApi mock
  test/vitest/mocks/electronApi.ts
Labels: none

chore: bump version to v26.1.9-beta.1 [skip ci]
  package.json
Labels: none

chore: 2nd round of SonarQube improvements
  src-electron/electron-main.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
  src/helpers/fonts.ts
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/helpers/keyboard-shortcuts.ts
  src/helpers/media-sections.ts
  src/helpers/mediaPlayback.ts
  src/stores/current-state.ts
  src/utils/__tests__/fs.edge.test.ts
  src/utils/__tests__/fs.test.ts
  src/utils/api.ts
  src/utils/converters.ts
  src/utils/fs.ts
  src/utils/jw.ts
  src/utils/media.ts
  src/utils/migrations.ts
  src/utils/sqlite.ts
Labels: none

fix: buffer import
  src/helpers/fonts.ts
  src/helpers/fs.ts
  src/utils/converters.ts
  src/utils/fs.ts
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

chore: re-implement a proper download priority system, where manual downloads and upcoming meetings are prioritzed over other downloads
  src-electron/main/downloads.ts
  src/components/dialog/DialogStudyBible.vue
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/pages/MediaCalendarPage.vue
  src/utils/date.ts
Labels: none

chore: 3rd round of SonarQube improvements
  docs/utils/locales.ts
  package.json
  quasar.config.ts
  src-electron/electron-preload.ts
  src-electron/main/__tests__/dependencies.test.ts
  src-electron/main/ipc.ts
  src-electron/main/session.ts
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-state.ts
  src-electron/preload/converters.ts
  src/boot/sentry.ts
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogBible.vue
  src/components/dialog/DialogCacheClear.vue
  src/components/dialog/DialogCongregationLookup.vue
  src/components/dialog/DialogCustomSectionEdit.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogFileImport.vue
  src/components/dialog/DialogJwPlaylist.vue
  src/components/dialog/DialogObsPopup.vue
  src/components/dialog/DialogPublicTalkMediaPicker.vue
  src/components/dialog/DialogPublicationMedia.vue
  src/components/dialog/DialogStudyBible.vue
  src/components/form-inputs/BaseInput.vue
  src/components/form-inputs/SelectInput.vue
  src/components/media/MediaDivider.vue
  src/pages/CongregationSelectorPage.vue
  src/pages/MediaCalendarPage.vue
  src/stores/jw.ts
  src/utils/date.ts
  src/utils/general.ts
  yarn.lock
Labels: dependencies, documentation, javascript

chore: 4th round of SonarQube improvements
  src/i18n/index.ts
  src/layouts/MainLayout.vue
  src/migrations/new-media-sections.ts
  src/pages/MediaPlayerPage.vue
  src/pages/SetupWizard.vue
  src/shared/vanilla.ts
  src/stores/congregation-settings.ts
  src/utils/__tests__/api.test.ts
  src/utils/date.ts
Labels: none

chore: 5th round of SonarQube improvements
  docs/utils/__tests__/locales.test.ts
  docs/utils/fix-doc-links.mjs
  docs/utils/general.ts
  src-electron/electron-main.ts
  src-electron/main/__tests__/architecture.test.ts
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogRemoteVideo.vue
  src/components/dialog/DialogSectionPicker.vue
  src/components/dialog/DialogSongPicker.vue
  src/components/header/HeaderCalendar.vue
  src/components/media/MediaItem.vue
  src/components/media/MediaList.vue
  src/components/media/MediaSectionHeader.vue
  src/composables/useMediaDividers.ts
  src/css/app.scss
  src/helpers/congregation-schedule.ts
  src/migrations/move-additional-media.ts
  src/utils/date.ts
Labels: documentation

chore: bump version to v26.1.9-beta.2 [skip ci]
  package.json
Labels: none

chore: bump version to v26.1.9-beta.3 [skip ci]
  package.json
Labels: none

chore: 6th round of SonarQube improvements
  index.html
  src/migrations/move-additional-media.ts
  src/router/index.ts
  src/stores/index.ts
  src/stores/obs-state.ts
  src/utils/__tests__/date.test.ts
  src/utils/__tests__/settings.test.ts
  src/utils/date.ts
  src/utils/general.ts
  src/utils/time.ts
Labels: none

fix: wait for all files to be flushed before resolving an unzip promise
  src-electron/main/fs.ts
Labels: none

fix: prevent 'capturing' paragraph numbers smaller than 1 or bigger than 100
  src/helpers/jw-media.ts
Labels: none

chore: 7th round of SonarQube improvements
  .github/workflows/docs.yml
  src/helpers/jw-media.ts
  src/helpers/keyboardShortcuts.ts
  src/router/routes.ts
Labels: github_actions

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

chore: bump version to v26.1.9-beta.4 [skip ci]
  package.json
Labels: none

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Hungarian
  docs/src/hu/user-guide.md
Labels: documentation

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none
