Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat(i18n): add translation-quality review pipeline, pilot on French UI strings
  .gitignore
  scripts/i18n-quality/README.md
  scripts/i18n-quality/apply-translation-quality-fixes.mjs
  scripts/i18n-quality/extract-review-corpus.mjs
  scripts/i18n-quality/generate-report.mjs
  scripts/i18n-quality/glossaries/fr.json
  scripts/i18n-quality/jw-terms-seed.json
  scripts/i18n-quality/merge-batches.mjs
  scripts/i18n-quality/prompts/grounding-agent.md
  scripts/i18n-quality/prompts/review-short-strings.md
  scripts/i18n-quality/split-into-batches.mjs
  scripts/i18n-quality/validate-proposed-changes.mjs
Labels: documentation

fix(i18n): correct Crowdin translation-id field name in apply script
  scripts/i18n-quality/apply-translation-quality-fixes.mjs
Labels: none

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for Spanish
  docs/src/es/about.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/faq.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/index.md
Labels: documentation

feat: new translations for Spanish
  docs/locales/es.json
Labels: documentation

feat: new translations for Spanish
  docs/src/es/settings-guide.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/user-guide.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/download.md
Labels: documentation

feat(i18n): add Hungarian/Italian/Korean glossaries, applied to Crowdin
  scripts/i18n-quality/glossaries/hu.json
  scripts/i18n-quality/glossaries/it.json
  scripts/i18n-quality/glossaries/ko.json
  scripts/i18n-quality/prompts/grounding-agent.md
Labels: documentation

feat(i18n): add Dutch/Portuguese glossaries, translation review complete
  scripts/i18n-quality/glossaries/nl.json
  scripts/i18n-quality/glossaries/pt.json
Labels: none

fix(i18n): resolve Crowdin language id via twoLettersCode, not identity
  scripts/i18n-quality/apply-translation-quality-fixes.mjs
Labels: none

fix(i18n): compare tokens against current translation, not English source
  scripts/i18n-quality/glossaries/ru.json
  scripts/i18n-quality/glossaries/uk.json
  scripts/i18n-quality/prompts/grounding-agent.md
  scripts/i18n-quality/validate-proposed-changes.mjs
Labels: documentation

fix(crowdin): preserve punctuation when repairing a bare @:key link
  scripts/cleanup-crowdin.mjs
Labels: none

fix(crowdin): preserve punctuation when repairing a bare @:key link (#9198)
  scripts/cleanup-crowdin.mjs
Labels: none

fix(i18n): correct guardrail token check to allow legitimate restoration
  scripts/i18n-quality/extract-review-corpus.mjs
  scripts/i18n-quality/glossaries/sl.json
  scripts/i18n-quality/glossaries/ty.json
  scripts/i18n-quality/validate-proposed-changes.mjs
Labels: none

feat: new translations for French
  docs/src/fr/settings-guide.md
Labels: documentation

feat(i18n): add Simplified Chinese glossary, translation review complete
  scripts/i18n-quality/glossaries/cmn-hans.json
Labels: none

fix(i18n): add cmn-hans -> zh-CN Crowdin language-id override
  scripts/i18n-quality/apply-translation-quality-fixes.mjs
Labels: none

feat(i18n): add German glossary, translation review complete
  scripts/i18n-quality/glossaries/de.json
Labels: none

feat(i18n-quality): add grounded Estonian JW terminology glossary
  scripts/i18n-quality/glossaries/et.json
Labels: none

fix(i18n-quality): use actual language code in generate-report.mjs labels
  scripts/i18n-quality/generate-report.mjs
Labels: none

fix(docs): restore /es/ prefix on Spanish hero-action links
  docs/src/es/index.md
Labels: documentation

fix(crowdin): auto-repair docs hero-action link: frontmatter at source
  .github/workflows/crowdin-autorepair.yml
  scripts/cleanup-crowdin.mjs
Labels: github_actions

fix(docs): restore /es/ prefix on Spanish hero-action links (#9204)
  docs/src/es/index.md
Labels: documentation

fix(crowdin): auto-repair docs hero-action link: frontmatter at source (#9203)
  .github/workflows/crowdin-autorepair.yml
  scripts/cleanup-crowdin.mjs
Labels: github_actions

feat(i18n-quality): add grounded Spanish JW terminology glossary
  scripts/i18n-quality/glossaries/es.json
Labels: none

feat(i18n): add translation-quality review pipeline, pilot on French UI strings (#9193)
  .gitignore
  scripts/i18n-quality/README.md
  scripts/i18n-quality/apply-translation-quality-fixes.mjs
  scripts/i18n-quality/extract-review-corpus.mjs
  scripts/i18n-quality/generate-report.mjs
  scripts/i18n-quality/glossaries/cmn-hans.json
  scripts/i18n-quality/glossaries/de.json
  scripts/i18n-quality/glossaries/es.json
  scripts/i18n-quality/glossaries/et.json
  scripts/i18n-quality/glossaries/fr.json
  scripts/i18n-quality/glossaries/hu.json
  scripts/i18n-quality/glossaries/it.json
  scripts/i18n-quality/glossaries/ko.json
  scripts/i18n-quality/glossaries/nl.json
  scripts/i18n-quality/glossaries/pt.json
  scripts/i18n-quality/glossaries/ru.json
  scripts/i18n-quality/glossaries/sl.json
  scripts/i18n-quality/glossaries/ty.json
  scripts/i18n-quality/glossaries/uk.json
  scripts/i18n-quality/jw-terms-seed.json
  scripts/i18n-quality/merge-batches.mjs
  scripts/i18n-quality/prompts/grounding-agent.md
  scripts/i18n-quality/prompts/review-short-strings.md
  scripts/i18n-quality/split-into-batches.mjs
  scripts/i18n-quality/validate-proposed-changes.mjs
Labels: documentation

fix(media): stop the preview mirror from letterboxing and squashing the media window
  src/components/media/MediaPreview.vue
  src/components/media/__tests__/MediaPreview.test.ts
  src/utils/__tests__/media.test.ts
  src/utils/media.ts
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Tahitian
  docs/src/ty/settings-guide.md
Labels: documentation

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Italian
  docs/src/it/settings-guide.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

fix(crowdin): repair the exported l10n_master files, not just the source
  .github/workflows/crowdin-autorepair.yml
Labels: github_actions
