Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Tahitian
  docs/src/ty/faq.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/faq.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/index.md
Labels: documentation

feat: new translations for Tahitian
  docs/locales/ty.json
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/settings-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/faq.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/index.md
Labels: documentation

feat: new translations for Tahitian
  docs/locales/ty.json
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/user-guide.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/settings-guide.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/settings-guide.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/user-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/settings-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/download.md
Labels: documentation

chore: bump version to v26.5.1-beta.8 [skip ci]
  package.json
Labels: none

feat: new translations for Tahitian
  docs/src/ty/user-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/download.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/settings-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/settings-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/settings-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/settings-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/user-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/settings-guide.md
Labels: documentation

chore: bump version to v26.5.1-beta.9 [skip ci]
  package.json
Labels: none

feat: new translations for Tahitian
  docs/src/ty/user-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/user-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/user-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/user-guide.md
Labels: documentation

chore: bump version to v26.5.1-beta.10 [skip ci]
  package.json
Labels: none

fix: patch icongenie buffer bug
  .yarn/patches/@quasar-icongenie-npm-5.0.0-c2ce1cf885.patch
  package.json
  yarn.lock
Labels: dependencies, javascript

Keep music stop control visible
  src/components/dialog/DialogBackgroundMusicPopup.vue
Labels: none

fix: background-music-popup--playing dimensions
  src/components/dialog/DialogBackgroundMusicPopup.vue
Labels: none

fix: keep background music stop button visible even on small window sizes (#7680)
  src/components/dialog/DialogBackgroundMusicPopup.vue
Labels: none

Allow expanded action popups to shrink to content
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogTimerPopup.vue
  src/css/app.scss
Labels: none

Apply expanded action popup layout to recording and OBS
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogDownloadsPopup.vue
  src/components/dialog/DialogObsPopup.vue
  src/components/dialog/DialogRecordingPopup.vue
  src/components/dialog/DialogTimerPopup.vue
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
