Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Slovenian
  docs/src/sl/user-guide.md
Labels: documentation

ci(Mergify): configuration update
  .mergify.yml
Labels: none

ci(Mergify): configuration update (#7301)
  .mergify.yml
Labels: none

Fix syntax error in DialogPublicationMedia.vue
  src/components/dialog/DialogPublicationMedia.vue
Labels: none

Fix range calculation to handle undefined values
  src/components/dialog/DialogPublicationMedia.vue
Labels: none

Refactor PDF URL retrieval in DialogPublicationMedia
  src/components/dialog/DialogPublicationMedia.vue
Labels: none

feat: new translations for Finnish
  release-notes/fi.md
Labels: documentation

feat: new translations for Swedish
  release-notes/sv.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

chore: bump version to v26.4.8-beta.12 [skip ci]
  package.json
Labels: none

chore: remove unneeded resize-observer, and simplify chooseCustomBackground logic
  src/components/dialog/DialogDisplayPopup.vue
  src/pages/MediaPlayerPage.vue
Labels: none

chore: further simplify chooseCustomBackground logic
  src/components/dialog/DialogDisplayPopup.vue
Labels: none

chore: sort i18n keys
  src/i18n/en.json
Labels: none

fix: critical download queue bug
  src-electron/main/downloads.ts
Labels: none

chore: replace pdfjs-dist with pdf-parse
  .github/dependabot.yml
  package.json
  quasar.config.ts
  src-electron/electron-preload.ts
  src-electron/main/session.ts
  src-electron/preload/converters.ts
  src/components/dialog/DialogPublicationMedia.vue
  src/pages/MediaCalendarPage.vue
  src/types/electron.d.ts
  src/types/pdfjs-dist.d.ts
  src/utils/converters.ts
  test/vitest/mocks/electronApi.ts
  yarn.lock
Labels: dependencies, github_actions, javascript

chore: update yarn.lock
  yarn.lock
Labels: dependencies, javascript

fix: flaky tests
  src/utils/__tests__/api.test.ts
Labels: none

ci(Mergify): configuration update
  .mergify.yml
Labels: none

ci(Mergify): configuration update (#7319)
  .mergify.yml
Labels: none

feat: add PDF import flow to Publication Media dialog (#7286)
  .github/dependabot.yml
  package.json
  quasar.config.ts
  src-electron/electron-preload.ts
  src-electron/main/downloads.ts
  src-electron/main/session.ts
  src-electron/preload/converters.ts
  src/components/dialog/DialogPublicationMedia.vue
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/types/electron.d.ts
  src/types/pdfjs-dist.d.ts
  src/utils/__tests__/api.test.ts
  src/utils/converters.ts
  test/vitest/mocks/electronApi.ts
  yarn.lock
Labels: dependencies, github_actions, javascript

Fix PDF page selection import in publication media dialog
  src/components/dialog/DialogPublicationMedia.vue
Labels: none

fix: PDF page selection import in publication media dialog was double-filtered and therefore incomplete (#7323)
  src/components/dialog/DialogPublicationMedia.vue
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none
