Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

chore: bump version to v25.3.1-beta.4 [skip ci]
  package.json
Labels: none

chore: update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore(deps): bump electron (#4162)
  README.md
  package.json
  postcss.config.js
  quasar.config.ts
  vitest.config.mts
  yarn.lock
Labels: dependencies, documentation, javascript

chore: improve types
  src/components/dialog/DialogCongregationLookup.vue
  src/stores/jw.ts
  src/types/congregation-lookups.d.ts
  src/types/jw/publications.d.ts
  src/types/settings.d.ts
  src/utils/api.ts
  src/utils/migrations.ts
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  docs/src/ko/about.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/faq.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/index.md
Labels: documentation

feat: new translations for Korean
  docs/src/ko/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Korean
  docs/locales/ko.json
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations (#4182)
  docs/locales/ko.json
  docs/src/ko/about.md
  docs/src/ko/faq.md
  docs/src/ko/index.md
  docs/src/ko/using-at-a-kingdom-hall.md
  release-notes/ko.md
  src/i18n/ko.json
Labels: documentation

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean (#4184)
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean (#4187)
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  docs/src/ko/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Korean
  docs/locales/ko.json
Labels: documentation

feat: new translations (#4189)
  docs/locales/ko.json
  docs/src/ko/using-at-a-kingdom-hall.md
  src/i18n/ko.json
Labels: documentation

chore: bump version to v25.3.1-beta.5 [skip ci]
  package.json
Labels: none

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: prepare Korean
  docs/locales/index.ts
  src/constants/locales.ts
  src/i18n/index.ts
Labels: documentation

feat: new translations for Korean
  docs/src/ko/index.md
Labels: documentation

feat: new translations for Korean (#4194)
  docs/src/ko/index.md
Labels: documentation

chore: revert version bump
  package.json
Labels: none

chore: bump version to v25.3.1-beta.5 [skip ci]
  package.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean (#4195)
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean (#4197)
  src/i18n/ko.json
Labels: none

chore: bump version to v25.3.1-beta.6 [skip ci]
  package.json
Labels: none

feat: new translations for Hungarian
  docs/src/hu/about.md
Labels: documentation

feat: new translations for Hungarian (#4198)
  docs/src/hu/about.md
Labels: documentation

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean (#4199)
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean (#4201)
  src/i18n/ko.json
Labels: none

chore(deps): revert sentry vue bump
  .github/dependabot.yml
  package.json
  yarn.lock
Labels: dependencies, github_actions, javascript

chore: bump version to v25.3.1-beta.7 [skip ci]
  package.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
