Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Slovenian
  docs/src/sl/settings-guide.md
Labels: documentation

chore: bump version to v26.6.1-beta.5 [skip ci]
  package.json
Labels: none

feat: new translations for French
  docs/src/fr/about.md
Labels: documentation

feat: new translations for French
  docs/src/fr/faq.md
Labels: documentation

feat: new translations for Slovenian
  docs/src/sl/settings-guide.md
Labels: documentation

feat: new translations for Slovenian
  docs/src/sl/user-guide.md
Labels: documentation

feat: new translations for Slovenian
  docs/src/sl/settings-guide.md
Labels: documentation

feat: new translations for Slovenian
  docs/src/sl/user-guide.md
Labels: documentation

fix: updater progress is logged readibly now
  src-electron/main/__tests__/updater.test.ts
  src-electron/main/updater.ts
Labels: none

fix(downloads): harden jwpub zip readiness checks
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
  src/helpers/jw-media.ts
Labels: none

fix: keep temp-staged media out of persisted playback paths, and clean up temp path on app startup
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/fs.ts
  src/components/dialog/DialogDisplayPopup.vue
  src/components/dialog/DialogJwPlaylist.vue
  src/components/dialog/DialogPublicTalkMediaPicker.vue
  src/helpers/__tests__/jw-media.test.ts
  src/helpers/cleanup.ts
  src/helpers/jw-media.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
Labels: none

fix: minor update-langs tweak
  .gitignore
  scripts/update-langs.py
Labels: none

chore: automatically skip the document picker if only one document exists in JWPUB
  src/components/dialog/DialogFileImport.vue
Labels: none

fix: JWPUB media labels and captions could sometimes be inconsistent
  src/components/dialog/DialogJwpubMediaPicker.vue
Labels: none

chore: improve unzip memory handling
  src-electron/electron-preload.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src/helpers/__tests__/jw-media.test.ts
  src/helpers/jw-media.ts
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Slovenian
  docs/src/sl/user-guide.md
Labels: documentation

chore: skip vue-tsc 3.3.4
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: yauzl update
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for French
  docs/src/fr/faq.md
Labels: documentation

feat: new translations for French
  docs/src/fr/index.md
Labels: documentation

feat: new translations for French
  docs/src/fr/settings-guide.md
Labels: documentation

feat: new translations for Spanish
  docs/src/es/index.md
Labels: documentation

feat: new translations for German
  docs/src/de/faq.md
Labels: documentation

feat: new translations for German
  docs/src/de/index.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/index.md
Labels: documentation

feat: new translations for Dutch
  docs/src/nl/faq.md
Labels: documentation

feat: new translations for Dutch
  docs/src/nl/index.md
Labels: documentation
