Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Korean (#4266)
  release-notes/ko.md
Labels: documentation

chore: bump version to v25.3.2-beta.1 [skip ci]
  package.json
Labels: none

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for Chinese Simplified (#4268)
  release-notes/cmn-hans.md
Labels: documentation

fix: don't try to convert jwlplaylist to video
  src/helpers/export-media.ts
Labels: none

chore: log error as event object
  src/utils/media.ts
Labels: none

chore: improve error handling
  src/helpers/fs.ts
  src/utils/media.ts
Labels: none

chore: bump version to v25.3.2-beta.2 [skip ci]
  package.json
Labels: none

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore(deps): update electron
  package.json
  postcss.config.js
  quasar.config.ts
  yarn.lock
Labels: dependencies, javascript

chore: remove redundant typescript expect error
  src-electron/preload/fs.ts
Labels: none

chore: simplify lint commands
  .github/workflows/build.yml
  .github/workflows/docs.yml
  CONTRIBUTING.md
  docs/tsconfig.json
  package.json
Labels: documentation, github_actions

ci: don't run quasar for docs
  .github/workflows/docs.yml
Labels: github_actions

ci: dont run quasar for docs
  .github/workflows/docs.yml
Labels: github_actions

ci: revert quasar removal
  .github/workflows/docs.yml
Labels: github_actions

chore: cleanup old files
  deno.lock
Labels: none

chore: update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Ukrainian (#4277)
  release-notes/uk.md
Labels: documentation

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations (#4282)
  release-notes/ko.md
  src/i18n/ko.json
Labels: documentation

feat: new translations for Korean
  docs/src/ko/index.md
Labels: documentation

feat: new translations for Korean (#4283)
  docs/src/ko/index.md
Labels: documentation

chore: bump version to v25.3.2-beta.3 [skip ci]
  package.json
Labels: none

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Estonian (#4285)
  release-notes/et.md
Labels: documentation

feat: new translations for Portuguese
  release-notes/pt-pt.md
Labels: documentation

feat: new translations for Portuguese (#4287)
  release-notes/pt-pt.md
Labels: documentation

fix: prevent errors when new "unreleased" songs are played at the end of MW meetings
  src/helpers/date.ts
  src/helpers/jw-media.ts
Labels: none

feat: new translations for Korean
  docs/src/ko/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for Korean
  docs/locales/ko.json
Labels: documentation

feat: new translations (#4290)
  docs/locales/ko.json
  docs/src/ko/using-at-a-kingdom-hall.md
Labels: documentation

chore: bump version to v25.3.2-beta.4 [skip ci]
  package.json
Labels: none

fix: properly verify is meeting contains relevant media to gauge if media is empty
  src/helpers/date.ts
Labels: none

fix: ordering for WT articles
  src/helpers/jw-media.ts
Labels: none

fix: wonky paragraph labels for WT study
  src/helpers/jw-media.ts
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
