Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

chore: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

chore: new translations for Russian
  src/i18n/ru.json
Labels: none

chore: new translations for Swahili
  src/i18n/sw.json
Labels: none

chore: new translations for French
  docs/src/fr/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations for Russian
  docs/src/ru/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations (#3391)
  docs/src/fr/using-at-a-kingdom-hall.md
  docs/src/ru/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/pt-pt.json
  src/i18n/ru.json
  src/i18n/sw.json
Labels: documentation

chore: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

chore: new translations for Chinese Simplified (#3393)
  src/i18n/cmn-hans.json
Labels: none

chore: new translations for Dutch
  src/i18n/nl.json
Labels: none

chore: new translations for Swedish
  src/i18n/sv.json
Labels: none

chore: new translations (#3395)
  src/i18n/nl.json
  src/i18n/sv.json
Labels: none

chore: update contributing
  CONTRIBUTING.md
Labels: documentation

chore: update contributing
  CONTRIBUTING.md
Labels: documentation

chore(deps): dedupe
  yarn.lock
Labels: dependencies, javascript

chore(deps): remove unused deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore: fix fallback version
  src/components/ui/AnnouncementBanner.vue
Labels: none

test: set older version
  package.json
Labels: none

chore: new translations for Estonian
  src/i18n/et.json
Labels: none

chore: new translations for Estonian
  docs/src/et/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations for Estonian
  docs/locales/et.json
Labels: documentation

chore: new translations (#3398)
  docs/locales/et.json
  docs/src/et/using-at-a-kingdom-hall.md
  src/i18n/et.json
Labels: documentation

chore: new translations for Estonian
  docs/src/et/using-at-a-kingdom-hall.md
Labels: documentation

chore: new translations for Estonian
  docs/src/et/about.md
Labels: documentation

chore: new translations for Estonian
  docs/src/et/faq.md
Labels: documentation

chore: new translations for Estonian
  docs/src/et/index.md
Labels: documentation

chore: new translations (#3400)
  docs/src/et/about.md
  docs/src/et/faq.md
  docs/src/et/index.md
  docs/src/et/using-at-a-kingdom-hall.md
Labels: documentation

feat: tuck media item actions behind context menu, and show indicators on media items themselves
  build/icons/extra-media.svg
  build/icons/watched-media.svg
  src/components/media/MediaItem.vue
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/stores/current-state.ts
  src/types/media.d.ts
Labels: none

feat: honor repeat setting from JWPLAYLIST files
  src/helpers/jw-media.ts
  src/helpers/mediaPlayback.ts
  src/types/jw/sqlite.d.ts
Labels: none

fix: respect custom start on loop
  src/components/media/MediaItem.vue
  src/pages/MediaPlayerPage.vue
  src/stores/current-state.ts
Labels: none

refactor: bump quasar/app-vite
  .yarnrc.yml
  package.json
  postcss.config.cjs
  postcss.config.mjs
  quasar.config.ts
  src-electron/constants.ts
  src-electron/electron-env.d.ts
  src-electron/electron-flag.d.ts
  src-electron/electron-preload.ts
  src-electron/main/downloads.ts
  src-electron/main/fs.ts
  src-electron/main/updater.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-media.ts
  src-electron/main/window/window-state.ts
  src-electron/preload/converters.ts
  src/boot/i18n.ts
  src/boot/sentry.ts
  src/quasar.d.ts
  src/router/index.ts
  src/shims-vue.d.ts
  src/stores/index.ts
  tsconfig.json
  tsconfig.vue-tsc.json
  yarn.lock
Labels: dependencies, javascript

feat: add option to edit tags to context menu
  build/icons/tag.svg
  src/components/media/MediaItem.vue
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
Labels: none

chore: update translations progress
  README.md
Labels: documentation

chore: test without platform
  src/components/ui/AnnouncementBanner.vue
Labels: none

chore: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

chore: new translations for Romanian
  src/i18n/ro.json
Labels: none

chore: new translations for French
  src/i18n/fr.json
Labels: none

chore: new translations for Spanish
  src/i18n/es.json
Labels: none

chore: new translations for Afrikaans
  src/i18n/af.json
Labels: none

chore: new translations for German
  src/i18n/de.json
Labels: none

chore: new translations for Greek
  src/i18n/el.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
