Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

test: ensure no dependencies are missing from electronDeps before building
  src-electron/main/__tests__/dependencies.test.ts
Labels: none

chore: bump version to v25.11.1-beta.12 [skip ci]
  package.json
Labels: none

fix: comments in test
  src-electron/main/__tests__/dependencies.test.ts
Labels: none

fix: add missing 'ms' dep
  package.json
  quasar.config.ts
  yarn.lock
Labels: dependencies, javascript

chore: bump version to v25.11.1-beta.13 [skip ci]
  package.json
Labels: none

feat: add possibility of presenting the JW Events website in addition to the main official website
  build/icons/sites.svg
  build/icons/tune.svg
  src-electron/constants.ts
  src-electron/main/ipc.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-website.ts
  src-electron/preload/website.ts
  src/components/header/HeaderWebsite.vue
  src/i18n/en.json
  src/pages/PresentWebsite.vue
  src/stores/current-state.ts
  src/types/electron.d.ts
  src/types/index.d.ts
  src/types/jw/sites.d.ts
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Romanian
  src/i18n/ro.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Greek
  src/i18n/el.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Dutch
  src/i18n/nl.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovak
  src/i18n/sk.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations for Kinyarwanda
  src/i18n/rw.json
Labels: none

feat: new translations for Ga
  src/i18n/gaa.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for Spanish
  docs/locales/es.json
Labels: documentation

chore: revamp migration system
  src/migrations/add-base-url.ts
  src/migrations/first-run.ts
  src/migrations/index.ts
  src/migrations/local-storage-to-pinia.ts
  src/migrations/move-additional-media.ts
  src/migrations/new-media-sections.ts
  src/migrations/refresh-dynamic-media.ts
  src/migrations/types.ts
  src/pages/CongregationSelectorPage.vue
  src/stores/app-settings.ts
  src/utils/general.ts
Labels: none

fix: remove quotes from i18n vars
  src/i18n/en.json
Labels: none

fix: CBS CO week hiding logic oversight
  src/helpers/jw-media.ts
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none
