Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

chore: bump version to v26.6.2-beta.17 [skip ci]
  package.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

chore: dep updates and linting fixes
  .yarn/releases/yarn-4.16.0.cjs
  .yarn/releases/yarn-4.17.0.cjs
  .yarnrc.yml
  package.json
  src/components/media/MediaItem.vue
  src/components/media/MediaList.vue
  yarn.lock
Labels: dependencies, javascript

test(electron): mock app once handler
  src-electron/main/__tests__/fs.test.ts
  src-electron/main/__tests__/utils.test.ts
Labels: none

fix: JWPUB document picker would not show up in some cases
  src/components/media/MediaEmptyState.vue
  src/pages/MediaCalendarPage.vue
Labels: none

fix: show JWPUB publication context during import
  src/components/dialog/DialogFileImport.vue
  src/components/dialog/DialogJwpubMediaPicker.vue
  src/pages/MediaCalendarPage.vue
  src/utils/sqlite.ts
Labels: none

refactor: reuse decodeEntities for publication titles
  src/utils/__tests__/general.test.ts
  src/utils/general.ts
  src/utils/sqlite.ts
Labels: none

chore: bump version to v26.6.2-beta.18 [skip ci]
  package.json
Labels: none

chore: v26.7.0 changelog
  CHANGELOG.md
Labels: documentation

dev: add sonar.exclusions
  sonar-project.properties
Labels: none

dev: update sonar.exclusions
  sonar-project.properties
Labels: none

dev: update sonar.exclusions
  sonar-project.properties
Labels: none

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  release-notes/bzs.md
Labels: documentation

chore: bump version to v26.7.1-beta.0 [skip ci]
  package.json
Labels: none

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

docs: clarify mac update quit guard
  src-electron/electron-main.ts
  src-electron/main/__tests__/updater.test.ts
  src-electron/main/updater.ts
Labels: none

docs: clarify mac update quit guard (#8110)
  src-electron/electron-main.ts
  src-electron/main/__tests__/updater.test.ts
  src-electron/main/updater.ts
Labels: none

fix: guard updater error detail matching
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/utils.ts
Labels: none

fix: guard updater error detail matching (#8111)
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/utils.ts
Labels: none

ci: isolate test release builds
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/manual-release.yml
  quasar.config.ts
Labels: github_actions

ci: isolate test release builds (#8112)
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/manual-release.yml
  quasar.config.ts
Labels: github_actions

Update CHANGELOG for version 26.7.1
  CHANGELOG.md
Labels: documentation

Fix typo in CHANGELOG for Updater Downloads
  CHANGELOG.md
Labels: documentation

Update CHANGELOG for version 26.7.2
  CHANGELOG.md
Labels: documentation

Add debug step before build in manual-release workflow
  .github/workflows/manual-release.yml
Labels: github_actions

chore: bump version to v26.7.3-beta.0 [skip ci]
  package.json
Labels: none

fix: harden download directory creation against transient ENOENT races
  src-electron/main/__tests__/downloads.ensure-dir.test.ts
  src-electron/main/downloads.ts
Labels: none

fix: ignore transient scandir errors on cloud-sync watch folders
  src/shared/filesystem-errors.test.ts
  src/shared/filesystem-errors.ts
Labels: none
