Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

chore: bump music-metadata to 11.12.3
  package.json
  yarn.lock
Labels: dependencies, javascript

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tagalog
  src/i18n/tl.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

ci(Mergify): configuration update
  .mergify.yml
Labels: none

chore: bump version to v26.2.5-beta.12 [skip ci]
  package.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Estonian
  docs/src/et/faq.md
Labels: documentation

feat: new translations for Estonian
  docs/locales/et.json
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/settings-guide.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/user-guide.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/download.md
Labels: documentation

feat: add dynamic yeartext font loading with jsDelivr CDN and JW CDN caching
  src/helpers/fonts.ts
  src/layouts/MainLayout.vue
  src/pages/MediaPlayerPage.vue
  src/stores/jw.ts
  src/types/general.d.ts
Labels: none

fix: add playback-speed icon; remove composable; add button indicator when speed is not 1
  build/icons/playback-speed.svg
  src/components/media/MediaItem.vue
  src/composables/usePlaybackRate.ts
  src/i18n/en.json
Labels: none

fix: linting error and URL fixes font certain font lookups
  src/stores/jw.ts
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Finnish
  src/i18n/fi.json
Labels: none

feat: new translations for Hungarian
  src/i18n/hu.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
