Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Russian
  src/i18n/ru.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Swedish
  src/i18n/sv.json
Labels: none

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Malagasy
  src/i18n/mg.json
Labels: none

feat: new translations for Swahili
  src/i18n/sw.json
Labels: none

feat: new translations for Amharic
  src/i18n/am.json
Labels: none

feat: new translations for Russian
  docs/src/ru/using-at-a-kingdom-hall.md
Labels: documentation

feat: new translations for French
  docs/locales/fr.json
Labels: documentation

feat: new translations for Russian
  docs/locales/ru.json
Labels: documentation

feat: new translations for Haitian Creole
  src/i18n/ht.json
Labels: none

feat: new translations (#3803)
  docs/locales/fr.json
  docs/locales/ru.json
  docs/src/ru/using-at-a-kingdom-hall.md
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/uk.json
Labels: documentation

feat: new translations for German
  src/i18n/de.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations (#3806)
  src/i18n/de.json
  src/i18n/it.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Portuguese
  src/i18n/pt-pt.json
Labels: none

feat: new translations (#3808)
  src/i18n/pt-pt.json
  src/i18n/pt.json
Labels: none

feat: code sign and notarize macos app
  .github/workflows/build.yml
Labels: github_actions

ci: only run for macos
  .github/workflows/build.yml
Labels: github_actions

ci: always execute cleanup
  .github/workflows/build.yml
Labels: github_actions

ci: add log
  .github/workflows/build.yml
Labels: github_actions

ci: debug logs
  .github/workflows/build.yml
Labels: github_actions

ci: debug logs
  .github/workflows/build.yml
Labels: github_actions

ci: debug logs
  .github/workflows/build.yml
Labels: github_actions

ci: debug
  .github/workflows/build.yml
Labels: github_actions

ci: fix
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
Labels: github_actions

ci: cleanup
  .github/workflows/build.yml
Labels: github_actions

feat: enable auto updates for macos
  src-electron/main/updater.ts
Labels: none

fix: use hardenedRuntime
  quasar.config.ts
Labels: none

fix: add extra entitlements
  quasar.config.ts
Labels: none

chore: bump version to v24.12.2-beta.6 [skip ci]
  package.json
Labels: none

disable entitlements
  quasar.config.ts
Labels: none

chore: enable allow jit entitlement
  quasar.config.ts
Labels: none

feat: new translations for Chinese Simplified
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Chinese Simplified (#3814)
  src/i18n/cmn-hans.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian (#3816)
  src/i18n/sl.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
