Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Italian
  docs/src/it/about.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/faq.md
Labels: documentation

feat: new translations (#4448)
  docs/src/it/about.md
  docs/src/it/faq.md
  src/i18n/it.json
Labels: documentation

chore: bump version to v25.4.4-beta.11 [skip ci]
  package.json
Labels: none

feat: new translations for Italian
  src/i18n/it.json
Labels: none

feat: new translations for Italian (#4450)
  src/i18n/it.json
Labels: none

chore: bump version to v25.4.4-beta.12 [skip ci]
  package.json
Labels: none

chore(deps): update deps
  package.json
  yarn.lock
Labels: dependencies, javascript

chore(deps): update deps
  yarn.lock
Labels: dependencies, javascript

chore(release): v25.5.0
  CHANGELOG.md
  package.json
  release-notes/en.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Romanian
  release-notes/ro.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Greek
  release-notes/el.md
Labels: documentation

feat: new translations for Finnish
  release-notes/fi.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Portuguese
  release-notes/pt-pt.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovak
  release-notes/sk.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Swedish
  release-notes/sv.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Chinese Simplified
  release-notes/cmn-hans.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Tagalog
  release-notes/tl.md
Labels: documentation

feat: new translations for Malagasy
  release-notes/mg.md
Labels: documentation

feat: new translations for Swahili
  release-notes/sw.md
Labels: documentation

feat: new translations for Amharic
  release-notes/am.md
Labels: documentation

feat: new translations for Haitian Creole
  release-notes/ht.md
Labels: documentation

feat: new translations for Kinyarwanda
  release-notes/rw.md
Labels: documentation

feat: new translations (#4452)
  release-notes/am.md
  release-notes/cmn-hans.md
  release-notes/de.md
  release-notes/el.md
  release-notes/es.md
  release-notes/et.md
  release-notes/fi.md
  release-notes/fr.md
  release-notes/ht.md
  release-notes/hu.md
  release-notes/it.md
  release-notes/ko.md
  release-notes/mg.md
  release-notes/nl.md
  release-notes/pt-pt.md
  release-notes/pt.md
  release-notes/ro.md
  release-notes/ru.md
  release-notes/rw.md
  release-notes/sk.md
  release-notes/sl.md
  release-notes/sv.md
  release-notes/sw.md
  release-notes/tl.md
  release-notes/uk.md
Labels: documentation

feat: new translations for Swedish
  release-notes/sv.md
Labels: documentation

feat: new translations for Swedish (#4455)
  release-notes/sv.md
Labels: documentation

chore: bump version to v25.5.1-beta.0 [skip ci]
  package.json
Labels: none
