Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Ukrainian
  src/i18n/uk.json
Labels: none

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

chore: add v26.7.9 changelog entry
  CHANGELOG.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  release-notes/pt.md
Labels: documentation

feat: new translations for Estonian
  release-notes/et.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  release-notes/bzs.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

fix: make the downloaded FFmpeg executable on macOS and Linux
  src-electron/electron-preload.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src/helpers/fs.ts
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

fix: make the downloaded FFmpeg executable on macOS and Linux (#8658)
  src-electron/electron-preload.ts
  src-electron/main/fs.ts
  src-electron/main/ipc.ts
  src/helpers/fs.ts
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

fix(updater): ignore ERR_PROXY_CONNECTION_FAILED as benign network noise
  src-electron/main/__tests__/utils.test.ts
  src-electron/main/utils.ts
Labels: none

fix(publication-media-dialog): use correct issue for PDF availability check after search import
  src/components/dialog/DialogPublicationMedia.vue
Labels: none

chore: dep update
  package.json
  yarn.lock
Labels: dependencies, javascript

fix(about-dialog): rework feature carousel and emoji parsing for long release notes
  src/components/dialog/DialogAbout.vue
  src/css/app.scss
Labels: none

docs(changelog): replace generic commit-type bullet titles with real titles
  CHANGELOG.md
Labels: documentation

feat: new translations for Tahitian
  release-notes/ty.md
Labels: documentation

feat: new translations for French
  release-notes/fr.md
Labels: documentation

feat: new translations for Spanish
  release-notes/es.md
Labels: documentation

feat: new translations for German
  release-notes/de.md
Labels: documentation

feat: new translations for Hungarian
  release-notes/hu.md
Labels: documentation

feat: new translations for Italian
  release-notes/it.md
Labels: documentation

feat: new translations for Korean
  release-notes/ko.md
Labels: documentation

feat: new translations for Dutch
  release-notes/nl.md
Labels: documentation

feat: new translations for Russian
  release-notes/ru.md
Labels: documentation

feat: new translations for Slovenian
  release-notes/sl.md
Labels: documentation

feat: new translations for Ukrainian
  release-notes/uk.md
Labels: documentation

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
