Repository sircharlo/meeting-media-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github_actions, javascript

feat: new translations for Portuguese, Brazilian
  src/i18n/pt.json
Labels: none

feat: new translations for Estonian
  src/i18n/et.json
Labels: none

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Brazilian Sign Language
  src/i18n/bzs.json
Labels: none

feat: new translations for French
  docs/src/fr/settings-guide.md
Labels: documentation

feat: new translations for German
  docs/src/de/settings-guide.md
Labels: documentation

feat: new translations for Hungarian
  docs/src/hu/settings-guide.md
Labels: documentation

feat: new translations for Italian
  docs/src/it/settings-guide.md
Labels: documentation

feat: new translations for Dutch
  docs/src/nl/settings-guide.md
Labels: documentation

feat: new translations for Russian
  docs/src/ru/settings-guide.md
Labels: documentation

feat: new translations for Slovenian
  docs/src/sl/settings-guide.md
Labels: documentation

feat: new translations for Ukrainian
  docs/src/uk/settings-guide.md
Labels: documentation

feat: new translations for Chinese Simplified
  docs/src/cmn-hans/settings-guide.md
Labels: documentation

feat: new translations for Chinese Traditional
  docs/src/cmn-hant/settings-guide.md
Labels: documentation

feat: new translations for Portuguese, Brazilian
  docs/src/pt/settings-guide.md
Labels: documentation

feat: new translations for Estonian
  docs/src/et/settings-guide.md
Labels: documentation

feat: new translations for Tahitian
  docs/src/ty/settings-guide.md
Labels: documentation

feat: new translations for Brazilian Sign Language
  docs/src/bzs/settings-guide.md
Labels: documentation

docs: document 4 missing package.json scripts, drop a stale PR version (DOC-12/13)
  AGENTS.md
  ELECTRON-44-CUTOVER.md
Labels: documentation

chore: bump two workflows' hardcoded Prettier pin to match package.json (CI-1)
  .github/workflows/refresh-jw-icons-fallbacks.yml
  .github/workflows/update-langs.yml
Labels: github_actions

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Korean
  docs/src/ko/download.md
Labels: documentation

feat: new translations for Korean
  src/i18n/ko.json
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian
  docs/src/sl/settings-guide.md
Labels: documentation

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Slovenian
  docs/src/sl/settings-guide.md
Labels: documentation

feat: new translations for Tahitian
  src/i18n/ty.json
Labels: none

feat: new translations for Tahitian
  docs/src/ty/settings-guide.md
Labels: documentation

fix(docs): normalize Tahitian settings-guide heading anchor spacing (ty#180)
  docs/src/ty/settings-guide.md
Labels: documentation

feat: new translations (#9144)
  docs/src/ty/settings-guide.md
  src/i18n/ty.json
Labels: documentation

fix(media-item): only fade text under 3-dots menu when menu is visible
  src/css/app.scss
Labels: none

fix: isOnline CSP
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src/components/media/DownloadStatus.vue
  src/types/electron.d.ts
  test/vitest/mocks/electronApi.ts
Labels: none

fix: various ui glitches
  package.json
  src/components/media/MediaGroup.vue
  src/components/media/MediaItem.vue
  src/css/app.scss
  yarn.lock
Labels: dependencies, javascript

fix: add a re-open affordance for dismissed meeting quick-actions panels
  src/components/media/MeetingQuickActionsPanel.vue
  src/i18n/en.json
  src/stores/__tests__/meeting-quick-actions.test.ts
  src/stores/meeting-quick-actions.ts
Labels: none

feat: mirror the media window into the preview instead of double-playing it
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src/components/__tests__/MediaItem.edge.test.ts
  src/components/media/MediaItem.vue
  src/components/media/MediaPreview.vue
  src/components/media/__tests__/MediaPreview.test.ts
  src/composables/useMediaSectionRepeat.ts
  src/helpers/__tests__/meeting-quick-actions.test.ts
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/stores/current-state.ts
  src/types/electron.d.ts
  src/utils/media.ts
  test/vitest/mocks/electronApi.ts
Labels: none

feat: new translations for Slovenian
  src/i18n/sl.json
Labels: none

feat: new translations for Spanish
  src/i18n/es.json
Labels: none

feat: new translations for French
  src/i18n/fr.json
Labels: none

feat: new translations for German
  src/i18n/de.json
Labels: none

.github/labeler.yml:

bug:
  - head-branch: ['^fix', 'fix']
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['.github/dependabot.yml', 'yarn.lock']
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', '**/*.md']
enhancement:
  - head-branch: ['^feat', 'feat']
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*', '.github/*.yml']
javascript:
  - changed-files:
      - any-glob-to-any-file: ['yarn.lock']
translations:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              ['docs/locales/**/*', 'docs/src/**/*', 'src/i18n/**/*']
          - all-globs-to-all-files:
              [
                '!docs/locales/en.json',
                '!docs/src/en/**/*',
                '!src/i18n/en.json',
              ]
