Repository sircharlo/meeting-media-manager, pull requests merged in 2023-07, with the labels that each got.

#1959 chore: new translations
  locales/mg/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1958 chore: new translations
  src/renderer/locales/mg.json
Labels: translations

#1960 chore: new translations
  src/renderer/locales/mg.json
Labels: translations

#1965 chore: new translations
  _data/sl.json
  locales/sl/_posts/2022-08-17-bug-feature.md
  locales/sl/_posts/2022-08-17-configuration.md
  locales/sl/_posts/2022-08-17-congregation-sync.md
  locales/sl/_posts/2022-08-17-faq.md
  locales/sl/_posts/2022-08-17-installation.md
  locales/sl/_posts/2022-08-17-manage-media.md
  locales/sl/_posts/2022-08-17-present-media.md
  locales/sl/_posts/2022-08-17-usage-notes.md
  locales/sl/index.md
Labels: documentation, translations

#1964 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#1966 feat: new language: Slovenian
  .vscode/settings.json
  src/renderer/constants/lang.js
  src/renderer/layouts/default.vue
Labels: enhancement

#1968 chore: new translations
  locales/sl/_posts/2022-08-17-configuration.md
  locales/sl/_posts/2022-08-17-congregation-sync.md
  locales/sl/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#1967 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#1969 feat: new language: Slovenian
  _config.yml
  index.html
Labels: documentation

#1971 chore: new translations
  locales/sl/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1970 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#1972 chore: new translations
  _data/sl.json
  locales/hu/_posts/2022-08-17-configuration.md
  locales/sl/_posts/2022-08-17-congregation-sync.md
  locales/sl/_posts/2022-08-17-manage-media.md
  locales/sl/_posts/2022-08-17-present-media.md
  locales/sl/index.md
  locales/wes-x-pgw/_posts/2022-08-17-installation.md
Labels: documentation, translations

#1974 Update README.md
  README.md
Labels: documentation

#1976 chore: new translations
  locales/sl/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1980 chore: new translations
  locales/sl/_posts/2022-08-17-configuration.md
  locales/sl/_posts/2022-08-17-congregation-sync.md
Labels: documentation, translations

#1982 chore: new translations
  _data/sl.json
  locales/sl/_posts/2022-08-17-configuration.md
  locales/sl/_posts/2022-08-17-congregation-sync.md
  locales/sl/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#1981 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#1983 chore: new translations
  locales/sl/_posts/2022-08-17-configuration.md
  locales/sl/_posts/2022-08-17-congregation-sync.md
Labels: documentation, translations

#1985 chore: new translations
  _data/sl.json
  locales/sl/_posts/2022-08-17-configuration.md
  locales/sl/_posts/2022-08-17-congregation-sync.md
Labels: documentation, translations

#1984 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#1988 chore: new translations
  _data/sl.json
  locales/sl/_posts/2022-08-17-configuration.md
  locales/sl/_posts/2022-08-17-congregation-sync.md
  locales/sl/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#1987 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#1990 chore: new translations
  _data/sl.json
Labels: documentation, translations

#1989 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#1991 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#1992 chore: new translations
  locales/sl/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1994 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#1995 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#1996 chore: new translations
  locales/sl/_posts/2022-08-17-bug-feature.md
  locales/sl/_posts/2022-08-17-faq.md
  locales/sl/_posts/2022-08-17-installation.md
  locales/sl/_posts/2022-08-17-usage-notes.md
Labels: documentation, translations

#2001 chore: new translations
  locales/sl/_posts/2022-08-17-manage-media.md
  locales/sl/_posts/2022-08-17-present-media.md
Labels: documentation, translations

#2002 chore: new translations
  locales/sl/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#2006 chore: new translations
  locales/sl/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#2009 chore: new translations
  locales/sl/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#2008 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#2010 chore: new translations
  locales/sl/_posts/2022-08-17-congregation-sync.md
  locales/sl/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#2012 chore: new translations
  locales/pt-pt/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2011 chore: new translations
  src/renderer/locales/pt-pt.json
Labels: translations

#2014 chore: new translations
  locales/pt-pt/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2013 chore: new translations
  src/renderer/locales/pt-pt.json
Labels: translations

#2017 chore: new translations
  locales/pt-pt/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2016 chore: new translations
  src/renderer/locales/pt-pt.json
Labels: translations

#2019 chore: new translations
  locales/pt-pt/_posts/2022-08-17-configuration.md
  locales/pt-pt/_posts/2022-08-17-congregation-sync.md
Labels: documentation, translations

#2018 chore: new translations
  src/renderer/locales/pt-pt.json
Labels: translations

#2020 chore: new translations
  src/renderer/locales/pt-pt.json
Labels: translations

#2021 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#2023 chore: new translations
  _data/sl.json
  locales/sl/_posts/2022-08-17-congregation-sync.md
Labels: documentation, translations

#2022 chore: new translations
  src/renderer/locales/sl.json
Labels: translations

#2024 chore: new translations
  locales/sl/_posts/2022-08-17-configuration.md
  locales/sl/_posts/2022-08-17-congregation-sync.md
  locales/sl/_posts/2022-08-17-faq.md
  locales/sl/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#2025 chore: new translations
  _data/pt-pt.json
  locales/pt-pt/_posts/2022-08-17-configuration.md
  locales/pt-pt/_posts/2022-08-17-congregation-sync.md
  locales/pt-pt/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#2026 chore: new translations
  locales/pt-pt/_posts/2022-08-17-bug-feature.md
  locales/pt-pt/_posts/2022-08-17-congregation-sync.md
  locales/pt-pt/_posts/2022-08-17-faq.md
  locales/pt-pt/_posts/2022-08-17-installation.md
  locales/pt-pt/_posts/2022-08-17-manage-media.md
  locales/pt-pt/_posts/2022-08-17-present-media.md
  locales/pt-pt/_posts/2022-08-17-usage-notes.md
Labels: documentation, translations

#2027 chore: new translations
  locales/pt-pt/_posts/2022-08-17-manage-media.md
  locales/pt-pt/_posts/2022-08-17-present-media.md
  locales/pt-pt/_posts/2022-08-17-usage-notes.md
  locales/pt-pt/index.md
Labels: documentation, translations

#2029 chore: new translations
  locales/pt-pt/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#2030 chore: new translations
  locales/pt-pt/_posts/2022-08-17-configuration.md
  locales/pt-pt/_posts/2022-08-17-present-media.md
Labels: documentation, translations

#2031 chore: new translations
  locales/pt-pt/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2032 chore: new translations
  locales/pt-pt/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2028 feat: support jwlplaylist files
  .vscode/settings.json
  src/renderer/components/manage/ManageMedia.vue
  src/renderer/components/manage/ManageSelectType.vue
  src/renderer/plugins/fs.ts
  src/renderer/types/jw/index.d.ts
  src/renderer/types/jw/playlist.d.ts
  src/renderer/types/vue-shim.d.ts
Labels: enhancement

#2040 feat: add heic support
  package.json
  src/renderer/plugins/converters.ts
  yarn.lock
Labels: enhancement

#2046 chore: new translations
  locales/mg/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2045 chore: new translations
  src/renderer/locales/mg.json
Labels: translations

#2055 chore: new translations
  locales/sl/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2056 chore: new translations
  locales/sl/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2060 fix: correctly process drag n dropped playlist
  src/renderer/components/manage/ManageMedia.vue
Labels: bug

#2066 chore: new translations
  locales/sl/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2067 chore: new translations
  locales/sl/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2070 chore: new translations
  locales/sl/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2069 chore: new translations
  src/renderer/locales/sl.json
Labels: translations
