Repository sircharlo/meeting-media-manager, pull requests merged in 2023-03, with the labels that each got.

#1303 feat: zoom integration
  .env.example
  .github/workflows/ci.yml
  .vscode/settings.json
  package.json
  src/renderer/components/ConfirmDialog.vue
  src/renderer/components/cong/CongForcedPrefs.vue
  src/renderer/components/form/FormInput.vue
  src/renderer/components/media/MediaControls.vue
  src/renderer/components/media/MediaList.vue
  src/renderer/components/present/PresentFooter.vue
  src/renderer/components/present/PresentTopBar.vue
  src/renderer/components/present/PresentZoomBar.vue
  src/renderer/components/settings/SettingsApp.vue
  src/renderer/constants/prefs.ts
  src/renderer/layouts/default.vue
  src/renderer/locales/en.json
  src/renderer/nuxt.config.js
  src/renderer/pages/index.vue
  src/renderer/pages/media.vue
  src/renderer/pages/present.vue
  src/renderer/plugins/cong.ts
  src/renderer/plugins/externals.ts
  src/renderer/plugins/logger.ts
  src/renderer/plugins/prefs.ts
  src/renderer/plugins/zoom.ts
  src/renderer/store/zoom.ts
  src/renderer/types/prefs.d.ts
  src/renderer/types/vue-shim.d.ts
  yarn.lock
Labels: enhancement, help wanted, in-progress

#1661 chore: auto add docs label
  .github/workflows/labels.yml
Labels: documentation

#1664 chore: new translations
  locales/hu/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1663 chore: new translations
  src/renderer/locales/hu.json
Labels: translations

#1666 chore: new translations
  locales/it/_posts/2022-08-17-configuration.md
  locales/it/_posts/2022-08-17-present-media.md
Labels: documentation, translations

#1665 chore: new translations
  src/renderer/locales/it.json
Labels: translations

#1667 chore: new translations
  locales/it/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1668 chore: new translations
  locales/hu/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1669 Delete MediaItem.vue
  src/renderer/components/media/MediaItem.vue
Labels: documentation

#1674 chore: new translations
  locales/hu/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1681 fix: gh action version
  .github/workflows/beta-release.yml
Labels: bug

#1684 chore: new translations
  src/renderer/locales/de.json
  src/renderer/locales/es.json
  src/renderer/locales/et.json
  src/renderer/locales/fi.json
  src/renderer/locales/fr.json
  src/renderer/locales/hu.json
  src/renderer/locales/it.json
  src/renderer/locales/mg.json
  src/renderer/locales/nl.json
  src/renderer/locales/pt-pt.json
  src/renderer/locales/pt.json
  src/renderer/locales/ro.json
  src/renderer/locales/ru.json
  src/renderer/locales/sk.json
  src/renderer/locales/sv.json
  src/renderer/locales/uk.json
  src/renderer/locales/wes-x-pgw.json
Labels: translations

#1682 fix: several fixes
  src/renderer/components/manage/ManageSelectDocument.vue
  src/renderer/components/media/MediaControls.vue
  src/renderer/components/present/PresentFooter.vue
  src/renderer/components/present/PresentZoomBar.vue
  src/renderer/pages/present.vue
  src/renderer/plugins/media.ts
  src/renderer/plugins/zoom.ts
  src/renderer/types/vue-shim.d.ts
Labels: bug

#1686 chore: new translations
  locales/es/_posts/2022-08-17-configuration.md
  locales/es/_posts/2022-08-17-present-media.md
Labels: documentation, translations

#1687 fix: no error for weekend memorial day
  src/renderer/plugins/media.ts
Labels: bug

#1689 chore: new translations
  locales/es/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1688 chore: new translations
  src/renderer/locales/es.json
Labels: translations

#1691 chore: new translations
  src/renderer/locales/mg.json
Labels: translations

#1698 fix: set max prop type to number only
  src/renderer/components/form/FormInput.vue
Labels: bug

#1700 chore: new translations
  locales/uk/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1699 chore: new translations
  src/renderer/locales/uk.json
Labels: translations

#1702 chore: new translations
  locales/uk/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1701 chore: new translations
  src/renderer/locales/uk.json
Labels: translations

#1675 feat: add icons to setting tabs
  src/renderer/pages/settings.vue
Labels: enhancement

#1708 fix: set jw video img fallback
  src/renderer/components/form/FormInput.vue
  src/renderer/components/manage/ManageSelectVideo.vue
Labels: bug

#1710 chore: new translations
  locales/et/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1717 chore: update deps
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: dependencies, javascript

#1719 fix: correctly download media in multiple dates
  src/renderer/plugins/media.ts
Labels: bug

#1723 fix: correct download url for beta releases
  src/renderer/layouts/default.vue
Labels: bug

#1729 fix: correctly ignore image scene for v4
  package.json
  src/renderer/plugins/obs.ts
  yarn.lock
Labels: bug

#1731 fix: correctly fetch wt songs for feb 2023 and later
  src/renderer/constants/general.ts
  src/renderer/plugins/media.ts
Labels: bug

#1734 feat: possibility to force critical updates
  CONTRIBUTING.md
  src/main/index.ts
  src/renderer/locales/en.json
Labels: enhancement

#1736 fix: correctly disable sync when offline
  package.json
  src/renderer/layouts/default.vue
  src/renderer/pages/index.vue
  yarn.lock
Labels: bug

#1741 chore: new translations
  src/renderer/locales/de.json
  src/renderer/locales/es.json
  src/renderer/locales/et.json
  src/renderer/locales/fi.json
  src/renderer/locales/fr.json
  src/renderer/locales/it.json
  src/renderer/locales/mg.json
  src/renderer/locales/nl.json
  src/renderer/locales/pt-pt.json
  src/renderer/locales/pt.json
  src/renderer/locales/ro.json
  src/renderer/locales/ru.json
  src/renderer/locales/sk.json
  src/renderer/locales/sv.json
  src/renderer/locales/uk.json
  src/renderer/locales/wes-x-pgw.json
Labels: translations

#1742 chore: new translations
  src/renderer/locales/de.json
Labels: translations

#1743 Update build.yml
  .github/workflows/build.yml
Labels: documentation

#1745 Update build.yml
  .github/workflows/build.yml
Labels: documentation

#1744 chore: new translations
  src/renderer/locales/nl.json
Labels: translations

#1746 chore: new translations
  src/renderer/locales/fr.json
  src/renderer/locales/ru.json
Labels: translations

#1747 fix: correctly toggle subs position
  src/renderer/components/media/MediaVideo.vue
  src/renderer/pages/media.vue
Labels: bug

#1751 chore: update deps
  package.json
  src/renderer/pages/present.vue
  yarn.lock
Labels: dependencies, javascript
