Repository sircharlo/meeting-media-manager, pull requests merged in 2023-12, with the labels that each got.

#2299 fix: correctly validate timestamp
  src/renderer/components/form/FormTimestamp.vue
Labels: bug

#2300 feat: Iloko
  .vscode/settings.json
  src/renderer/constants/lang.js
Labels: enhancement

#2304 chore: new translations
  src/renderer/locales/PN.json
Labels: translations

#2305 chore: new translations
  _data/PN.json
  locales/PN/_posts/2022-08-17-bug-feature.md
  locales/PN/_posts/2022-08-17-configuration.md
  locales/PN/_posts/2022-08-17-congregation-sync.md
  locales/PN/_posts/2022-08-17-faq.md
  locales/PN/_posts/2022-08-17-installation.md
  locales/PN/_posts/2022-08-17-manage-media.md
  locales/PN/_posts/2022-08-17-present-media.md
  locales/PN/_posts/2022-08-17-usage-notes.md
  locales/PN/index.md
Labels: documentation, translations

#2306 chore: new translations
  locales/PN/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2307 chore: new translations
  src/renderer/locales/pag.json
Labels: translations

#2308 Update _config.yml
  _config.yml
  index.html
Labels: documentation

#2310 Delete locales/PN directory
  locales/PN/_posts/2022-08-17-bug-feature.md
  locales/PN/_posts/2022-08-17-configuration.md
  locales/PN/_posts/2022-08-17-congregation-sync.md
  locales/PN/_posts/2022-08-17-faq.md
  locales/PN/_posts/2022-08-17-installation.md
  locales/PN/_posts/2022-08-17-manage-media.md
  locales/PN/_posts/2022-08-17-present-media.md
  locales/PN/_posts/2022-08-17-usage-notes.md
  locales/PN/index.md
Labels: documentation

#2309 chore: new translations
  _data/pag.json
  locales/pag/_posts/2022-08-17-bug-feature.md
  locales/pag/_posts/2022-08-17-configuration.md
  locales/pag/_posts/2022-08-17-congregation-sync.md
  locales/pag/_posts/2022-08-17-faq.md
  locales/pag/_posts/2022-08-17-installation.md
  locales/pag/_posts/2022-08-17-manage-media.md
  locales/pag/_posts/2022-08-17-present-media.md
  locales/pag/_posts/2022-08-17-usage-notes.md
  locales/pag/index.md
Labels: documentation, translations

#2312 chore: gitignore
  .gitignore
Labels: documentation
