Repository sircharlo/meeting-media-manager, pull requests merged in 2023-04, with the labels that each got.

#1753 chore: new translations
  src/renderer/locales/es.json
Labels: translations

#1754 chore: new translations
  src/renderer/locales/pt.json
Labels: translations

#1755 chore: new translations
  src/renderer/locales/it.json
Labels: translations

#1762 chore: new translations
  src/renderer/locales/et.json
Labels: translations

#1764 chore: new translations
  _data/et.json
  locales/et/_posts/2022-08-17-bug-feature.md
  locales/et/_posts/2022-08-17-configuration.md
  locales/et/_posts/2022-08-17-congregation-sync.md
  locales/et/_posts/2022-08-17-faq.md
  locales/et/_posts/2022-08-17-installation.md
  locales/et/_posts/2022-08-17-usage-notes.md
  locales/et/index.md
Labels: documentation, translations

#1763 chore: new translations
  src/renderer/locales/et.json
Labels: translations

#1765 chore: update deps
  package.json
  src/renderer/nuxt.config.js
  yarn.lock
Labels: dependencies, javascript

#1770 chore: new translations
  _data/it.json
Labels: documentation, translations

#1771 chore: new translations
  _data/et.json
Labels: documentation, translations

#1772 chore: update gitignore
  .gitignore
Labels: documentation

#1785 chore: new translations
  locales/wes-x-pgw/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1784 chore: new translations
  src/renderer/locales/wes-x-pgw.json
Labels: translations

#1786 chore: new translations
  src/renderer/locales/wes-x-pgw.json
Labels: translations

#1787 fix: correctly play media when sorted
  package.json
  src/main/index.ts
  src/renderer/components/media/MediaList.vue
  yarn.lock
Labels: bug

#1804 chore: new translations
  src/renderer/locales/hu.json
Labels: translations

#1806 chore: new translations
  locales/hu/_posts/2022-08-17-present-media.md
Labels: documentation, translations

#1812 chore: update deps
  package.json
  yarn.lock
Labels: dependencies, javascript
