Repository sircharlo/meeting-media-manager, pull requests merged in 2023-11, with the labels that each got.

#2269 chore: new translations
  src/renderer/locales/uk.json
Labels: translations

#2273 chore: new translations
  _data/ilo.json
  _data/tl.json
  locales/ilo/_posts/2022-08-17-bug-feature.md
  locales/ilo/_posts/2022-08-17-configuration.md
  locales/ilo/_posts/2022-08-17-congregation-sync.md
  locales/ilo/_posts/2022-08-17-faq.md
  locales/ilo/_posts/2022-08-17-installation.md
  locales/ilo/_posts/2022-08-17-manage-media.md
  locales/ilo/_posts/2022-08-17-present-media.md
  locales/ilo/_posts/2022-08-17-usage-notes.md
  locales/ilo/index.md
  locales/tl/_posts/2022-08-17-bug-feature.md
  locales/tl/_posts/2022-08-17-configuration.md
  locales/tl/_posts/2022-08-17-congregation-sync.md
  locales/tl/_posts/2022-08-17-faq.md
  locales/tl/_posts/2022-08-17-installation.md
  locales/tl/_posts/2022-08-17-manage-media.md
  locales/tl/_posts/2022-08-17-present-media.md
  locales/tl/_posts/2022-08-17-usage-notes.md
  locales/tl/index.md
Labels: documentation, translations

#2274 chore: new translations
  src/renderer/locales/ilo.json
Labels: translations

#2275 feat: new languages
  _config.yml
  index.html
Labels: documentation

#2276 chore: new translations
  src/renderer/locales/tl.json
Labels: translations

#2277 chore: new translations
  locales/tl/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2278 fix: ta language
  _config.yml
  index.html
Labels: documentation

#2280 chore: new translations
  locales/ilo/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2281 feat: Tagalog
  src/renderer/constants/lang.js
Labels: enhancement

#2282 chore: new translations
  src/renderer/locales/ilo.json
Labels: translations

#2283 chore: new translations
  _data/ta.json
  locales/hu/_posts/2022-08-17-usage-notes.md
  locales/ta/_posts/2022-08-17-configuration.md
  locales/ta/_posts/2022-08-17-congregation-sync.md
  locales/ta/_posts/2022-08-17-manage-media.md
  locales/ta/_posts/2022-08-17-present-media.md
  locales/ta/index.md
  locales/tl/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2286 fix: correctly process jwl playlist items with special characters
  src/renderer/components/manage/ManageMedia.vue
Labels: bug
