Repository sircharlo/meeting-media-manager, pull requests merged in 2023-05, with the labels that each got.

#1831 chore: new translations
  _data/wes-x-pgw.json
  locales/wes-x-pgw/_posts/2022-08-17-configuration.md
  locales/wes-x-pgw/_posts/2022-08-17-congregation-sync.md
  locales/wes-x-pgw/_posts/2022-08-17-faq.md
  locales/wes-x-pgw/_posts/2022-08-17-installation.md
  locales/wes-x-pgw/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#1830 chore: new translations
  src/renderer/locales/wes-x-pgw.json
Labels: translations

#1832 chore: new translations
  locales/wes-x-pgw/_posts/2022-08-17-bug-feature.md
Labels: documentation, translations

#1833 fix: add refresh button when no jw langs
  src/renderer/components/settings/SettingsMedia.vue
  src/renderer/plugins/jw.ts
Labels: bug

#1836 fix: use meps lang when possible
  src/renderer/layouts/default.vue
  src/renderer/plugins/jw.ts
  src/renderer/plugins/media.ts
Labels: bug

#1844 chore: new translations
  locales/mg/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#1843 chore: new translations
  src/renderer/locales/mg.json
Labels: translations

#1854 fix: correctly fetch wt videos
  src/renderer/components/media/MediaItem.vue
  src/renderer/plugins/media.ts
Labels: bug
