Repository sircharlo/meeting-media-manager, pull requests merged in 2023-10, with the labels that each got.

#2182 chore: new translations
  locales/uk/_posts/2022-08-17-present-media.md
Labels: documentation, translations

#2184 chore: new translations
  locales/uk/_posts/2022-08-17-configuration.md
  locales/uk/_posts/2022-08-17-congregation-sync.md
  locales/uk/_posts/2022-08-17-present-media.md
Labels: documentation, translations

#2185 chore: new translations
  locales/de/_posts/2022-08-17-usage-notes.md
  locales/el/_posts/2022-08-17-usage-notes.md
  locales/es/_posts/2022-08-17-usage-notes.md
  locales/et/_posts/2022-08-17-usage-notes.md
  locales/fi/_posts/2022-08-17-usage-notes.md
  locales/fr/_posts/2022-08-17-usage-notes.md
  locales/hu/_posts/2022-08-17-usage-notes.md
  locales/it/_posts/2022-08-17-usage-notes.md
  locales/mg/_posts/2022-08-17-usage-notes.md
  locales/nl/_posts/2022-08-17-usage-notes.md
  locales/pt-pt/_posts/2022-08-17-usage-notes.md
  locales/pt/_posts/2022-08-17-usage-notes.md
  locales/rmn-x-rmg/_posts/2022-08-17-usage-notes.md
  locales/ro/_posts/2022-08-17-usage-notes.md
  locales/ru/_posts/2022-08-17-usage-notes.md
  locales/sk/_posts/2022-08-17-usage-notes.md
  locales/sl/_posts/2022-08-17-usage-notes.md
  locales/sv/_posts/2022-08-17-usage-notes.md
  locales/ta/_posts/2022-08-17-usage-notes.md
  locales/uk/_posts/2022-08-17-usage-notes.md
  locales/wes-x-pgw/_posts/2022-08-17-usage-notes.md
Labels: documentation, translations

#2189 chore: new translations
  locales/ru/_posts/2022-08-17-usage-notes.md
  locales/sl/_posts/2022-08-17-usage-notes.md
Labels: documentation, translations

#2191 chore: new translations
  locales/fi/_posts/2022-08-17-usage-notes.md
  locales/sv/_posts/2022-08-17-usage-notes.md
Labels: documentation, translations

#2192 chore: new translations
  locales/uk/_posts/2022-08-17-usage-notes.md
Labels: documentation, translations

#2194 chore: new translations
  src/renderer/locales/uk.json
Labels: translations

#2209 chore: new translations
  src/renderer/locales/af.json
Labels: translations

#2210 chore: new translations
  _data/af.json
  locales/af/_posts/2022-08-17-bug-feature.md
  locales/af/_posts/2022-08-17-configuration.md
  locales/af/_posts/2022-08-17-congregation-sync.md
  locales/af/_posts/2022-08-17-faq.md
  locales/af/_posts/2022-08-17-installation.md
  locales/af/_posts/2022-08-17-manage-media.md
  locales/af/_posts/2022-08-17-present-media.md
  locales/af/_posts/2022-08-17-usage-notes.md
  locales/af/index.md
Labels: documentation, translations

#2211 chore: add Greek
  _config.yml
  index.html
Labels: documentation

#2212 chore: new translations
  src/renderer/locales/af.json
  src/renderer/locales/el.json
Labels: translations

#2213 chore: new translations
  src/renderer/locales/el.json
Labels: translations

#2214 chore: new translations
  _data/el.json
  locales/af/_posts/2022-08-17-configuration.md
  locales/af/_posts/2022-08-17-congregation-sync.md
  locales/af/_posts/2022-08-17-manage-media.md
  locales/af/_posts/2022-08-17-usage-notes.md
  locales/el/_posts/2022-08-17-bug-feature.md
  locales/el/_posts/2022-08-17-configuration.md
  locales/el/_posts/2022-08-17-congregation-sync.md
  locales/el/_posts/2022-08-17-faq.md
  locales/el/_posts/2022-08-17-installation.md
  locales/el/_posts/2022-08-17-manage-media.md
  locales/el/_posts/2022-08-17-usage-notes.md
  locales/el/index.md
Labels: documentation, translations

#2220 chore: new translations
  _data/af.json
  _data/ro.json
  locales/af/_posts/2022-08-17-configuration.md
  locales/af/_posts/2022-08-17-congregation-sync.md
  locales/af/_posts/2022-08-17-manage-media.md
  locales/af/_posts/2022-08-17-present-media.md
  locales/af/index.md
  locales/el/_posts/2022-08-17-present-media.md
  locales/fr/_posts/2022-08-17-usage-notes.md
  locales/it/_posts/2022-08-17-usage-notes.md
  locales/nl/_posts/2022-08-17-usage-notes.md
  locales/uk/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2222 chore: new translations
  src/renderer/locales/af.json
Labels: translations

#2223 chore: new translations
  locales/af/_posts/2022-08-17-configuration.md
  locales/af/_posts/2022-08-17-congregation-sync.md
  locales/af/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#2224 chore: new translations
  locales/af/_posts/2022-08-17-manage-media.md
  locales/af/_posts/2022-08-17-present-media.md
Labels: documentation, translations

#2225 chore: new translations
  locales/es/_posts/2022-08-17-usage-notes.md
Labels: documentation, translations

#2228 chore: new translations
  locales/es/_posts/2022-08-17-usage-notes.md
Labels: documentation, translations

#2230 Update _config.yml
  _config.yml
Labels: documentation

#2231 chore: new translations
  _data/rmn-x-rmg.json
  locales/rmn-x-rmg/_posts/2022-08-17-configuration.md
  locales/rmn-x-rmg/_posts/2022-08-17-congregation-sync.md
  locales/rmn-x-rmg/_posts/2022-08-17-manage-media.md
  locales/rmn-x-rmg/_posts/2022-08-17-present-media.md
  locales/rmn-x-rmg/index.md
Labels: documentation, translations

#2233 fix: correctly get mwb headings for uneven result
  src/renderer/plugins/media.ts
Labels: bug

#2234 chore: new translations
  _data/rmn-x-rmg.json
Labels: documentation, translations

#2246 chore: new translations
  src/renderer/locales/et.json
Labels: translations

#2247 chore: new translations
  locales/et/_posts/2022-08-17-bug-feature.md
  locales/et/_posts/2022-08-17-configuration.md
  locales/et/_posts/2022-08-17-congregation-sync.md
  locales/et/_posts/2022-08-17-manage-media.md
Labels: documentation, translations
