Repository sircharlo/meeting-media-manager, pull requests merged in 2023-06, with the labels that each got.

#1879 fix: correctly fetch wt videos
  src/renderer/plugins/media.ts
Labels: bug

#1881 fix: use paragraph nr for wt videos
  src/renderer/plugins/media.ts
Labels: bug

#1914 chore: new translations
  src/renderer/locales/de.json
  src/renderer/locales/es.json
  src/renderer/locales/et.json
  src/renderer/locales/fi.json
  src/renderer/locales/fr.json
  src/renderer/locales/hu.json
  src/renderer/locales/it.json
  src/renderer/locales/mg.json
  src/renderer/locales/nl.json
  src/renderer/locales/pt-pt.json
  src/renderer/locales/pt.json
  src/renderer/locales/ro.json
  src/renderer/locales/ru.json
  src/renderer/locales/sk.json
  src/renderer/locales/sv.json
  src/renderer/locales/uk.json
  src/renderer/locales/wes-x-pgw.json
Labels: translations

#1915 chore: new translations
  src/renderer/locales/fr.json
  src/renderer/locales/ru.json
Labels: translations

#1916 chore: new translations
  src/renderer/locales/pt.json
Labels: translations

#1918 chore: new translations
  src/renderer/locales/et.json
Labels: translations

#1919 chore: new translations
  src/renderer/locales/nl.json
Labels: translations

#1920 fix: always include lff lesson header image
  src/renderer/plugins/media.ts
Labels: bug

#1923 feat: support webp files
  src/renderer/plugins/fs.ts
Labels: enhancement

#1929 chore: new translations
  src/renderer/locales/de.json
  src/renderer/locales/es.json
  src/renderer/locales/et.json
  src/renderer/locales/fi.json
  src/renderer/locales/fr.json
  src/renderer/locales/hu.json
  src/renderer/locales/it.json
  src/renderer/locales/mg.json
  src/renderer/locales/nl.json
  src/renderer/locales/pt-pt.json
  src/renderer/locales/pt.json
  src/renderer/locales/ro.json
  src/renderer/locales/ru.json
  src/renderer/locales/sk.json
  src/renderer/locales/sv.json
  src/renderer/locales/uk.json
  src/renderer/locales/wes-x-pgw.json
Labels: translations

#1930 chore: new translations
  src/renderer/locales/pt.json
Labels: translations

#1931 chore: new translations
  src/renderer/locales/nl.json
Labels: translations

#1932 chore: new translations
  src/renderer/locales/fi.json
  src/renderer/locales/sv.json
Labels: translations

#1933 chore: new translations
  src/renderer/locales/de.json
Labels: translations

#1937 feat: support m4v files
  src/renderer/plugins/fs.ts
Labels: enhancement

#1939 chore: new translations
  src/renderer/locales/it.json
Labels: translations

#1942 chore: new translations
  _data/ta.json
  locales/ta/_posts/2022-08-17-bug-feature.md
  locales/ta/_posts/2022-08-17-configuration.md
  locales/ta/_posts/2022-08-17-congregation-sync.md
  locales/ta/_posts/2022-08-17-faq.md
  locales/ta/_posts/2022-08-17-installation.md
  locales/ta/_posts/2022-08-17-manage-media.md
  locales/ta/_posts/2022-08-17-present-media.md
  locales/ta/_posts/2022-08-17-usage-notes.md
  locales/ta/index.md
Labels: documentation, translations

#1941 chore: new translations
  src/renderer/locales/ta.json
Labels: translations

#1943 chore: new translations
  src/renderer/locales/fr.json
  src/renderer/locales/ru.json
Labels: translations

#1948 chore: new translations
  src/renderer/locales/es.json
Labels: translations
