Repository sircharlo/meeting-media-manager, pull requests merged in 2024-12, with the labels that each got.

#3597 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3599 chore: new translations
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/sv.json
Labels: translations

#3601 chore: new translations
  src/i18n/cmn-hans.json
  src/i18n/it.json
Labels: translations

#3603 chore: new translations
  src/i18n/nl.json
Labels: translations

#3605 chore: new translations
  src/i18n/it.json
  src/i18n/sw.json
Labels: translations

#3607 chore: new translations
  docs/locales/it.json
  src/i18n/it.json
  src/i18n/pt-pt.json
Labels: documentation, translations

#3613 chore: new translations
  docs/locales/de.json
  src/i18n/de.json
Labels: documentation, translations

#3616 chore: new translations
  docs/locales/it.json
  docs/src/it/about.md
  docs/src/it/faq.md
  docs/src/it/index.md
  docs/src/it/using-at-a-kingdom-hall.md
  src/i18n/it.json
Labels: documentation, translations

#3618 chore: new translations
  docs/src/et/about.md
  src/i18n/et.json
  src/i18n/sl.json
Labels: documentation, translations

#3621 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3622 feat: add support for custom cache folder
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogCacheClear.vue
  src/components/header/HeaderSettings.vue
  src/components/media/PublicTalkMediaPicker.vue
  src/constants/settings.ts
  src/css/app.scss
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/helpers/migrations.ts
  src/i18n/en.json
  src/pages/CongregationSelectorPage.vue
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/pages/SetupWizard.vue
  src/stores/current-state.ts
  src/stores/jw.ts
  src/types/general.d.ts
  src/types/settings.d.ts
  src/utils/fs.ts
Labels: enhancement

#3626 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3628 chore: new translations
  docs/locales/ht.json
  docs/src/ht/about.md
  docs/src/ht/faq.md
  docs/src/ht/index.md
  docs/src/ht/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/ru.json
Labels: documentation, translations

#3630 chore: new translations
  src/i18n/cmn-hans.json
  src/i18n/pt.json
Labels: translations

#3632 chore: new translations
  src/i18n/nl.json
Labels: translations

#3634 chore: new translations
  src/i18n/sl.json
Labels: translations

#3636 chore: new translations
  src/i18n/it.json
Labels: translations

#3638 chore: new translations
  src/i18n/it.json
Labels: translations

#3645 chore: new translations
  src/i18n/sv.json
Labels: translations

#3647 chore: new translations
  src/i18n/uk.json
Labels: translations

#3649 chore: new translations
  src/i18n/pt-pt.json
Labels: translations

#3655 chore: new translations
  docs/src/de/about.md
  docs/src/de/faq.md
  docs/src/de/index.md
  docs/src/de/using-at-a-kingdom-hall.md
  src/i18n/de.json
Labels: documentation, translations

#3657 chore: new translations
  docs/src/de/faq.md
  docs/src/de/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3672 chore: new translations
  src/i18n/hu.json
Labels: translations

#3675 chore: new translations
  docs/src/am/using-at-a-kingdom-hall.md
  docs/src/cmn-hans/using-at-a-kingdom-hall.md
  docs/src/de/using-at-a-kingdom-hall.md
  docs/src/el/using-at-a-kingdom-hall.md
  docs/src/es/using-at-a-kingdom-hall.md
  docs/src/et/using-at-a-kingdom-hall.md
  docs/src/fi/using-at-a-kingdom-hall.md
  docs/src/fr/using-at-a-kingdom-hall.md
  docs/src/ht/using-at-a-kingdom-hall.md
  docs/src/hu/about.md
  docs/src/hu/using-at-a-kingdom-hall.md
  docs/src/it/using-at-a-kingdom-hall.md
  docs/src/mg/using-at-a-kingdom-hall.md
  docs/src/nl/using-at-a-kingdom-hall.md
  docs/src/pt-pt/using-at-a-kingdom-hall.md
  docs/src/pt/using-at-a-kingdom-hall.md
  docs/src/ro/using-at-a-kingdom-hall.md
  docs/src/ru/using-at-a-kingdom-hall.md
  docs/src/sl/using-at-a-kingdom-hall.md
  docs/src/sv/using-at-a-kingdom-hall.md
  docs/src/sw/using-at-a-kingdom-hall.md
  docs/src/uk/using-at-a-kingdom-hall.md
  src/i18n/hu.json
Labels: documentation, translations

#3681 chore: new translations
  docs/src/nl/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3683 chore: new translations
  docs/src/hu/about.md
Labels: translations

#3685 chore: new translations
  docs/src/hu/about.md
  docs/src/hu/faq.md
  docs/src/hu/index.md
  docs/src/hu/using-at-a-kingdom-hall.md
  docs/src/it/using-at-a-kingdom-hall.md
  src/i18n/sw.json
Labels: documentation, translations

#3687 chore: new translations
  docs/src/hu/using-at-a-kingdom-hall.md
  docs/src/sv/using-at-a-kingdom-hall.md
  docs/src/sw/using-at-a-kingdom-hall.md
  src/i18n/sw.json
Labels: documentation, translations

#3689 chore: new translations
  docs/src/hu/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3690 chore: new translations
  src/i18n/de.json
Labels: translations

#3691 chore: new translations
  docs/src/cmn-hans/using-at-a-kingdom-hall.md
  src/i18n/et.json
Labels: documentation, translations

#3694 chore: new translations
  src/i18n/it.json
Labels: translations

#3661 feat: allow time entry for custom durations; show time elapsed and remaining during video playback
  src/components/dialog/DialogAudioBible.vue
  src/components/media/MediaItem.vue
  src/css/app.scss
  src/helpers/cleanup.ts
  src/helpers/jw-media.ts
  src/layouts/MainLayout.vue
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/stores/app-settings.ts
  src/stores/jw.ts
  src/types/media.d.ts
  src/utils/time.ts
Labels: enhancement

#3698 chore: new translations
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/uk.json
Labels: translations

#3700 feat: new translations
  docs/src/es/faq.md
Labels: documentation, translations

#3702 feat: new translations
  docs/src/es/faq.md
Labels: documentation, translations

#3711 feat: new translations
  src/i18n/uk.json
Labels: translations

#3712 feat: new translations
  src/i18n/cmn-hans.json
Labels: translations

#3714 feat: new translations
  docs/src/sl/using-at-a-kingdom-hall.md
  src/i18n/sl.json
Labels: documentation, translations

#3716 feat: new translations
  docs/src/pt-pt/using-at-a-kingdom-hall.md
  src/i18n/pt-pt.json
Labels: documentation, translations

#3719 feat: new translations
  src/i18n/de.json
Labels: translations

#3724 feat: new translations
  src/i18n/et.json
Labels: translations

#3720 feat: allow users to receive beta updates
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src-electron/main/updater.ts
  src/components/dialog/DialogAbout.vue
  src/components/header/HeaderBase.vue
  src/i18n/en.json
  src/types/electron.d.ts
  src/utils/api.ts
  src/utils/fs.ts
Labels: enhancement

#3728 feat: new translations
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/uk.json
Labels: translations

#3730 feat: new translations
  docs/src/pt/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/pt.json
  src/i18n/sv.json
  src/i18n/uk.json
Labels: documentation, translations

#3732 feat: new translations
  src/i18n/pt.json
  src/i18n/ru.json
Labels: translations

#3734 feat: new translations
  src/i18n/cmn-hans.json
Labels: translations

#3737 feat: new translations
  src/i18n/sl.json
Labels: translations

#3747 feat: new translations
  src/i18n/it.json
Labels: translations

#3749 feat: add announcement for obs breaking change
  announcements.json
  src-electron/main/window/window-media.ts
  src/components/ui/AnnouncementBanner.vue
  src/layouts/MediaPlayerLayout.vue
  src/types/general.d.ts
Labels: enhancement

#3754 feat: new translations
  src/i18n/pt-pt.json
Labels: translations

#3759 feat: new translations
  docs/src/uk/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3764 feat: new translations
  src/i18n/sl.json
Labels: translations

#3765 feat: new translations
  src/i18n/es.json
Labels: translations

#3767 feat: new translations
  src/i18n/et.json
Labels: translations

#3772 feat: new translations
  docs/locales/am.json
  docs/locales/cmn-hans.json
  docs/locales/de.json
  docs/locales/el.json
  docs/locales/es.json
  docs/locales/et.json
  docs/locales/fi.json
  docs/locales/fr.json
  docs/locales/ht.json
  docs/locales/hu.json
  docs/locales/it.json
  docs/locales/mg.json
  docs/locales/pt-pt.json
  docs/locales/pt.json
  docs/locales/ro.json
  docs/locales/ru.json
  docs/locales/sl.json
  docs/locales/sv.json
  docs/locales/sw.json
  docs/locales/uk.json
Labels: documentation, translations

#3774 feat: new translations
  docs/locales/it.json
Labels: documentation, translations

#3776 feat: new translations
  docs/locales/pt.json
Labels: documentation, translations

#3778 feat: new translations
  docs/locales/et.json
Labels: documentation, translations

#3780 feat: new translations
  docs/locales/sl.json
Labels: documentation, translations

#3782 feat: new translations
  docs/locales/am.json
  docs/locales/cmn-hans.json
  docs/locales/de.json
  docs/locales/el.json
  docs/locales/es.json
  docs/locales/et.json
  docs/locales/fi.json
  docs/locales/fr.json
  docs/locales/ht.json
  docs/locales/hu.json
  docs/locales/it.json
  docs/locales/mg.json
  docs/locales/nl.json
  docs/locales/pt-pt.json
  docs/locales/pt.json
  docs/locales/ro.json
  docs/locales/ru.json
  docs/locales/sl.json
  docs/locales/sv.json
  docs/locales/sw.json
  docs/locales/uk.json
Labels: documentation, translations

#3784 feat: new translations
  docs/locales/nl.json
  docs/locales/pt-pt.json
  docs/locales/pt.json
  docs/locales/sv.json
Labels: documentation, translations

#3786 feat: new translations
  docs/locales/cmn-hans.json
Labels: documentation, translations

#3788 feat: new translations
  docs/locales/es.json
  docs/locales/it.json
  docs/src/es/about.md
  docs/src/es/faq.md
  docs/src/es/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3793 feat: new translations
  docs/src/es/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3795 feat: new translations
  docs/locales/uk.json
Labels: documentation, translations

#3797 feat: new translations
  docs/src/es/faq.md
  docs/src/es/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3756 feat: allow for MP4 conversion
  .vscode/settings.json
  README.md
  package.json
  quasar.config.ts
  src-electron/electron-preload.ts
  src-electron/main/ffmpeg.ts
  src-electron/main/ipc.ts
  src-electron/preload/fs.ts
  src/components/form-inputs/ToggleInput.vue
  src/constants/settings.ts
  src/helpers/cleanup.ts
  src/helpers/export-media.ts
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/helpers/migrations.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/stores/current-state.ts
  src/stores/jw.ts
  src/types/electron.d.ts
  src/types/settings.d.ts
  src/utils/general.ts
  yarn.lock
Labels: documentation, enhancement, dependencies, javascript

#3799 feat: new translations
  docs/locales/sl.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/uk.json
Labels: documentation, translations

#3758 feat: allow to open website before presenting
  src-electron/electron-preload.ts
  src-electron/preload/website.ts
  src/components/header/HeaderWebsite.vue
  src/i18n/en.json
  src/pages/PresentWebsite.vue
  src/types/electron.d.ts
Labels: enhancement

#3803 feat: new translations
  docs/locales/fr.json
  docs/locales/ru.json
  docs/src/ru/using-at-a-kingdom-hall.md
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/uk.json
Labels: documentation, translations

#3806 feat: new translations
  src/i18n/de.json
  src/i18n/it.json
Labels: translations

#3808 feat: new translations
  src/i18n/pt-pt.json
  src/i18n/pt.json
Labels: translations

#3814 feat: new translations
  src/i18n/cmn-hans.json
Labels: translations

#3816 feat: new translations
  src/i18n/sl.json
Labels: translations

#3828 feat: new translations
  docs/locales/sk.json
  docs/src/sk/using-at-a-kingdom-hall.md
  src/i18n/sk.json
Labels: documentation, translations

#3830 feat: new translations
  docs/src/sk/about.md
  docs/src/sk/faq.md
  docs/src/sk/index.md
Labels: documentation, translations

#3832 feat: new translations
  src/i18n/sk.json
Labels: translations

#3834 feat: new translations
  src/i18n/sk.json
Labels: translations

#3810 feat: code sign and notarize macos app
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  quasar.config.ts
  src-electron/main/updater.ts
Labels: enhancement, github_actions

#3840 feat: new translations
  src/i18n/sw.json
Labels: translations

#3843 feat: new translations
  src/i18n/sk.json
Labels: translations

#3845 feat: new translations
  docs/locales/sk.json
  src/i18n/sk.json
Labels: documentation, translations

#3847 feat: new translations
  docs/src/ru/about.md
Labels: documentation, translations

#3849 feat: new translations
  docs/src/ru/about.md
Labels: documentation, translations

#3852 feat: new translations
  src/i18n/sk.json
Labels: translations

#3854 feat: new translations
  src/i18n/sk.json
Labels: translations

#3856 feat: new translations
  src/i18n/uk.json
Labels: translations

#3858 feat: new translations
  src/i18n/sk.json
Labels: translations

#3862 feat: new translations
  src/i18n/rw.json
Labels: translations

#3865 feat: new translations
  src/i18n/pt.json
Labels: translations

#3866 feat: new translations
  docs/locales/et.json
  src/i18n/et.json
Labels: documentation, translations

#3868 feat: new translations
  docs/src/ht/index.md
  docs/src/rw/index.md
Labels: documentation, translations

#3869 feat: new translations
  src/i18n/sk.json
Labels: translations
