Repository sircharlo/meeting-media-manager, pull requests merged in 2024-11, with the labels that each got.

#3093 chore: new translations
  docs/src/cmn-hans/about.md
  docs/src/cmn-hans/faq.md
  docs/src/cmn-hans/index.md
  src/i18n/cmn-hans.json
Labels: translations

#3075 fix: no refs outside vue
  README.md
  docs/src/cmn-hans/faq.md
  src/components/dialog/DialogBackgroundMusicPopup.vue
  src/components/dialog/DialogDisplayPopup.vue
  src/components/form-inputs/SliderInput.vue
  src/components/media/MediaItem.vue
  src/components/media/SubtitlesButton.vue
  src/helpers/date.ts
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/helpers/keyboardShortcuts.ts
  src/helpers/mediaPlayback.ts
  src/helpers/obs.ts
  src/helpers/settings.ts
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/stores/current-state.ts
  src/stores/jw.ts
Labels: bug

#3096 chore: new translations
  docs/src/fr/about.md
  docs/src/fr/faq.md
  docs/src/fr/index.md
  docs/src/ru/about.md
  docs/src/ru/faq.md
  docs/src/ru/index.md
  docs/src/sl/about.md
  docs/src/sl/faq.md
  docs/src/sl/index.md
  src/i18n/fr.json
  src/i18n/ru.json
  src/i18n/sl.json
Labels: translations

#3099 chore: new translations
  docs/src/nl/about.md
  docs/src/nl/faq.md
  docs/src/nl/index.md
  src/i18n/nl.json
Labels: translations

#3101 chore: new translations
  src/i18n/pt.json
Labels: translations

#3102 chore: new translations
  docs/src/pt/index.md
  src/i18n/pt.json
Labels: translations

#3104 chore: new translations
  src/i18n/sv.json
Labels: translations

#3109 chore: new translations
  src/i18n/pt.json
Labels: translations

#3120 chore: new translations
  docs/src/af/using-at-a-kingdom-hall.md
  docs/src/am/using-at-a-kingdom-hall.md
  docs/src/cmn-hans/using-at-a-kingdom-hall.md
  docs/src/de/using-at-a-kingdom-hall.md
  docs/src/el/using-at-a-kingdom-hall.md
  docs/src/es/using-at-a-kingdom-hall.md
  docs/src/et/using-at-a-kingdom-hall.md
  docs/src/fi/using-at-a-kingdom-hall.md
  docs/src/fr/using-at-a-kingdom-hall.md
  docs/src/hu/using-at-a-kingdom-hall.md
  docs/src/ilo/using-at-a-kingdom-hall.md
  docs/src/it/using-at-a-kingdom-hall.md
  docs/src/mg/using-at-a-kingdom-hall.md
  docs/src/nl/using-at-a-kingdom-hall.md
  docs/src/pag/using-at-a-kingdom-hall.md
  docs/src/pt-pt/using-at-a-kingdom-hall.md
  docs/src/pt/using-at-a-kingdom-hall.md
  docs/src/rmn-x-rmg/using-at-a-kingdom-hall.md
  docs/src/ro/using-at-a-kingdom-hall.md
  docs/src/ru/using-at-a-kingdom-hall.md
  docs/src/sk/using-at-a-kingdom-hall.md
  docs/src/sl/using-at-a-kingdom-hall.md
  docs/src/sv/using-at-a-kingdom-hall.md
  docs/src/sw/using-at-a-kingdom-hall.md
  docs/src/ta/using-at-a-kingdom-hall.md
  docs/src/tl/using-at-a-kingdom-hall.md
  docs/src/uk/using-at-a-kingdom-hall.md
  docs/src/wes-x-pgw/using-at-a-kingdom-hall.md
Labels: translations

#3129 fix: correctly build for intel based macos
  .github/workflows/build.yml
  quasar.config.js
Labels: bug

#3130 chore: new translations
  docs/src/sv/using-at-a-kingdom-hall.md
  docs/src/sw/using-at-a-kingdom-hall.md
  docs/src/uk/using-at-a-kingdom-hall.md
Labels: translations

#3140 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3143 chore: new translations
  src/i18n/sv.json
Labels: translations

#3145 chore: new translations
  docs/src/cmn-hans/using-at-a-kingdom-hall.md
  src/i18n/cmn-hans.json
Labels: translations

#3148 chore: new translations
  docs/src/sw/using-at-a-kingdom-hall.md
  src/i18n/sw.json
Labels: translations

#3150 chore: new translations
  src/i18n/et.json
Labels: translations

#3152 chore: new translations
  src/i18n/et.json
  src/i18n/pt.json
Labels: translations

#3157 chore: new translations
  docs/src/nl/about.md
  docs/src/nl/faq.md
  docs/src/nl/using-at-a-kingdom-hall.md
  docs/src/sl/about.md
  docs/src/sl/using-at-a-kingdom-hall.md
Labels: translations

#3147 feat: present website available for macos
  quasar.config.js
  src/components/ui/NavDrawer.vue
Labels: enhancement

#3161 chore: new translations
  docs/src/pt/index.md
  docs/src/sl/faq.md
  docs/src/uk/about.md
  docs/src/uk/faq.md
  docs/src/uk/using-at-a-kingdom-hall.md
Labels: translations

#3163 chore: new translations
  docs/src/fr/about.md
  docs/src/fr/faq.md
  docs/src/fr/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/uk.json
Labels: translations

#3165 chore: new translations
  docs/src/sl/using-at-a-kingdom-hall.md
Labels: translations

#3167 chore: new translations
  docs/src/af/using-at-a-kingdom-hall.md
  docs/src/am/using-at-a-kingdom-hall.md
  docs/src/cmn-hans/using-at-a-kingdom-hall.md
  docs/src/de/using-at-a-kingdom-hall.md
  docs/src/el/using-at-a-kingdom-hall.md
  docs/src/es/using-at-a-kingdom-hall.md
  docs/src/et/using-at-a-kingdom-hall.md
  docs/src/fi/using-at-a-kingdom-hall.md
  docs/src/fr/using-at-a-kingdom-hall.md
  docs/src/hu/using-at-a-kingdom-hall.md
  docs/src/ilo/using-at-a-kingdom-hall.md
  docs/src/it/using-at-a-kingdom-hall.md
  docs/src/mg/using-at-a-kingdom-hall.md
  docs/src/nl/using-at-a-kingdom-hall.md
  docs/src/pag/using-at-a-kingdom-hall.md
  docs/src/pt-pt/using-at-a-kingdom-hall.md
  docs/src/pt/using-at-a-kingdom-hall.md
  docs/src/rmn-x-rmg/using-at-a-kingdom-hall.md
  docs/src/ro/using-at-a-kingdom-hall.md
  docs/src/ru/using-at-a-kingdom-hall.md
  docs/src/sk/using-at-a-kingdom-hall.md
  docs/src/sl/using-at-a-kingdom-hall.md
  docs/src/sv/using-at-a-kingdom-hall.md
  docs/src/sw/using-at-a-kingdom-hall.md
  docs/src/ta/using-at-a-kingdom-hall.md
  docs/src/tl/using-at-a-kingdom-hall.md
  docs/src/uk/using-at-a-kingdom-hall.md
  docs/src/wes-x-pgw/using-at-a-kingdom-hall.md
Labels: translations

#3177 chore: new translations
  docs/src/sv/about.md
  docs/src/sv/faq.md
  docs/src/sv/using-at-a-kingdom-hall.md
Labels: translations

#3179 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3181 chore: new translations
  docs/src/sw/about.md
  docs/src/sw/faq.md
  docs/src/sw/using-at-a-kingdom-hall.md
  src/i18n/sw.json
Labels: translations

#3184 chore: new translations
  docs/src/sw/using-at-a-kingdom-hall.md
Labels: translations

#3186 chore: new translations
  docs/src/nl/using-at-a-kingdom-hall.md
  src/i18n/nl.json
Labels: translations

#3188 chore: new translations
  src/i18n/et.json
Labels: translations

#3191 chore: new translations
  src/i18n/sv.json
Labels: translations

#3197 chore: new translations
  docs/src/pt-pt/about.md
  docs/src/pt-pt/faq.md
  docs/src/pt-pt/using-at-a-kingdom-hall.md
  src/i18n/pt-pt.json
Labels: translations

#3183 feat: ability to send announcements to users
  README.md
  announcements.json
  build/icons/warning.svg
  docs/src/sw/faq.md
  docs/utils/api.ts
  quasar.config.js
  src/components/ui/AnnouncementBanner.vue
  src/helpers/api.ts
  src/helpers/general.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/stores/congregation-settings.ts
  src/types/general.d.ts
  src/types/github.d.ts
  src/types/index.d.ts
Labels: enhancement

#3203 chore: new translations
  src/i18n/uk.json
Labels: translations

#3204 chore: new translations
  src/i18n/pt.json
Labels: translations

#3209 chore: new translations
  docs/src/cmn-hans/about.md
  docs/src/cmn-hans/faq.md
  docs/src/cmn-hans/using-at-a-kingdom-hall.md
  src/i18n/cmn-hans.json
Labels: translations

#3211 chore: new translations
  src/i18n/sv.json
Labels: translations

#3215 chore: new translations
  src/i18n/pt-pt.json
Labels: translations

#3220 chore: new translations
  src/i18n/sw.json
Labels: translations

#3223 chore: new translations
  src/i18n/pt.json
Labels: translations

#3227 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3229 chore: new translations
  docs/src/pt/using-at-a-kingdom-hall.md
  src/i18n/sv.json
Labels: translations

#3233 chore: new translations
  docs/src/pt/using-at-a-kingdom-hall.md
Labels: translations

#3235 chore: new translations
  docs/src/pt/using-at-a-kingdom-hall.md
Labels: translations

#3236 chore: new translations
  src/i18n/sw.json
Labels: translations

#3240 chore: new translations
  src/i18n/nl.json
  src/i18n/sl.json
Labels: translations

#3242 chore: new translations
  src/i18n/cmn-hans.json
Labels: translations

#3245 chore: new translations
  src/i18n/pt.json
Labels: translations

#3246 chore: new translations
  docs/src/sl/using-at-a-kingdom-hall.md
  src/i18n/sl.json
Labels: translations

#3249 feat: improve user experience of the meeting media page
  CHANGELOG.md
  src/components/dialog/DialogRemoteVideo.vue
  src/components/form-inputs/DateInput.vue
  src/components/header/HeaderCalendar.vue
  src/components/media/DragAndDropper.vue
  src/components/media/PublicTalkMediaPicker.vue
  src/components/media/SongPicker.vue
  src/constants/settings.ts
  src/helpers/date.ts
  src/helpers/jw-media.ts
  src/helpers/migrations.ts
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/en.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
  src/pages/MediaCalendarPage.vue
  src/pages/SetupWizard.vue
  src/stores/jw.ts
  src/types/settings.d.ts
Labels: enhancement

#3253 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3257 chore: new translations
  docs/src/ru/about.md
  docs/src/ru/faq.md
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3260 chore: new translations
  docs/src/fr/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/pt.json
  src/i18n/ru.json
Labels: translations

#3262 chore: new translations
  src/i18n/et.json
Labels: translations

#3264 chore: new translations
  src/i18n/et.json
Labels: translations

#3265 chore: new translations
  src/i18n/nl.json
Labels: translations

#3267 chore: new translations
  docs/src/pt/using-at-a-kingdom-hall.md
Labels: translations

#3274 chore: new translations
  docs/locales/pt.json
  docs/src/pt/about.md
  docs/src/pt/faq.md
  docs/src/pt/index.md
  docs/src/pt/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3276 chore: new translations
  src/i18n/sv.json
Labels: translations

#3278 chore: new translations
  src/i18n/sw.json
Labels: translations

#3285 chore: new translations
  docs/src/af/using-at-a-kingdom-hall.md
  docs/src/am/using-at-a-kingdom-hall.md
  docs/src/cmn-hans/using-at-a-kingdom-hall.md
  docs/src/de/using-at-a-kingdom-hall.md
  docs/src/el/using-at-a-kingdom-hall.md
  docs/src/es/using-at-a-kingdom-hall.md
  docs/src/et/using-at-a-kingdom-hall.md
  docs/src/fi/using-at-a-kingdom-hall.md
  docs/src/fr/using-at-a-kingdom-hall.md
  docs/src/hu/using-at-a-kingdom-hall.md
  docs/src/ilo/using-at-a-kingdom-hall.md
  docs/src/it/using-at-a-kingdom-hall.md
  docs/src/mg/using-at-a-kingdom-hall.md
  docs/src/nl/using-at-a-kingdom-hall.md
  docs/src/pag/using-at-a-kingdom-hall.md
  docs/src/pt-pt/using-at-a-kingdom-hall.md
  docs/src/pt/using-at-a-kingdom-hall.md
  docs/src/rmn-x-rmg/using-at-a-kingdom-hall.md
  docs/src/ro/using-at-a-kingdom-hall.md
  docs/src/ru/using-at-a-kingdom-hall.md
  docs/src/sk/using-at-a-kingdom-hall.md
  docs/src/sl/using-at-a-kingdom-hall.md
  docs/src/sv/using-at-a-kingdom-hall.md
  docs/src/sw/using-at-a-kingdom-hall.md
  docs/src/ta/using-at-a-kingdom-hall.md
  docs/src/tl/using-at-a-kingdom-hall.md
  docs/src/uk/using-at-a-kingdom-hall.md
  docs/src/wes-x-pgw/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3284 feat: add obs scene behavior toggle
  src/components/dialog/DialogObsPopup.vue
  src/components/form-inputs/BaseInput.vue
  src/components/form-inputs/SelectInput.vue
  src/components/form-inputs/ToggleInput.vue
  src/constants/settings.ts
  src/helpers/migrations.ts
  src/i18n/en.json
  src/types/settings.d.ts
Labels: enhancement

#3288 chore: new translations
  docs/src/pt-pt/using-at-a-kingdom-hall.md
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: documentation, translations

#3291 chore: new translations
  src/i18n/pt.json
  src/i18n/sv.json
Labels: translations

#3294 chore: new translations
  docs/src/sv/using-at-a-kingdom-hall.md
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: documentation, translations

#3296 chore: new translations
  docs/src/fr/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/pt-pt.json
Labels: documentation, translations

#3298 chore: new translations
  docs/src/pt/using-at-a-kingdom-hall.md
  docs/src/ru/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/pt.json
  src/i18n/ru.json
Labels: documentation, translations

#3300 chore: new translations
  docs/src/pt/using-at-a-kingdom-hall.md
  docs/src/ru/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3302 chore: new translations
  docs/src/pt/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3305 chore: new translations
  docs/src/et/using-at-a-kingdom-hall.md
  docs/src/nl/using-at-a-kingdom-hall.md
  src/i18n/nl.json
Labels: documentation, translations

#3307 chore: new translations
  docs/src/sw/using-at-a-kingdom-hall.md
  src/i18n/sw.json
Labels: documentation, translations

#3312 chore: new translations
  docs/src/sl/using-at-a-kingdom-hall.md
  src/i18n/sl.json
Labels: documentation, translations

#3315 chore: new translations
  docs/src/sl/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3323 chore: new translations
  src/i18n/sv.json
Labels: translations

#3326 chore: new translations
  src/i18n/es.json
Labels: translations

#3333 feat: show song grid instead of list
  src/components/media/DragAndDropper.vue
  src/components/media/SongPicker.vue
  src/css/app.scss
  src/helpers/mediaPlayback.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/stores/current-state.ts
Labels: enhancement

#3334 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3336 chore: new translations
  src/i18n/pt.json
Labels: translations

#3339 chore: new translations
  src/i18n/sv.json
Labels: translations

#3341 chore: new translations
  docs/src/cmn-hans/using-at-a-kingdom-hall.md
  src/i18n/cmn-hans.json
Labels: documentation, translations

#3283 fix: adjust website aspect ratio on macos
  src-electron/main/window/window-website.ts
Labels: bug, macOS

#3343 chore: new translations
  docs/src/sw/using-at-a-kingdom-hall.md
  src/i18n/nl.json
  src/i18n/sw.json
Labels: documentation, translations

#3345 chore: new translations
  docs/src/sw/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3325 fix: improve macOS quit
  src-electron/electron-main.ts
Labels: macOS

#3349 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3351 chore: new translations
  src/i18n/fr.json
  src/i18n/pt-pt.json
  src/i18n/ru.json
  src/i18n/uk.json
Labels: translations

#3353 chore: new translations
  src/i18n/sv.json
Labels: translations

#3355 chore: new translations
  src/i18n/pt.json
Labels: translations

#3357 Key Benefits at a Glance - update Readme
  README.md
Labels: documentation

#3361 chore: new translations
  src/i18n/cmn-hans.json
Labels: translations

#3366 chore: new translations
  docs/src/af/using-at-a-kingdom-hall.md
  docs/src/am/using-at-a-kingdom-hall.md
  docs/src/cmn-hans/faq.md
  docs/src/cmn-hans/using-at-a-kingdom-hall.md
  docs/src/de/using-at-a-kingdom-hall.md
  docs/src/el/using-at-a-kingdom-hall.md
  docs/src/es/using-at-a-kingdom-hall.md
  docs/src/et/using-at-a-kingdom-hall.md
  docs/src/fi/using-at-a-kingdom-hall.md
  docs/src/fr/using-at-a-kingdom-hall.md
  docs/src/hu/using-at-a-kingdom-hall.md
  docs/src/ilo/using-at-a-kingdom-hall.md
  docs/src/it/using-at-a-kingdom-hall.md
  docs/src/mg/using-at-a-kingdom-hall.md
  docs/src/nl/using-at-a-kingdom-hall.md
  docs/src/pag/using-at-a-kingdom-hall.md
  docs/src/pt-pt/using-at-a-kingdom-hall.md
  docs/src/pt/using-at-a-kingdom-hall.md
  docs/src/rmn-x-rmg/using-at-a-kingdom-hall.md
  docs/src/ro/using-at-a-kingdom-hall.md
  docs/src/ru/using-at-a-kingdom-hall.md
  docs/src/sk/using-at-a-kingdom-hall.md
  docs/src/sl/using-at-a-kingdom-hall.md
  docs/src/sv/using-at-a-kingdom-hall.md
  docs/src/sw/faq.md
  docs/src/sw/using-at-a-kingdom-hall.md
  docs/src/ta/using-at-a-kingdom-hall.md
  docs/src/tl/using-at-a-kingdom-hall.md
  docs/src/uk/using-at-a-kingdom-hall.md
  docs/src/wes-x-pgw/using-at-a-kingdom-hall.md
  src/i18n/nl.json
Labels: documentation, translations

#3368 chore: new translations
  docs/src/nl/using-at-a-kingdom-hall.md
  docs/src/sv/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3371 chore: new translations
  docs/src/af/index.md
  docs/src/am/index.md
  docs/src/cmn-hans/index.md
  docs/src/de/index.md
  docs/src/el/index.md
  docs/src/es/index.md
  docs/src/et/index.md
  docs/src/fi/index.md
  docs/src/fr/index.md
  docs/src/hu/index.md
  docs/src/ilo/index.md
  docs/src/it/index.md
  docs/src/mg/index.md
  docs/src/nl/index.md
  docs/src/pag/index.md
  docs/src/pt-pt/index.md
  docs/src/pt/index.md
  docs/src/rmn-x-rmg/index.md
  docs/src/ro/index.md
  docs/src/ru/index.md
  docs/src/sk/index.md
  docs/src/sl/index.md
  docs/src/sv/index.md
  docs/src/sw/index.md
  docs/src/sw/using-at-a-kingdom-hall.md
  docs/src/ta/index.md
  docs/src/tl/index.md
  docs/src/uk/index.md
  docs/src/wes-x-pgw/index.md
Labels: documentation, translations

#3374 chore: new translations
  docs/src/pt-pt/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3376 chore: new translations
  docs/src/cmn-hans/using-at-a-kingdom-hall.md
  docs/src/pt-pt/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3379 chore: new translations
  docs/src/sl/using-at-a-kingdom-hall.md
  src/i18n/sl.json
Labels: documentation, translations

#3348 feat: add media from study bible
  build/icons/bible.svg
  src/components/dialog/DialogStudyBible.vue
  src/components/header/HeaderCalendar.vue
  src/components/header/HeaderWebsite.vue
  src/components/media/DragAndDropper.vue
  src/css/app.scss
  src/helpers/general.ts
  src/helpers/mediaPlayback.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/types/index.d.ts
  src/types/jw/bible.d.ts
Labels: enhancement

#3386 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3391 chore: new translations
  docs/src/fr/using-at-a-kingdom-hall.md
  docs/src/ru/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/pt-pt.json
  src/i18n/ru.json
  src/i18n/sw.json
Labels: documentation, translations

#3393 chore: new translations
  src/i18n/cmn-hans.json
Labels: translations

#3395 chore: new translations
  src/i18n/nl.json
  src/i18n/sv.json
Labels: translations

#3398 chore: new translations
  docs/locales/et.json
  docs/src/et/using-at-a-kingdom-hall.md
  src/i18n/et.json
Labels: documentation, translations

#3400 chore: new translations
  docs/src/et/about.md
  docs/src/et/faq.md
  docs/src/et/index.md
  docs/src/et/using-at-a-kingdom-hall.md
Labels: documentation, translations

#3406 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3409 chore: new translations
  docs/src/pt/using-at-a-kingdom-hall.md
  src/i18n/fr.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ru.json
Labels: documentation, translations

#3411 chore: new translations
  docs/src/pt/using-at-a-kingdom-hall.md
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/sv.json
Labels: documentation, translations

#3414 chore: new translations
  src/i18n/pt.json
Labels: translations

#3416 chore: new translations
  src/i18n/pt.json
  src/i18n/sw.json
Labels: translations

#3415 feat: build portable version
  quasar.config.js
  src-electron/electron-main.ts
Labels: enhancement

#3418 chore: new translations
  src/i18n/pt.json
Labels: translations

#3419 chore: new translations
  src/i18n/et.json
Labels: translations

#3421 chore: new translations
  src/i18n/nl.json
Labels: translations

#3424 chore: new translations
  docs/src/wes-x-pgw/about.md
  docs/src/wes-x-pgw/index.md
  src/i18n/wes-x-pgw.json
Labels: documentation, translations

#3322 fix(macos): correctly manage window state and position
  src-electron/electron-main.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-main.ts
  src-electron/main/window/window-media.ts
  src/pages/MediaPlayerPage.vue
Labels: macOS

#3431 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3433 chore: new translations
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/sv.json
Labels: translations

#3436 chore: new translations
  src/i18n/pt.json
Labels: translations

#3440 chore: new translations
  src/i18n/pt.json
Labels: translations

#3443 chore: new translations
  src/i18n/fr.json
  src/i18n/ru.json
Labels: translations

#3445 chore: new translations
  src/i18n/et.json
Labels: translations

#3450 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3453 chore: new translations
  src/i18n/nl.json
  src/i18n/pt.json
Labels: translations

#3426 feat: ask for translation help for untranslated languages
  .github/DISCUSSION_TEMPLATE/translations.yml
  src-electron/electron-preload.ts
  src-electron/main/ipc.ts
  src/components/dialog/DialogStudyBible.vue
  src/components/form-inputs/SelectInput.vue
  src/components/header/HeaderWebsite.vue
  src/components/ui/AnnouncementBanner.vue
  src/composables/useLocale.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/stores/current-state.ts
  src/types/electron.d.ts
  src/types/general.d.ts
Labels: enhancement

#3455 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#3435 feat(jwpub): display missing media
  .vscode/settings.json
  build/icons/file-missing.svg
  src/components/media/DragAndDropper.vue
  src/components/media/MediaItem.vue
  src/components/media/PublicTalkMediaPicker.vue
  src/css/quasar.variables.scss
  src/helpers/fs.ts
  src/helpers/jw-media.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/stores/jw.ts
  src/types/jw/sqlite.d.ts
Labels: enhancement

#3464 chore: new translations
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/sv.json
Labels: translations

#3472 chore: new translations
  src/i18n/de.json
  src/i18n/ru.json
  src/i18n/sw.json
Labels: translations

#3475 chore: new translations
  src/i18n/pt.json
Labels: translations

#3477 chore: new translations
  docs/src/de/about.md
  src/i18n/de.json
Labels: documentation, translations

#3484 chore: new translations
  src/i18n/pt.json
Labels: translations

#3485 chore: new translations
  src/i18n/pt.json
Labels: translations

#3486 chore: new translations
  src/i18n/cmn-hans.json
Labels: translations

#3488 chore: new translations
  src/i18n/sl.json
Labels: translations

#3490 chore: new translations
  src/i18n/nl.json
  src/i18n/sl.json
Labels: translations

#3494 chore: new translations
  docs/src/af/about.md
  docs/src/am/about.md
  docs/src/cmn-hans/about.md
  docs/src/de/about.md
  docs/src/el/about.md
  docs/src/es/about.md
  docs/src/et/about.md
  docs/src/fi/about.md
  docs/src/fr/about.md
  docs/src/hu/about.md
  docs/src/ilo/about.md
  docs/src/it/about.md
  docs/src/mg/about.md
  docs/src/nl/about.md
  docs/src/pag/about.md
  docs/src/pt-pt/about.md
  docs/src/pt/about.md
  docs/src/rmn-x-rmg/about.md
  docs/src/ro/about.md
  docs/src/ru/about.md
  docs/src/sk/about.md
  docs/src/sl/about.md
  docs/src/sv/about.md
  docs/src/sw/about.md
  docs/src/ta/about.md
  docs/src/tl/about.md
  docs/src/uk/about.md
  docs/src/wes-x-pgw/about.md
Labels: documentation, translations

#3500 chore: new translations
  docs/src/af/about.md
  docs/src/am/about.md
  docs/src/cmn-hans/about.md
  docs/src/de/about.md
  docs/src/el/about.md
  docs/src/es/about.md
  docs/src/et/about.md
  docs/src/fi/about.md
  docs/src/fr/about.md
  docs/src/hu/about.md
  docs/src/ilo/about.md
  docs/src/it/about.md
  docs/src/mg/about.md
  docs/src/nl/about.md
  docs/src/pag/about.md
  docs/src/pt-pt/about.md
  docs/src/pt/about.md
  docs/src/rmn-x-rmg/about.md
  docs/src/ro/about.md
  docs/src/ru/about.md
  docs/src/sk/about.md
  docs/src/sl/about.md
  docs/src/sv/about.md
  docs/src/sw/about.md
  docs/src/ta/about.md
  docs/src/tl/about.md
  docs/src/uk/about.md
  docs/src/wes-x-pgw/about.md
Labels: documentation, translations

#3502 chore: new translations
  docs/src/nl/about.md
  docs/src/sw/about.md
  src/i18n/pt.json
Labels: documentation, translations

#3504 chore: new translations
  docs/src/pt/about.md
  docs/src/sl/about.md
  src/i18n/pt.json
Labels: translations

#3501 fix: correctly set windowed mode
  src-electron/main/screen.ts
  src-electron/main/window/window-media.ts
  src/types/settings.d.ts
Labels: bug

#3506 chore: new translations
  docs/src/uk/index.md
  docs/src/uk/using-at-a-kingdom-hall.md
  src/i18n/uk.json
Labels: documentation, translations

#3510 chore: new translations
  docs/src/uk/about.md
  docs/src/uk/faq.md
Labels: documentation, translations

#3512 chore: new translations
  src/i18n/pt.json
Labels: translations

#3514 chore: new translations
  src/i18n/pt.json
Labels: translations

#3515 chore: new translations
  docs/src/cmn-hans/about.md
Labels: translations

#3517 chore: new translations
  docs/src/sw/about.md
Labels: documentation, translations

#3518 chore: new translations
  docs/src/sw/about.md
Labels: translations

#3520 chore: new translations
  docs/src/sw/about.md
Labels: documentation, translations

#3523 chore: new translations
  docs/src/sv/about.md
Labels: documentation, translations

#3526 chore: new translations
  docs/src/sv/faq.md
Labels: documentation, translations

#3528 chore: new translations
  src/i18n/et.json
Labels: translations

#3531 chore: new translations
  src/i18n/sl.json
Labels: translations
