Repository sircharlo/meeting-media-manager, pull requests merged in 2024-10, with the labels that each got.

#2654 chore: new translations
  new-strings/pt.json
Labels: translations

#2655 chore: new translations
  new-strings/pt.json
Labels: translations

#2656 chore: new translations
  new-strings/es.json
Labels: translations

#2657 chore: new translations
  new-strings/pt.json
Labels: translations

#2658 chore: new translations
  new-strings/pt.json
Labels: translations

#2659 chore: new translations
  new-strings/es.json
Labels: translations

#2661 chore: new translations
  new-strings/af.json
  new-strings/am.json
  new-strings/cmn-hans.json
  new-strings/de.json
  new-strings/el.json
  new-strings/es.json
  new-strings/et.json
  new-strings/fi.json
  new-strings/fr.json
  new-strings/hu.json
  new-strings/ilo.json
  new-strings/it.json
  new-strings/mg.json
  new-strings/nl.json
  new-strings/pag.json
  new-strings/pt-pt.json
  new-strings/pt.json
  new-strings/rmn-x-rmg.json
  new-strings/ro.json
  new-strings/ru.json
  new-strings/sk.json
  new-strings/sl.json
  new-strings/sv.json
  new-strings/sw.json
  new-strings/ta.json
  new-strings/tl.json
  new-strings/uk.json
  new-strings/wes-x-pgw.json
Labels: translations

#2663 chore: new translations
  locales/cmn-hans/_posts/2022-08-17-present-media.md
  locales/sw/_posts/2022-08-17-configuration.md
  locales/sw/_posts/2022-08-17-congregation-sync.md
  locales/sw/_posts/2022-08-17-manage-media.md
Labels: documentation, translations

#2664 chore: new translations
  src/renderer/locales/sw.json
Labels: translations

#2665 chore: new translations
  locales/sw/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2666 chore: new translations
  new-strings/af.json
  new-strings/am.json
  new-strings/cmn-hans.json
  new-strings/de.json
  new-strings/el.json
  new-strings/es.json
  new-strings/et.json
  new-strings/fi.json
  new-strings/fr.json
  new-strings/hu.json
  new-strings/ilo.json
  new-strings/it.json
  new-strings/mg.json
  new-strings/nl.json
  new-strings/pag.json
  new-strings/pt-pt.json
  new-strings/pt.json
  new-strings/rmn-x-rmg.json
  new-strings/ro.json
  new-strings/ru.json
  new-strings/sk.json
  new-strings/sl.json
  new-strings/sv.json
  new-strings/sw.json
  new-strings/ta.json
  new-strings/tl.json
  new-strings/uk.json
  new-strings/wes-x-pgw.json
Labels: translations

#2667 chore: new translations
  new-strings/sv.json
Labels: translations

#2668 chore: new translations
  new-strings/et.json
Labels: translations

#2669 chore: new translations
  new-strings/et.json
Labels: translations

#2670 chore: new translations
  new-strings/pt-pt.json
Labels: translations

#2671 chore: new translations
  new-strings/cmn-hans.json
Labels: translations

#2673 chore: new translations
  new-strings/es.json
Labels: translations

#2674 chore: new translations
  new-strings/sw.json
  src/renderer/locales/sw.json
Labels: translations

#2675 chore: new translations
  locales/sw/_posts/2022-08-17-configuration.md
Labels: documentation, translations

#2676 chore: new translations
  new-strings/es.json
Labels: translations

#2677 chore: new translations
  new-strings/es.json
Labels: translations

#2678 chore: new translations
  new-strings/es.json
Labels: translations

#2679 chore: new translations
  new-strings/es.json
Labels: translations

#2680 chore: new translations
  new-strings/ru.json
Labels: translations

#2681 chore: new translations
  new-strings/pt.json
Labels: translations

#2682 chore: new translations
  new-strings/pt.json
Labels: translations

#2683 chore: new translations
  new-strings/pt.json
Labels: translations

#2684 chore: new translations
  new-strings/pt.json
Labels: translations

#2685 chore: new translations
  new-strings/pt.json
Labels: translations

#2686 chore: new translations
  new-strings/pt.json
Labels: translations

#2687 chore: new translations
  new-strings/sw.json
Labels: translations

#2688 chore: new translations
  new-strings/sw.json
Labels: translations

#2689 chore: new translations
  new-strings/sw.json
Labels: translations

#2690 chore: new translations
  new-strings/uk.json
Labels: translations

#2693 chore: new translations
  new-strings/es.json
Labels: translations

#2694 chore: new translations
  new-strings/es.json
Labels: translations

#2696 chore: new translations
  new-strings/sw.json
Labels: translations

#2698 chore: new translations
  new-strings/sw.json
Labels: translations

#2699 chore: new translations
  new-strings/es.json
Labels: translations

#2701 chore: new translations
  new-strings/sw.json
Labels: translations

#2702 chore: new translations
  new-strings/sw.json
Labels: translations

#2704 chore: new translations
  new-strings/sl.json
Labels: translations

#2705 chore: new translations
  new-strings/pt.json
Labels: translations

#2707 chore: new translations
  new-strings/nl.json
Labels: translations

#2708 chore: new translations
  new-strings/es.json
Labels: translations

#2711 fix: corectly link to new wp pubs
  src/renderer/plugins/fs.ts
Labels: bug

#2713 chore: new translations
  new-strings/sl.json
Labels: translations

#2714 chore: new translations
  new-strings/sl.json
Labels: translations

#2715 chore: update docs
  _config.yml
  index.html
  locales/am/_posts/2022-08-17-configuration.md
  locales/am/index.md
Labels: documentation

#2718 Update build.yml
  .github/workflows/build.yml
Labels: documentation

#2716 chore(release): v24.4.7
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
  src/renderer/store/media.ts
Labels: bug

#2717 chore: new translations
  new-strings/af.json
  new-strings/am.json
  new-strings/cmn-hans.json
  new-strings/de.json
  new-strings/el.json
  new-strings/es.json
  new-strings/et.json
  new-strings/fi.json
  new-strings/fr.json
  new-strings/hu.json
  new-strings/ilo.json
  new-strings/it.json
  new-strings/mg.json
  new-strings/nl.json
  new-strings/pag.json
  new-strings/pt-pt.json
  new-strings/pt.json
  new-strings/rmn-x-rmg.json
  new-strings/ro.json
  new-strings/ru.json
  new-strings/sk.json
  new-strings/sl.json
  new-strings/sv.json
  new-strings/sw.json
  new-strings/ta.json
  new-strings/tl.json
  new-strings/uk.json
  new-strings/wes-x-pgw.json
Labels: translations

#2720 chore: new translations
  new-strings/et.json
Labels: translations

#2721 Update build.yml
  .github/workflows/build.yml
Labels: documentation

#2722 Update build.yml
  .github/workflows/build.yml
Labels: documentation

#2723 chore: new translations
  new-strings/uk.json
Labels: translations

#2724 chore: new translations
  new-strings/af.json
  new-strings/am.json
  new-strings/cmn-hans.json
  new-strings/de.json
  new-strings/el.json
  new-strings/es.json
  new-strings/et.json
  new-strings/fi.json
  new-strings/fr.json
  new-strings/hu.json
  new-strings/ilo.json
  new-strings/it.json
  new-strings/mg.json
  new-strings/nl.json
  new-strings/pag.json
  new-strings/pt-pt.json
  new-strings/pt.json
  new-strings/rmn-x-rmg.json
  new-strings/ro.json
  new-strings/ru.json
  new-strings/sk.json
  new-strings/sl.json
  new-strings/sv.json
  new-strings/sw.json
  new-strings/ta.json
  new-strings/tl.json
  new-strings/uk.json
  new-strings/wes-x-pgw.json
Labels: translations

#2725 chore: new translations
  new-strings/es.json
Labels: translations

#2726 chore: new translations
  new-strings/et.json
Labels: translations

#2727 chore: new translations
  new-strings/de.json
  new-strings/uk.json
Labels: translations

#2728 chore: new translations
  new-strings/nl.json
Labels: translations

#2730 chore: new translations
  new-strings/fr.json
  new-strings/ru.json
Labels: translations

#2731 chore: new translations
  new-strings/af.json
  new-strings/am.json
  new-strings/cmn-hans.json
  new-strings/de.json
  new-strings/el.json
  new-strings/es.json
  new-strings/et.json
  new-strings/fi.json
  new-strings/fr.json
  new-strings/hu.json
  new-strings/ilo.json
  new-strings/it.json
  new-strings/mg.json
  new-strings/nl.json
  new-strings/pag.json
  new-strings/pt-pt.json
  new-strings/pt.json
  new-strings/rmn-x-rmg.json
  new-strings/ro.json
  new-strings/ru.json
  new-strings/sk.json
  new-strings/sl.json
  new-strings/sv.json
  new-strings/sw.json
  new-strings/ta.json
  new-strings/tl.json
  new-strings/uk.json
  new-strings/wes-x-pgw.json
Labels: translations

#2733 chore: new translations
  new-strings/pt-pt.json
  new-strings/pt.json
  new-strings/sv.json
Labels: translations

#2735 chore: new translations
  new-strings/cmn-hans.json
Labels: translations

#2742 chore: new translations
  new-strings/et.json
  new-strings/nl.json
  src/renderer/locales/af.json
  src/renderer/locales/am.json
  src/renderer/locales/cmn-hans.json
  src/renderer/locales/de.json
  src/renderer/locales/el.json
  src/renderer/locales/es.json
  src/renderer/locales/et.json
  src/renderer/locales/fi.json
  src/renderer/locales/fr.json
  src/renderer/locales/hu.json
  src/renderer/locales/ilo.json
  src/renderer/locales/it.json
  src/renderer/locales/mg.json
  src/renderer/locales/nl.json
  src/renderer/locales/pag.json
  src/renderer/locales/pt-pt.json
  src/renderer/locales/pt.json
  src/renderer/locales/rmn-x-rmg.json
  src/renderer/locales/ro.json
  src/renderer/locales/ru.json
  src/renderer/locales/sk.json
  src/renderer/locales/sl.json
  src/renderer/locales/sv.json
  src/renderer/locales/sw.json
  src/renderer/locales/ta.json
  src/renderer/locales/tl.json
  src/renderer/locales/uk.json
  src/renderer/locales/wes-x-pgw.json
Labels: translations

#2745 chore: new translations
  new-strings/sl.json
  new-strings/uk.json
Labels: translations

#2749 chore: new translations
  new-strings/es.json
Labels: translations

#2780 chore: new translations
  docs/src/nl/using-at-a-kingdom-hall.md
Labels: translations

#2788 chore: new translations
  docs/locales/hu.json
  docs/src/hu/index.md
  docs/src/hu/using-at-a-kingdom-hall.md
  docs/src/nl/faq.md
  docs/src/pt/index.md
  src/i18n/pt.json
Labels: translations

#2789 chore: new translations
  docs/src/pt/index.md
Labels: translations

#2791 chore: new translations
  src/i18n/uk.json
Labels: translations

#2792 chore: new translations
  docs/locales/sv.json
  docs/src/sv/about.md
  docs/src/sv/faq.md
  docs/src/sv/using-at-a-kingdom-hall.md
Labels: translations

#2795 chore: new translations
  docs/src/sv/about.md
  docs/src/sv/faq.md
  docs/src/sv/index.md
  docs/src/sv/using-at-a-kingdom-hall.md
  src/i18n/sv.json
Labels: translations

#2802 chore: new translations
  docs/locales/et.json
  docs/src/et/about.md
  src/i18n/et.json
Labels: translations

#2805 chore: new translations
  docs/src/hu/using-at-a-kingdom-hall.md
Labels: translations

#2806 chore: new translations
  docs/locales/hu.json
  docs/src/hu/using-at-a-kingdom-hall.md
  src/i18n/hu.json
Labels: translations

#2807 chore: new translations
  docs/src/hu/using-at-a-kingdom-hall.md
  src/i18n/hu.json
Labels: translations

#2813 chore: new translations
  docs/locales/de.json
  docs/locales/pt-pt.json
  docs/src/pt-pt/about.md
  docs/src/pt-pt/faq.md
  docs/src/pt-pt/index.md
  docs/src/pt-pt/using-at-a-kingdom-hall.md
  docs/src/uk/using-at-a-kingdom-hall.md
  src/i18n/de.json
  src/i18n/pt-pt.json
Labels: translations

#2817 chore: new translations
  docs/locales/pt-pt.json
  docs/locales/pt.json
  docs/src/pt-pt/about.md
  docs/src/pt-pt/faq.md
  docs/src/pt-pt/index.md
  docs/src/pt-pt/using-at-a-kingdom-hall.md
  docs/src/sw/using-at-a-kingdom-hall.md
  src/i18n/pt.json
  src/i18n/sw.json
Labels: translations

#2818 chore: new translations
  src/i18n/pt.json
  src/i18n/sw.json
Labels: translations

#2819 chore: new translations
  src/i18n/sw.json
Labels: translations

#2820 chore: new translations
  src/i18n/pt.json
Labels: translations

#2822 chore: new translations
  docs/src/cmn-hans/using-at-a-kingdom-hall.md
  src/i18n/cmn-hans.json
  src/i18n/pt.json
Labels: translations

#2823 chore: new translations
  src/i18n/cmn-hans.json
Labels: translations

#2824 chore: new translations
  docs/locales/cmn-hans.json
  docs/src/cmn-hans/about.md
  docs/src/cmn-hans/faq.md
  docs/src/cmn-hans/index.md
  docs/src/cmn-hans/using-at-a-kingdom-hall.md
  src/i18n/cmn-hans.json
Labels: translations

#2825 chore: new translations
  src/i18n/hu.json
Labels: translations

#2826 chore: new translations
  docs/locales/hu.json
  src/i18n/hu.json
Labels: translations

#2828 chore: new translations
  docs/src/pt-pt/using-at-a-kingdom-hall.md
Labels: translations

#2832 chore: new translations
  docs/src/sw/using-at-a-kingdom-hall.md
  src/i18n/sw.json
Labels: translations

#2833 chore: new translations
  src/i18n/sw.json
Labels: translations

#2834 chore: new translations
  docs/src/pt/faq.md
  docs/src/pt/index.md
  docs/src/sw/about.md
  src/i18n/sw.json
Labels: translations

#2835 chore: new translations
  src/i18n/sw.json
Labels: translations

#2836 chore: new translations
  docs/src/sw/using-at-a-kingdom-hall.md
Labels: translations

#2837 chore: new translations
  docs/src/sw/using-at-a-kingdom-hall.md
Labels: translations

#2841 chore: new translations
  docs/locales/fr.json
  docs/src/fr/about.md
  docs/src/fr/using-at-a-kingdom-hall.md
  src/i18n/fr.json
Labels: translations

#2842 chore: new translations
  docs/src/hu/about.md
  docs/src/hu/faq.md
  docs/src/hu/using-at-a-kingdom-hall.md
Labels: translations

#2843 chore: new translations
  docs/src/hu/faq.md
Labels: translations

#2844 chore: new translations
  docs/locales/hu.json
  docs/src/hu/faq.md
  docs/src/hu/using-at-a-kingdom-hall.md
  src/i18n/hu.json
Labels: translations

#2850 chore: new translations
  docs/locales/sl.json
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#2855 chore: new translations
  docs/src/fr/about.md
  docs/src/fr/faq.md
  src/i18n/cmn-hans.json
  src/i18n/fr.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/sv.json
Labels: translations

#2858 chore: new translations
  docs/locales/sl.json
  src/i18n/de.json
  src/i18n/sl.json
Labels: translations

#2866 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#2892 chore: new translations
  src/i18n/pt.json
Labels: translations

#2894 chore: new translations
  src/i18n/pt.json
Labels: translations

#2895 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#2898 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#2899 chore: new translations
  src/i18n/pt.json
Labels: translations

#2900 chore: new translations
  src/i18n/cmn-hans.json
Labels: translations

#2901 chore: new translations
  src/i18n/nl.json
Labels: translations

#2902 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#2903 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#2904 chore: new translations
  src/i18n/uk.json
Labels: translations

#2909 chore: new translations
  docs/src/fr/index.md
  src/i18n/fr.json
Labels: translations

#2910 chore: new translations
  docs/src/sw/using-at-a-kingdom-hall.md
Labels: translations

#2911 chore: new translations
  docs/src/ru/about.md
  docs/src/sw/using-at-a-kingdom-hall.md
  src/i18n/ru.json
  src/i18n/sv.json
Labels: translations

#2919 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#2921 fix: correctly exclude disabled docs langs
  docs/.vitepress/config.mts
  docs/locales/index.ts
  docs/utils/locales.ts
  src/i18n/index.ts
Labels: bug

#2922 chore: new translations
  src/i18n/pt.json
Labels: translations

#2926 chore: new translations
  docs/src/hu/using-at-a-kingdom-hall.md
  docs/src/sw/faq.md
Labels: translations

#2933 chore: new translations
  docs/src/sw/using-at-a-kingdom-hall.md
  src/i18n/sw.json
Labels: translations

#2935 chore: new translations
  src/i18n/am.json
Labels: translations

#2939 chore: new translations
  src/i18n/pt.json
Labels: translations

#2941 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#2943 chore: new translations
  docs/src/sl/index.md
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/sl.json
  src/i18n/sv.json
Labels: translations

#2945 chore: new translations
  src/i18n/fr.json
Labels: translations

#2947 chore: new translations
  src/i18n/uk.json
Labels: translations

#2950 chore: new translations
  src/i18n/uk.json
Labels: translations

#2953 chore: new translations
  src/i18n/uk.json
Labels: translations

#2955 chore: new translations
  docs/src/ru/faq.md
  src/i18n/ru.json
Labels: translations

#2957 chore: new translations
  docs/locales/ru.json
  docs/src/ru/about.md
  docs/src/ru/faq.md
  docs/src/ru/using-at-a-kingdom-hall.md
Labels: translations

#2960 chore: new translations
  docs/locales/sw.json
  docs/src/sw/about.md
  docs/src/sw/faq.md
  docs/src/sw/index.md
  docs/src/sw/using-at-a-kingdom-hall.md
Labels: translations

#2962 chore: new translations
  docs/locales/sw.json
  docs/src/sw/about.md
  src/i18n/sw.json
Labels: translations

#2964 chore: new translations
  docs/src/sw/using-at-a-kingdom-hall.md
  src/i18n/sw.json
Labels: translations

#2966 chore: new translations
  src/i18n/et.json
Labels: translations

#2969 chore: new translations
  src/i18n/pt-pt.json
Labels: translations

#2971 chore: new translations
  docs/src/pt-pt/faq.md
  src/i18n/pt-pt.json
Labels: translations

#2974 chore: new translations
  src/i18n/af.json
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/hu.json
  src/i18n/ilo.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pag.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/rmn-x-rmg.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/ta.json
  src/i18n/tl.json
  src/i18n/uk.json
  src/i18n/wes-x-pgw.json
Labels: translations

#2976 chore: new translations
  src/i18n/uk.json
Labels: translations

#2978 chore: new translations
  docs/src/ru/about.md
  docs/src/ru/using-at-a-kingdom-hall.md
  src/i18n/ru.json
Labels: translations

#2981 chore: new translations
  src/i18n/pt-pt.json
Labels: translations

#2984 chore: new translations
  docs/src/ru/using-at-a-kingdom-hall.md
  src/i18n/ru.json
Labels: translations

#2986 chore: new translations
  docs/locales/ru.json
  docs/src/ru/faq.md
  docs/src/ru/using-at-a-kingdom-hall.md
Labels: translations

#2988 chore: new translations
  src/i18n/sv.json
Labels: translations

#2990 chore: new translations
  src/i18n/fr.json
  src/i18n/sw.json
Labels: translations

#2992 chore: new translations
  src/i18n/cmn-hans.json
Labels: translations

#2995 chore: new translations
  docs/src/sl/using-at-a-kingdom-hall.md
  src/i18n/sl.json
Labels: translations

#2997 chore: new translations
  docs/src/sl/using-at-a-kingdom-hall.md
Labels: translations

#2999 chore: new translations
  docs/src/sl/using-at-a-kingdom-hall.md
Labels: translations

#3006 chore: new translations
  docs/src/af/index.md
  docs/src/am/index.md
  docs/src/cmn-hans/index.md
  docs/src/de/index.md
  docs/src/el/index.md
  docs/src/es/index.md
  docs/src/et/index.md
  docs/src/fi/index.md
  docs/src/fr/index.md
  docs/src/hu/index.md
  docs/src/ilo/index.md
  docs/src/it/index.md
  docs/src/mg/index.md
  docs/src/nl/index.md
  docs/src/pag/index.md
  docs/src/pt-pt/index.md
  docs/src/pt/index.md
  docs/src/rmn-x-rmg/index.md
  docs/src/ro/index.md
  docs/src/ru/index.md
  docs/src/sk/index.md
  docs/src/sl/index.md
  docs/src/sv/index.md
  docs/src/sw/index.md
  docs/src/ta/index.md
  docs/src/tl/index.md
  docs/src/uk/index.md
  docs/src/wes-x-pgw/index.md
Labels: translations
