Repository sircharlo/meeting-media-manager, pull requests merged in 2024-04, with the labels that each got.

#2425 fix: get nr of songs dynamically
  src/renderer/components/settings/SettingsMeetings.vue
  src/renderer/constants/general.ts
  src/renderer/plugins/media.ts
  src/renderer/store/media.ts
  src/renderer/types/store/storeMedia.d.ts
Labels: bug

#2436 chore: new translations
  src/renderer/locales/pt-pt.json
Labels: translations

#2437 chore: new translations
  locales/pt-pt/_posts/2022-08-17-usage-notes.md
Labels: documentation, translations

#2457 chore: new translations
  _data/sl.json
  locales/sl/_posts/2022-08-17-configuration.md
Labels: documentation, translations
