Repository sircharlo/meeting-media-manager, pull requests merged in 2024-07, with the labels that each got.

#2527 chore: new translations
  src/renderer/locales/cmn-hans.json
  src/renderer/locales/sl.json
  src/renderer/locales/yue-hans.json
Labels: translations

#2528 chore: new translations
  _data/cmn-hans.json
  locales/cmn-hans/_posts/2022-08-17-configuration.md
  locales/cmn-hans/_posts/2022-08-17-congregation-sync.md
  locales/cmn-hans/_posts/2022-08-17-manage-media.md
  locales/cmn-hans/_posts/2022-08-17-present-media.md
  locales/cmn-hans/index.md
Labels: documentation, translations

#2531 feat: cmn-hans
  _config.yml
  index.html
  locales/yue-hans/_posts/2022-08-17-bug-feature.md
  locales/yue-hans/_posts/2022-08-17-configuration.md
  locales/yue-hans/_posts/2022-08-17-congregation-sync.md
  locales/yue-hans/_posts/2022-08-17-faq.md
  locales/yue-hans/_posts/2022-08-17-installation.md
  locales/yue-hans/_posts/2022-08-17-manage-media.md
  locales/yue-hans/_posts/2022-08-17-present-media.md
  locales/yue-hans/_posts/2022-08-17-usage-notes.md
  locales/yue-hans/index.md
Labels: documentation
