Repository sircharlo/meeting-media-manager, pull requests merged in 2025-01, with the labels that each got.

#3875 feat: new translations
  src/i18n/de.json
Labels: translations

#3878 feat: new translations
  src/i18n/sk.json
Labels: translations

#3879 feat: new translations
  src/i18n/de.json
Labels: translations

#3885 feat: new translations
  src/i18n/sk.json
Labels: translations

#3819 feat!: improve media window title
  src-electron/main/window/window-media.ts
  src/layouts/MediaPlayerLayout.vue
Labels: enhancement

#3890 feat: new translations
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/uk.json
Labels: translations

#3892 feat: new translations
  src/i18n/cmn-hans.json
Labels: translations

#3894 feat: new translations
  src/i18n/pt-pt.json
Labels: translations

#3896 feat: new translations
  src/i18n/sk.json
Labels: translations

#3899 feat: new translations
  src/i18n/sv.json
Labels: translations

#3902 feat: new translations
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/uk.json
Labels: translations

#3904 feat: new translations
  src/i18n/sv.json
Labels: translations

#3906 feat: new translations
  src/i18n/cmn-hans.json
Labels: translations

#3908 feat: new translations
  src/i18n/sl.json
Labels: translations

#3911 feat: new translations
  docs/locales/hu.json
Labels: documentation, translations

#3913 feat: new translations
  src/i18n/et.json
Labels: translations

#3914 feat: new translations
  src/i18n/uk.json
Labels: translations

#3917 feat: new translations
  docs/locales/tl.json
  docs/src/tl/using-at-a-kingdom-hall.md
  src/i18n/tl.json
Labels: documentation, translations

#3919 feat: new translations
  docs/src/tl/about.md
  docs/src/tl/faq.md
  docs/src/tl/index.md
  src/i18n/nl.json
Labels: documentation, translations

#3920 feat: new translations
  src/i18n/tl.json
Labels: translations

#3921 feat: new translations
  docs/locales/hu.json
  src/i18n/hu.json
  src/i18n/tl.json
Labels: documentation, translations

#3923 feat: new translations
  src/i18n/tl.json
Labels: translations

#3925 feat: new translations
  src/i18n/tl.json
Labels: translations

#3926 feat: new translations
  src/i18n/tl.json
Labels: translations

#3928 feat: new translations
  docs/locales/tl.json
  src/i18n/tl.json
Labels: documentation, translations

#3930 feat: new translations
  src/i18n/fr.json
  src/i18n/ru.json
Labels: translations

#3898 feat: allow the planning of schedule changes
  src/components/dialog/DialogCacheClear.vue
  src/constants/settings.ts
  src/helpers/cleanup.ts
  src/helpers/date.ts
  src/helpers/migrations.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/types/settings.d.ts
  src/utils/date.ts
  src/utils/settings.ts
Labels: enhancement

#3934 feat: new translations
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
Labels: translations

#3936 feat: new translations
  src/i18n/pt.json
Labels: translations

#3937 feat: new translations
  src/i18n/pt.json
Labels: translations

#3939 feat: new translations
  src/i18n/et.json
Labels: translations

#3944 chore(readme): mention Bible import features
  README.md
Labels: documentation

#3945 feat: new translations
  docs/src/am/about.md
  docs/src/cmn-hans/about.md
  docs/src/de/about.md
  docs/src/el/about.md
  docs/src/es/about.md
  docs/src/et/about.md
  docs/src/fi/about.md
  docs/src/fr/about.md
  docs/src/ht/about.md
  docs/src/hu/about.md
  docs/src/it/about.md
  docs/src/mg/about.md
  docs/src/nl/about.md
  docs/src/pt-pt/about.md
  docs/src/pt/about.md
  docs/src/ro/about.md
  docs/src/ru/about.md
  docs/src/rw/about.md
  docs/src/sk/about.md
  docs/src/sl/about.md
  docs/src/sv/about.md
  docs/src/sw/about.md
  docs/src/tl/about.md
  docs/src/uk/about.md
Labels: documentation, translations

#3948 feat: new translations
  src/i18n/sk.json
Labels: translations

#3949 feat: new translations
  docs/src/nl/about.md
Labels: documentation, translations

#3941 chore: clarify one-time schedule change
  src/i18n/en.json
Labels: bug

#3951 feat: new translations
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
Labels: translations

#3953 feat: new translations
  docs/src/pt/about.md
  docs/src/sl/about.md
  src/i18n/et.json
  src/i18n/nl.json
  src/i18n/pt.json
  src/i18n/sl.json
Labels: documentation, translations

#3955 feat: new translations
  src/i18n/hu.json
  src/i18n/pt.json
Labels: translations

#3956 feat: new translations
  src/i18n/fr.json
  src/i18n/ru.json
Labels: translations

#3958 feat: new translations
  docs/src/sv/about.md
  src/i18n/sv.json
Labels: documentation, translations

#3960 feat: new translations
  src/i18n/pt.json
Labels: translations

#3961 feat: new translations
  docs/src/uk/about.md
  src/i18n/uk.json
Labels: documentation, translations

#3965 feat: new translations
  docs/src/pt-pt/about.md
  src/i18n/pt-pt.json
Labels: documentation, translations

#3972 feat: new translations
  docs/src/cmn-hans/about.md
  src/i18n/cmn-hans.json
Labels: documentation, translations

#3968 fix: correctly quit app on macOS
  src-electron/electron-main.ts
  src-electron/main/ipc.ts
  src-electron/main/session.ts
  src-electron/main/window/window-base.ts
  src-electron/main/window/window-main.ts
Labels: bug

#3998 feat: new translations
  src/i18n/pt.json
Labels: translations

#4000 feat: new translations
  docs/src/et/about.md
Labels: documentation, translations

#3999 chore(readme): Watched folder feature mentioned
  README.md
Labels: documentation
