Repository sircharlo/meeting-media-manager, pull requests merged in 2025-02, with the labels that each got.

#4007 refactor: separate test versions from regular versions
  .github/workflows/beta-release.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  quasar.config.ts
  src-electron/constants.ts
  src-electron/electron-main.ts
  src-electron/main/updater.ts
  src-electron/main/utils.ts
  src-electron/main/window/window-base.ts
  src-electron/preload/log.ts
  src/boot/sentry.ts
  src/components/dialog/DialogAbout.vue
  src/components/ui/AnnouncementBanner.vue
  src/constants/general.ts
  src/helpers/error-catcher.ts
  src/i18n/en.json
  src/layouts/MainLayout.vue
  src/layouts/MediaPlayerLayout.vue
  src/utils/__tests__/general.test.ts
  src/utils/general.ts
Labels: github_actions

#4035 feat: new translations
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
Labels: translations

#4037 feat: new translations
  src/i18n/cmn-hans.json
  src/i18n/nl.json
  src/i18n/pt.json
Labels: translations

#4039 feat: new translations
  src/i18n/et.json
  src/i18n/sl.json
Labels: translations

#4053 feat: new translations
  src/i18n/tl.json
Labels: translations

#4057 feat: new translations
  src/i18n/uk.json
Labels: translations

#4061 feat: new translations
  src/i18n/fi.json
Labels: translations

#4077 feat: new translations
  src/i18n/es.json
Labels: translations

#4076 feat: auto Memorial background
  src/components/dialog/DialogDisplayPopup.vue
  src/components/form-inputs/DateInput.vue
  src/constants/settings.ts
  src/helpers/jw-media.ts
  src/helpers/migrations.ts
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/pages/SettingsPage.vue
  src/types/settings.d.ts
Labels: enhancement

#4093 feat: new translations
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
Labels: translations

#4095 feat: new translations
  src/i18n/nl.json
Labels: translations

#4097 feat: new translations
  src/i18n/cmn-hans.json
  src/i18n/pt-pt.json
  src/i18n/sl.json
Labels: translations

#4101 feat: new translations
  src/i18n/pt.json
Labels: translations
