Repository sircharlo/meeting-media-manager, pull requests merged in 2025-03, with the labels that each got.

#4104 feat: new translations
  src/i18n/et.json
Labels: translations

#4106 feat: new translations
  src/i18n/sv.json
Labels: translations

#4119 feat: support camera as background for sign language
  src/components/dialog/DialogDisplayPopup.vue
  src/components/header/HeaderWebsite.vue
  src/i18n/en.json
  src/pages/MediaCalendarPage.vue
  src/pages/MediaPlayerPage.vue
  src/stores/app-settings.ts
Labels: enhancement

#4123 feat: new translations
  src/i18n/am.json
  src/i18n/cmn-hans.json
  src/i18n/de.json
  src/i18n/el.json
  src/i18n/es.json
  src/i18n/et.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/ht.json
  src/i18n/hu.json
  src/i18n/it.json
  src/i18n/mg.json
  src/i18n/nl.json
  src/i18n/pt-pt.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/rw.json
  src/i18n/sk.json
  src/i18n/sl.json
  src/i18n/sv.json
  src/i18n/sw.json
  src/i18n/tl.json
  src/i18n/uk.json
Labels: translations

#4125 feat: new translations
  src/i18n/pt.json
Labels: translations

#4127 feat: new translations
  src/i18n/de.json
  src/i18n/sl.json
Labels: translations

#4108 feat: show release notes in-app
  .vscode/settings.json
  README.md
  crowdin.yml
  package.json
  quasar.extensions.json
  release-notes/en.md
  src/components/dialog/DialogAbout.vue
  src/i18n/en.json
  src/utils/api.ts
  src/utils/fs.ts
  yarn.lock
Labels: documentation, enhancement, dependencies, javascript

#4132 feat: new translations
  release-notes/nl.md
  release-notes/pt.md
  src/i18n/nl.json
  src/i18n/pt.json
Labels: documentation, translations

#4134 feat: new translations
  docs/src/am/faq.md
  docs/src/cmn-hans/faq.md
  docs/src/de/faq.md
  docs/src/el/faq.md
  docs/src/es/faq.md
  docs/src/et/faq.md
  docs/src/fi/faq.md
  docs/src/fr/faq.md
  docs/src/ht/faq.md
  docs/src/hu/faq.md
  docs/src/it/faq.md
  docs/src/mg/faq.md
  docs/src/pt-pt/faq.md
  docs/src/pt/faq.md
  docs/src/ro/faq.md
  docs/src/ru/faq.md
  docs/src/rw/faq.md
  docs/src/sk/faq.md
  docs/src/sl/faq.md
  docs/src/sv/faq.md
  docs/src/sw/faq.md
  docs/src/tl/faq.md
  docs/src/uk/faq.md
  release-notes/am.md
  release-notes/cmn-hans.md
  release-notes/de.md
  release-notes/el.md
  release-notes/es.md
  release-notes/et.md
  release-notes/fi.md
  release-notes/fr.md
  release-notes/ht.md
  release-notes/hu.md
  release-notes/it.md
  release-notes/mg.md
  release-notes/nl.md
  release-notes/pt-pt.md
  release-notes/pt.md
  release-notes/ro.md
  release-notes/ru.md
  release-notes/rw.md
  release-notes/sk.md
  release-notes/sl.md
  release-notes/sv.md
  release-notes/sw.md
  release-notes/tl.md
  release-notes/uk.md
  src/i18n/et.json
  src/i18n/pt-pt.json
  src/i18n/sl.json
Labels: documentation, translations

#4136 feat: new translations
  docs/src/sl/faq.md
  release-notes/sl.md
Labels: documentation, translations

#4140 feat: new translations
  docs/src/uk/faq.md
  release-notes/uk.md
  src/i18n/uk.json
Labels: documentation, translations

#4143 feat: new translations
  docs/src/cmn-hans/faq.md
  release-notes/cmn-hans.md
  src/i18n/cmn-hans.json
Labels: documentation, translations

#4146 feat: new translations
  docs/src/sv/faq.md
  release-notes/sv.md
  src/i18n/sv.json
Labels: documentation, translations

#4149 feat: new translations
  docs/locales/sw.json
Labels: documentation, translations

#4150 feat: new translations
  docs/locales/sw.json
  release-notes/sw.md
Labels: documentation, translations

#4152 feat: new translations
  release-notes/sw.md
Labels: documentation

#4166 feat: new translations
  release-notes/et.md
Labels: documentation

#4168 feat: new translations
  release-notes/et.md
Labels: documentation

#4162 chore(deps): bump electron
  README.md
  package.json
  postcss.config.js
  quasar.config.ts
  vitest.config.mts
  yarn.lock
Labels: documentation, dependencies, javascript

#4182 feat: new translations
  docs/locales/ko.json
  docs/src/ko/about.md
  docs/src/ko/faq.md
  docs/src/ko/index.md
  docs/src/ko/using-at-a-kingdom-hall.md
  release-notes/ko.md
  src/i18n/ko.json
Labels: documentation, translations

#4189 feat: new translations
  docs/locales/ko.json
  docs/src/ko/using-at-a-kingdom-hall.md
  src/i18n/ko.json
Labels: documentation, translations

#4194 feat: new translations
  docs/src/ko/index.md
Labels: documentation, translations

#4195 feat: new translations
  src/i18n/ko.json
Labels: translations

#4197 feat: new translations
  src/i18n/ko.json
Labels: translations

#4198 feat: new translations
  docs/src/hu/about.md
Labels: documentation, translations

#4199 feat: new translations
  src/i18n/ko.json
Labels: translations

#4201 feat: new translations
  src/i18n/ko.json
Labels: translations

#4205 feat: new translations
  src/i18n/ko.json
Labels: translations

#4207 feat: new translations
  src/i18n/ko.json
Labels: translations

#4209 feat: new translations
  docs/locales/ko.json
  docs/src/ko/index.md
  src/i18n/ko.json
Labels: documentation, translations

#4211 feat: new translations
  src/i18n/ko.json
Labels: translations

#4215 feat: new translations
  src/i18n/ko.json
Labels: translations

#4217 feat: new translations
  src/i18n/ko.json
Labels: translations

#4226 feat: new translations
  docs/src/pt-pt/faq.md
Labels: documentation, translations

#4229 feat: new translations
  src/i18n/ko.json
Labels: translations

#4231 feat: new translations
  docs/locales/ko.json
  docs/src/ko/about.md
  src/i18n/ko.json
Labels: documentation, translations

#4233 feat: new translations
  docs/src/ko/about.md
  docs/src/ko/faq.md
  docs/src/ko/using-at-a-kingdom-hall.md
  src/i18n/ko.json
Labels: documentation, translations

#4237 feat: new translations
  docs/src/ko/using-at-a-kingdom-hall.md
Labels: documentation, translations

#4239 feat: new translations
  release-notes/ko.md
Labels: documentation

#4244 feat: new translations
  docs/locales/ko.json
  release-notes/ko.md
Labels: documentation, translations

#4246 feat: new translations
  docs/src/ko/faq.md
Labels: documentation, translations

#4251 feat: new translations
  release-notes/am.md
  release-notes/cmn-hans.md
  release-notes/de.md
  release-notes/el.md
  release-notes/es.md
  release-notes/et.md
  release-notes/fi.md
  release-notes/fr.md
  release-notes/ht.md
  release-notes/hu.md
  release-notes/it.md
  release-notes/ko.md
  release-notes/mg.md
  release-notes/nl.md
  release-notes/pt-pt.md
  release-notes/pt.md
  release-notes/ro.md
  release-notes/ru.md
  release-notes/rw.md
  release-notes/sk.md
  release-notes/sl.md
  release-notes/sv.md
  release-notes/sw.md
  release-notes/tl.md
  release-notes/uk.md
Labels: documentation

#4254 feat: new translations
  release-notes/am.md
  release-notes/cmn-hans.md
  release-notes/de.md
  release-notes/el.md
  release-notes/es.md
  release-notes/et.md
  release-notes/fi.md
  release-notes/fr.md
  release-notes/ht.md
  release-notes/hu.md
  release-notes/it.md
  release-notes/ko.md
  release-notes/mg.md
  release-notes/nl.md
  release-notes/pt-pt.md
  release-notes/pt.md
  release-notes/ro.md
  release-notes/ru.md
  release-notes/rw.md
  release-notes/sk.md
  release-notes/sl.md
  release-notes/sv.md
  release-notes/sw.md
  release-notes/tl.md
  release-notes/uk.md
Labels: documentation

#4255 feat: new translations
  release-notes/sl.md
Labels: documentation

#4257 feat: new translations
  release-notes/de.md
  release-notes/sv.md
Labels: documentation
